@@@ тмц/сертификаты/закупки

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready ">

  <div style="overflow: auto;">
    <table class="striped bodered green lighten-4 z-depth-1">
      <tbody><tr v-for="row in selectedObject['@позиции тмц'] " :key="row.id" :class="{'yellow lighten-4': selectedRow === row}">
        <td style="width:1%;">
          <div class="nowrap"  title="">
            <span class="fs8">{{ row['$дата1']['день нед']}} </span>
            <span class="fw500"> {{ row['$дата1']['day']  }} </span>
            <span class="fs8"> {{ row['$дата1']['мес']  }} </span>
          </div>
        </td>
        <td>
          <h5 :class="{'fw500': selectedRow === row}" class="line-height-10 truncate nowrap" style="width:10rem;" :title="row['@грузоотправители'][0].title">{{ row['@грузоотправители'][0].title }}</h5>
        </td>
        <td>
          <h6 :title=" JSON.stringify(row['$номенклатура'])" class="line-height-10" :class="{'fw500': selectedRow === row}"><a @click=" SelectRow(row) " href="javascript:">
            <span v-for="n in row['$номенклатура'].parents_title.slice(1) " class="breadcrumb"><span>{{ n }}</span></span>
            <span class="breadcrumb"><span>{{ row['$номенклатура'].title }}</span></span>
          </a></h6>
        </td>
        <td><div v-if="row['$заявка']" class="orange-text text-darken-3 fs8 line-height-10 truncate nowrap" style="width:10rem;" :title="row['$заявка']['наименование'] + '\nкол.: ' + (row['$заявка']['количество'] || '') + ' '+(row['$заявка']['ед'] || '')  +    '\n----\n' + (row['$заявка']['коммент'] || '')">{{ row['$заявка']['наименование'] }}</div></td>
        <td>{{ row['количество'] }}</td>
        <td style="width:1%;">
          <div v-show="row._uploads && row._uploads.length" class="right">
            <i class="material-icons blue-text-darken-3 chip material-icons padd-0">attach_file</i>
          </div>
        </td>
      </tr></tbody>
    </table>
  </div>
</div>

</div>