@@@ тмц/сертификаты/объекты

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<ul v-show=" ready " class="collection">
  <li v-for=" item in pData " :key=" item['объект/id'] " class="collection-item" :class="{'selected': item === selectedObject}">
    <h4 :class="{'bold': item === selectedObject}"><a @click=" SelectObject(item) " href="javascript:" class="hover-shadow3d">{{ item['объект'] }}</a></h4>
  </li>
</ul>

</div>