@@@ тмц/сертификаты/папки

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready  ">
  <!--div>
    <div class=:></div>
    <div class="input-field chip transparent hoverable right">
      <input type="text" v-model="inputFilter" @input=" InputFilter " placeholder="фильтр/поиск вопросов">
      <span v-show="inputFilter" class="chip absolute chip padd-0-05 fs8" style="right:0.5rem; top:0.5rem;"><i class="material-icons fs8">filter_list</i><span>{{ questionsFiltered.length }}</span></span>
    </div>
  </div--->
  
  <div v-show="selectedFolder && selectedFolder.length" class="row">
    <h4 class="blue-text text-darken-3"><span v-for="s in selectedFolder" :key="s.id" class="breadcrumb"><span class="chip blue lighten-4 z-depth-1">{{ s.title }}</span></span></h4>
  </div>
  
  <!--v-tree-list v-show="!selectedRowTMC" :parent="{ id:154964 }" :data=" folders.Data() " :param=" param "-->
  <div v000-show="!selectedRowTMC" class="tree"><v-tree-list :data=" folders.Data() " :param=" param ">
    <template v-slot:item="{ item }">
      <h5 :class="{'checked': item._checked, 'selected bold': item._expand,}" class=" hover-shadow3d blue-text text-darken-3">
        <i v-show="item.childs && !item._expand" class="material-icons">keyboard_arrow_down</i>
        <i v-show="item.childs && item._expand" class="material-icons">keyboard_arrow_up</i>
        <i v-show="!item.childs " class="material-icons " :class="{'transparent-text': !item._expand}">keyboard_arrow_right</i>
        <span class="" :title=" item._title ">{{ item.title }}</span>
      </h5>
      <!--div v-if="item._expand && item._uploads && item._uploads.length" style="padding-left:2rem;">
        <h5 class="center">Файлы</h5>
        <v-uploads :parent="{id: item['тмц/id']}"></v-uploads>
      </div-->
      <div v-if="item._expand && item._uploads && selectedFolder && selectedFolder.length && selectedFolder[selectedFolder.length-1] === item" style="padding-left:2rem;">
        <h5 class="center">Файлы</h5>
        <v-uploads :parent="{id: item.id}"></v-uploads>
      </div>
    </template>
  </v-tree-list></div>
  
  <!--div v-if="!!selectedRowTMC">
      <v-uploads :parent="selectedRowTMC"></v-uploads>
  </div-->
</div>

</div>