@@@ тмц/сертификаты/форма папки

<div v-if="ready" class="card teal lighten-5 animated zoomIn fast">

<div class="card-content">
    
  <div v-show="!!form.id" class="right fs8 grey-text"><span>#{{ form.id }}</span></div>
  
  <div class="row">
    <h4 class="">
      <span>Вложить в </span>
      <span v-for="p in parents" :key="p.id" class="breadcrumb before-margin-0"><span class="chip teal lighten-4  z-depth-1">{{ p.title || p['наименование'] }}</span></span>
      <span v-show="!parents || !parents.length" class="chip teal lighten-4  z-depth-1"> корень</span>
    </h4>
  </div>
    
      <div class="chip hoverable transparent width-100">
        <h4 class="">
          <span>Наименование папки</span>
        </h4>
        <div class="input-field">
          <input type="text" v-model=" form['наименование'] ">
        </div>
      </div>
      
      <!--div class="">{{ form.parent }}</div-->
</div>

<div class="card-action center">
  <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid()" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
</div>

</div>