@@@ project/list

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>


  <!--a ng-click="$c.NewProject()" href="javascript:" class="right btn blue white-text" style=""><i class="material-icons">note_add</i><span>Новый проект</span></a-->


<ul ng-if="$c.ready" class="tabs z-depth-1000 card000 tabs-transparent white" style="display: block; white-space: initial; height: auto;">
  <!--li ng-hide="$c.tab && !$c.param['все проекты']" class="tab" ng-class="{'active bold': $c.tab === undefined }">
    <a ng-click="$c.SelectProject()" href="javascript:" class="white teal-text" style=""><span>ВСЕ ПРОЕКТЫ</span><!--i class="material-icons">arrow_forward</i--></a>
  </li-->
  <li ng-repeat="p in $c.data | filter: $c.FilterData" class="tab  teal lighten-2" ng-class=" {'z-depth-1 noprint': p !== $c.tab, 'shadow-inset-10': p === $c.tab} " ng-attr-id="project{{p.id}}">
    <h3><a ng-click="$c.SelectProject(p)" href="javascript:" ng-class="{'active white-text': p === $c.tab}" class="hvr-overline-from-center before-white" style="font-size:inherit;">{{p.name}}</a></h3>
  </li>
  <!--li class="tab000 blue000" ng-if="$c.param['создавать проект']" style="position:absolute; right:0; top:0;">
    <a ng-click="$c.NewProject()" href="javascript:" class="btn blue white-text" style=""><i class="material-icons">note_add</i><span>Новый проект</span></a>
  </li-->
</ul>

<div ng-if="$c.new" id="new-project">

  <h3>Новый проект</h3>
  <div class="input-field">
    <input name="name" type="text" ng-model="$c.new.name" placeholder="название">
  </div>
  
  <a class="btn" href="javascript:" ng-click="$c.Save()" ng-disabled="$c.Save(true)">
    <i class="material-icons">save</i>
    <span>Сохранить</span>
  </a>

</div>
