
@@@ nomen/item

<!--div ng-if="$ctrl.isTopLevel">{{ $ctrl.data.newPath | json }}</div-->

<ul ng-if="$ctrl.isTopLevel" ng-show000="$ctrl.CheckFinalItem()" style="position:relative; padding-right: 1rem;">
  
  <li ng-show="$ctrl.data.selectedItem" ng-repeat="t in $ctrl.data.selectedItem.parents_title" class="breadcrumb inline brown-text"><h5 class="chip inline brown-text"><span>{{t}}</span></h5></li>
  <li ng-show="$ctrl.data.selectedItem && $ctrl.data.selectedItem.title" class="breadcrumb inline brown-text"><h5 class="chip inline brown-text"><span>{{$ctrl.data.selectedItem.title}}</span></h5></li>
  
  <li ng-show="!!$ctrl.data.newPath[0].title && !$ctrl.data.newPath[0].suggestionsCnt && it.title" ng-repeat="it in $ctrl.data.newPath" class="breadcrumb inline deep-orange-text"><h5 ng-show="it.title" class="chip inline deep-orange-text">{{it.title}}<sup class="deep-orange-text">*</sup></h5></li>
  
  <!---li  class="inline right"--->
  <a ng-show="$ctrl.data.selectedItem" ng-click="$ctrl.SelectedItemClear()" href="javascript:" style="top:0; right: 0; position: absolute; " title="отменить выбранную позицию"><i class="material-icons brown-text">cancel</i></a>
  <!--/li-->
</ul>

<ul ng-if="$ctrl.ready" class="collection00" style="margin:0;">

  <li class="input-field collection-item waves-effect000 waves-teal" style="margin: 0; width:100%;" >
    <!--div class="input-field" -->

    <input name="item" type="text" ng-init="$ctrl.InitInput()"  ng-change="$ctrl.ChangeInput()" ng-model="item.title" placeholder="{{$ctrl.isTopLevel ? 'поиск или новая позиция' : 'новая позиция'}}" style="margin:0;">
    
    <a ng-hide="$ctrl.showTreeBtn || !item.title.length"  ng-click="$ctrl.ClearInputBtn()" href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0;" title="очистить">
      <i class="material-icons brown-text">cancel</i>
    </a>
    
    <a ng-show="$ctrl.showTreeBtn"  ng-click="$ctrl.ToggleTreeBtn($event)" href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0;">
      <i class="material-icons">arrow_drop_down_circle</i>
    </a>
    <nomen-tree ng-if="$ctrl.showTree" ng-show0000="$ctrl.ShowTreeBtn()" data-item="$ctrl.data" data-data="$ctrl.dataTree" data-on-select-item="$ctrl.SelectTreeItem(item)" class="autocomplete-content dropdown-content" style="z-index:111;" tabindex000="0" ng-blur000="$ctrl.BlurTree($event)"></nomen-tree>
    
  </li>
  
<nomen-item
  ng-if="$ctrl.EnableSubItem()"
  data-data="$ctrl.data"
  data-level="$ctrl.level+1"
  style="display: inline-block; vertical-align:top; padding-left: 1.5rem; margin-top: 3px; width:100%;"
>
</nomen-item>
  
</ul>