@@@ tmc/snab/tables

<!--div ng-if=" $ctrl.ready && $ctrl.project !==  $ctrl.param['проект/id'] " ng-init="$ctrl.$onInit()" ng-show="0"></div><!---  Наблюдать для обновления контекста -->

<!--div>{{ $ctrl.param | json }}</div-->

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<!--ul ng-if="$ctrl.ready" class="tabs z-depth-1000 card000 tabs-transparent " style="margin:0;" ng-init="">
  <li ng-repeat="t in $ctrl.tabs" class="tab-overline z-depth-3 " ng-class="$ctrl.TabLiClass(t)" ng-style="t.liStyle" ng-attr-id000="" ng-hide000="!($ctrl.param['объект'] && $ctrl.param['объект'].id)">
    <h4><a ng-click="$ctrl.SelectTab($index)" href="javascript:" ng-class="$ctrl.TabAClass(t)" class="hvr-overline-from-center" title000="{000{t}}">
      <span>{{t.title}}</span>
      <sup class="chip middle black-text bold" style="/*padding: 0.2rem 0.5rem;	display: inline;*/">{{ t.len(t) }}</sup>
    </a></h4>
  </li>
</ul--->
<ul ng-if="$ctrl.ready" class="" style="margin:0;">
  <li ng-repeat="t1 in $ctrl.tabs | orderBy: $ctrl.OrderByTab1" class="" ng-class="{'right-align': $ctrl.tab && $ctrl.tab._parent && $ctrl.tab._parent !== t1, 'z-depth-3 grey lighten-2':  $ctrl.tab && $ctrl.tab._parent && $ctrl.tab._parent === t1,}" ng-style="$ctrl.tab && $ctrl.tab._parent && $ctrl.tab._parent === t1 && {'margin-top':'1rem'} ">
    <h3 class="iblock vtop z-depth-3--- right-align" ng-class="$ctrl.TabLiClass(t1)" style="height:50px; line-height:50px; padding:0 0.7rem; margin-right: -0.3rem; width:15rem;">
      <i ng-show=" t1.title == 'Закупки' "class="icon icon-star fs14"></i>
      <svg ng-show=" t1.title == 'Через базу' " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ng-class="t1.svgClass" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#tracking" /></svg>
      <svg ng-show=" t1.title == 'Перемещения' "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="rotate90left" ng-class="t1.svgClass" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#2arrows-180vert" /></svg>
      <span>{{ t1.title }}</span>
    </h3>
    <ul class="iblock vtop tabs tabs-transparent grey lighten-3" style="margin:0; width:auto;">
      <li ng-repeat="t2 in t1.childs" class="tab-overline z-depth-3 " ng-class="$ctrl.TabLiClass(t2)" ng-init="t2._parent = t1">
        <h4><a ng-click="$ctrl.SelectTab(t2)" href="javascript:" ng-class="$ctrl.TabAClass(t2)" class="hvr-overline-from-center">
          <svg ng-show=" t2.title == 'Заявки ТМЦ' " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" ng-class="t2.svgClass" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#!sign-round-fill" /></svg>
          <svg ng-show=" t2.title == 'Остатки ТМЦ' " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" ng-class="t2.svgClass " style="height: 1.5rem; /*border: 2px solid;*/"><use xlink:href="/fonts/icons.svg#plus-minus" /></svg>
          <i ng-show=" t2.title == 'Простые поставки' " class="icon icon-ok-circle"></i>
          <svg ng-show=" t2.title == 'в работе' " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="rotate90right" ng-class="t2.svgClass" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#process" /></svg>
          <svg ng-show=" t2.title == 'в перевозке' " xmlns="http://www.w3.org/2000/svg" viewBox="0 5 50 50" ng-class="t2.svgClass" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#truck" /></svg>
          <svg ng-show=" t2.title == 'завершено' " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" ng-class="t2.svgClass" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#checked1" /></svg>
          <span>{{t2.title}}</span>
          <sup ng-if="t2.len" class="chip000 fs8 middle grey000 white-text000 bold000" style="/*padding: 0.2rem 0.5rem;	display: inline;*/">{{ t2.len(t2) }}</sup>
        </a></h4>
      </li>
    
    </ul>
  </li>
</ul>

<div ng-show="!$ctrl.data['заявки']" ng-include=" 'progress/load' "></div>

<!-- обработка заявок -->
<div ng-if="$ctrl.tab && $ctrl.tab.title == 'Заявки ТМЦ' ">
  <!--div ng-hide="!$ctrl.cancelerHttpAsk" ng-include=" 'progress/load' "></div-->
  <tmc-ask-table ng-if-000="!$ctrl.cancelerHttpAsk" ng-init=" param = {'объект': $ctrl.param['объект'], 'фильтр': $ctrl.tab['фильтр'], 'theadClass': $ctrl.tab.liClass, 'tbodyClass': $ctrl.tab.tbodyClass, 'в поставку': true, 'в перемещение':true, 'список простых поставок': false,} " data-data="$ctrl.data['заявки']" data-param=" param "></tmc-ask-table>
  
  <div ng-show="$ctrl.cancelerHttpAsk" ng-include=" 'progress/load' "></div>
  <div class="center">
      <span>записей: {{ $ctrl.data['заявки'].length }}</span>
      <a ng-show="$ctrl.data['заявки'].length >= 100" class="btn-flat z-depth-1" ng-click="$ctrl.LoadDataAsk(true)" href="javascript:">
        <i class="material-icons">file_download</i>
        Показать еще записи
      </a>
  </div>
</div>


<!-- простые поставки -->
<div ng-if="$ctrl.tab && $ctrl.tab.title == 'Простые поставки' ">
  <!--div ng-hide="!$ctrl.cancelerHttpAsk" ng-include=" 'progress/load' "></div-->
  <tmc-ask-table ng-if-000="!$ctrl.cancelerHttpAsk" ng-init=" param = {'объект': $ctrl.param['объект'], 'theadClass': $ctrl.tab.liClass, 'tbodyClass': $ctrl.tab.tbodyClass, 'фильтр': $ctrl.tab['фильтр'], 'в поставку': true, 'список простых поставок': true,} "  data-data="$ctrl.data['простые поставки']" data-param=" param "></tmc-ask-table>
  
  <div ng-show="$ctrl.cancelerHttpAsk" ng-include=" 'progress/load' "></div>
  <div class="center">
      <span>записей: {{ $ctrl.data['простые поставки'].length }}</span>
      <a ng-show="$ctrl.data['простые поставки'].length >= 100" class="btn-flat z-depth-1" ng-click="$ctrl.LoadDataAsk(true)" href="javascript:">
        <i class="material-icons">file_download</i>
        Показать еще записи
      </a>
  </div>
</div>


<tmc-ostat-table ng-if="$ctrl.ready && $ctrl.tab &&  $ctrl.tab.title == 'Остатки ТМЦ'" ng-show-000="" ng-init=" param = {'объект': $ctrl.param['объект'], tableClass: $ctrl.tab.liClass} " data-param=" param " data-data="$ctrl.data['остатки']"></tmc-ostat-table><!--- остатки перед формой!--->

<tmc-snab-form ng-if="$ctrl.tab" ng-show="$ctrl.tab._parent !== $ctrl.tabs[3] " ng-init=" param = {'объект': $ctrl.param['объект'], 'перемещение': false} " data-param=" param "></tmc-snab-form>

<tmc-snab-form  ng-if="$ctrl.tab" ng-show="$ctrl.tab._parent === $ctrl.tabs[3]  " ng-init=" param = {'объект': $ctrl.param['объект'], 'перемещение': true} " data-param=" param "></tmc-snab-form>


<tmc-snab-transport ng-if="$ctrl.tab && ($ctrl.tab.title == 'все' || $ctrl.tab.title == 'в работе' || $ctrl.tab.title == 'в перевозке' || $ctrl.tab.title == 'завершено')" ng-init=" param = {'объект': $ctrl.param['объект'], 'фильтр': $ctrl.tab['фильтр'], tableClass: $ctrl.tab.liClass } " data-param=" param " data-data="$ctrl.data['снаб']" data-on-edit-ask="$ctrl.EditSnabAsk(ask)"></tmc-snab-transport>



<!--div class="pre-wrap">{{ $ctrl.data['остатки'] | json }}</div-->

<!-- Modal Structure -->
<div id="date-select" class="card modal" ng-if="$ctrl.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по датам</h2>
    <date-between data-param="$ctrl.param.table['дата1']"></date-between>
  </div>
  <div>{{$ctrl.param.table['дата1'] | json}}</div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата1')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата1')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<!--div id="sum-select" class="card modal" ng-if="$ctrl.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сумме</h2>
    <div class="input-field">
      <h4>От</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[0]">
    </div>
    
    <div class="input-field">
      <h4>До</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[1]">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('сумма')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('сумма')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div-->

<!-- Modal Structure -->
<div id="contragent-select" class="card modal" ng-if="$ctrl.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по контрагенту</h2>
    <contragent-item data-item="$ctrl.param.table['контрагент']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>



