@@@ tmc/snab/tabs

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready" ng-include=" 'tmc/tabs-lib' "></div>

<!--div ng-repeat="name in ['заявки', 'инвентаризации', 'простые поставки'] track by $index" ng-show="$c.tab && $c.tab.data == name && !$c.data[name].LoadStatus()" ng-include=" 'progress/load' "></div--->
<!--div ng-show="$c.tab && $c.tab.data == 'снаб' && !$c.data['снаб'] " ng-include=" 'progress/load' "></div-->

<!-- обработка заявок -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Заявки ТМЦ' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': true, 'в перемещение':true, 'список простых закупок': false, title: 'Обработать заявки', 'обработать номенклатуру': true,} " data-data="$c.data['заявки']" data-param=" param "></tmc-ask-table>

<!--  заявки с номенклатурой -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'В обработке' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': true, 'в перемещение':true, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': true,} " data-data="$c.data['заявки']" data-param=" param "></tmc-ask-table>

<!-- простые поставки -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Простые закупки' " ng-init=" param = {'объект': $c.param['объект'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'фильтр': $c.tab['фильтр'], 'в закупку': true, 'список простых закупок': true, title000: 'Обработать заявки'} "  data-data="$c.data['простые закупки']" data-param=" param "></tmc-ask-table>

<!-- списки снабжения -->
<tmc-snab-form ng-if="$c.tab && $c.tab.title != 'Перемещения' && $c.tab.title != 'Инвентаризации' && $c.tab.title != 'Простые закупки' " ng-init=" param = {'объект': $c.param['объект'], 'перемещение': false} " data-param=" param "></tmc-snab-form><!-- форма закупки-->

<tmc-ostat-table ng-if="$c.tab" ng-show=" $c.tab.title == 'Остатки ТМЦ' " ng-init=" param = {'объект': $c.param['объект'], tableClass: $c.tab.liClass} " data-param=" param " data-data="$c.data['остатки']"></tmc-ostat-table><!--- остатки перед формой!--->

<tmc-snab-form  ng-if="$c.tab && $c.tab.title == 'Перемещения'  " ng-init=" param = {'объект': $c.param['объект'], 'перемещение': true} " data-param=" param "></tmc-snab-form><!--- форма перемещения -->

<!-- $c.tab.title == 'все' || $c.tab.title == 'в работе' || $c.tab.title == 'в перевозке' || $c.tab.title == 'завершено'--->
<tmc-snab-table ng-if="$c.tab && ($c.tab.title == 'Закупки' || $c.tab.title == 'Перемещения' )" ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass } " data-param=" param " data-data="$c.data['снаб']" data-on-edit-ask="$c.EditSnabAsk(ask)"></tmc-snab-table><!-- все списки снабжения -->


<!-- инвентаризации -->
<tmc-sklad-inv-form  ng-if="$c.tab && $c.tab.title == 'Инвентаризации' " ng-init=" param = {'объект': $c.param['объект'],} " data-param=" param "></tmc-sklad-inv-form>

<tmc-sklad-inv-table ng-if="$c.tab && $c.tab.title == 'Инвентаризации' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass } " data-param=" param " data-data="$c.data['инвентаризации']" data-on-edit-000="$c.EditInv(data)"></tmc-sklad-inv-table>



<!--div class="pre-wrap">{{ $c.data['остатки'] | json }}</div-->

<!-- Modal Structure -->
<div id="date-select" class="card modal" ng-if="$c.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по датам</h2>
    <date-between data-param="$c.param.table['дата1']"></date-between>
  </div>
  <div>{{$c.param.table['дата1'] | json}}</div>
  <div class="modal-footer">
    <a ng-click="$c.Cancel('дата1')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$c.Send('дата1')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<!--div id="sum-select" class="card modal" ng-if="$c.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сумме</h2>
    <div class="input-field">
      <h4>От</h4>
      <input type="text" class="" ng-model="$c.param.table['сумма'].values[0]">
    </div>
    
    <div class="input-field">
      <h4>До</h4>
      <input type="text" class="" ng-model="$c.param.table['сумма'].values[1]">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="$c.Cancel('сумма')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$c.Send('сумма')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div-->

<!-- Modal Structure -->
<div id="contragent-select" class="card modal" ng-if="$c.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по контрагенту</h2>
    <contragent-item data-item="$c.param.table['контрагент']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$c.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$c.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>



