@@@ access/users/list

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready">

<div ng-show000="!!$c.filterProfile && !$c.data.filter($c.FilterData).length" style="position: absolute; top: 0.3rem; right: 0.5rem;">
  <a ng-click="$c.New()" href="javascript:" class="btn green lighten-3  white-000" style="line-height: inherit;" title="Добавить сотрудника" ng-disabled="!$c.filterProfile">
    <i class="material-icons green-text-darken-4" ng-class="{'grey-text': !$c.filterProfile}">person_add</i>
  </a>
</div>

<div class="">
  <div class="input-field">
    <!--a ng-show="$c.showBtnNewUser" ng-click="$c.New()" href="javascript:" class="orange-text" title="Добавить сотрудника" style="position:absolute; right:0.5rem; top:0.2rem;">
      <i class="material-icons">person_add</i>
    </a--->
    <a ng-show="$c.filterProfile && $c.filterProfile.length" ng-click=" $c.filterProfile = ''; $c.filterProfileRE = undefined; "  href="javascript:" class="hover-shadow3d" style="position: absolute; z-index: 1; right:0;">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle red-fill fill-darken-1" style="height: 2rem;" ng-include=" 'svg/left-clear-fill' "></svg>
    </a>
    <input ng-init-000="$c.InitSearch()" ng-model="$c.filterProfile" ng-change=" $c.ProfileRE() " type="text" name="search" placeholder="поиск ФИО/телефон" class="" style="margin:0;">
  </div>
</div>

<ul class="tabs z-depth-1 card000 tabs 000-transparent teal lighten-2" style="margin:0;">
  <li ng-repeat="t in ['Текущие', 'Уволенные']" class="tab" ng-attr-id000="">
    <a ng-click="$c.SelectTab($index)" href="javascript:" ng-class="{'active white': $index === $c.tab, 'red-text ': $index ===1, 'text-lighten-4': $index !== $c.tab}" class="hover-shadow3d" style000="font-size:1.5rem;" title="{{t}}">
      <i ng-show="$index ===0 "  class="material-icons">person</i>
      <i ng-show="$index ===1 "  class="material-icons">person_outline</i>
      <span>{{$c.data.filter($c.FilterData, $index).length}}</span>
    </a>
  </li>
  <!--li class="tab right" ng-show000="!!$c.filterProfile && !$c.data.filter($c.FilterData).length">
    <a ng-click="$c.New()" href="javascript:" class="btn-flat  white-000" style="line-height: inherit;" title="Добавить сотрудника" ng-disabled="!$c.filterProfile">
      <i class="material-icons green-text-darken-4 fs18" ng-class="{'grey-text': !$c.filterProfile}">person_add</i>
    </a>
  </li-->
  <li ng-if="!($c.param.URLs && $c.param.URLs.uploadProfiles === null)" class="tab">
    <a ng-click="$c.ShowUpload()" href="javascript:" class="hover-shadow3d" title="Загрузить сотрудников табулированно">
      <i class="material-icons">file_upload</i>
    </a>
  </li>
  <li class="tab ">
    <a ng-click="$c.Download()" href="javascript:" class="hover-shadow3d" title="Выгрузить список">
      <i class="material-icons">file_download</i>
    </a>
  </li>
  <li class="tab  ">
    <a ng-click="$c.FilterChecked()" href="javascript:" class="hover-shadow3d" title="показать {{$c.filterChecked ? 'все' : 'только отмеченные'}}">
      <i ng-show="$c.filterChecked" class="material-icons">select_all</i>
      <i ng-hide="$c.filterChecked" class="material-icons">check_box</i>
    </a>
  </li>
  <li class="tab ">
    <a ng-click="$c.BDays()" href="javascript:" class="hover-shadow3d" title="дни рождения">
      <i class="material-icons">date_range</i>
      <span>ДР</span>
    </a>
  </li>
  <li ng-if=" $c.param.URLs['доп. сотрудники'] " class="tab ">
    <a ng-click="$c.Dop()" href="javascript:" class="hover-shadow3d" title="доплата">
      <i class="material-icons">supervisor_account</i>
      <span>Доп</span>
    </a>
  </li>
  <!-- li class="tab">
    <a ng-click="$c.Refresh()" href="javascript:" title="Обновить">
      <i class="material-icons">refresh</i>
    </a>
  </li-->
</ul>

<div ng-show="$c.refresh" ng-include=" 'progress/load' "></div>

<div ng-hide="$c.upload === undefined" class="card indigo lighten-5">
  <div class="card-title">
    <h3 class="indigo-text text-darken-2">Загрузить табулированный список сотрудников </h3>
  </div>
  
  <div class="card-content input-field">
    <div><span class="chip white">Фамилия</span> tab <span class="chip white">Имя</span> tab <span class="chip white">Отчество</span> tab <span class="chip white">Должность</span></div>
    <textarea ng-model="$c.upload" class="materialize-textarea" style="font-size: 0.8rem;"></textarea>
    <a ng-click="$c.Upload()" href="javascript:" class="btn-floating indigo-text text-darken-2 hover-shadow3d" ng-disabled="!$c.upload || !$c.upload.length">
      <i class="material-icons">file_upload</i>
    </a>
  </div>
  <div ng-show="$c.upload && $c.cancelerHttp" ng-include=" 'progress/save' "></div>
</div>

<div ng-hide="$c.download === undefined" class="card indigo lighten-5">
  <div class="card-title">
    <h3 class="indigo-text text-darken-2">Выгрузка пользователей</h3>
  </div>
  <div class="card-content input-field">
    <textarea ng-model="$c.download" class="materialize-textarea" style="font-size: 0.8rem;"></textarea>
  </div>
  <div ng-show="$c.download && $c.cancelerHttp" ng-include=" 'progress/load' "></div>
</div>

<!--!$c.filterChecked &&  -->
<h3 ng-show="$c.tab === 0">Работающие сотрудники {{ $c.filterProfile ? '(фильтр ФИО/тел)' : '' }} {{ $c.filterChecked ? '(отмеченные)' : '' }}</h3>
<h3 ng-show="$c.tab === 1" class="red-text text-darken-2">Уволенные сотрудники {{ $c.filterProfile ? '(фильтр ФИО/тел)' : '' }} {{ $c.filterChecked ? '(отмеченные)' : '' }}</h3>
<!--h3 ng-show="$c.filterChecked">Отмеченные сотрудники ({{ $c.FilterCheckedCount() }})</h3-->

<ul ng-if="$c.tabsReady && $c.tab !== undefined" class="collection users  striped teal lighten-4" style="overflow-y: auto;">
  <li ng-repeat="user in $c.data | filter: $c.FilterData" class="collection-item click" ng-class="{'selected': user._selected, 'edit': user._edit, 'checked-000': user._checked}" ng-attr-id="{{ 'user-' + user.id}}" title000="{{user|json}}">
    
    <a ng-show="user.id" ng-click="$c.ToggleSelect(user)" href="javascript:" class="right hover-shadow3d">
      <!--i class="material-icons">visibility</i-->
      <i ng-hide="user._selected" class="material-icons circle yellow lighten-5" style="line-height:1;">radio_button_unchecked</i>
      <i ng-show="user._selected" class="material-icons circle yellow lighten-5" style="line-height:1;">radio_button_checked</i>
    </a>
    
    <a ng-show="user.id && ($c.param.role || $c.param.route)" ng-click="$c.SaveCheck(user)" href="javascript:" class="right hover-shadow3d" ng-class="{'grey-text': $c.param.route}" >
      <i ng-hide="user._checked" class="material-icons fs18">check_box_outline_blank</i>
      <i ng-show="user._checked" class="material-icons fs18">check_box</i>
    
    </a>
    
    <a ng-hide000="user._edit" ng-click="$c.Edit(user)" href="javascript:" class="hover-shadow3d">
      <ul class="">
        <li ng-repeat="n in user.names track by $index" class="iblock" style="padding: 0 0.1rem;"><h5 ng-class="{'red-text': user.disable, 'bold': !!user._edit || !!user._checked}">{{n}}</h5></li>
        <!-- @доп - суперпрофиль, профиль1/id - двойник -->
        <li ng-if=" user['@доп'] || user['профиль1/id'] " class="iblock"><i ng-class=" {'maroon-text': user['@доп'], 'grey-text': user['профиль1/id']} " class="material-icons ">supervisor_account</i></li>
        <li class="iblock grey-text fs8 right chip transparent" style="padding: 0 0.5rem;">#{{ user.id }}</li>
      </ul>
    </a>
    
    <div ng-show="user._edit && $c.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    <div ng-if="user._edit && !$c.cancelerHttp" ng-attr-id="{{ 'edit-'+user.id }}" ng-init="$c.InitForm(user._edit)" class="card edit teal lighten-5" style="cursor:auto;">
    
    <div class="card-title teal darken-2">
    
      <a  class="btn-flat right-000 orange-text" href="javascript:" ng-click="$c.CloseEdit(user, $index)" style="position: absolute; top:0.7rem; right:0.7rem;">
        <i class="material-icons">cancel</i>
        <!--span>Отмена</span-->
      </a>
        
      <h3 ng-hide="user.id" class="orange-text text-lighten-3">Новый сотрудник</h3>
      <h3 ng-show="user.id" class="white-text">Редактировать сотрудника</h3>
    </div>
    <div class="card-content">
    
      <div class="row">
        <div class="col s6"><!-- блок ФИО -->
          <div ng-repeat="n in ['Фамилия', 'Имя', 'Отчество']" class="row">
            <h4>{{n}}</h4>
            <div class="input-field col s12">
              <input type="text" ng-model="user._edit.names[$index]" placeholder="{{n}}" class="">
            </div>
          </div>
          
          <div class="row">
            <h4 class="">Дата рождения</h4>
            <div class="input-field col s12">
              <input ng-init="$c.InitPickerDate('дата рождения', user._edit)" name="дата рождения" type="text" class="datepicker"  data-value="{{ user._edit['дата рождения'] }}" placeholder="дата рождения" >
            </div>
          </div>
          
          <div class="row">
            <h4 class="">Телефоны</h4>
            <div ng-repeat="tel in user._edit.tel track by $index" class="input-field col s12">
              <input type="text" ng-model="user._edit.tel[$index]" ng-keypress="$c.ChangeTel(user._edit, $event)" ng-blur="$c.ChangeTel(user._edit)" class="tel" placeholder="один номер в строке" class="">
            </div>
          </div>
          
        </div>
        <!-- блок ФОТО -->
        <div ng-if="user._edit.id" ng-init="$c.InitFileUpload(user._edit);" class="col s6">
          <label for="fileupload" style="cursor: pointer;" title="{{ user._edit._noFoto ? 'Загрузить' : 'Заменить' }} фото">
            <!--img  ng-src="broken.png"  fb-src="http://upload.wikimedia.org/wikipedia/en/b/bc/Wiki.png" /-->
            <img ng-init="$c.profileImg(user._edit)" ng-src="{{ user._edit._imgUrl }}" onerror="angular.element(this).scope().$c.profileImgError(this)" style="width:100%;"/>
            <!--img ng-src="/i/p/{{ user._edit.id }}" onerror="this.onerror=null; this.src='/images/noimage.png';" / работает тоже-->
            <svg ng-show="user._edit._noFoto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 252 252" class=" grey-fill fill-lighten-1" style=""><use xlink:href="/fonts/icons.svg#person-none" /></svg>
            <input id="fileupload" type="file" name="file" style="display: none;">
            <h4 class="btn block hover-shadow3d">{{ user._edit._noFoto ? 'Загрузить' : 'Заменить' }} фото</h4>
          </label>
          
          <div class="progress progress-file-upload">
              <div class="determinate" style="width: 0%"></div>
          </div>
          
          <div class="pre-wrap error red-text"></div>
          
          
        </div>
        
        
        <h4 ng-if="!user._edit.id" class="col s6 red-text"> Фото и файлы можно загрузить после сохранения   </h4>
        
      </div>

      <!-- блок файлов -->
        <div class="row">
          <div class="col s12">
            <h4>
              <i class="material-icons">storage</i>
              <span>Файлы</span>
              <sup class="chip ">{{ user._edit._uploads.length }}</sup>
            </h4>
            <div class="card ">
              <v-uploads class="card-content"></v-uploads>
            </div>
          </div>
        </div>
      
        
      <div class="row">
        <h4>Примечание</h4>
        <div class="input-field col s12">
          <textarea ng-model="user._edit.descr" class="materialize-textarea" placeholder="текст" style="font-size: 0.8rem;"></textarea>
        </div>
      </div>
        
      <div class="row">
        <h4>Прием - увольнение</h4>
        <!---div>{{ user._edit['@приемы-увольнения'] | json }}</div--->
        <div class="col s12">
        <table class="top striped000 bordered000 ">
          <tbody>
          <tr ng-repeat="pu in user._edit['@приемы-увольнения'] " ng-init000="InitRowPU(user._edit, pu, $index)" class="" >
            <td style="width: 30%;">
              <div ng-if="pu['дата приема'] !== 0" class="input-field chip000">
                <a ng-show="pu['дата приема'] && !pu['дата увольнения']"  ng-click=" $c.ClearDate(pu, 'дата приема') " href="javascript:" class="remove-siblings hover-shadow3d"  style="right: 0rem; position: absolute; z-index: 1; top:0.2rem;">
                  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="prefix green-fill fill-darken-3" style="height: 2rem;" ><use xlink:href="/fonts/icons.svg#handshake" /></svg>
                <input ng-init="$c.InitPickerDate('дата приема', user._edit, '@приемы-увольнения') " name="дата приема" type="text" class="datepicker green-text text-darken-3"  data-value="{{ pu['дата приема'] }}" placeholder="дата приема" title="дата приема {{ pu['дата приема'] }}" ng-disabled="!!pu['дата увольнения']">
              </div>
            </td>
            <td style="width: 30%;">
              <div ng-if="pu['дата увольнения'] !== 0" class="input-field chip000">
                <a ng-hide="!pu['дата увольнения'] || !!user._edit['@приемы-увольнения'][$index+1]['дата приема']"  ng-click=" $c.ClearDate(pu, 'дата увольнения', user._edit['@приемы-увольнения']) " href="javascript:" class="remove-siblings hover-shadow3d"  style="right: 0rem; position: absolute; z-index: 1; top:0.2rem;">
                  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252"  class="prefix red-fill fill-darken-3" style="height: 1.7rem;" ><use xlink:href="/fonts/icons.svg#exit" /></svg>
                <input ng-init="$c.InitPickerDate('дата увольнения', user._edit, '@приемы-увольнения') " name="дата увольнения" type="text" class="datepicker red-text text-darken-3"  data-value="{{ pu['дата увольнения'] }}" placeholder="дата увольнения" ng-disabled="!pu['дата приема'] || !!user._edit['@приемы-увольнения'][$index+1]['дата приема']" title="дата увольнения {{ pu['дата увольнения'] }}">
              </div>
            </td>
            <td>
              <div class="chip000 block000" style="padding: 0 0.5rem;">
                <textarea ng-model="pu['причина увольнения']" class="materialize-textarea" style="padding:0; min-height:2rem; font-size:0.7rem;" ng-style="" title="причина увольнения" placeholder="причина увольнения" ng-disabled="!pu['дата увольнения'] || !!user._edit['@приемы-увольнения'][$index+1]['дата приема']"></textarea>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
        
      <div ng-if="user._edit.id" class="row">
        <h4>
          <i class="material-icons ">group</i>
          <span>Группы </span>
          <sup ng-if="user._edit['группы']" class="chip">{{ user._edit['группы'].length }}</sup>
        </h4>
        <div class="col s12">
          <ul ng-if="user._edit['группы']" class="collection z-depth-1" style="max-height:15rem; overflow:auto;">
            <li ng-repeat="g in user._edit['группы'] | orderBy: $c.OrderByUserGroup " class="collection-item">
              <span ng-repeat="n in g['parents/name']  track by $index" ng-hide="!n" class="breadcrumb before-margin-0"><span class="chip padd-0-05 shadow-inset-10">{{ n }}</span></span>
              <span ng-class="{'breadcrumb before-margin-0': !!g['parents/name'][0],}"><span class="chip padd-0-05 shadow-inset-10">{{ g.name }}</span></span>
            </li>
          </ul>
        </div>
      </div>
      <div ng-if="!user._edit.id" class="row">
        <h4 class="red-text">Группировка после сохранения нового сотрудника</h4>
      </div>
        
      <div ng-if="user.id && $c.param.URLs['доп. сотрудники']" class="row">
        <h4>
          <i class="material-icons">supervisor_account</i>
          <span>Доплата</span>
          <a ng-if="!user['профиль1/id']" ng-show="$c.userDop !== user" ng-click=" $c.userDop = user " href="javascript:" class="right btn-flat z-depth-1 maroon-text maroon lighten-4 fs8 padd-0-05 fw500 hover-shadow3d">запомнить в доплату</a>
        </h4>
        <h6 ng-if="user['профиль1/id']" class="chip" title="доплата к сотруднику">
          <i class="material-icons">supervisor_account</i>
          <span>{{ $c.$data[user['профиль1/id']].names.join(' ') }}</span>
        </h6>
        <div  ng-show="$c.userDop && $c.userDop !== user"><a ng-click=" $c.SaveDop(user)" href="javascript:" class="btn-flat z-depth-1 hover-shadow3d maroon lighten-4 fs8">Добавить <span class="chip-000  padd-0-05 maroon-text"><i class="material-icons">arrow_forward</i> {{ $c.userDop.names.join(' ') }}</span></a></div>
        <ul ng-if="user['@доп']" class="col s12 collection z-depth-1">
          <li ng-repeat="dop in user['@доп']"  class="collection-item">
            <h6 class="maroon-text">{{ dop.names.join(' ') }}</h6>
          </li>
        </ul>
        
      </div>
        
      
      
      <div ng-if=" user._edit.hasOwnProperty('login') " class="row">
        <div class="input-field col s4 offset-s2">
          <h5 class="">Логин</h5>
          <input type="text" ng-model="user._edit.login" placeholder="" class="">
        </div>
        
        <div class="input-field col s4">
          <h5>Пароль</h5>
          <a ng-click="$c.ShowPass(user)" href="javascript:" class="hover-shadow3d" style="position: absolute; z-index: 1; right:0.5rem;"><i class="material-icons">visibility{{ user._edit._showPass ? '_off' : ''}}</i></a>
          <a ng-click=" user._edit.pass = 'задать пароль' " href="javascript:" class="hover-shadow3d" style="position: absolute; z-index: 1; right:-2rem;" title="принять любой пароль и сохранить"><i class="material-icons">keyboard</i></a>
          
          <input type="{{user._edit._showPass ? 'text' : 'password'}}" ng-model="user._edit.pass" placeholder="" class="">
          
        </div>
        
        <div class="center">
          <a class="btn-flat red-text" href="javascript:" ng-click="$c.DeleteLogin(user)" ng-show="user._edit.login.length" ng-disabled000="!$c.SaveActive(user)">
            <i class="material-icons">cancel</i>
            <span>Убрать логин</span>
          </a>
        </div>
        
      </div>
        
      <div ng-show="$c.error" class="row"><span class="chip red-text">{{$c.error}}</span></div>
        
      
    </div><!-- card-content -->
    <div class="card-action grey lighten-2">
        <a class="btn" href="javascript:" ng-click="$c.Save(user, true)" ng-disabled="!$c.Valid(user._edit)">
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <!--a ng-if="user.id && !user.disable" class="btn red lighten-2" ng-click="$c.Disable(user)" href="javascript:" data-target="delete-confirm" >
          <i class="material-icons">person_outline</i>
          <span>Уволить</span>
        </a>
        <a ng-if="user.id && user.disable" class="btn blue lighten-1" ng-click="$c.Disable(user)" href="javascript:" data-target="delete-confirm" >
          <i class="material-icons">undo</i>
          <span>Вернуть в работу</span>
        </a--->
        <a  class="right btn orange lighten-2" href="javascript:" ng-click="$c.CloseEdit(user, $index)">
          <i class="material-icons">cancel</i>
          <span>Отмена</span>
        </a>
      </div>
    </div>
  
  </li>

</ul>

<!-- Modal Structure -->
<!--div id="delete-confirm" class="card modal">
  <div class="modal-content">
    <h4 class="red-text">Удаление сотрудника</h4>
    <p>Уверены?</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$c.DeleteBtn()" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Да</a>
    
  </div>
</div-->
<div ng-if="$c.bdUsers" ng-init=" bdays = true " class="relative">
  <h3>
    <span>Дни рождения</span>
    <sup class="chip fs8">{{ $c.bdUsers.length }}</sup>
    <div class="input-field iblock picker-month">
      <input name="месяц" placeholder="месяц" type="text" class="datepicker bold input-hover"  data-value="{{ $c.month }}" style="margin:0rem; vertical-align:bottom; font-size: 2rem; width: 15rem; padding: 0.1rem 0.5rem;">
    </div>
    <div class="input-field iblock">
      <input type="checkbox" id="nonRussians"  ng-model=" $c.nonRussians " ng-change="$c.BDays()">
      <label for="nonRussians" class="before-yellow-lighten-4 hover-shadow3d teal-text-darken-3">Иностранцы</label>
    </div>
  </h3>
  <div style="position:absolute; right:0; top:0.5rem;">
    <a ng-click=" bdays = !bdays " href="javascript:" class="hover-shadow3d chip padd-0-05" title="сортировать по ФИО/дням">
      <i v-show="" class="material-icons">keyboard_arrow_down</i>
      <i v-show="" class="material-icons">keyboard_arrow_up</i>
    </a>
  </div>
  <ul ng-if="!bdays" class="collection bdays">
    <li ng-repeat="user in $c.bdUsers" class="collection-item">
      <h5>
        <span>{{ user.names.join(' ') }}</span>
        <span class="right">{{ user['дата рождения/формат'] }}</span>
      </h5>
    </li>
  </ul>
  <table ng-if="!!bdays" class="bordered striped z-depth-1 bdays"><tbody>
    <tr ng-repeat="(d, users) in $c.bdays" class="relative">
      <td class="right-align">
        <span>{{ users[0]['дата рождения/формат'] }}</span>
      </td>
      <td>
        <ul class="right-align-000 marg-0" style="">
          <li ng-repeat="user in users">
            <h5>
              <span>{{ user.names.join(' ') }}</span>
            </h5>
          </li>
        </ul>
      </td>
    </tr>
  </tbody></table>
</div>

<!-- Двойники -->
<div ng-if=" $c.dop ">
  <ul class="collection users" style="">
    <li ng-repeat="dop in $c.dop | filter: $c.FilterDop"  class="collection-item">
      <h5>{{ dop.names.join(' ') }}</h5>
    </li>
  </ul>
</div>

</div>
