@@@ tree/item

<!--div ng-if="$c.isTopLevel">{{ $c.item.newItems | json }}</div-->

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<!--- существующие позиции-->
<!---ul ng-if="$c.isTopLevel" ng-class="$c.StyleFor('top level ul', 'class')" style="position:relative; margin:0;" ng-style=" $c.StyleFor('top level ul') ">
  
  <li class="inline" ng-style=" $c.StyleFor('arrow drop down li') ">
    
    <a ng-show="!$c.showTree && $c.level === 0 && !$c.param.disabled"  ng-click="$c.ToggleTreeBtn($event)" href="javascript:" class=""  >
      <sup class="chip000 fs7 right bold000">{{$c.data.length}}</sup>
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="right" ng-class="{'grey-fill': !$c.data.length, 'teal-fill fill-darken-3':$c.data.length}" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
    </a>
  </li>

  <li ng-show="$c.item.selectedItem && $c.item.selectedItem.id && !$c.param.disabled"  class="inline remove-siblings">
      <a ng-click="$c.SelectedItemClear()" href="javascript:" style00="top:0; right: 0; position: absolute; " title="отменить выбранную позицию">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
      </a>
  </li>
  
  <li ng-show="$c.item.selectedItem && $c.item.selectedItem.parents_title && $c.item.selectedItem.parents_title[0]" ng-repeat="t in $c.item.selectedItem.parents_title | filter:$c.FilterTopParent track by $index" class="breadcrumb inline brown-text"><h5 class="chip000 inline brown-text text-darken-3" style="padding: 0.1rem; font-weight: 400;"><span>{{t}}</span></h5></li>
  
  <li ng-show="$c.item.selectedItem && $c.item.selectedItem.title" class="breadcrumb inline brown-text">
    <h5 class="chip000 inline brown-text text-darken-3" style="padding: 0.1rem; font-weight: 400;">
      <span>{{$c.item.selectedItem.title}}</span>
    </h5>
    
  </li>
  
  <li ng-show="!$c.param['не добавлять новые позиции'] && ($c.item.selectedItem && $c.item.selectedItem.id) && !!$c.item.newItems[0].title && !$c.item.newItems[0].suggestionsCnt && it.title" ng-repeat="it in $c.item.newItems" class="breadcrumb inline deep-orange-text"><h5 ng-show="it.title" class="chip000 inline deep-orange-text" style="padding: 0.1rem; font-weight: 400;">{{it.title}}<sup class="deep-orange-text">*</sup></h5></li>
</ul---->

<h5 ng-if="$c.ready && $c.isTopLevel" class="animated fadeIn" ng-class="$c.StyleFor('top level ul', 'class')" style="position:relative; margin:0; " ng-style=" $c.StyleFor('top level ul'+($c.param.disabled ? ' disabled' : '')) ">

    <a ng-show="!$c.showTree && $c.level === 0 && !$c.param.disabled"  ng-click="$c.ToggleTreeBtn($event)" href="javascript:" class="" style="width:1rem;" ng-style=" $c.StyleFor('arrow drop down li') ">
      <sup class="chip000 fs7 right bold000">{{ $c.dataFiltered.length }}</sup>
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="right" ng-class="{'grey-fill': !$c.data.length, 'teal-fill fill-darken-3':$c.data.length}" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
    </a>

      <a ng-show="$c.item.selectedItem && $c.item.selectedItem.id && !$c.param.disabled" ng-click="$c.SelectedItemClear()" class="remove-siblings" href="javascript:" style-000="top:0; right: 1.7rem; position: absolute; z-index: 1; " ng-style=" $c.StyleFor('отменить выбранную позицию') " title="отменить выбранную позицию #{{ $c.item.selectedItem.id }}">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
      </a>
  
  <span ng-show="$c.item.selectedItem && $c.item.selectedItem.parents_title && $c.item.selectedItem.parents_title[0]" ng-repeat="t in $c.item.selectedItem.parents_title | filter:$c.FilterTopParent track by $index" class="breadcrumb before-margin-0 fw500 nowrap" style="">
    <span ng-class=" $c.param.selectedItemClass || 'chip padd-0-05 brown lighten-4 shadow-inset-10  brown-text text-darken-3' ">{{t}}</span>
  </span>
  
    <span ng-show="$c.item.selectedItem && $c.item.selectedItem.title" class="breadcrumb before-margin-0 fw500 nowrap"  style="" title="позиция #{{ $c.item.selectedItem.id }}">
      <span  ng-class=" $c.param.selectedItemClass || 'chip padd-0-05 brown lighten-4 shadow-inset-10  brown-text text-darken-3' ">{{$c.item.selectedItem.title}}</span>
      <span class="fs7 grey-text">#{{ $c.item.selectedItem.id }}</span>
    </span>
  
  <div title="новые уровни в позиции" style="margin-left: 1rem;">
    <span  class="breadcrumb before-margin-0"></span>
    <span ng-show="!$c.param['не добавлять новые позиции'] && ($c.item.selectedItem && $c.item.selectedItem.id) && !!$c.item.newItems[0].title && !$c.item.newItems[0].suggestionsCnt && it.title" ng-repeat="it in $c.item.newItems" class="breadcrumb before-margin-0 red-text nowrap">
      <span ng-show="it.title" class="chip shadow-inset-10 padd-0-05 fw500" style="" >{{it.title}}<!--sup class000="deep-orange-text">*</sup--></span>
    </span>
  </div>
</h5>

<!--- новые позиции-->
<ul ng-if="$c.ready && !!item" ng-hide="$c.param.disabled" class="collection00" style="margin:0;" ng-style="$c.NewItemsULStyle()" title000="{000{ $c.NewItemsJoinTitle() }}" title="новые позиции">

  <li class="input-field collection-item waves-effect000 waves-teal" style="margin: 0; width:100%;" >
  
  <!--div style="white-space: pre-wrap;">{{ item | json }}</div-->

    <input ng-hide="$c.item.selectedItem.id && $c.param['не добавлять новые позиции']" name="item" type="text" ng-init="$c.InitInput()"  ng-change="$c.ChangeInput()" ng-model="item.title" ng-focus="$c.FocusInput()" placeholder="{{$c.isTopLevel ? $c.param.placeholder || 'поиск категории или новая' : 'еще уровень для позиции'}}" ng-class="$c.StyleFor('input field', 'class')" style="margin:0;"><!-- ng-change="$c.ChangeInput(undefined, $c.onSelectItem)" -->
    
    <a ng-show="item.title.length"  ng-click=" $c.ChangeInput('', $c.onSelectItem) " href="javascript:" class="prefix000"  ng-style=" $c.StyleFor('input field cancel') " title="очистить">
      <!--i class="material-icons brown-text">cancel</i-->
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
    </a>
    

    <span ng-hide="$c.item.selectedItem.id || (!item.title.length && !$c.item.newItems[0].suggestionsCnt) || !$c.param['не добавлять новые позиции'] || $c.param['подпись не найдно'] === false" class="red-text fs8 right">{{ $c.param['подпись не найдно'] || 'не найдено'}}</span>
    
    
    <!-- отображение всего дерева -->
    <tree-list
      ng-if="$c.showTree"
      ng-show0000="$c.ShowTreeBtn()"
      data-item="$c.item"
      data-data="$c.data"
      data-param="$c.param"
      data000-on-select-item000="$c.SelectTreeItem(item)"
      data-select-item-event-name="$c.selectItemEventName"
      class="autocomplete-content dropdown-content"
      style="z-index:111; top:0;"
      tabindex000="0"
      ng-blur000="$c.BlurTree($event)"
    ></tree-list>
    
  </li>
  <!-- следующий уровень ввода-->
  <!-- data-data="$c.data" уже не нужен когда lookupComplete--->
<tree-item
  ng-if="$c.EnableSubItem()"
  data-item="$c.item"
  data-lookup-complete="$c.lookupComplete"
  data-param="$c.param"
  data-level="$c.level+1"
  style="display: inline-block; vertical-align:top; padding-left: 1.5rem; margin-top: 3px; width:100%;"
>
</tree-item>
  
  <!--- показ сборки новых позиций в одну строку -->
  <li ng-show="$c.isTopLevel && !$c.param['не добавлять новые позиции'] && !($c.item.selectedItem && $c.item.selectedItem.id) && $c.item.newItems.length > 2 && !$c.item.newItems[0].suggestionsCnt" ng-class="$c.StyleFor('top level li new items', 'class')" title="абсолютно новая позиция">
    <!---span class="red-text">: </span--->
    <h5 ng-repeat="it in $c.item.newItems" class="breadcrumb before-margin-0 inline red-text fw500" ng-show="it.title" class="" style="padding: 0.1rem;">
      <span class="chip shadow-inset-10 padd-0-05">{{it.title}}</span><!--sup class="deep-orange-text">*</sup-->
    </h5>
  </li>
  
</ul>