@@@ tree/item

<!--div ng-if="$ctrl.isTopLevel">{{ $ctrl.item.newItems | json }}</div-->

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<!--- существующие позиции-->
<!---ul ng-if="$ctrl.isTopLevel" ng-class="$ctrl.ClassFor('top level ul')" style="position:relative; margin:0;" ng-style=" $ctrl.StyleFor('top level ul') ">
  
  <li class="inline" ng-style=" $ctrl.StyleFor('arrow drop down li') ">
    
    <a ng-show="!$ctrl.showTree && $ctrl.level === 0 && !$ctrl.param.disabled"  ng-click="$ctrl.ToggleTreeBtn($event)" href="javascript:" class=""  >
      <sup class="chip000 fs7 right bold000">{{$ctrl.data.length}}</sup>
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="right" ng-class="{'grey-fill': !$ctrl.data.length, 'teal-fill fill-darken-3':$ctrl.data.length}" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
    </a>
  </li>

  <li ng-show="$ctrl.item.selectedItem && $ctrl.item.selectedItem.id && !$ctrl.param.disabled"  class="inline remove-siblings">
      <a ng-click="$ctrl.SelectedItemClear()" href="javascript:" style00="top:0; right: 0; position: absolute; " title="отменить выбранную позицию">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
      </a>
  </li>
  
  <li ng-show="$ctrl.item.selectedItem && $ctrl.item.selectedItem.parents_title && $ctrl.item.selectedItem.parents_title[0]" ng-repeat="t in $ctrl.item.selectedItem.parents_title | filter:$ctrl.FilterTopParent track by $index" class="breadcrumb inline brown-text"><h5 class="chip000 inline brown-text text-darken-3" style="padding: 0.1rem; font-weight: 400;"><span>{{t}}</span></h5></li>
  
  <li ng-show="$ctrl.item.selectedItem && $ctrl.item.selectedItem.title" class="breadcrumb inline brown-text">
    <h5 class="chip000 inline brown-text text-darken-3" style="padding: 0.1rem; font-weight: 400;">
      <span>{{$ctrl.item.selectedItem.title}}</span>
    </h5>
    
  </li>
  
  <li ng-show="!$ctrl.param['не добавлять новые позиции'] && ($ctrl.item.selectedItem && $ctrl.item.selectedItem.id) && !!$ctrl.item.newItems[0].title && !$ctrl.item.newItems[0].suggestionsCnt && it.title" ng-repeat="it in $ctrl.item.newItems" class="breadcrumb inline deep-orange-text"><h5 ng-show="it.title" class="chip000 inline deep-orange-text" style="padding: 0.1rem; font-weight: 400;">{{it.title}}<sup class="deep-orange-text">*</sup></h5></li>
</ul---->

<h5 ng-if="$ctrl.ready && $ctrl.isTopLevel" ng-class="$ctrl.ClassFor('top level ul')" style="position:relative; margin:0; padding-right: 3rem;" ng-style=" $ctrl.StyleFor('top level ul') ">

    <a ng-show="!$ctrl.showTree && $ctrl.level === 0 && !$ctrl.param.disabled"  ng-click="$ctrl.ToggleTreeBtn($event)" href="javascript:" class="" style="width:1rem;" ng-style=" $ctrl.StyleFor('arrow drop down li') ">
      <sup class="chip000 fs7 right bold000">{{$ctrl.data.filter($ctrl.FilterAutocomplete).length}}</sup>
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="right" ng-class="{'grey-fill': !$ctrl.data.length, 'teal-fill fill-darken-3':$ctrl.data.length}" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
    </a>

      <a ng-show="$ctrl.item.selectedItem && $ctrl.item.selectedItem.id && !$ctrl.param.disabled" ng-click="$ctrl.SelectedItemClear()" class="remove-siblings" href="javascript:" style="top:0; right: 1.7rem; position: absolute; " title="отменить выбранную позицию">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
      </a>
  
  <span ng-show="$ctrl.item.selectedItem && $ctrl.item.selectedItem.parents_title && $ctrl.item.selectedItem.parents_title[0]" ng-repeat="t in $ctrl.item.selectedItem.parents_title | filter:$ctrl.FilterTopParent track by $index" class="breadcrumb " style="font-weight: 400;">
    <span ng-class=" $ctrl.param.selectedItemClass || 'chip padd-0-05 brown lighten-4 shadow-inset-10  brown-text text-darken-3' ">{{t}}</span>
  </span>
  
    <span ng-show="$ctrl.item.selectedItem && $ctrl.item.selectedItem.title" class="breadcrumb "  style="font-weight: 400;">
      <span  ng-class=" $ctrl.param.selectedItemClass || 'chip padd-0-05 brown lighten-4 shadow-inset-10  brown-text text-darken-3' ">{{$ctrl.item.selectedItem.title}}</span>
    </span>
  
  <span ng-show="!$ctrl.param['не добавлять новые позиции'] && ($ctrl.item.selectedItem && $ctrl.item.selectedItem.id) && !!$ctrl.item.newItems[0].title && !$ctrl.item.newItems[0].suggestionsCnt && it.title" ng-repeat="it in $ctrl.item.newItems" class="breadcrumb deep-orange-text">
    <span ng-show="it.title" class="" style="font-weight: 400;">{{it.title}}<sup class="deep-orange-text">*</sup></span>
  </span>
</h5>

<!--- новые позиции-->
<ul ng-if="$ctrl.ready && !!item" ng-hide="$ctrl.param.disabled" class="collection00" style="margin:0;" ng-style="$ctrl.NewItemsULStyle()" title000="{000{ $ctrl.NewItemsJoinTitle() }}" title="новые позиции">

  <li class="input-field collection-item waves-effect000 waves-teal" style="margin: 0; width:100%;" >
  
  <!--div style="white-space: pre-wrap;">{{ item | json }}</div-->

    <input ng-hide="$ctrl.item.selectedItem.id && $ctrl.param['не добавлять новые позиции']" name="item" type="text" ng-init="$ctrl.InitInput()"  ng-change="$ctrl.ChangeInput()" ng-model="item.title" ng-focus="$ctrl.onFocusField({'row':$ctrl.item})" placeholder="{{$ctrl.isTopLevel ? $ctrl.param.placeholder || 'поиск категории или новая' : 'еще уровень для позиции'}}" ng-class="$ctrl.ClassFor('input field')" style="margin:0;">
    
    <a ng-show="item.title.length"  ng-click=" $ctrl.ChangeInput('') " href="javascript:" class="prefix000"  ng-style=" $ctrl.StyleFor('input field cancel') " title="очистить">
      <!--i class="material-icons brown-text">cancel</i-->
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
    </a>
    

    <span ng-hide="$ctrl.item.selectedItem.id || (!item.title.length && !$ctrl.item.newItems[0].suggestionsCnt) || !$ctrl.param['не добавлять новые позиции']" class="red-text fs8 right">{{ $ctrl.param['подпись не найдно'] || 'не найдено'}}</span>
    
    
    
    <tree-list
      ng-if="$ctrl.showTree"
      ng-show0000="$ctrl.ShowTreeBtn()"
      data-item="$ctrl.item"
      data-data="$ctrl.data"
      data-param="$ctrl.param"
      data000-on-select-item000="$ctrl.SelectTreeItem(item)"
      data-select-item-event-name="$ctrl.selectItemEventName"
      class="autocomplete-content dropdown-content"
      style="z-index:111; top:0;"
      tabindex000="0"
      ng-blur000="$ctrl.BlurTree($event)"
      >
    </tree-list>
    
  </li>
  
<tree-item
  ng-if="$ctrl.EnableSubItem()"
  data-item="$ctrl.item"
  data-data="$ctrl.data"
  data-param="$ctrl.param"
  data-level="$ctrl.level+1"
  style="display: inline-block; vertical-align:top; padding-left: 1.5rem; margin-top: 3px; width:100%;"
>
</tree-item>
  
  <!--- показ сборки новых позиций в одну строку -->
  <li ng-show="$ctrl.isTopLevel && !$ctrl.param['не добавлять новые позиции'] && !($ctrl.item.selectedItem && $ctrl.item.selectedItem.id) && $ctrl.item.newItems.length > 2 && !$ctrl.item.newItems[0].suggestionsCnt">
    <h5 ng-repeat="it in $ctrl.item.newItems" class="breadcrumb inline deep-orange-text" ng-show="it.title" class="" style="padding: 0.1rem; font-weight: 400;">{{it.title}}<!--sup class="deep-orange-text">*</sup--></h5>
  </li>
  
</ul>