@@@ компонент/дерево/список

<ul v-if="ready && childs.length" class="collection tree-list" style="overflow-y:auto; margin:0; border: none;" :style=" ULStyle ">

<!-- позиции -->
  <li class="collection-item hover-childs-show relative" style="cursor: default;" :class=" {'selected': it._selected, 'edit': it._edit} " v-for=" it in childs " :key=" it.id ">
    
    <div v-if="it.id"><a @click=" ToggleSelect(it, $event)" href="javascript:">
      <slot name="item" :item="it">
        <h5 :class="{'checked': it._checked, 'selected bold fs14': it._expand, 'grey-text': it.disable || it._disable, 'brown-text-000':!it.childs}" class="hover-shadow3d">
          <i v-show="it.childs && !it._expand" class="material-icons">keyboard_arrow_down</i>
          <i v-show="it.childs && it._expand" class="material-icons">keyboard_arrow_up</i>
          <i v-show="!it.childs " class="material-icons transparent-text">keyboard_arrow_right</i>
          <span class="" :title=" it._title ">{{ ItemTitle(it) }}</span>
          <!--span v-show="it.id" class="fs8 grey-text right">#{{ it.id }}</span-->
        </h5>
      </slot>
    </a></div>

    <div v-if="it.id && hasForm" class="hover-parent-show-inline" style="position:absolute; top:0; right:0;">
      <a v-show="!it._edit && !it._expand && IsLastExpandedParent" @click=" EditNode(it)" href="javascript:" class="hover-shadow3d btn-flat  padd-05  z-depth-1 " style="height: auto; line-height: initial;" title="редактирвать позицию"> <i class="material-icons blue-text fs10">edit</i> </a>
    </div>
    
    <div v-if=" it._edit && !(it.id && it._expand) && IsLastExpandedParent" style="padding-left:1rem;">
      <slot name="editItem" :edit="it._edit " :parents="_shared.expanded">
        <v-internal-tree-form  :item=" it._edit "  :parents="_shared.expanded" @on-save-node=" OnSaveNode "></v-internal-tree-form>
      </slot>
    </div>
  
  <!-- v-if=" IsExpand(it) "-->
    <v-internal-tree-list
      v-if="it._expand"
      :_shared=" _shared "
      :param=" param "
      :data=" data "
      :level=" level+1 "
      :parent=" it "
    >
    <!-- Recursively pass down slot -->
      <template v-slot:item="{ item }">
        <slot name="item" :item="item" />
      </template>
    
    </v-internal-tree-list>
 
  </li>

  <li v-if="hasForm" v-show=" IsLastExpandedParent " class="collection-item hover-childs-show animated fadeIn" style="padding-left:1rem;">
    <i class="material-icons">subdirectory_arrow_right</i>
    <a  @click=" NewNode()" href="javascript:" class=" btn-flat padd-05 green lighten-4  z-depth-1 " style="height: auto; line-height: initial;"  :title=" `+ вложить в [${ parent ? parent[ param.titleField || 'title'] : '__корень__'}] ` "><i class="material-icons">add_box</i> <span>{{ param.addNodeBtn || 'Добавить' }}</span></a>
    <span class="hover-parent-show-inline"><span> в </span> <i class="material-icons">arrow_forward</i> <span v-show="!ExpandedTitle.length " class="chip padd-0-05 z-depth-1">корень</span><span v-for="p in ExpandedTitle" class="breadcrumb before-margin-0"><span class="chip padd-0-05 teal lighten-4 z-depth-1">{{ p }}</span></span></span>
  </li>
</ul>

