@@@ квитки/расчет

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$ctrl.ready">


<div ng-hide="$ctrl.data.length" class="center red-text">Еще никому нет расчета в месяце {{ dateFns.format($ctrl.param['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</div>

<div ng-show="$ctrl.data.length" class="noprint">
  <input type="checkbox" id='все крыжики' ng-change="$ctrl.data.map($ctrl.TogglePrintAll)" ng-model="$ctrl['все крыжики']">
  <label for="все крыжики" ><h4>Все крыжики</h4></label>
</div>

<article ng-repeat="data in $ctrl.data" style="border-bottom:3px double teal; min-height: 10rem;" ng-init="$ctrl.InitProfile(data)" ng-class="{'noprint': !data['печать']}">
  
  <table class="timework"><!-- по объектам -->
    <!--thead>
      <tr>
        <th style="width:40"></th>
        <th class="right-align" style="width: 30%;">Объекты</th>
        <th class="right-align" style="width:15%;">смены</th>
        <th style="width:15%;">часы</th>
        
      </tr>
    </thead-->
    <tbody>
      <tr ng-repeat="row in data['объекты'] " ng-init="$ctrl.InitRow(row, data)" >
        <td ng-if="$index == 0" rowspan="{{data['объекты'].length+1}}" class="data" style="width:15%;">
          <!--div class="input-field noprint right">
            
          </div-->
          
          <h5 class="inline000 italic">
            <span ng-repeat="n in data.names track by $index"> {{ n }} </span>
          </h5>
          
          <div class="noprint">
            <input type="checkbox" id="{{'крыжик печать'+data['профиль']}}" ng-model="data['печать']">
              <label for="{{'крыжик печать'+data['профиль']}}" >печатать</label>
          </div>
          
          
        </td>
        <td class="data right-align" style="width: 35%; font-size:0.9rem;">{{data['объекты/name'][$index]}}</td>
        <td class="data right-align" style="width:10%;">
          <span class="bold">{{data['всего смен'][$index]}}</span>
          <!--span> {{$ctrl.FormatSm(data['всего смен'][$index])}} </span--->
          <span class="fs8"> см.</span>
          
        </td>
        
        <td class="data" style="width:10%;">
          <span class="bold"> {{parseFloat(data['всего часов'][$index]).toLocaleString('ru-RU')}} </span>
          <span class="fs8"> ч.</span>
        </td>
        
        <td class="data" style="width:10%;">
          <span class="fs8">кту: </span>
          <span class="bold"> {{parseFloat(data['КТУ2'][$index]).toLocaleString('ru-RU')}} </span>
          
        </td>
        
        <td class="data" style="width:10%;">
          <span class="bold"> {{parseFloat(data['Ставка'][$index]).toLocaleString('ru-RU')}} </span>
          <span class="fs8"> руб/{{ data['ИТР?'] ? 'см' : 'ч' }}</span>
        </td>
        
        <td class="data right-align" style="width:10%;">
          <span class="bold"> {{ parseFloat(data['Начислено'][$index]).toLocaleString('ru-RU') }} </span>
          <span class="fs8"> руб</span>
        </td>
      </tr>
      
      <tr ng-if="data['Суточные/начислено']"><!--- суточные --->
        <td></td>
        <td class="data right-align">Суточные</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td><!--- КТУ2 --->
        <td class="data"></td><!---Ставка --->
        <td class="data right-align">
          <span class="bold"> {{ parseFloat(data['Суточные/начислено']).toLocaleString('ru-RU') }} </span>
          <span class="fs8"> руб</span>
        </td>
      </tr>
      
      <tr  ng-if000="data['объекты'].length > 1" class="">
        <!---td></td-->
        <td class="data bold right-align tborder" style="vertical-align:middle;">ВСЕГО ПО ТАБЕЛЮ</td>
        <td class="data right-align tborder" style="vertical-align:middle;">
          <span class="bold fs12">{{$ctrl.Sum(data, 'всего смен')}}</span>
          <span class="fs8"> см.</span>
        </td>
        <td class="data tborder" style="vertical-align:middle;">
          <span class="bold fs12">{{$ctrl.Sum(data, 'всего часов')}}</span>
          <span class="fs8"> ч.</span>
        </td>
        
        <td colspan="3" class="data right-align tborder" style="vertical-align:middle;">
          <span class="bold fs12"> {{ $ctrl.Sum(data, 'Начислено') }} </span>
          <span class="fs8"> руб</span>
        </td>
      </tr>
      
      <tr ng-repeat="str in data['строки расчетов']" ng-init=" row = $ctrl.InitRowCalc(str)">
        <!--td colspan="4" class="data right-align">
          <span ng-show="row.sum > 0">Начислено:</span>
          <span ng-show="row.sum < 0">Удержано:</span>
          
        </td-->
        <td colspan="5" class="data right-align">
          <span ng-show="row.sum > 0">Начислено:</span>
          <span ng-show="row.sum < 0">Удержано:</span>
           &nbsp;
          <span ng-repeat="cat in row['категория'] track by $index" class="breadcrumb black-text">{{ cat }}</span>
        </td>
        <td colspan="5" class="data right-align">
          <span class="fs12"> {{ row.sum.toLocaleString('ru-RU') }} </span>
          <span class="fs8"> руб</span>
        </td>
      </tr>
      
      <tr ng-if000="data['строки расчетов'].length">
        <td>{{ dateFns.format($ctrl.param['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</td>
        <td colspan="4" class="data bold right-align tborder fs14" style="vertical-align:middle;">ИТОГО К ВЫПЛАТЕ</td>
        <!--td class="data right-align tborder"></td>
        <td class="data tborder"></td>
        <td class="data tborder"></td><!--- КТУ2 >
        <td class="data tborder"></td><!---Ставка --->
        <td colspan="2" class="data right-align tborder" style="vertical-align:middle;">
          <span class="bold fs14"> {{ parseFloat(data['РасчетЗП']).toLocaleString('ru-RU') }} </span>
          <span class="fs8"> руб</span>
        </td>
      </tr>
      
      <!--tr ng-if="data['объекты'].length == 1"><td colspan="3"></td></tr-->
    </tbody>
  </table>
  
  
  
</article>

</div>