@@@ time/work/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$ctrl.ready" style="padding:0rem 1rem;">
<h2 class="center">
  <span style="vertical-align:baseline;">Табель</span>
  <div class="input-field inline picker-month">
    <input name="месяц" type="text" class="datepicker bold"  ng-focus="$ctrl.SetDate($event)" data-value="{{ $ctrl.param['месяц'] }}" style="margin"0rem;">
  </div>
</h2>

<ul ng-if="$ctrl.data['объекты']" class="tabs card tabs-transparent teal darken-2" style="margin:0;">
  <li ng-repeat="obj in $ctrl.data['объекты']" class="tab">
    <h3><a ng-click="$ctrl.SelectObj(obj)" href="javascript:" ng-class="{'active': obj === $ctrl.param['объект']}" style="font-size:inherit;">{{obj.name}}</a></h3>
  </li>

</ul>

<!--div>{{ $ctrl.data['значения'] | json }}</div-->
<div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>

<div class="horizontal-scroll">
<table ng-if="$ctrl.days && $ctrl.param['объект'] && $ctrl.data['сотрудники']" class="bordered timework card" ng-init000="$ctrl.InitTable()">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Должность</th>
      <th ng-repeat="d in $ctrl.days" class="center" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'orange-text': dateFns.isToday(d)}"><div ng-repeat="f in $ctrl.FormatThDay(d)">{{f}}</div></th>
      <th>Всего часов</th>
      <th>КТУ</th>
      <th ng-if="$ctrl.param['замстрой']">КТУ зам. строй.</th>
      <th>Примечание</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="profile in $ctrl.data['сотрудники']" ng-init="$ctrl.InitRow(profile)">
      <td>
        <a ng-hide="$ctrl.data['значения'][profile.id]._cnt" ng-click="$ctrl.HideProfile(profile, $index)" href="javascript:" class="right orange-text" title="убрать из списка"><i class="material-icons">cancel</i></a>
        <div class="truncate" title="{{profile.names.join(' ')}}"><h5 ng-repeat="n in profile.names track by $index" class="inline" style="padding: 0 0.3rem;">{{n}}</h5></div>
      </td>
      <td><span ng-repeat="d in profile['должности']" class="chip00 fs8" style="padding: 0 0.3rem;">{{d.name || d}}</span></td>
      
      <td ng-repeat="d in $ctrl.days" ng-init=" cell = $ctrl.InitCell(profile, d) " class="border data" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'today':dateFns.isToday(d)}" title="{{cell._title}}" >
        <!--{{}}-->
        
        <div class="input-field">
          <i ng-show="dateFns.isFuture(d)" class="material-icons grey-text fs20" style="position:absolute;">close</i>
          <i ng-show="cell['коммент']" class="material-icons fs8 pink-text text-darken-4" style="position:absolute;right:0;" title="{{ cell['коммент'] }}">error</i>
          <input type="text" class="" ng-focus="$ctrl.FocusInput(cell, $event)" ng-change="$ctrl.ChangeInput(cell, $event)" ng-model="cell['значение']" ng-disabled="$ctrl.DisabledCell(cell)" ng-dblclick="$ctrl.DblclickInput(cell)">
          <div ng-show="cell['значение'] && cell._dblclick" class="autocomplete-content dropdown-content card" style="position: absolute; z-index: 99999; width: 20rem; padding:0.5rem;">
            <h3 class="">Примечание</h3>
            <div class="input-field">
              <textarea ng-model="cell._dblclick['коммент']" class="materialize-textarea" style=""></textarea>
            </div>
            <div class="center">
              <a ng-click="$ctrl.SaveDesrc(cell)" ng-disabled="!cell._dblclick['коммент']" href="javascript:" class="btn-flat teal-text">ОК</a>
              <a ng-click="$ctrl.DblclickInput(cell)" href="javascript:" class="btn-flat red-text">Отмена</a>
              
            </div>
          </div>
        </div>
        
      </td>
      <td class="total"><div ng-if=" $ctrl.Total(profile.id, true) " class="bold fs14">{{$ctrl.Total(profile.id)}}</div></td>
      <td>
        <div class="input-field">
          <input type="text" class="" ng-focus="$ctrl.FocusKTU(profile, 'КТУ1', $event)" ng-change="$ctrl.SaveRowValue(profile, 'КТУ1')" ng-model="profile['КТУ1']['коммент']" ng-disabled="$ctrl.DisabledKTU(profile, 'КТУ1')" placeholder="1.0" title="{{ profile._titleKTU }}">
        </div>
      </td>
      <!-- КТУ ставит замстрой -->
      <td ng-if="$ctrl.param['замстрой']">
        <div class="input-field">
          <input type="text" class="" ng-focus="$ctrl.FocusKTU(profile, 'КТУ2', $event)" ng-change="$ctrl.SaveRowValue(profile, 'КТУ2')" ng-model="profile['КТУ2']['коммент']" ng-disabled="$ctrl.DisabledKTU(profile)" placeholder="{{profile['КТУ1']['коммент'] || '1,0'}}" title="{{ profile._titleKTU }}">
        </div>
      </td>
      <!-- Примечание общее -->
      <td>
        <div class="input-field">
          <textarea ng-model="profile['Примечание']['коммент']" ng-change="$ctrl.SaveRowValue(profile, 'Примечание')" class="materialize-textarea" style="padding: 0px; font-size: 0.8rem; border: none;"></textarea>
        </div>
      </td>
    </tr>
    <!--tr></tr-->
  </tbody>

</table>
</div>

<div ng-if="$ctrl.data['сотрудники'] && $ctrl.newProfiles" class="input-field">
  <input id="new-profile" ng-init="$ctrl.InitNewProfile()" type="text" class="" placeholder="добавить работника">
</div>

</div>