
@@@ time/work/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>



<div ng-if="$ctrl.ready">

<div ng-hide="$ctrl.param['объект'] && $ctrl.data['месяц табеля закрыт'] && $ctrl.data['месяц табеля закрыт/interval']" class="chip absolute" style="top:0.7rem; right:0.7rem;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"  ng-include=" 'svg/warn-time' " class="middle red-fill fill-darken-2" style="height: 2rem;" ></svg>
  <span class="red-text text-darken-2 000fs8">Табель текущего месяца закрывается с 10-го числа следующего месяца</span>
</div>

<div ng-show="$ctrl.param['объект'] && $ctrl.data['месяц табеля закрыт'] && $ctrl.data['месяц табеля закрыт/interval']" class="chip transparent absolute" style="top:0.7rem; right:0.7rem;">
  <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"  ng-include=" 'svg/warn-time' " class="middle red-fill fill-darken-2" style="height: 2rem;" ></svg-->
  <a ng-click="$ctrl.OpenTabel()" href="javascript:" class="btn red white-text darken-2 000fs8">Открыть табель</a>
</div>

<div class="row">
<h2 class="col s12 m4 right-align" style="line-height:3rem;">
  <span style="vertical-align:text-top;">Табель</span>
  <div class="input-field iblock picker-month" title000="{{ $ctrl.param['месяц'] }}">
    <input name="месяц" placeholder="месяц" type="text" class="datepicker bold input-hover"  ng-focus000="$ctrl.SetDate($event)" data-value="{{ $ctrl.param['месяц'] }}" style="margin:0rem; vertical-align:bottom; font-size: 2rem; width: 15rem; padding: 0.1rem 0.5rem;">
  </div>
</h2>

<!--ul ng-if="$ctrl.data['объекты']" class="tabs card tabs-transparent teal darken-2" style="margin:0;">
  <li ng-repeat="obj in $ctrl.data['объекты']" class="tab">
    <h3><a ng-click="$ctrl.SelectObj(obj)" href="javascript:" ng-class="{'active': obj === $ctrl.param['объект']}" style="font-size:inherit;">{{obj.name}}</a></h3>
  </li>
</ul-->

<div class="col s12 m6">
  <div ng-if00="$ctrl.data['объекты']" class="input-field000 col s12" style="">
    <object-my data-on-select-obj="$ctrl.OnSelectObj(obj)"></object-my>
  </div>
</div>

<div class="col s12 m2 right-align">
<a ng-click="$ctrl.Print()" href="javascript:" class="btn-flat z-depth-1 black-text">
  <i class="material-icons">print</i>
  <span>Печать квитков</span>
</a></div>

</div><!--row -->

<!--div>{{ $ctrl.data['значения'] | json }}</div-->



<div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>



<div class="horizontal-scroll">
<table ng-if="$ctrl.days && $ctrl.param['объект'] && $ctrl.data['сотрудники']" class="bordered timework z-depth-3" ng-init000="$ctrl.InitTable()">
  <thead>
    <tr class="teal lighten-3">
      <th></th>
      <th>ФИО</th>
      <th>Должность</th>
      <th ng-repeat="d in $ctrl.days" class="center" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'orange-text': dateFns.isToday(d)}"><div ng-repeat="f in $ctrl.FormatThDay(d)">{{f}}</div></th>
      <th ng-if="$ctrl.param['замстрой']" class="red-text text-darken-3 red lighten-3">Доп. часы</th>
      <th>Всего часов</th>
      <th>Всего смен</th>
      <th>Суточные</th>
      <th>КТУ</th>
      <th ng-if="$ctrl.param['замстрой']">КТУ зам. строй.</th>
      <th>Примечание</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="profile in $ctrl.data['сотрудники']" ng-init="$ctrl.InitRow(profile)" ng-class="{'grey lighten-2': !!profile['табель закрыт']}">
      <td class="right" style="padding:0.1rem;">{{$index+1}}</td>
      <td>
        <a ng-hide="$ctrl.data['месяц табеля закрыт'] || $ctrl.data['значения'][profile.id]._nodelete" ng-click="$ctrl.HideProfile(profile, $index)" href="javascript:" class="right" title="убрать из списка">
          <!--i class="material-icons">cancel</i-->
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle red-fill fill-darken-1" style="height: 1.5rem;" ng-include=" 'svg/left-clear-fill' " />
        </a>
        <div class="truncate nowrap" style00="width:15rem;" title="{{profile.names.join(' ')}}"><h5 ng-repeat="n in profile.names track by $index" class="inline" style="padding: 0 0.3rem;">{{n}}</h5></div>
        <div ng-if="!!profile['табель закрыт'] || $ctrl.data['месяц табеля закрыт']" class="fs8 red-text right-align">
          <!--svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle red-fill fill-darken-1" style="height: 1.2rem;" <use xlink:href="/fonts/icons.svg#lock" /></svg-->
          <i class="icon icon-lock"></i>
          <!--span>табель закрыт</span--->
        </div>
      </td>
      <td><span ng-repeat="d in profile['должности']" class="truncate nowrap fs8" style="padding: 0 0.3rem; width:7rem;" title="{{ d.name || d }}">{{d.name || d}}</span></td>
      
      <td ng-repeat="d in $ctrl.days" ng-init=" cell = $ctrl.InitCell(profile, d) " class="border data" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'orange lighten-3':dateFns.isToday(d), 'grey lighten-2': dateFns.isFuture(d)}" title="{{cell._title}}" >
        <div class="input-field">
          <!--i ng-show="dateFns.isFuture(d)" class="material-icons grey-text fs20" style="position:absolute;">close</i-->
          <i ng-show="cell['коммент']" class="material-icons fs8 pink-text text-darken-4" style="position:absolute;right:0; margin: -1px;" title="{{ cell['коммент'] }}">error</i>
          <input type="text" class="" ng-focus="$ctrl.FocusInput(cell, $event)" ng-change="$ctrl.ChangeCell(cell)" ng-blur="$ctrl.ChangeCell(cell, $event)" ng-model="cell['значение']" ng-disabled="$ctrl.DisabledCell(cell)" ng-dblclick000="$ctrl.ToggleDescr(cell)">
          <div ng-show="cell._editDescr" class="autocomplete-content dropdown-content card" style="position: absolute; z-index: 99999; width: 20rem; padding:0.5rem;">
            <h3 class="">Примечание</h3>
            <div class="input-field">
              <textarea ng-model="cell._editDescr['коммент']" class="materialize-textarea" style=""></textarea>
            </div>
            <div class="center">
              <a ng-click="$ctrl.SaveDesrc(cell)" ng-disabled="!cell._editDescr['коммент']" href="javascript:" class="btn-flat teal-text">ОК</a>
              <a ng-click="cell._editDescr = undefined" href="javascript:" class="btn-flat red-text">Отмена</a>
              
            </div>
          </div>
        </div>
        
      </td>
      <!-- доп. часы ставит замстрой -->
      <td ng-if="$ctrl.param['замстрой']" class="border" style="padding:0;">
        <div class="input-field">
          <input type="text" class="bold red-text text-darken-3 red lighten-3" ng-change="$ctrl.SaveRowValue(profile, 'Доп. часы замстрой')" ng-model="profile['Доп. часы замстрой']['коммент']" ng-disabled="$ctrl.Disabled(profile, 'Доп. часы замстрой')" style="font-size:1.5rem;" placeholder="" title="">
        </div>
      </td>
      <td class="total"><div ng-if=" $ctrl.Total(profile.id, true) " class="bold fs14">{{$ctrl.Total(profile.id)}}</div></td>
      <td class="total"><div ng-if=" $ctrl.Total(profile.id, true) " class="bold fs14">{{ $ctrl.data['значения'][profile.id]['всего смен'] }}</div></td>
      <td class="data" style="vertical-align:middle;"><!---  Суточные  -->
        <div class="input-field center">
          <input type="checkbox" ng-attr-id="крыжик-суточные-{{profile.id}}" class="" ng-change="$ctrl.SaveRowValue(profile, 'Суточные')" ng-model="profile['Суточные']['коммент']" ng-disabled="$ctrl.Disabled(profile) ||  !!(profile['Суточные/начислено'] && profile['Суточные/начислено']['коммент'])" ng-true-value=" '1' "  style="height: auto;">
          <label for="крыжик-суточные-{{profile.id}}"></label>
        </div>
      </td>
      <td>
        <div class="input-field">
          <input type="text" class="" ng-focus="$ctrl.FocusKTU(profile, 'КТУ1', $event)" ng-change="$ctrl.SaveRowValue(profile, 'КТУ1')" ng-model="profile['КТУ1']['коммент']" ng-disabled="$ctrl.Disabled(profile, 'КТУ1')" placeholder="1.0" title="{{ profile._titleKTU }}">
        </div>
      </td>
      <!-- КТУ ставит замстрой -->
      <td ng-if="$ctrl.param['замстрой']">
        <div class="input-field">
          <input type="text" class="" ng-focus="$ctrl.FocusKTU(profile, 'КТУ2', $event)" ng-change="$ctrl.SaveRowValue(profile, 'КТУ2')" ng-model="profile['КТУ2']['коммент']" ng-disabled="$ctrl.Disabled(profile, 'КТУ2')" placeholder="{{profile['КТУ1']['коммент'] || '1,0'}}" title="{{ profile._titleKTU }}">
        </div>
      </td>
      <!-- Примечание общее -->
      <td>
        <div class="input-field">
          <textarea ng-model="profile['Примечание']['коммент']" ng-change="$ctrl.SaveRowValue(profile, 'Примечание')" ng-disabled="$ctrl.Disabled(profile)" class="materialize-textarea" style="padding: 0px; font-size: 0.8rem; border: none;"></textarea>
        </div>
      </td>
    </tr>
    <!--tr></tr-->
  </tbody>

</table>
</div>



<div ng-if="$ctrl.data['сотрудники'] && $ctrl.newProfiles && $ctrl.param['объект']" class="input-field">
  <input id="new-profile" ng-init="$ctrl.InitNewProfile()" type="text" class="" placeholder="добавить работника">
</div>

<!-- Modal Trigger -->
<!--a class="waves-effect waves-light btn" href="javascript:">Modal</a-->
<!-- Modal Structure -->
<div id="modal-confirm-intersection" class="modal" data-endingTop0000="7%" style000="width:97%; max-height: 92%;">
  
  <div class="modal-content">
    <h2>Внимание!</h2>
    <div class="divider"></div>
    <p>
      На дату <span class="chip">{{ intersection['$дата']['день недели'] }} {{ intersection['$дата'].day }} {{ intersection['$дата']['мес'] }}</span>
      у сотрудника <span class="chip purple white-text"><span ng-repeat="n in intersection['профиль/names']"> {{ n }} </span></span>
      на объектах: <span ng-repeat="o in intersection['объекты']" class="blue-text join-plus" title="{{ o['проект'] | json }}">{{ o.name }}</span>
      уже стоят часы: <span><span ng-repeat="t in intersection['часы']" class="red-text bold join-plus">{{ t }}</span> </span>
    </p>
    <p class="red-text text-lighten-1">
      Нужно созвонится с начальниками/мастерами указанных объектов и согласовать табельные часы сотрудника.
    </p>
  </div>
  <div class="modal-footer">
      
      <a ng-click="$ctrl.CancelIntersection(intersection)" href="javascript:" class="modal-action modal-close btn-flat red-text ">Отмена</a>
      <a ng-click="$ctrl.AcceptIntersection(intersection)" href="javascript:" class="modal-action  btn-flat green-text ">Часы согласованы, сохранить</a>
    </div>
  
  
</div>


</div>