@@@ time/work/pay/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$ctrl.ready">

<table ng-if="$ctrl.data['расчеты в других закрытых месяцах'] && $ctrl.data['расчеты в других закрытых месяцах'].length" class="top">
  <thead><tr>
    <th class="center000" colspan="5">
        <input id="show_rows_calc_other_months" type="checkbox" ng-model="show_rows_calc_other_months"><label for="show_rows_calc_other_months"><h3>Строки<sup class="chip fs8">{{ $ctrl.data['расчеты в других закрытых месяцах'].length }}</sup> расчетов из других закрытых месяцев</h3></label>
    </th>
  </tr></thead>
  
  <tbody ng-show="show_rows_calc_other_months" style="border-bottom: 3px double #d0d0d0;">
    <tr ng-repeat="row in $ctrl.data['расчеты в других закрытых месяцах']">
      <td class="right-align" style="width:40%;"><h5 ng-repeat="c in row['категория']" class="breadcrumb inline brown-text">{{ c }}</h5></td>
      <td class="green-text text-darken-4 right-align" style="width:10%;"><span ng-if="row.sign > 0">{{ parseFloat(Util.numeric(row['сумма'])).toLocaleString('ru-RU') }}</span></td>
      <td class="yellow-text text-darken-4 right-align" style="width:10%;"><span ng-if="row.sign < 0">{{ (-parseFloat(Util.numeric(row['сумма']))).toLocaleString('ru-RU') }}</span></td>
      <td style="width:7%;" class="">{{ row['дата формат'] }}</td>
      <td class="grey-text">{{ row['примечание'] }}</td>
    </tr>
  </tbody>
  
</table>

<table ng-if="$ctrl.data['начислено']['начислено']" class="top">
  <thead><tr>
    <th class="right-align" style="width:40%;">
        <h3 ng-show="!$ctrl.data['закрыть']['коммент']">Расчет выплаты за <span class="chip purple-text text-darken-3">{{ dateFns.format($ctrl.param['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</span></h3>
        <h3 ng-hide="!$ctrl.data['закрыть']['коммент']" class="red-text">Расчет выплаты за <span class="chip purple-text text-darken-3">{{ dateFns.format($ctrl.param['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</span> закрыт</h3>
        <h4 ng-if="$ctrl.param['профили']" class="chip grey white-text">{{ $ctrl.param['профили'][0].names.join(' ') }}</h4>
    </th>
    
    <th style="width:10%;" class="green-text text-darken-4 right-align middle">
      <i class="material-icons ">add_circle_outline</i>
      <span>Начислено</span>
    </th>
    
    <th style="width:10%;" class="yellow-text text-darken-4 right-align middle">
        <i class="material-icons ">remove_circle_outline</i>
        <span>Выплачено</span>
    </th>
    
    <th style="" class="center middle">Примечание</th>
  </tr></thead>
  
  <tbody>
    
    <tr ng-init="b1 = $ctrl.FormatNum($ctrl.data['баланс на начало месяца']['баланс'])">
      <td class="right-align">Баланс на начало месяца</td>
      <td class="green-text text-darken-4 bold right-align"><div ng-if="b1 > 0">{{ Util.money(b1.toLocaleString('ru-RU')) }}</div></td>
      <td class="yellow-text text-darken-4 bold right-align"><div ng-if="b1 < 0">{{ Util.money((-b1).toLocaleString('ru-RU')) }}</div></td>
      <td></td>
    </tr>
  
    <tr>
      <td class="right-align">Начислено за месяц</td>
      <td class="green-text text-darken-4 right-align"><div class="fs14 bold" ng-if0000="$ctrl.data['начислено']">{{ Util.money($ctrl.data['начислено']['начислено']) }}</div></td>
      <td></td>
      <td><div ng-repeat="c in $ctrl.data['начислено']['примечания']" class="grey-text">{{ c }}</div></td>
    </tr>
    
    <tr>
      <td class="right-align">Выплачено за месяц</td>
      <td></td>
      <td class="yellow-text text-darken-4 right-align"><div ng-if0000="$ctrl.data['выплачено']">{{ Util.money($ctrl.data['выплачено']['выплачено'] || 0) }}</div></td>
      <td><div ng-repeat="c in $ctrl.data['выплачено']['примечания'] track by $index" class="grey-text">{{ c }}</div></td>
    </tr>
    
    <tr ng-init="b2 = $ctrl.FormatNum($ctrl.data['баланс на конец месяца']['баланс'])">
      <td class="right-align">Баланс на конец месяца</td>
      <td class="green-text text-darken-4 bold right-align"><div ng-if="b2 > 0">{{ Util.money(b2.toLocaleString('ru-RU')) }}</div></td>
      <td class="yellow-text text-darken-4 bold right-align"><div ng-if="b2 < 0">{{ Util.money((-b2).toLocaleString('ru-RU')) }}</div></td>
      <td></td>
    </tr>
    
    <tr class="teal lighten-5">
      <td class="right-align"><h4>Дополнительные</h4></td>
      <th style="width:10%;" class="green-text text-darken-4 right-align middle">
        <i class="material-icons ">add_circle_outline</i>
        <span>Начисления</span>
      </th>
      
      <th style="width:10%;" class="yellow-text text-darken-4 right-align middle">
        <i class="material-icons ">remove_circle_outline</i>
        <span>Удержания</span>
    </th>
      
      <td><!--- готовые наборы строк категорий  -->
        <div ng-show="!$ctrl.data['закрыть']['коммент']" class="right-align">
        
          <a ng-repeat="a in ['НДФЛ', 'Документы', 'Штраф', 'Карта', 'Аванс', ]" ng-click="$ctrl.AddRowsCategory(a)" href="javascript:" class="btn-flat navy-text" style="padding:0 0.5rem;">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="middle navy-fill fill-darken-3" style="height: 1rem;" ng-include=" 'svg/плюс в квадрате' "></svg>
            <span>{{ a }}</span>
          </a>
          
        </div>
      </td>
    </tr>
    
    <tr ng-repeat="row in $ctrl.data['расчеты']" ng-init="$ctrl.InitPayRow(row)" ng-attr-id="{{ 'строка-расчета-'+(row.id || 0) }}" class="teal lighten-5">
      <td style="vertical-align: bottom;" title="{{ row.category | json }}">
        <!--div class="input-field" style="padding-right: 1.7rem;">
          <a ng-show="row['заголовок'] && !$ctrl.data['закрыть']['коммент']" ng-click="row['заголовок'] = undefined " href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; top:0.2rem;"><i class="material-icons brown-text">cancel</i></a>
          <input type="text" name="заголовок"  ng-model="row['заголовок']" placeholder="статья" class="right-align" ng-change="$ctrl.Save(row)" ng-init="$ctrl.AutoComplete(row)" ng-disabled="!!$ctrl.data['закрыть']['коммент']">
          <a ng-hide="row['заголовок'] || !!$ctrl.data['закрыть']['коммент']" ng-click=" $ctrl.AutoComplete(row, true) " href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0.2rem;"><i class="material-icons">arrow_drop_down_circle</i></a>
        </div-->
        <tree-item data-item="row.category" data-data="CategoryData" data-param="CategoryParam" data-on-select-item="$ctrl.onSelectCategory(item, row)"></tree-item>
      </td>
      
      <td style="vertical-align: bottom;">
        <div class="input-field">
          <input type="text" name="начислить" ng-model="row['начислить']" placeholder="начислить" class="right-align green-text text-darken-3" ng-disabled="!!row['удержать'] || !!$ctrl.data['закрыть']['коммент']" ng-change="$ctrl.Save(row)">
        </div>
      </td>
      
      <td style="vertical-align: bottom;">
        <div class="input-field">
          <input type="text" name="удержать" ng-model="row['удержать']" placeholder="удержать" class="right-align yellow-text text-darken-3" style="" ng-disabled="!!row['начислить'] || !!$ctrl.data['закрыть']['коммент']" ng-change="$ctrl.Save(row)">
        </div>
      </td>
      
      <td style="vertical-align: bottom;">
        <div class="input-field" style="height: 2.05rem;">
          <textarea ng-model="row['примечание']" class="materialize-textarea grey-text" style="padding: 0; min-height: 2rem; font-size:0.8rem;" ng-change="$ctrl.Save(row)" ng-disabled="!!$ctrl.data['закрыть']['коммент']" placeholder="примечание"></textarea>
        </div>
      </td>
      
    </tr>
    
    <tr>
      <td class="right-align">
        <h4 ng-if="$ctrl.total >= 0">К выплате:</h4>
        <h4 ng-if="$ctrl.total < 0">К взысканию:</h4>
      </td>
      <td><div ng-if="$ctrl.total >= 0" class="blue-text text-darken-3 bold fs14 right-align">{{$ctrl.total.toLocaleString('ru-RU')}}</div></td>
      <td><div ng-if="$ctrl.total < 0" class="yellow-text text-darken-3 bold fs14 right-align">{{(-$ctrl.total).toLocaleString('ru-RU')}}</div></td>
      <td>
        <a ng-if="!$ctrl.data['закрыть']['коммент']" ng-click="$ctrl.Commit()" href="javascript:" class="btn-flat blue-text text-darken-3">
          <i class="material-icons">warning</i>
          <span>Завершить расчет</span>
        </a>
        <a ng-if="!!$ctrl.data['закрыть']['коммент']" ng-click="$ctrl.Commit(null)" href="javascript:" class="btn-flat red-text">
          <i class="material-icons">warning</i>
          <span>Заново открыть расчет</span>
        </a>
      </td>
    
    </tr>
  </tbody>

</table>

</div>