@@@ timework/report/print

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready">

<!--div>{{$c.data | json}}</div-->
<!--div ng-show="$c.param['крыжик начислено']" class="input-field noprint center">
  <input type="checkbox" id="крыжик начислено" ng-model="$c['крыжик начислено']" ng-disabled000="$c.param['объект'].id" ng000-change="$c.LoadData($event)" ng000-value=" '1' ">
  <label for="крыжик начислено"><h4>Только начисленные объекты</h4></label>
</div-->

<!-- .filter($c.FilterProfile)-->
<div ng-hide="$c.data.length" class="center red-text">Нет данных в месяце {{ dateFns.format($c.param['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</div>

<div ng-show="$c.data.length" class="noprint">
  <input type="checkbox" id='все крыжики' ng-change="$c.data.map($c.TogglePrintAll)" ng-model="$c['все крыжики']">
  <label for="все крыжики" class="chb-yellow-lighten-4"><h4>Все крыжики</h4></label>
</div>

<!---  | filter : $c.FilterProfile -->
<article ng-repeat="data in $c.data" style="border-bottom:3px double #e0e0e0;" ng-init="$c.InitProfile(data)" ng-class="{'noprint': !data['печать']}">
  
  <table class="timework">
    <!--thead>
      <tr>
        <th style="width:40"></th>
        <th class="right-align" style="width: 30%;">Объекты</th>
        <th class="right-align" style="width:15%;">смены</th>
        <th style="width:15%;">часы</th>
        
      </tr>
    </thead-->
    <tbody>
      <tr ng-repeat="row in data['объекты'] " ng-init="$c.InitRow(row, data)" ><!--- | filter : $c.FilterObj(data)  -->
        <td ng-if="$index == 0" rowspan="{{data['объекты'].length}}" class="data" style="width:40%;"><!--- .filter($c.FilterObj(data))--->
          <!--div class="input-field noprint right">
            
          </div-->
          
          <h5 class="inline000 italic">
            <span ng-repeat="n in data.names track by $index"> {{ n }} </span>
            <span class="noprint right">
              <input type="checkbox" id="{{'крыжик печать'+data['профиль']}}" ng-model="data['печать']">
              <label for="{{'крыжик печать'+data['профиль']}}" class="chb-yellow-lighten-4">печатать</label>
            </span>
          </h5>
          
          
          
          <div class="inline000">{{ dateFns.format($c.param['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</div>
        </td>
        <td class="data right-align" style="width: 30%;" ng-style=" row.style1 ">{{data['объекты/name'][$index]}}</td>
        <td class="data right-align" style="width:15%;">
          <span class="bold">{{data['всего смен'][$index]}}</span>
          <!--span> {{$c.FormatSm(data['всего смен'][$index])}} </span--->
          <span> см.</span>
          
        </td>
        <td class="data" style="width:15%;">
          <span class="bold"> {{parseFloat(data['всего часов'][$index]).toLocaleString('ru-RU')}} </span>
          <span> ч.</span>
        </td>
      </tr>
      <tr  ng-if="data['объекты'].length > 1"><!---.filter($c.FilterObj(data)) --->
        <td></td>
        <td class="data bold right-align">ВСЕГО</td>
        <td class="data right-align">
          <span class="bold fs12">{{$c.Sum(data['всего смен'])}}</span>
          <span> см.</span>
        </td>
        <td class="data">
          <span class="bold fs12">{{$c.Sum(data['всего часов'])}}</span>
          <span> ч.</span>
        </td>
      </tr>
      <!--tr ng-if="data['объекты'].length == 1"><td colspan="3"></td></tr-->
    </tbody>
  </table>
</article>

</div>