@@@ time/work/report

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$ctrl.ready">
<h2 class="center000">Сводка-начисление ЗП</h2>

<div class="row">
<div ng-init="$ctrl.InitMonth()" class="col s12 m3 right-align">
  <h4 class="inline" style="vertical-align:top;">Месяц</h4>
  <div class="input-field inline picker-month" style="width:10rem;">
    <input name="месяц" type="text" class="datepicker bold"  ng-focus="$ctrl.SetDate($event)" data-value="{{ $ctrl.param['месяц'] }}" style="margin"0rem;">
  </div>
</div>

<!--ul ng-if="$ctrl.data['объекты']" class="tabs card tabs-transparent teal darken-2" style="margin:0;">
  <li class="tab">
    <h3><a ng-click="$ctrl.SelectObj(null)" href="javascript:" class="blue" ng-class="{'active': null === $ctrl.param['объект']}" style="font-size:inherit;">Все объекты</a></h3>
  </li>

  <li ng-repeat="obj in $ctrl.data['объекты']" class="tab">
    <h3><a ng-click="$ctrl.SelectObj(obj)" href="javascript:" ng-class="{'active': obj === $ctrl.param['объект']}" style="font-size:inherit;">{{obj.name}}</a></h3>
  </li>
  
  <li class="tab">
    <h3><a ng-click="$ctrl.SelectDisabledObj()" href="javascript:" class="grey darken-2" ng-class="{'active': $ctrl.param['отключенные объекты']}" style="font-size:inherit;">Сданные объекты</a></h3>
  </li>

</ul-->

<div class="col s12 m9">
<div ng-hide="$ctrl.param['общий список бригад'] || $ctrl.param['бригада']">
<div ng-hide="$ctrl.param['общий список']" class="input-field">
  <i class="material-icons" style="position: absolute; right:0;">arrow_drop_down</i>
  <i ng-show="$ctrl.param['объект']" ng-click=" $ctrl.param['объект']=undefined " class="material-icons" style="position: absolute; right:2rem; cursor:pointer;">close</i>
  <input type="text" class="bold" ng-model=" $ctrl.param['объект'].name " ng-focus="$ctrl.ToggleSelectObj($event)" ng-blur="$ctrl.ToggleSelectObj($event,true)" placeholder="выбери объект или все объекты">
  
  <ul class="dropdown-content select-dropdown" style="opacity: 1; position: absolute; top:0; width:100%;">

    <li ng-repeat="obj in $ctrl.data['объекты']" class="tab000" ng-class="{'active selected': obj === $ctrl.param['объект']}" >
      <a ng-click="$ctrl.SelectObj(obj)" href="javascript:" style000="font-size:inherit;"><h3 ng-class="obj._class">{{obj.name}}</h3></a>
    </li>
    
  </ul>
  
</div>

<div class="input-field">
  <input type="checkbox" id="крыжик списка" ng-model="$ctrl.param['общий список']" ng-disabled000="$ctrl.param['объект'].id" ng-change="$ctrl.LoadData($event)" ng-value=" '1' ">
  <label for="крыжик списка"><h3>Общий список работников по объектам/подразделениям</h3></label>
</div>
</div><!-- объекты-->

<div ng-hide="$ctrl.param['общий список'] || $ctrl.param['объект']">
<div ng-hide="$ctrl.param['общий список бригад']" class="input-field">
  <i class="material-icons" style="position: absolute; right:0;">arrow_drop_down</i>
  <i ng-show="$ctrl.param['бригада']" ng-click=" $ctrl.param['бригада']=undefined " class="material-icons" style="position: absolute; right:2rem; cursor:pointer;">close</i>
  <input name="выбор бригады" type="text" class="bold" ng-model=" $ctrl.param['бригада'].name " ng-focus="$ctrl.ToggleSelectObj($event)" ng-blur="$ctrl.ToggleSelectObj($event,true)" placeholder="выбери бригаду или все бригады">
  
  <ul class="dropdown-content select-dropdown" style="opacity: 1; position: absolute; top:0; width:100%;">

    <li ng-repeat="obj in $ctrl.data['бригады']" class="tab000" ng-class="{'active selected': obj === $ctrl.param['бригада']}" >
      <a ng-click="$ctrl.SelectBrig(obj)" href="javascript:" style000="font-size:inherit;"><h3 ng-class="obj._class">{{obj.name}}</h3></a>
    </li>
    
  </ul>
  
</div>

<div class="input-field">
  <input type="checkbox" id="крыжик списка бригад" ng-model="$ctrl.param['общий список бригад']" ng-disabled000="$ctrl.param['объект'].id" ng-change="$ctrl.LoadData($event)" ng-value=" '1' ">
  <label for="крыжик списка бригад"><h3>Общий список работников по бригадам</h3></label>
</div>
</div><!-- объекты-->

</div> <!-- col 2-->
</div>

<!--div>{{ $ctrl.param | json }}</div-->

<div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>

<!-- фильтровать один профиль -->
<div ng-if="$ctrl.data['данные/профили']" class="input-field">
  <a ng-show="$ctrl.selectProfile && $ctrl.selectProfile.length" ng-click=" $ctrl.ChangeSelectProfile(true) " href="javascript:" style="position:absolute; right:0;"><i class="material-icons" >close</i></a>
  <input ng-model="$ctrl.selectProfile" ng-focus="$ctrl.FocusSelectProfile($event)" ng-change="$ctrl.ChangeSelectProfile()" placeholder="выбрать ФИО" class="" style="margin:0; border: none;" autocomplete="off" type="text">
</div>

<div ng-if="$ctrl.data['данные']" ng-repeat="obj in $ctrl.DataObjsOrBrigs() | filter: $ctrl.objFilter" class="" ng-style="{{ ($ctrl.param['общий список'] ? undefined : {'margin-top':'3rem'}) }}">
  <h2 ng-hide="$ctrl.param['общий список'] || $ctrl.param['общий список бригад']" class="blue-text text-darken-2">{{obj.name}}</h2>
  
  <table class="striped timework timework-report card">
    <thead><tr>
      <th></th>
      <th style="width:25%;">ФИО</th>
      <th style="">Должность</th>
      <th style="width:20%;" ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад']">Объект</th>
      <!--th style="width:20%;" ng-if="$ctrl.param['общий список бригад']">Бригада</th-->
      <th style="width:5%;">Кол-во часов</th>
      <th style="width:5%;">Кол-во смен</th>
      <th style="width:5%;">КТУ нач. уч.</th>
      <th style="width:5%;">КТУ замстрой</th>
      <th style="width:7%;" title="Ставка руб/час или руб/смена (для группы ИТР)">Ставка</th>
      <th style="width:12%;">Сумма, руб</th>
      <th>Начислено</th>
      <th style="width:7%;">Примеч.</th>
    </tr></thead>
    
    <tbody>
      <tr ng-repeat="row in $ctrl.data['данные'] | filter: $ctrl.dataFilter(obj)"  ng-init=" $ctrl.InitRow(row) ">
        <td  class="right" style="padding:0.3rem;">{{$index+1}}</td>
        <td title="{{ row._profile | json }}">
          <div><a ng-click="$ctrl.ShowDetail(row)" href="javascript:" data-target="modal1"><h4 ng-repeat="n in row._profile.names track by $index" class="inline" style="padding: 0 0.1rem;">{{n}}</h4></a></div>
        </td>
        <td>
          <span ng-repeat="d in row._profile['должности'] track by $index" class="chip00 fs8" style="padding: 0 0.2rem;">{{d.name || d}}</span>
          <span ng-repeat="b in row._profile['бригада'] track by $index" class="chip00 fs8 italic blue-grey-text" style="padding: 0 0.2rem;">{{b}}</span>
        </td>
        
        <td ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад']">
          <div ng-repeat="o in row['объекты'] track by $index" class="input-field000  truncate right-align" style="height: 2.1rem;  padding: 0.25rem 0rem; width:15rem;" title="{{ row._object[$index].name }}">
            {{ row._object[$index].name }}
          </div>
        </td>
        
        <td>
          <div ng-if="!row['объекты']" class="input-field000" style="height: 2.1rem; padding: 0.25rem 0rem;">
            {{ row['всего часов'] }}
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" ng-class="{'orange-text text-darken-2': row['объекты'].length == 1}" class="input-field000" style="height: 2.1rem;  padding: 0.25rem 0rem;" title="{{ row._object[$index].name }}">
            {{ row['всего часов'][$index] }}
          </div>
          <div ng-if="row['объекты'] && row['объекты'].length > 1" class="orange-text text-darken-2" style="border-top: 1px solid;">{{ $ctrl.DataValueTotal(row, 'всего часов') }}</div>
        </td>
        
        <td>
          <div ng-if="!row['объекты']" class="input-field000" style="height: 2.1rem; padding: 0.25rem 0rem;">
            {{ row['всего смен'] }}
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" ng-class="{'orange-text text-darken-2': row['объекты'].length == 1}" class="input-field000" style="height: 2.1rem;  padding: 0.25rem 0rem;" title="{{ row._object[$index].name }}">
            {{ row['всего смен'][$index] }}
          </div>
          <div ng-if="row['объекты'] && row['объекты'].length > 1" class="orange-text text-darken-2" style="border-top: 1px solid;">{{ $ctrl.DataValueTotal(row, 'всего смен') }}</div>
        
        </td>
        
        <td>
          <div ng-if="!row['объекты']" class="input-field000" style="height: 2.1rem;  padding: 0.25rem 0rem;">
            {{ row['КТУ1'] }}
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" class="input-field000" style="height: 2.1rem;  padding: 0.25rem 0rem;" title="{{ row._object[$index].name }}">
            {{ row['КТУ1'][$index] }}
          </div>
        </td>
        <td>
          <div ng-if="!row['объекты']" class="input-field">
            <input type="text" ng-model="row['КТУ2']" ng-change="$ctrl.SaveValue(row, 'КТУ2')"  style="text-align:left;height: 2rem;" placeholder="введи" ng-disabled="!!row['Начислено']">
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" class="input-field"  title="{{ row._object[$index].name }}">
            <input type="text" ng-model="row['КТУ2'][$index]" ng-change="$ctrl.SaveValue(row, 'КТУ2', $index)"  style="text-align:left; height: 2rem;" placeholder="введи" ng-disabled="!!row['Начислено'][$index]">
          </div>
        </td>
        <td title="{{ row._profile['ИТР?'] ? 'руб/смена для ИТР' : 'руб/час' }}">
        
          <div ng-if="!row['объекты']" class="input-field">
            <input type="text" ng-model="row['Ставка']" ng-change="$ctrl.SaveValue(row, 'Ставка')" style="text-align:right;height: 2rem;" placeholder="введи" ng-disabled="!!row['Начислено']">
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" class="input-field"  title000="{{ row._object[$index].name }}">
            <input type="text" ng-model="row['Ставка'][$index]" ng-change="$ctrl.SaveValue(row, 'Ставка', $index)" style="text-align:right; height: 2rem;" placeholder="введи" ng-disabled="!!row['Начислено'][$index]">
          </div>
        </td>
        
        <td class="right-align"><div ng-if="$ctrl.DataSumIf(row)">
          <!--div ng-if="!row['объекты']" class="fs14">{{ row['Сумма'].toLocaleString('ru-RU') }}</div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" ng-class="{'orange-text text-darken-2': row['объекты'].length == 1}" class="fs14" title="{{ row._object[$index].name }}">
            {{ row['Сумма'][$index].toLocaleString('ru-RU')}}
          </div-->
          
          <div ng-if="!row['объекты']" class="input-field">
            <input type="text" ng-model="row['Сумма']" ng-change="$ctrl.SaveValue(row, 'Сумма')" style="height: 2rem; text-align: right;" placeholder="" ng-disabled="!!row['Начислено']">
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" class="input-field"  title000="{{ row._object[$index].name }}">
            <input type="text" ng-model="row['Сумма'][$index]" ng-change="$ctrl.SaveValue(row, 'Сумма', $index)" style="height: 2rem; text-align: right;" placeholder="" ng-disabled="!!row['Начислено'][$index]" ng-class="{'orange-text text-darken-2': row['объекты'].length == 1}">
          </div>
          <div ng-if="row['объекты'] && row['объекты'].length > 1" class="fs14 center000 orange-text text-darken-2" style="border-top: 1px solid;">
            {{ $ctrl.DataValueTotal(row, 'Сумма') }}
          </div>
        </td>
        <td><div ng-if000="$ctrl.DataSumIf(row)" class="000">
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" class="input-field00 center" style="height: 2.1rem; padding: 0.25rem 0rem;" title="{{ row._object[$index].name }}">
            <input type="checkbox" ng-attr-id="крыжик выплаты {{row.$$hashKey + '-' + $index}}" ng-model="row['Начислено'][$index]" ng-change000="$ctrl.SaveValue(row, 'Начислено') не срабатывает событие но крыжик переключается!!!" ng-click="$ctrl.SaveValue(row, 'Начислено', $index)" ng-true-value="1" ng-false-value="null" ng-checked="!!row['Начислено'][$index]" ng-disabled="!row['Сумма'][$index]">
            <label for="{{'крыжик выплаты ' + row.$$hashKey + '-' + $index}}" class="through">Да</label>
          </div>
          <div ng-if="!row['объекты']" class="input-field000 center" style="height: 2.1rem; padding: 0.25rem 0rem;">
            <input type="checkbox" ng-attr-id="крыжик выплаты {{$index + '-' + obj.id}}" ng-model="row['Начислено']"  ng-change000="$ctrl.SaveValue(row, 'Начислено') не срабатывает событие но крыжик переключается!!!" ng-click="$ctrl.SaveValue(row, 'Начислено')" ng-true-value="1" ng-false-value="null" ng-checked="!!row['Начислено']" ng-disabled="!row['Сумма']">
            <label for="{{'крыжик выплаты ' + $index + '-' + obj.id}}" class="through">Да</label>
          </div>
        </div></td>
        <td>
          <div ng-if="!row['объекты']" class="input-field">
            <textarea ng-model="row['Примечание']" ng-change="$ctrl.SaveValue(row, 'Примечание')" class="materialize-textarea" style="height: 2rem; min-height: auto; padding: 0px; font-size: 0.8rem; border: none;"></textarea>
          </div>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] track by $index" class="input-field"  title="{{ row._object[$index].name }}">
            <textarea ng-model="row['Примечание'][$index]" ng-change="$ctrl.SaveValue(row, 'Примечание')" class="materialize-textarea" style="height: 2rem; min-height: auto; padding: 0px; font-size: 0.8rem; border: none;"></textarea>
          </div>
        </td>
      
      </tr>
      <tr ng-if="!$ctrl.filterProfile" class="yellow lighten-4">
        <td></td>
        <td></td>
        <td></td>
        <td ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] "></td>
        <td><div class="fs14 orange-text text-darken-4">{{ $ctrl.DataValueTotal(undefined, 'всего часов', obj) }}</div></td>
        <td><div class="fs14 orange-text text-darken-4">{{ $ctrl.DataValueTotal(undefined, 'всего смен', obj) }}</div></td>
        <td></td>
        <td></td>
        <td></td>
        <td><div class="fs14 orange-text text-darken-4 right-align">{{ $ctrl.DataValueTotal(undefined, 'Сумма', obj) }}</div></td>
        <td></td>
        <td></td>
      </tr>
    
    </tbody>
  
  </table>


</div>

  <!-- Modal Trigger -->
  <!--a class="waves-effect waves-light btn" href="javascript:">Modal</a-->

  <!-- Modal Structure -->
  <div id="modal1" class="modal" style="width:90%;">
    
    <div class="modal-content">
      <div class="right">
        <a href="javascript:" class="modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
      </div>
      <div>
        <h3 ng-repeat="n in $ctrl.showDetail._profile.names track by $index" class="inline" style="padding: 0 0.1rem;">{{n}}</h3>
        <h3 class="inline chip purple-text text-darken-3">{{ dateFns.format($ctrl.showDetail['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</h3>
      
      </div>

      <table class="bordered timework000 card">
        <thead>
          <tr>
            <th class="center">Объект</th>
            <th ng-repeat="d in $ctrl.days" class="center" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'orange-text': dateFns.isToday(d)}"><div ng-repeat="f in $ctrl.FormatThDay(d)">{{f}}</div></th>
            <th class="center">Всего часов</th>
            <th class="center">Всего смен</th>
            <th class="center">КТУ уч</th>
            <th class="center">КТУ зам</th>
            <th class000="center">Примечание</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat=" (oid, row) in $ctrl.showDetail['детально'] " ng-init="$ctrl.InitDetailRow(oid, row)">
            <td><h5>{{ row._object.name }}</h5></td>
            <td ng-repeat="d in $ctrl.days" ng-init=" cell = $ctrl.InitDetailCell(row, d) " class="border middle center" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'today':dateFns.isToday(d)}" title="{{cell._title}}">
              <div style="position: relative;">
                <i ng-show="cell['коммент']" class="material-icons fs8 pink-text text-darken-4" style="position:absolute;right:0; margin:-2px;" title="{{ cell['коммент'] }}">error</i>
                <span>{{ cell['значение'] }}</span>
              <div>
            </td>
            <td class="center"><div class="bold">{{ row._total }}</div></td>
            <td class="center"><div class="bold">{{ row._cnt }}</div></td>
            <td class="center">{{ (row['КТУ1'] && row['КТУ1']['коммент']) || 1.0 }}</td>
            <td class="center">{{ (row['КТУ2'] && row['КТУ2']['коммент']) || (row['КТУ1'] && row['КТУ1']['коммент']) || 1.0 }}</td>
            <td class="fs8">{{row['Примечание'] && row['Примечание']['коммент']}}</td>
          </tr>
          <tr>
            <td></td>
            <td ng-repeat="d in $ctrl.days"></td>
            <td class="center orange-text text-darken-4 fs14" title="Всего часов на объектах">{{ $ctrl.TotalDetail('_total') }}</td>
            <td class="center orange-text text-darken-4 fs14" title="Всего смен на объектах">{{ $ctrl.TotalDetail('_cnt') }}</td>
            <td class="center"></td>
            <td class="center"></td>
            <td class000="center"></td>
          </tr>
        </tbody>
        </table>
        <div class="modal-footer000 right">
        <a href="javascript:" class="modal-action modal-close waves-effect waves-green btn-flat">ОК</a>
      </div>
    </div>
    
  </div>

</div>