@@@ time/work/report

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$ctrl.ready">
<a ng-click="$ctrl.Print()" href="javascript:" class="btn-flat black-text right">
  <i class="material-icons">print</i>
  <span>Квитки расчета</span>
</a>
<h2 class="center000">Сводка-начисление ЗП по табелю</h2>

<div class="row">
<div ng-init="$ctrl.InitMonth()" class="col s12 m3 right-align">
  <h4 class="inline" style="vertical-align:top;">Месяц</h4>
  <div class="input-field inline picker-month" style="width:10rem;">
    <input name="месяц" type="text" class="datepicker bold"  ng-focus000="$ctrl.SetDate($event)" data-value="{{ $ctrl.param['месяц'] }}" style="margin:0rem;">
  </div>
</div>

<!--ul ng-if="$ctrl.data['объекты']" class="tabs card tabs-transparent teal darken-2" style="margin:0;">
  <li class="tab">
    <h3><a ng-click="$ctrl.SelectObj(null)" href="javascript:" class="blue" ng-class="{'active': null === $ctrl.param['объект']}" style="font-size:inherit;">Все объекты</a></h3>
  </li>

  <li ng-repeat="obj in $ctrl.data['объекты']" class="tab">
    <h3><a ng-click="$ctrl.SelectObj(obj)" href="javascript:" ng-class="{'active': obj === $ctrl.param['объект']}" style="font-size:inherit;">{{obj.name}}</a></h3>
  </li>
  
  <li class="tab">
    <h3><a ng-click="$ctrl.SelectDisabledObj()" href="javascript:" class="grey darken-2" ng-class="{'active': $ctrl.param['отключенные объекты']}" style="font-size:inherit;">Сданные объекты</a></h3>
  </li>

</ul-->

<div class="col s12 m9">
<div ng-hide="$ctrl.param['общий список бригад'] || $ctrl.param['бригада']">
<div ng-hide="$ctrl.param['общий список']" class="input-field">
  <!--i class="material-icons" style="position: absolute; right:0;">arrow_drop_down</i>
  <i ng-show="$ctrl.param['объект']" ng-click=" $ctrl.param['объект']=undefined " class="material-icons orange-text" style="position: absolute; right:2rem; cursor:pointer;">cancel</i>
  <input type="text" class="bold" ng-model=" $ctrl.param['объект'].name " ng-focus="$ctrl.ToggleSelectObj($event)" ng-blur="$ctrl.ToggleSelectObj($event,true)" placeholder="выбери объект или все объекты">
  
  <ul class="dropdown-content select-dropdown" style="opacity: 1; position: absolute; top:0; width:100%;">

    <li ng-repeat="obj in $ctrl.data['объекты']" class="tab000" ng-class="{'active selected': obj === $ctrl.param['объект']}" >
      <a ng-click="$ctrl.SelectObj(obj)" href="javascript:" style000="font-size:inherit;"><h3 ng-class="obj._class">{{obj.name}}</h3></a>
    </li>
    
  </ul-->
  
  <object-my data-param="{'все объекты': true}" data-data="$ctrl.data['объекты']" data-on-select-obj="$ctrl.SelectObj(obj)"></object-my>
  
</div>

<div class="input-field">
  <input type="checkbox" id="крыжик списка" ng-model="$ctrl.param['общий список']" ng-disabled000="$ctrl.param['объект'].id" ng-change="$ctrl.LoadData($event)" ng-value=" '1' ">
  <label for="крыжик списка"><h3>Общий список работников</h3></label>
</div>
</div><!-- объекты-->

<div ng-hide="$ctrl.param['общий список'] || $ctrl.param['объект']">
<div ng-hide="$ctrl.param['общий список бригад']" class="input-field">
  <i class="material-icons" style="position: absolute; right:0;">arrow_drop_down</i>
  <!--i ng-show="$ctrl.param['бригада']" ng-click=" $ctrl.param['бригада']=undefined " class="material-icons orange-text" style="position: absolute; right:2rem; cursor:pointer;">cancel</i-->
  <svg ng-show="$ctrl.param['бригада']" ng-click=" $ctrl.param['бригада']=undefined "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle red-fill fill-darken-1" style="height: 1.5rem; position: absolute; right:2rem; cursor:pointer;" ng-include=" 'svg/left-clear-fill' " />
  <input name="выбор бригады" type="text" class="bold" ng-model=" $ctrl.param['бригада'].name " ng-focus="$ctrl.ToggleSelectObj($event)" ng-blur="$ctrl.ToggleSelectObj($event,true)" placeholder="выбери бригаду или все бригады">
  
  <ul class="dropdown-content select-dropdown" style="opacity: 1; position: absolute; top:0; width:100%;">

    <li ng-repeat="obj in $ctrl.data['бригады']" class="tab000" ng-class="{'active selected': obj === $ctrl.param['бригада']}" >
      <a ng-click="$ctrl.SelectBrig(obj)" href="javascript:" style000="font-size:inherit;"><h3 ng-class="obj._class">{{obj.name}}</h3></a>
    </li>
    
  </ul>
  
</div>

<div class="input-field">
  <input type="checkbox" id="крыжик списка бригад" ng-model="$ctrl.param['общий список бригад']" ng-disabled000="$ctrl.param['объект'].id" ng-change="$ctrl.LoadData($event)" ng-value=" '1' ">
  <label for="крыжик списка бригад"><h3>Общий список работников по бригадам</h3></label>
</div>
</div><!-- объекты-->

</div> <!-- col 2-->
</div><!-- row-->

<!--div>{{ $ctrl.param | json }}</div-->

<div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>

<!-- фильтровать профили -->
<div ng-if="$ctrl.data['данные/профили']" class="input-field">
  <a ng-show="$ctrl.filterProfile && $ctrl.filterProfile.length"  ng-click=" $ctrl.filterProfile = '' "  href="javascript:" style="position:absolute; right:0;">
    <!--i class="material-icons orange-text" >cancel</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
  </a>
  <input ng-model="$ctrl.filterProfile" placeholder="выбрать по ФИО" class="" style="margin:0; border: none;" autocomplete="off" type="text">
</div>


<div ng-if="$ctrl.param['общий список']" class="input-field">
  <!-- фильтровать ИТР" -->
  <input type="checkbox" id="фильровать ИТР" ng-model="$ctrl['фильровать ИТР']">
  <label for="фильровать ИТР" class=""><h5><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/filter' " />Только ИТР</h5></label>
  
  <input type="checkbox" id="фильровать без расчета ЗП" ng-model="$ctrl['фильровать без расчета ЗП']">
  <label for="фильровать без расчета ЗП" class=""><h5><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/filter' " />Без расчета ЗП<sup class="chip teal darken-3 white-text bold">{{ $ctrl.data['данные'].filter($ctrl.FilterCalcZP).length }}</sup></h5></label>
  
  <input type="checkbox" id="фильровать без начислений" ng-model="$ctrl['фильровать без начислений']">
  <label for="фильровать без начислений" class=""><h5><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/filter' " />Без начислений<sup class="chip teal darken-3 white-text bold">{{ $ctrl.data['данные'].filter($ctrl.FilterNotNach).length }}</sup></h5></label>
  
</div>

<!--div ng-if="$ctrl.data['данные'].length"> {{ $ctrl.DataObjsOrBrigs().filter($ctrl.objFilter) | json }}</div-->

<div ng-if="$ctrl.data['данные'].length" ng-repeat="obj in $ctrl.DataObjsOrBrigs() | filter: $ctrl.objFilter " class="" ng-style="{{ ($ctrl.param['общий список'] ? undefined : {'margin-top':'3rem'}) }}">
  <h2 ng-hide="$ctrl.param['общий список'] || $ctrl.param['общий список бригад']" class="blue-text text-darken-2">{{obj.name}}</h2>
  
  <table class="striped timework timework-report card">
    <thead><tr>
      <th style="width:1%;"></th>
      <th style="width:25%;">ФИО</th>
      <th style="width:5%;">Должность</th>
      <th style="width:20%;" ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']">Объект</th>
      <!--th style="width:20%;" ng-if="$ctrl.param['общий список бригад']">Бригада</th-->
      <th style="width:5%;">Кол-во часов</th>
      <th style="width:5%;">Кол-во смен</th>
      <th style="width:5%;">КТУ нач. уч.</th>
      <th style="width:5%;">КТУ зам. стр.</th>
      <th style="width:5%;" ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']">Ставка сут.</th>
      <th style="width:7%;" title="Ставка руб/час или руб/смена (для группы ИТР)">Ставка раб.</th>
      <th style="width:10%;">
        <div>Сумма, руб<div>
        <div class="green-text text-darken-2">начисления</div>
        <div class="blue-text text-darken-3">к выплате</div>
      </th>
      <th>
        <div class="green-text">Начислено?</div>
        <div class="blue-text text-darken-3">Расчет?</div>
      </th>
      <th style="width:7%;">Примеч.</th>
    </tr></thead>
    
    <tbody>
      <tr ng-repeat="row in $ctrl.data['данные'] | filter: $ctrl.dataFilter(obj) | orderBy: $ctrl.OrderByData"  ng-init=" $ctrl.InitRow(row, $index) " ng-attr-id="row{{ $index }}">
        <td  class="right" style="padding:0.3rem;">{{$index+1}}</td>
        <td title="{{ row._profile | json }}" ng-attr-id="profile{{ row._profile.id }}">
          <div><a ng-click="$ctrl.ShowDetail(row)" href="javascript:" data-target="modal-detail"><h5 ng-repeat="n in row._profile.names track by $index" class="inline" ng-class="{'grey-text': row._profile['двойник']}" style="padding: 0 0.1rem;">{{n}}</h5></a></div>
          <div ng-if="row._row2"><a ng-href="#profile{{ row._row2._profile.id }}" class="grey-text"> + <span ng-repeat="n in row._row2._profile.names track by $index" style="padding: 0 0.1rem;">{{n}}</span></a></div>
        </td>
        <td>
          <span ng-repeat="d in row._profile['должности'] track by $index" class="truncate chip00 fs8" style="padding: 0 0.2rem; width:10rem;">{{d.name || d}}</span>
          <span ng-repeat="b in row._profile['бригада'] track by $index" class="chip00 fs8 italic blue-grey-text" style="padding: 0 0.2rem;">{{b}}</span>
        </td>
        
        <td ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']">
          <div ng-repeat="o in row['объекты'] track by $index" class="input-field000  truncate right-align blue-text" ng-class="{'grey-text': row._profile['двойник']}" ng-style="row['стиль строки объекта']" style="width:15rem;" title="{{ row._object[$index].name }}">
            {{ row._object[$index].name }}
          </div>
          
          <div ng-if="row['показать отпускные']" class="right-align yellow-text text-darken-1" ng-style="row['стиль строки объекта']">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="circle yellow red-fill fill-darken-1" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#sun" /></svg>
            <span>Отпускные</span>
          </div>
          
          <div ng-if="row['показать суточные']" class="right-align" ng-style="row['стиль строки объекта']">
            <i class="chip black white-text fs10 material-icons">hotel</i>
            <span>Суточные</span>
          </div>
          
          
          
          <div ng-if="row._row2" ng-repeat="o in row._row2['объекты'] track by $index" class="grey-text  truncate right-align" ng-style="row['стиль строки объекта']" style="width:15rem;" title="{{ row._row2._object[$index].name }}">
            {{ row._row2._object[$index].name }}
          </div>
          
          <!--div class="print-only" style="height:12rem;"></div-->
        </td>
        
        <td>
          <!--div ng-if="!row['объекты']" class="input-field000" ng-style="row['стиль строки объекта']">
            {{ parseFloat(row['всего часов']).toLocaleString('ru-RU') }}
          </div-->
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" ng-init=" index =  row['объекты'].indexOf(o)" ng-class="{'green-text text-darken-3': row['объекты'].length == 1 && !row['показать суточные']}" class="input-field000" ng-style="row['стиль строки объекта']" title="{{ row._object[index].name }}">
            {{ parseFloat(row['всего часов'][index]).toLocaleString('ru-RU') }}
          </div>
          <div ng-if="row['объекты'] && row['показать отпускные']" class="" ng-style="row['стиль строки объекта']"><!-- пустое место  --></div>
          <div ng-if="row['объекты'] && row['показать суточные']" class="" ng-style="row['стиль строки объекта']"><!-- пустое место  --></div>
          
          <div ng-if="row['объекты'] && row._row2" class="" ng-style="row['стиль строки объекта']"><!-- пустое место двойника --></div>
          <div ng-if="row['объекты'] && row['объекты'].length > 1 && !$ctrl.param['объект']" class="green-text text-darken-3" style="border-top: 1px solid;">{{ $ctrl.DataSumTotal('всего часов', row).toLocaleString('ru-RU') }}</div>
        </td>
        
        <td>
          <!--div ng-if="!row['объекты']" class="input-field000" ng-style="row['стиль строки объекта']">
            {{ row['всего смен'] }}
          </div-->
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" ng-init=" index =  row['объекты'].indexOf(o)" ng-class="{'green-text text-darken-3': row['объекты'].length == 1 && !row['показать суточные']}" class="input-field000" ng-style="row['стиль строки объекта']" title="{{ row._object[index].name }}">
            {{ row['всего смен'][index] }}
          </div>
          <div ng-if="row['объекты'] && row['показать отпускные']" ng-style="row['стиль строки объекта']" class="yellow-text text-darken-2">{{ row['отпускных дней'] }}</div>
          <div ng-if="row['объекты'] && row['показать суточные']" class="right-align" ng-style="row['стиль строки объекта']" style="width:50%;">
            {{row['Суточные/смены']}}
          <!--div ng-if="row['объекты'] && row['показать суточные']" class="input-field" ng-style="row['стиль строки объекта']" style="width:50%;" title="суточные смены на всех объектах">
            <input type="text" ng-model="row['Суточные/смены']" ng-change="$ctrl.SaveValue(row, 'Суточные/смены', undefined, {'объект': 0})"  style="text-align:right; height: 2rem; font-size:1rem;" placeholder="" ng-disabled="!!row['Суточные/начислено']"-->
          </div>
          
          <div ng-if="row['объекты'] && row._row2" class="" ng-style="row['стиль строки объекта']"><!-- пустое место двойника --></div>
          <div ng-if="row['объекты'] && row['объекты'].length > 1 && !$ctrl.param['объект']" class="green-text text-darken-3" style="border-top: 1px solid;">{{ $ctrl.DataSumTotal('всего смен', row).toLocaleString('ru-RU') }}</div>
        
        </td>
        
        <td>
          <!--div ng-if="!row['объекты']" class="input-field000" ng-style="row['стиль строки объекта']">
            {{ row['КТУ1'] }}
          </div-->
          <div ng-if="row['объекты'] && !row._profile['двойник']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" ng-init=" index =  row['объекты'].indexOf(o)" class="input-field000" ng-style="row['стиль строки объекта']" title="{{ row._object[index].name }}">
            {{ row['КТУ1'][index] }}
          </div>
        </td>
        <td>
          <!--div ng-if="!row['объекты']" class="input-field">
            <input type="text" ng-model="row['КТУ2']" ng-change="$ctrl.SaveValue(row, 'КТУ2')"  style="text-align:left;height: 2rem;" placeholder="свой КТУ" ng-disabled="!!row['Начислено']">
          </div-->
          <div ng-if="row['объекты'] && !row._profile['двойник']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" class="input-field" ng-init=" index =  row['объекты'].indexOf(o)"  title="{{ row._object[index].name }}">
            <input type="text" ng-model="row['КТУ2'][index]" ng-change="$ctrl.SaveValue(row, 'КТУ2', index)"  style="text-align:left; height: 2rem;" placeholder="свой КТУ" ng-disabled="!!row['Начислено'][index]">
          </div>
        </td>
        
        <!------------------------- Ставка суточная ----------------------------------------------------------->
        <td ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']"> 
          <!--div ng-if="!row['объекты'] && row['Суточные']" class="input-field">
            <input type="text" ng-model="row['Суточные/ставка']" ng-change="$ctrl.SaveValue(row, 'Суточные/ставка')"  style="text-align:left;height: 2rem;" placeholder="ставка" ng-disabled="!!row['Суточные/начислено']">
          </div-->
          <div ng-if="row['объекты'] && row['Суточные']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" ng-init=" index =  row['объекты'].indexOf(o)" class="input-field"  title="{{ row._object[index].name }}">
            <input type="text" ng-model="row['Суточные/ставка'][index]" ng-change="$ctrl.SaveValue(row, 'Суточные/ставка', index)"  style="text-align:left; height: 2rem;" placeholder="{{row['Суточные'][index] ? 'суточн' : '' }}" ng-disabled="!row['Суточные'][index] || !!row['Суточные/начислено']">
          </div>
        </td>
        
        <!---------------- Ставка на объектах и отпускная --------------------------------------->
        <td title="ставка {{ row._profile['ИТР?'] ? 'руб/смена для ИТР' : 'руб/час' }}">
        
          <!--div ng-if="!row['объекты']" class="input-field">
            <input type="text" ng-model="row['Ставка']" ng-change="$ctrl.SaveValue(row, 'Ставка')" style="text-align:right;height: 2rem;" placeholder=" ставку" ng-disabled="!!row['Начислено']">
          </div-->
          <div ng-if="row['объекты'] && !row._profile['двойник']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" class="input-field" ng-init=" index =  row['объекты'].indexOf(o)"  title000="{{ row._object[index].name }}">
            <input type="text" ng-model="row['Ставка'][index]" ng-change="$ctrl.SaveValue(row, 'Ставка', index)" style="text-align:right; height: 2rem;" placeholder="ставку" ng-disabled="!!row['Начислено'][index]">
          </div>
          
          <div ng-if="row['объекты'] && row['показать отпускные']" class="input-field" title="ставка на отпускные">
            <input type="text" ng-model="row['Отпускные/ставка']" ng-change="$ctrl.SaveValue(row, 'Отпускные/ставка', undefined, {'объект': 0})" class="yellow-text text-darken-2" style="text-align:right; height: 2rem;" placeholder="ставку" ng-disabled="!!row['Отпускные/начислено']">
          </div>
          
        </td>
        
        <!---------------- Суммы начислений и расчетов --------------------->
        <td class="right-align"><div ng-if="$ctrl.DataSumIf(row)">
          <!--div ng-if="!row['объекты']" class="input-field">
            <input type="text" ng-model="row['Сумма']" ng-change="$ctrl.SaveValue(row, 'Сумма')" style="height: 2rem; text-align: right;" placeholder="или сумму" ng-disabled="!!row['Начислено']">
          </div-->
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" class="input-field" ng-init=" index =  row['объекты'].indexOf(o)"  title000="{{ row._object[index].name }}">
            <input type="text" ng-model="row['Сумма'][index]" ng-change="$ctrl.SaveValue(row, 'Сумма', index)" style="height: 2rem; text-align: right;" placeholder="или сумму" ng-disabled="!!row['Начислено'][index]" ng-class="{'green-text text-darken-3': row['объекты'].length == 1 && !row['показать суточные']}">
          </div>
          
          <!--- отпускная сумма --->
          <div ng-if="($ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']) && row['показать отпускные']" class="input-field" title="отпускная сумма">
            <input type="text" ng-model="row['Отпускные/сумма']" ng-change="$ctrl.SaveValue(row, 'Отпускные/сумма', undefined, {'объект': 0})" class="yellow-text text-darken-2" style="text-align:right; height: 2rem;" placeholder="сумма отпуск" ng-disabled="!!row['Отпускные/начислено']">
          </div>
          
           <!--- суточ -->
          <div ng-if="($ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']) && row['показать суточные']" class="input-field"><!---  суточные -->
            <input type="text" ng-model="row['Суточные/сумма']" ng-change="$ctrl.SaveValue(row, 'Суточные/сумма', undefined, {'объект': 0})"  style="text-align:right; height: 2rem;" placeholder="сумма сут" ng-disabled="!!row['Суточные/начислено']">
          </div>
          
          <div ng-if="row._row2"><!-- Двойник -->
            <input type="text" ng-model="row._row2['Сумма'][0]" ng-change="$ctrl.SaveValue(row._row2, 'Сумма', 0)" style="height: 2rem; text-align: right;" placeholder="сумма" ng-disabled="!!row._row2['Начислено'][0]" ng-class000="{'green-text text-darken-3': row['объекты'].length == 1 && !row['показать суточные']}">
          </div>
          
          <div ng-if="row['объекты'] && (row['объекты'].length > 1 || row['показать отпускные'] || row['показать суточные'] || row._row2) && !$ctrl.param['объект']" class="fs12 center000 green-text text-darken-3" style="border-top: 1px solid;">
            {{ ($ctrl.DataSumTotal('Сумма', row) + (row._row2 ? (parseFloat(Util.numeric(row._row2['Сумма'][0]) || 0)) : 0) ).toLocaleString('ru-RU') }}
          </div>
          
          
          
          <div ng-if="!!row['РасчетЗП'] || !!row._row2['РасчетЗП']" title="расчетый лист">
            <!--a ng-click="$ctrl.ToggleCalcZP(row)" href="javascript:" class="fs12 blue-text text-darken-3 bold" >
              <i class="material-icons">keyboard_arrow_down</i></a-->
              к выплате
              <span class="fs12 blue-text text-darken-3 bold">{{ (parseFloat(Util.numeric(row['РасчетЗП'] || 0)) + (row._row2 ? (parseFloat(Util.numeric(row._row2['РасчетЗП']) || 0)) : 0) ).toLocaleString('ru-RU') }}</span>
            
          </div>
        </td>
        
        <!------------- крыжики начислений  ----------------------->
        <td>
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" class="input-field00 center" ng-style="row['стиль строки объекта']" title="{{ row._object[$index].name }}" ng-init=" index =  row['объекты'].indexOf(o)">
            <input type="checkbox" ng-attr-id="крыжик выплаты {{row.$$hashKey + '-' + index}}" ng-model="row['Начислено'][index]" ng-change000="$ctrl.SaveValue(row, 'Начислено') не срабатывает событие но крыжик переключается!!!" ng-click="$ctrl.ConfirmValue(row, 'Начислено', index)" ng-true-value="true" ng-false-value="null" ng-checked="!!row['Начислено'][index]" ng-disabled="!row['Сумма'][index] || !!row['РасчетЗП']" style="display:none;">
            <label for="{{'крыжик выплаты ' + row.$$hashKey + '-' + $index}}" class="through middle text-darken-3" ng-class="{'green-text': !!row['Начислено'][$index] && !row['РасчетЗП'], 'blue-text': !!row['РасчетЗП']}">Да</label>
          </div>
          
          <!-- крыжик для отпускных --->
          <div ng-if="($ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']) && row['показать отпускные']" class="input-field000 center" ng-style="row['стиль строки объекта']">
            <input type="checkbox" ng-attr-id="крыжик начисл отпуск-{{row.$$hashKey}}" ng-model="row['Отпускные/начислено']"  ng-click="$ctrl.ConfirmValue(row, 'Отпускные/начислено')" ng-true-value="true" ng-false-value="null" ng-checked="!!row['Отпускные/начислено']"  ng-disabled="!!row['РасчетЗП']" style="display:none;"><!--- колбасня не катит ng-disabled="!row['Отпускные/cумма'] || !!row['РасчетЗП']" -->
            <label for="{{'крыжик начисл отпуск-'+ row.$$hashKey }}" class="through middle text-darken-3" ng-class="{'green-text': !!row['Отпускные/начислено'] && !row['РасчетЗП'], 'blue-text': !!row['РасчетЗП']}">Да</label>
          </div>
          
          <!--div ng-if="!row['объекты']" class="input-field000 center" ng-style="row['стиль строки объекта']">
            <input type="checkbox" ng-attr-id="крыжик выплаты {{$index + '-' + obj.id}}" ng-model="row['Начислено']"  ng-change000="$ctrl.SaveValue(row, 'Начислено') не срабатывает событие но крыжик переключается!!!" ng-click="$ctrl.ConfirmValue(row, 'Начислено')" ng-true-value="true" ng-false-value="null" ng-checked="!!row['Начислено']" ng-disabled="!row['Сумма']">
            <label for="{{'крыжик выплаты ' + $index + '-' + obj.id}}" class="through">Да</label>
          </div-->
          
          <!--- крыжик для  суточных -->
          <div ng-if="($ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']) && row['показать суточные']" class="input-field000 center" ng-style="row['стиль строки объекта']">
            <input type="checkbox" ng-attr-id="крыжик начисл суточ-{{row.$$hashKey}}" ng-model="row['Суточные/начислено']"  ng-change000="$ctrl.SaveValue(row, 'Суточные/начислено', undefined, {'объект':0}) не срабатывает событие но крыжик переключается!!!" ng-click="$ctrl.ConfirmValue(row, 'Суточные/начислено')" ng-true-value="true" ng-false-value="null" ng-checked="!!row['Суточные/начислено']" ng-disabled00="!row['Суточные/cумма']" ng-disabled="!!row['РасчетЗП']" style="display:none;"><!--- колбасня не катит ng-disabled="!row['Суточные/cумма'] || !!row['РасчетЗП']" -->
            <label for="{{'крыжик начисл суточ-'+ row.$$hashKey }}" class="through middle text-darken-3" ng-class="{'green-text': !!row['Суточные/начислено'] && !row['РасчетЗП'], 'blue-text': !!row['РасчетЗП']}">Да</label>
          </div>
          
          <div ng-if="row['объекты'] && row._row2"  class="input-field00 center" ng-style="row['стиль строки объекта']" title="начисление двойнику">
            <input type="checkbox" ng-attr-id="крыжик выплаты двойника {{row.$$hashKey}}" ng-model="row._row2['Начислено'][0]" ng-click="$ctrl.ConfirmValue(row._row2, 'Начислено', 0)" ng-true-value="true" ng-false-value="null" ng-checked="!!row._row2['Начислено'][0]" ng-disabled="!row._row2['Сумма'][0] || !!row._row2['РасчетЗП']" style="display:none;">
            <label for="{{'крыжик выплаты двойника ' + row.$$hashKey }}" class="through middle text-darken-3" ng-class="{'green-text': !!row._row2['Начислено'][0] && !row._row2['РасчетЗП'], 'blue-text': !!row._row2['РасчетЗП']}">Да</label>
          </div>
          
        </td>
        <td>
          <!--div ng-if="!row['объекты']" class="input-field">
            <textarea ng-model="row['Примечание']" ng-change="$ctrl.SaveValue(row, 'Примечание')" class="materialize-textarea" style="height: 2rem; min-height: auto; padding: 0px; font-size: 0.8rem; border: none;"></textarea>
          </div-->
          <div ng-if="row['объекты']" ng-repeat="o in row['объекты'] | filter: $ctrl.FilterRowObj(obj)  track by $index" class="input-field"  title="{{ row._object[$index].name }}">
            <textarea ng-model="row['Примечание'][$index]" ng-change="$ctrl.SaveValue(row, 'Примечание')" class="materialize-textarea" style="height: 2rem; min-height: auto; padding: 0px; font-size: 0.8rem; border: none;"></textarea>
          </div>
        </td>
      
      </tr>
      <tr ng-if="!$ctrl.filterProfile" class="yellow lighten-4">
        <td colspan="{{ $ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада'] ? '4' : '3' }}"><h3 class="right-align">ИТОГО</h3></td>
        <!--td></td>
        <td></td-->
        <!--td ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']"></td-->
        <td title="общая сумма часов по списку"><div class="fs14 green-text text-darken-3">{{ $ctrl.DataSumTotal('всего часов', obj).toLocaleString('ru-RU') }}</div></td>
        <td title="общая сумма смен по списку"><div class="fs14 green-text text-darken-3">{{ $ctrl.DataSumTotal('всего смен', obj).toLocaleString('ru-RU') }}</div></td>
        <td></td>
        <td></td>
        <td ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад'] || $ctrl.param['бригада']"> <!--- Ставка суточ --></td>
        <td></td>
        <td title="общая сумма денег по списку">
          <div class="fs14 green-text text-darken-3 right-align" title="ИТОГО начислено">{{ $ctrl.DataSumTotal('Сумма', obj).toLocaleString('ru-RU') }}</div>
          <div ng-if="$ctrl.param['общий список'] || $ctrl.param['общий список бригад']" class="fs14 blue-text text-darken-3 right-align" title="ИТОГО к выплате">{{ $ctrl.DataSumTotal('РасчетЗП', obj).toLocaleString('ru-RU') }}</div>
          
        </td>
        <td></td>
        <td></td>
      </tr>
    
    </tbody>
  </table>

</div>

<!-- Modal Trigger -->
<!--a class="waves-effect waves-light btn" href="javascript:">Modal</a-->

<!-- Modal Structure -->
<div id="modal-detail" class="modal" data-endingTop="7%" style="width:97%; max-height: 92%;">
  
  <div class="modal-content">
    <div class="right">
      <a href="javascript:" class="modal-action modal-close waves-effect waves-green red-text btn-flat">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
        <span>Закрыть</span>
      </a>
    </div>
    <div>
      <h3 ng-repeat="n in $ctrl.showDetail._profile.names track by $index" class="inline" style="padding: 0 0.1rem;">{{n}}</h3>
      <h3 class="inline chip white-text purple darken-3" style="padding:0.5rem;">{{ dateFns.format($ctrl.showDetail['месяц'], 'MMMM YYYY', {locale: dateFns.locale_ru}) }}</h3>
    
    </div>

    <table class="bordered timework000 card">
      <thead>
        <tr>
          <th class="center">Объект</th>
          <th ng-repeat="d in $ctrl.days" class="center" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'orange-text': dateFns.isToday(d)}"><div ng-repeat="f in $ctrl.FormatThDay(d)">{{f}}</div></th>
          <th class="center">Всего часов</th>
          <th class="center">Всего смен</th>
          <th class="center">КТУ уч</th>
          <th class="center">КТУ зам</th>
          <th class000="center">Примечание</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat=" (oid, row) in $ctrl.showDetail['табель'] " ng-init="$ctrl.InitDetailRow(oid, row)">
          <td><h5>{{ row._object.name }}</h5></td>
          <td ng-repeat="d in $ctrl.days" ng-init=" cell = $ctrl.InitDetailCell(row, d) " class="border middle center" ng-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'today':dateFns.isToday(d)}" title="{{cell._title}}">
            <div style="position: relative;">
              <i ng-show="cell['коммент']" class="material-icons fs8 pink-text text-darken-4" style="position:absolute;right:0; margin:-2px;" title="{{ cell['коммент'] }}">error</i>
              <span>{{ cell['значение'] }}</span>
            </div>
          </td>
          <td class="center"><div class="bold">{{ row._total }}</div></td>
          <td class="center"><div class="bold">{{ row._cnt }}</div></td>
          <td class="center">{{ (row['КТУ1'] && row['КТУ1']['коммент']) || 1.0 }}</td>
          <td class="center">{{ (row['КТУ2'] && row['КТУ2']['коммент']) || (row['КТУ1'] && row['КТУ1']['коммент']) || 1.0 }}</td>
          <td class="fs8">{{row['Примечание'] && row['Примечание']['коммент']}}</td>
        </tr>
        <tr>
          <td></td>
          <td ng-repeat="d in $ctrl.days"></td>
          <td class="center orange-text text-darken-4 fs14" title="Всего часов на объектах">{{ $ctrl.TotalTabel('_total') }}</td>
          <td class="center orange-text text-darken-4 fs14" title="Всего смен на объектах">{{ $ctrl.TotalTabel('_cnt') }}</td>
          <td class="center"></td>
          <td class="center"></td>
          <td class000="center"></td>
        </tr>
      </tbody>
      </table>
    
    <div ng-if="$ctrl.showDetail['параметры расчетов']">
      <!--a ng-click=" add_money = true " href="javascript:" class="btn-flat right blue-text">
        <i class="material-icons">add_box</i>
        <span>Добавить запись ДС</span>
      </a-->
      <money-table data-param="$ctrl.showDetail['параметры расчетов']"></money-table>
      
      <timework-pay-form data-param="$ctrl.showDetail['параметры расчетов']" data-on-close-pay="$ctrl['Закрытие расчета'](item)"></timework-pay-form>
      <money-form ng-if000="add_money" data-param="$ctrl.showDetail['параметры расчетов']" data-on-save="$ctrl.ShowDetailOnSaveMoney(data)" data-data-не-катит="$ctrl.showDetail['данные формы ДС']"></money-form>
      
      <!-- по двойнику --->
      <timework-pay-form ng-if="$ctrl.showDetail['параметры расчетов2']" data-param="$ctrl.showDetail['параметры расчетов2']" data-on-close-pay="$ctrl['Закрытие расчета'](item)"></timework-pay-form>
      <money-form ng-if="$ctrl.showDetail['параметры расчетов2']"  data-param="$ctrl.showDetail['параметры расчетов2']" data-on-save="$ctrl.ShowDetailOnSaveMoney(data)" data-data-не-катит="$ctrl.showDetail['данные формы ДС']"></money-form>
    </div>
    
    <!--div class="modal-footer000">
      <a href="javascript:" class="modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div-->
  </div>
  
</div>



<!-- Modal Trigger -->
<!--a class="waves-effect waves-light btn" href="javascript:">Modal</a-->

<!-- Modal Structure -->
<div id="modal-confirm-checkbox" class="modal" style="width:50%; max-height: 50%; top:0rem;">
  
  <div ng-if="$ctrl['modal-confirm-checkbox']" ng-init="confirm = $ctrl['modal-confirm-checkbox']" class="modal-content">
    <!--div class="right">
      <a ng-click="$ctrl.ConfirmValueNOT()" href="javascript:" class="modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
    
    confirm.row['Начислено'] | json
    </div-->
    
    <h3>¿ Точно {{ (confirm.idx === undefined && confirm.row[confirm.name]) || (confirm.idx !== undefined && confirm.row[confirm.name][confirm.idx]) ? 'начислить' : 'отменить начисление' }} <span class="chip deep-orange white-text">{{confirm.sum}} руб</span> {{confirm.row._profile.names.join(' ')}}?</h3>
    
    
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.ConfirmValueOK()" href="javascript:" class="modal-action modal-close waves-effect waves-teal btn-flat green-text fs18">ДА</a>
    <a ng-click="$ctrl.ConfirmValueNOT()" href="javascript:" class="modal-action modal-close waves-effect waves-red btn-flat red-text fs18 left">НЕТ</a>
  </div>
  
</div>

</div>