<div
  class="rating-stars-container"
  layout="row" >

  <!--a
    class="button"
    ng-click="ctrl.setRating(0)"
    ng-if="!ctrl.readOnly" >
    <i class="material-icons">remove_circle_outline</i>
  </a-->

  <a
    class="star-button"
    ng-class="item.class"
    ng-mouseover="ctrl.setMouseOverRating($index + 1)"
    ng-mouseleave="ctrl.setMouseOverRating(ctrl.rating)"
    ng-click="ctrl.setRating($index + 1)"
    ng-repeat="item in ctrl.starsArray" >
    <i class="material-icons">star</i>
  </a>
  <span ng-show00="ctrl.rating" class="grey-text">({{ctrl.rating}})</span>

</div>
