@@@ tmc/zamstroy/tabs

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready" ng-include=" 'tmc/tabs-lib' "></div>
<div ng-if="$c.ready">
<tmc-sklad-inv-table ng-if="$c.tab && $c.tab.title == 'Списания ТМЦ' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр000': $c.tab['фильтр'], tableClass: $c.tab.liClass, 'принять позицию тмц': {model: 'принял', title: 'Принять списание', OnConfirm: $c.OnConfirmSpis} } " data-param=" param " data-data="$c.data['списания']" ></tmc-sklad-inv-table><!--- список как инвентариз -->

<tmc-ostat-table ng-if-000="" ng-show="$c.tab && $c.tab.title == 'Наличие ТМЦ' " ng-init=" paramOst = {'объект': $c.param['объект'], tableClass: $c.tab.liClass, } " data-param=" paramOst " data-data="$c.data['остатки']"></tmc-ostat-table>
</div>
