@@@ tmc/ostat/table
<!--- текущие остатки --->

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<tmc-spis-form ng-if=" paramSpis " data-open=" $c['списание'] " data-param=" paramSpis " data-on-cancel="$c.CloseFormSpis(data)"></tmc-spis-form>
<tmc-baza-form ng-if=" paramMove " data-open=" $c['перемещение'] " data-param=" paramMove " data-on-cancel="$c.CloseFormMove(data)"></tmc-baza-form>

<div ng-if="$c.ready" class="z-depth-3 " ng-class=" $c.param.tableClass || 'teal  lighten-4 ' ">

<!-- фильтровать -->
<div class="row-000">

    <div class="chip" style="margin-left: 0.2rem;" title="позиций отфильтровано">
      <i class="material-icons fs18">filter_list</i>
      <span class="bold">{{ $c['@номенклатура/id'].length }}</span> из <span class="bold">{{ $c['@номенклатура без фильтрации/id'].length }}</span>
    </div>

  <div class="input-field col-000-s1 chip green lighten-3" ng-init="ddd = $c.TitleDates()" title="{{ ddd | json }}">
    <input type="checkbox" ng-attr-id="крыжик-только-приходы" class="" ng-model=" $c['крыжик только приходы'] " ng-change="$c.RefreshTable()" ng-disabled=" !($c['крыжик текущие приходы'] || $c['крыжик предыдущие приходы']) " style="height: auto;"  >
    <label for="крыжик-только-приходы" class="before-green before-lighten-4 green-text text-darken-4 hover-shadow3d nowrap truncate-000" style-000="width:6rem;" title=" показать только строки с поступлениями "><i class="material-icons">add_circle_outline</i> Позиции с приходами</label>

  </div>
  
  
  <div class="input-field col-000-s1 chip teal lighten-3">
    <input type="checkbox" ng-attr-id="крыжик-все-остатки" class="" ng-model=" $c['крыжик все остатки'] " ng-change="$c.RefreshTable()" style="height: auto;"  >
    <label for="крыжик-все-остатки" class="before-teal before-lighten-4 teal-text text-darken-4 hover-shadow3d nowrap" ng-class="">ноль на остатке</label><!--&#8203; осторожно, тут пробел нулевлой ширины--->
  </div>
  
    <div class="chip transparent">
      <div class="input-field chip padd-0-05-000">
        <input type="text" ng-model="$c['фильтр наименования']" ng-change="$c.ChangeNomenFilter($event) " placeholder="фрагмент наименования" style="border: none; font-weight: normal;" title="фильтровать позиции по символам в наименовании">
        <a ng-show=" $c['фильтр наименования'] " ng-click=" $c.ChangeNomenFilter(undefined, '') " href="javascript:" style="position: absolute; z-index: 1; right:0.7rem; top:0.3rem;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill fill-darken-1" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#left-clear-fill"></use></svg>
        </a>
      </div>
      
      <div class="chip padd-0-05-000" style="width:30vw;">
        <tree-item ng-init=" param = {'не добавлять новые позиции': true, placeholder: 'точно наименование/группа ТМЦ', 'подпись не найдно': false} " data-item=" $c.nomenTreeItem " data-data="$c['номенклатура']" data-param=" param " data-on-select-item=" $c.OnSelectNomenTreeItem(item) " title=" указать позицию номенклатуры или папку позиций "></tree-item>
      </div>
      
    </div>
</div>

<!------------------------------------------------------------>

<div ng-show=" $c._refreshTable " ng-include=" 'progress/load' "></div>

<table ng-if=" !$c._refreshTable " ng-init="$c.InitTable()" class="highlight bordered striped z-depth-3 animated slideInUp" ng-class=" $c.param.tableClass || 'teal  lighten-4 ' ">
<thead ng-class=" $c.param.theadClass || 'teal  lighten-3 ' ">
  <tr>
    <!--th style="width:1%;"></th--><!--крыжики -->
    <th colspan="2" class="relative" style="    min-width: 30vw; ">

      <!--h4 class="fw500">Наименование</h4-->
      <div class="chip" style="padding: 0.2rem;">
        <h5 class="iblock">Показать в позициях: </h5>
        <div class="input-field chip padd-0-05-000 green lighten-3 right">
          <input type="checkbox" ng-attr-id="крыжик-текущие-приходы" class="" ng-model=" $c['крыжик текущие приходы'] " ng-change="$c.ChangeChbPlus()" style="height: auto;"  >
          <label for="крыжик-текущие-приходы" class="before-green before-lighten-4 green-text text-darken-4 hover-shadow3d nowrap truncate-000" style-000="width:7rem;" title="поступило на объект с [{{ ddd[1] }}] по [{{ ddd[2] }}] "><i class="material-icons">add_circle_outline</i> Текущие приходы</label>
        </div>
        <div class="input-field chip padd-0-05-000 green lighten-3 right clearfix">
          <input type="checkbox" ng-attr-id="крыжик-предыдущие-приходы" class="" ng-model=" $c['крыжик предыдущие приходы'] " ng-change="$c.ChangeChbPlus()" style="height: auto;"  >
          <label for="крыжик-предыдущие-приходы" class="before-green before-lighten-4 green-text text-darken-4 hover-shadow3d nowrap truncate-000" style-000="width:7rem;" title="поступило на объект с [{{ ddd[0] }}] по [{{ ddd[1] }}] "><i class="material-icons">add_circle_outline</i> Предыдущие приходы</label>
        </div>
      </div>
      

      
    </th>
    <th ng-repeat=" oid in $c['@объекты/id/фильтр'] | orderBy: $c.OrderByObject " ng-init=" o = $c['$объекты'][oid];" class="center vbottom teal-lighten-2 relative" style="width:1%; padding: 0.5rem 0.1rem 0;" ng-style="$c['крыжик только объект'] || $c['@объекты/id/фильтр'].length == 1 ? {} : {'border-left': '1px dotted teal'}">
      <h6 ng-show-000="!$c.param['объект'] || !$c.param['объект'].id || $c.param['объект'].id != o.id " class="chip padd-0-02 iblock truncate " style="width: 4rem;" title="{{ o.name }}">
        <a ng-click="$c.SetFilterObject(o)" href="javascript:" class="hover-shadow3d blue-text text-darken-4 fw500"><span>{{ o.name }}</span></a>
      </h6>
      <a ng-hide-000="!$c.param['объект'].id" ng-if=" $c.ShowMoveBtn(oid) " ng-click="$c.NewMove(oid)" href="javascript:" class="btn-flat red-000-lighten-3 red-text text-darken-3" style-000="position: absolute; z-index: 1; right:0;" title="в перемещение">
        <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" style="height: 1.2rem;" class="red-fill fill-darken-3"><use xlink:href="/fonts/icons.svg#from-location"></use></svg-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="rotate90left red-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#2arrows-180vert"></use></svg>
        <!--span>Все в перемещение</span-->
      </a>
      <a ng-if=" $c.ShowMoveBtn(oid) " ng-click="$c.NewSpis(oid)" href="javascript:" class="btn-flat red-text text-darken-3" style-000="position: absolute; z-index: 1; right:0;" title="в списание">
        <i class="material-icons">remove_circle_outline</i>
      </a>
      <!--div>{{ o['$проект'].name }}</div-->
      <div ng-if="$c['крыжик только объект'] || $c.param['объект'].id" style="position: absolute; /*top:0;*/ right: -12rem;">
        <a ng-click=" $c.Print() " href="javascript:" class="btn-flat z-depth-3">
          <i class="material-icons">print</i>
          Печать списка
        </a>
      </div>
    </th>
  </tr>
</thead>
<tbody>
<!--tr ng-repeat="row in $c.data | orderBy: $c.OrderBy" ng-init="$c.InitRow(row)"| filter : $c.FilterByNomen -->
<tr  ng-repeat="nid in $c['@номенклатура/id'] | orderBy: $c.OrderByNomen" ng-init=" nomen = $c['$номенклатура'][nid]; ">
  <td class="vtop" >
    <div class="input-field center" style="padding: 0.5rem 0;">
      <input type="checkbox" ng-attr-id="крыжик-{{ nid }}" class="" ng-model=" $c['крыжики номенклатуры'][nid] " style="height: auto;"  >
      <label for="крыжик-{{ nid }}" class="before-yellow before-lighten-3 teal-text text-darken-4 hover-shadow3d" ng-class="">&#8203;</label><!-- осторожно, тут пробел нулевлой ширины--->
    </div>
  </td>
  <td class=" " ng-class-000="{'vbottom': $c['$приходы'] && $c['$приходы'][nid] && $c['$приходы'][nid]['@приходы'] && $c['$приходы'][nid]['@приходы'].length }">
    
    <h5><a ng-click=" $c['крыжики номенклатуры'][nid] = !$c['крыжики номенклатуры'][nid];  " href="javascript:" class="hover-shadow3d">
      <span ng-if=" nomen.parents_title && nomen.parents_title.length && nomen.parents_title[0] " ng-repeat="n in nomen.parents_title track by $index" class="breadcrumb">{{n}}</span>
      <span class="breadcrumb">{{ nomen.title }}</span>
      <span class="padd-0-05 grey-text fs8">#{{ nomen.id }}</span>
    </a></h5>
    
    <!--- строки приходов ---><!--ng-if-000=" ($c['крыжик текущие приходы'] || $c['крыжик предыдущие приходы']) && $c['$приходы'][nid] "-->
    <ul ng-if="$c['$приходы'][nid]['@_приходы'] && $c['$приходы'][nid]['@_приходы'].length"  class="collection-000 right-align" style="margin:0;">
      <li ng-repeat=" p in $c['$приходы'][nid]['@_приходы'] " class=" " title-000="{000{ p | json }}">
        <div class="chip nowrap green lighten-2">
          <i class="material-icons fs10">add_circle_outline</i>
          <span class="" title="{{ $c.FormatDate(p['дата']) }}">{{ $c.FormatDate2(p['дата']) }} </span>
          <span ng-if=" p['объект2/id'] " class="chip padd-0-05 blue-text-darken-3 truncate nowrap" ng-style="$c['крыжик только объект'] || $c['@объекты/id/фильтр'].length == 1 ? {'width': '10rem'} : {'width': '5rem'}" title="перемещено из: {{ $c['$объекты'][p['объект2/id']].name }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="blue-fill-darken-3" style="height: 0.8rem;"><use xlink:href="/fonts/icons.svg#from-location"></use></svg>
            {{ $c['$объекты'][p['объект2/id']].name }}
          </span>
          <span ng-if=" !p['объект2/id'] " class="leaf padd-0-05 green darken-3 white-text truncate nowrap" style="" ng-style="$c['крыжик только объект'] || $c['@объекты/id/фильтр'].length == 1 ? {'width': '10rem'} : {'width': '5rem'}" title="закуплено: {{ p['@грузоотправители'][0].title }}">
            <i class="icon icon-left  before-rotate90left fs8"></i>
            {{ p['@грузоотправители'][0].title }}
          </span>
          <span ng-if-000=" p['объект/id'] " class="chip padd-0-05 blue-text-darken-3 truncate nowrap" ng-style="$c['крыжик только объект'] || $c['@объекты/id/фильтр'].length == 1 ? {'width': '10rem'} : {'width': '5rem'}" title="получено в: {{ $c['$объекты'][p['объект/id']].name }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="blue-fill-darken-3" style="height: 0.8rem;"><use xlink:href="/fonts/icons.svg#to-location"></use></svg>
            {{ $c['$объекты'][p['объект/id']].name }}
          </span>
          
          <span class="chip shadow-inset-10 padd-0-05 fs8 truncate nowrap" ng-style="$c['крыжик только объект'] || $c['@объекты/id/фильтр'].length == 1 ? {'width': '10rem'} : {'width': '5rem'}" title="{{ p['профиль/names'].join(' ') }}">{{ p['профиль/names'].join(' ') }}</span>
        </div>
        
      </li>
    </ul>
    
  </td>
  <td ng-repeat=" oid in $c['@объекты/id/фильтр'] | orderBy: $c.OrderByObject " ng-init=" row = $c.InitRow($c.$data[oid][nid])" class="center" ng-class="{'vbottom': $c['$приходы'] && $c['$приходы'][nid] && $c['$приходы'][nid]['@приходы'] && $c['$приходы'][nid]['@приходы'].length }" ng-style="$c['крыжик только объект']  || $c['@объекты/id/фильтр'].length == 1 ? {} : {'border-left': '1px dotted teal'}" >
    <div ng-if="row && row.hasOwnProperty('остаток')" ng-hide="!$c['крыжик все остатки'] && parseFloat(row['остаток']) == 0" title="{{ row['номенклатура'].parents_title.join('〉')+ '〉'+ row['номенклатура'].title }} | {{ row['объект'].name }}">
      <a ng-click="$c.ShowMoveTMC(row)" href="javascript:" class="fs12 bold hover-shadow3d-000 btn-flat" ng-class="{'red darken-2 white-text': parseFloat(row['остаток']) < 0, 'green-text text-darken-4': parseFloat(row['остаток']) > 0, 'grey-text': parseFloat(row['остаток']) == 0 }">
        {{ row['остаток'] }}
      </a>
    </div>
    
    <!--- строки приходов ---><!--ng-if-000=" ($c['крыжик текущие приходы'] || $c['крыжик предыдущие приходы']) && $c['$приходы'][nid] "-->
    <ul ng-if="$c['$приходы'][nid]['@_приходы'] && $c['$приходы'][nid]['@_приходы'].length"  class="collection-000" style="margin:0;">
      <li ng-repeat=" p in $c['$приходы'][nid]['@_приходы'] "  class="collection-item-000 center chip transparent" >
        <span class="chip padd-0-05" ng-class="{'transparent': p['объект/id'] != oid, 'green lighten-2': p['объект/id'] == oid, }" title="{{ p['объект/id'] == oid && $c.TitlePlus(p, row) }}">{{ p['объект/id'] == oid ? '+'+p['количество'] : '&nbsp;' }}</span>
      </li>
    </ul>
    
  </td>
  <!--td style="width:40%;">
    <span ng-show="!($c.param['объект'] && $c.param['объект'].id && $c.param['объект'].id == row['объект/id']) " class="right-align000 orange-text text-darken-4">{{ row['объект'].name }} ({{ row['объект']['$проект'].name }})</span>
  </td-->

</tr>

</tbody>
</table>


</div>

<!-- Modal Structure -->
<div id="move-detail" class="modal" style="max-height:94%; width:94%; top: 5%; " data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 " data-modal-in="animated zoomIn" data-modal-out="animated slideOutUp faster" >
  
  <div class="modal-content">
    <a href="javascript:" class="modal-action modal-close  btn-flat z-depth-1 white red-text right" style-000="position: absolute; z-index: 1; right:0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#cancel"></use></svg> Закрыть</a>
    <h2 class="row">Движение ТМЦ 
      <span class="" title="{{ $c.moveDetailTMC['номенклатура'] | json }}">
        <span ng-repeat="n in $c.moveDetailTMC['номенклатура'].parents_title track by $index" ng-hide="!n" class="breadcrumb brown-text-darken-3 fw500"><span class="chip shadow-inset-10">{{n}}</span></span>
        <span class="breadcrumb brown-text-darken-3 fw500"><span class="chip shadow-inset-10 ">{{ $c.moveDetailTMC['номенклатура'].title }}</span></span>
      </span>
    </h2>
    <h2 class="row">По объекту
    
      <span class="chip z-depth-1 blue-text-darken-3 shadow-inset-10 fw500">
        {{ $c.moveDetailTMC['объект'].name }} ({{ $c.moveDetailTMC['объект']['$проект'].name }})
      </span>
    </h2>
    
    <div ng-if="$c.moveDetailTMC" ng-hide="$c.moveDetailTMC['движение']" ng-include=" 'progress/load' "></div>
    
    <table ng-if="$c.moveDetailTMC['движение']" class="striped bordered z-depth-3 teal lighten-4">
    <thead class="grey lighten-2">
      <tr>
        <th style="width:1%;"><h4 class="fw500 black-text000">Дата</h4></th>
        <th class="green lighten-3" style="width:1%;"><h4 class="green-text text-darken-3 center nowrap fw500"><i class="material-icons">add_circle_outline</i>Поступило</h4></th>
        <th class="green lighten-3"><h4 class="green-text text-darken-3 fw500"><i class="icon-left fs10"></i>Откуда</h4></th>
        <th class="red lighten-3" style="width:1%;"><h4 class="red-text text-darken-3  nowrap fw500"><i class="material-icons">remove_circle_outline</i>Перемещено</h4></th>
        <th class="red lighten-3"><h4 class="red-text text-darken-3 fw500"><i class="icon-left before-rotate180 fs10"></i>Куда</h4></th>
        <th><h4 class="fw500 black-text000">По заявке</h4></th>
        <!--th></th-->
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="row in $c.moveDetailTMC['движение']" ng-init="$c.InitRow(row)" ng-class="{'blue lighten-3': row['инвентаризация'], }">
        <td class=" relative vtop">
          <span class="nowrap" title="дата приема">
            <span class="fs8"> {{ row['$дата']['день нед'] }} </span>    <span class="bold"> {{ row['$дата']['day'] }} </span>   <span class="fs8"> {{ row['$дата']['мес'] }} </span>
          </span>
          <span class="chip padd-0-05 fs8 nowrap" title="повесил">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill" style="height: 0.7rem;"><use xlink:href="/fonts/icons.svg#person"></use></svg>
            {{ row['$профиль'].names.join(' ') }}
          </span>
          <span class="grey-text fs7" style="position: absolute; z-index: 1; top:0; right:0;" title="ид тмц-движения">#{{ row.id }}</span>
        </td>
        <td class=" right-align green lighten-4" style000="width:5%;">
          <div ng-if=" row['приход'] || row['инвентаризация'] ">
            <span class=" text-darken-3  fs14 bold" ng-class="{'blue-text': row['инвентаризация'], 'green-text': !row['инвентаризация'],}">{{ row['количество'] }}</span><!---/принято --->             <span class="fs8 grey-text left">{{ row['цена'] }}</span>
          </div>
        </td>
        
        <!-- откуда поступило --> 
        <td>
          <div ng-if="  row['приход'] || row['инвентаризация'] ">
            <h5 ng-show="  row['приход'] " class="chip transparent  green-text" ng-init=" kgo = row['@грузоотправители'] && row['@грузоотправители'].length ">
              <i class="icon-left fs10"></i>
              <span ng-if-000="!row['$объект2'] && !row['$с объекта']" ng-if=" kgo " ng-repeat="k in row['@грузоотправители']" class="middle leaf green darken-3 white-text fw500" ng-class="{}">{{ k.title }}</span><!-- {{ k['проект0000'] }}-->
              <span ng-if="row['$проще/строка поставщика']" class="middle leaf maroon white-text fw500" title="простая поставка">{{ row['$проще/строка поставщика']['$контрагент'].title }} <span class="chip shadow-inset-10 maroon-text fw500">{{ row['$проще/строка поставщика']['количество'] }}</span></span>
              <!--span ng-if="!row['$объект2'] && !!row['$с объекта']" class="leaf blue darken-3 white-text middle fw500">★ {{ row['$с объекта'].name }} ({{ row['$с объекта']['$проект'].name }})</span-->
              <i ng-show="row['$проще/строка поставщика']" class="icon-left before-rotate180 fs10"></i>
              <span ng-if="!!row['$объект2']" class="middle fw500" ng-class="{'blue-text':row['$проще/строка поставщика'], 'red-text right': 0 && kgo, 'chip shadow-inset-10 blue-text-darken-3': !row['$проще/строка поставщика'], }">
                <!--i ng-show="kgo" class="icon-left before-rotate180 fs10"></i-->
                <span>★ {{ row['$объект2'].name }}</span><!-- ({{ row['$объект2']['$проект'].name }}) -->
                <!-- просто разница на простой поставке уходит на заявку -->
                <span ng-if="row['$проще/строка поставщика']" class="chip shadow-inset-10 fw500" title="списано на этот объект по заявке простой поставке">{{ row['$проще/строка поставщика']['количество'] - row['количество'] }}</span>
              </span>
            </h5>
            
            <h4 ng-show=" row['инвентаризация'] " class="chip transparent white-text fw500">
              <i class="icon-left before-rotate90left fs10"></i>
              <span>инвентаризация</span>
            </h4>
            
            <div ng-show=" row['$тмц'] && row['$тмц']['коммент'] " class="chip-000 fs8 truncate" style="max-height: 3rem; width: 30vw;" title="{{ row['$тмц']['коммент'] }}">
              {{ row['$тмц']['коммент'] }}
            </div>
          </div>
        
        </td>
        
        <td class="right-align red lighten-4" style000="width:5%;">
          <div ng-if="row['расход'] || row['списание']">
            <span  class="red-text text-darken-3 fs14 bold">{{ -row['количество'] }}</span>             <span class="fs8 grey-text left">{{ row['цена'] }}</span>
          </div>
        </td>
        
        <!-- куда перемещено --> 
        <td>
          <div ng-if="row['расход'] || row['списание'] ">
            <h5 class="red-text">
              <i class="icon-left fs10  before-rotate180"></i>
              <span ng-if="row['объект2/id'] != 0">
                <span ng-if=" !row['$объект2'] && !row['$на объект']" ng-repeat="k in row['@грузоотправители']" class="middle leaf green white-text fw500">{{ k.title }} {{ k['проект000'] }}</span>
                <span ng-if=" !row['$объект2'] && !!row['$на объект']" class="chip shadow-inset-10 blue-text-darken-3  middle fw500">★ {{ row['$на объект'].name }} ({{ row['$на объект']['$проект'].name }})</span>
                <span ng-if=" !!row['$объект2'] && row['объект2/id'] != row['объект/id']" class="chip shadow-inset-10 blue-text-darken-3 middle fw500">★ {{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span><!--- если row['объект2/id'] == row['объект/id'] тогда это списание с объекта--->
              </span>
              <span ng-if="row['объект2/id'] == 0 ||  row['списание'] " class="chip shadow-inset-10">в списание</span>
              <!--span ng-if="!row['$объект2'] && !!row['$с объекта']" class="orange-text text-darken-3 middle">{{ row['$с объекта'].name }} </span>
              <span ng-if="!!row['$объект2']" class="orange-text text-darken-3 middle">{{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span--->
            </h5>
            
            <div ng-show=" row['$тмц'] && row['$тмц']['коммент'] " class="chip-000 fs8 truncate" style="max-height: 3rem; width: 30vw;" title="{{ row['$тмц']['коммент'] }}">
              {{ row['$тмц']['коммент'] }}
            </div>
          </div>
        
        </td>
        
        <!--- кому-->
        <!--td>
          <i class="icon-left" ng-class="{'before-rotate180': !!row['$объект2'], 'green-text': row['движение'] == 'приход', 'red-text ': row['движение'] == 'расход' }"></i>
          <span ng-if="!row['$объект2']" ng-repeat="k in row['@грузоотправители']" class="middle">{{ k.title }} {{ k['проект000'] }}</span>
          <span ng-if="!row['$объект2'] && !!row['$с объекта']" class="orange-text text-darken-3 middle">{{ row['$с объекта'].name }}</span>
          <span ng-if="!!row['$объект2']" class="orange-text text-darken-3 middle">{{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span>
        </td-->
        
        <!--- от кого-->
        <!--td>
          <i class="icon-left" ng-class="{'before-rotate180-000': !!row['$объект2'], 'green-text': row['движение'] == 'приход', 'red-text': row['движение'] == 'расход' }"></i>
          <span ng-if="!!row['$объект2']" ng-repeat="k in row['@грузоотправители']" class="middle">{{ k.title }} {{ k['проект000'] }}</span>
        </td-->
        
        <td>
          <div ng-if="row['$тмц/заявка']">
            <div>{{ row['$тмц/заявка']['наименование'] }}</div>
            <div ng-show=" row['$тмц/заявка']['коммент'] " class="fs8 truncate" style="height:2rem;">{{ row['$тмц/заявка']['коммент'] }}</div>
            <div class="fs7 grey-text right-align" title="{{ row['$тмц/заявка'] | json }}">#{{ row['$тмц/заявка'].id }}</div>
          </div>
        </td>
        
      </tr>
    </tbody></table>
    
  </div>
  <!---div class="modal-footer">
    <a ng-click="$c.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$c.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div--->
</div>