<template>
  <!-- Modal Structure -->
  <div id000="modal-view-file-iframe" class="modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInUp" data-modal-out="animated   slideOutDown fast"  style="max-height:90%; width:100%; bottom:0;">
    <!-- v-progress-indeterminate v-show="!ready" :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate-->
    <div class="modal-content0000">
      <iframe 
        v-if="iframe && iframe.src"
        :src="iframe.src"
        :height="iframe.height"
        :width="iframe.width"
        :type="iframe.content_type"
        frameborder="0"
      ></iframe>
      
    </div>
      <a @click.stop=" ViewIframeClose " href="javascript:" class="modal-action modal-close waves-effect waves-green btn-flat red lighten-3 red-text text-darken-3" style="position:absolute;bottom:0; right:0;"><i class="material-icons">cancel</i><span>Закрыть просмотр</span></a>
  </div>

</template>