@@@ компонент/химия/отгрузка/таблица

<div class="relative"><!-- обязательно один корень Vue -->

<h2 class="center  fw500 my-blue-darken-1 white-text" style="">Отгрузка</h2>

<v-progress-indeterminate v-show=" !ready " :color=" 'my-blue' " :message=" 'Загружается...' "></v-progress-indeterminate>
<!--div class="fs8">{{ this['@номенклатура'] }}</div-->

<div v-if=" ready">
  <div>
    <a v-show="!openForm" @click="Add" href="javascript:" class="btn-flat my-blue lighten-4 black-text z-depth-1" style="position: absolute; top: 0.2rem; right: 0.2rem;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="black-fill fill-darken-4" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#form-add"></use></svg>
      <span class="hide-on-med-and-down">Новая отгрузка</span>
    </a>
      <div v-if=" openForm "><v-form :item=" openForm " @on-save=" OnSaveForm "></v-form></div>
  </div>
  
  <table class="cell-padd-0-05 striped bordered my-blue lighten-5 z-depth-1 animated--000--slideInUp">
  <thead class="my-blue lighten-4">
    <tr style="border-bottom:none;">
      <td rowspan000=2 style="width:40%;"><h4>Наименование продукции или сырья</h4></td>
      <td v-for="k in tableColsId" colspan=2><h4 class="center fw500 chip padd-0-05 block my-blue-text text-darken-1 my-blue lighten-5"><i class="material-icons">shopping_cart</i>{{ contragentData[k].title }}</h4></td>
      <td rowspan000=2 style=""><h4 class="right-align">Итого</h4></td>
    </tr>
    <!--tr>
      <td v-for="(k, idx) in tableColsId2" style="width:1%;"><h5 :class="{'center': idx%2 === 0}">{{ idx%2 === 0 ? 'Кол-во' : '№ ПП или ПИ' }}</h5></td>
    </tr-->
  
  </thead>
  <tbody>
    <tr v-for=" nom in tableRows " :key=" nom.id " class="relative" :class="{}">
      <td>
        <h5 v-if="nom.parent == 1 "class="fw500 lime-text text-darken-4">{{ nom.title }}</h5>
        <h4 v-else class="fw500">{{ nom.title }}</h4>
      </td>
      <td v-for="(k, idx) in tableColsId2">
        <div v-if="tableData[nom.id][k]">
          <div v-if="idx%2 === 0"><!--- количество -->
            <div v-for="pos in tableData[nom.id][k]['@отгрузка/позиции']" class="center nowrap">
              <a @click="Edit(pos)" href="javascript:void('Открыть отгрузку')" class="bold circle padd-0-05 z-depth-1 white fs12 hover-my-blue-lighten-5 my-blue-text">{{ pos['количество'] }}</a>
              <span>{{ pos['$продукция или сырье']['ед'] }}</span>
              <!--ТРАБЛЫ не идет реактивность div v-if=" pos._edit " style="position: absolute; left:-5%; width:110%; z-index:1;"><v-form :item=" pos._edit " @on-save=" OnSaveForm "></v-form>{{pos._edit}}</div-->
            </div>
          </div>
          <div v-else><!--- партия/протокол -->
            <div v-for="pos in tableData[nom.id][k]['@отгрузка/позиции']" class="nowrap">
              {{ pos['$продукция или сырье']['№ ПИ'] || pos['$продукция или сырье']['№ партии'] }}
            </div>
          </div>
        </div>
      </td>
      <td class="right-align" style="">
        <div v-for="sum in Object.keys(tableData[nom.id]['итого'])">
          <span class="bold circle padd-0-05 z-depth-1 white fs14">{{ tableData[nom.id]['итого'][sum] }}</span> <span>{{ sum }}</span>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
  
</div>

</div>