@@@ аренда/договоры/таблица

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready " class="">
<div><!--  новая форма --->
  <div style="position: absolute; top:0.3rem; right:1rem;">
    <a v-show=" !newContract " @click=" New " href="javascript:" class="btn-flat z-depth-1 green lighten-4 green-text text-darken-4"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="green-fill fill-darken-4" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg> Добавить договор</a>
    <a v000-show="IsChbs" @click="PrintPay()" disabled-000="!IsChbs" href="javascript:" class="btn-flat  z-depth-1 orange lighten-4 orange-text text-darken-4"><i class="material-icons">print</i> Счета и акты</a>
  </div>
  <div v-if=" newContract " style="margin-bottom:3rem;">
    <v-rent-contract-form :item=" newContract " @on-save=" OnSave "></v-rent-contract-form>
  </div>
</div>

<!-- фильтры -->
<div class=""></div>

<table class="striped bordered teal lighten-4 z-depth-1 animated slideInUp">

<thead>
  <tr>
    <td class="padd-05" style="width:1%;">
        <!-- фильтр арендатора -->
        <div class="input-field" style=" width:9rem; max-width:calc(10vw);"><!-- стили ширины соотв. стилям первой колонки position:absolute; top:-2.3rem; left:0;-->
          <a v-show=" filters['арендаторы'] && filters['арендаторы'].length " @click=" ClearFilter('арендаторы') " href="javascript:" style="position: absolute; z-index: 1; right:0.5rem; top:0.3rem; "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"  class="red-fill fill-darken-1" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#left-clear-fill"></use></svg></a>
          <input type="text" name="арендаторы"  v-model="filters['арендаторы']" @input=" OnChangeFilter " :placeholder=" 'поиск арендатора' " class="">
        </div>
    </td>
    <td class="relative vbottom padd-05" style="width:1%;">
      <!-- фильтр истекшие договоры -->
      <div class="input-field nowrap" style="position:absolute; top:-2rem;margin-left:0.3rem;">
        <input type="checkbox" id="архивные крыжики" v-model="filters['архивные договоры']" @change="ChbChange('архивные договоры')">
        <label for="архивные крыжики" class="hover-shadow3d chb-maroon-lighten-5 maroon-text chip maroon lighten-5 hoverable" style="position:absolute; left:-2rem; bottom: 0; padding-left:16px;" ></label>
        <label for="архивные крыжики" class="hover-shadow3d " style=""><h5 class="maroon-text">
          <span>архив</span>
          <sup class="chip white z-depth-1">{{ archLen }}</sup>
        </h5></label>
      </div>

      <!-- все крыжики-->
      <div v-show=" FilteredDataLen " class="input-field nowrap" style="margin-left:0.3rem;">
        <input type="checkbox" id="все крыжики" v-model="allChbs" @change="AllChbsChange">
        <label for="все крыжики" class="hover-shadow3d chb-yellow-lighten-4 orange-text chip yellow lighten-4 hoverable" style="position:absolute; left:-2rem; bottom: 0; padding-left:16px;" ></label>
        <label for="все крыжики" click0000="AllChbsChange(!allChbs)" href="javascript:"><h6 class="orange-text text-darken-4 hover-shadow3d">
          <span>{{ allChbs ? 'снять' : 'отметить' }}</span>
          <sup class="chip white z-depth-1">{{ FilteredDataLen }}</sup>
        </h6></label>
      </div>
    </td>
    <td class="padd-05" style="width:calc(30vw);">
      <table>
        <thead>
          <tr class="line-height-10-000">
            <th class="vbottom">
              <!-- фильтр по объекту :data-list=" rentObjects "-->
              <div v0000-if=" rentObjects.length " style-000="width:calc(20vw);">
                <v-object-select  :select=" filters['объект'] " :data-url=" 'аренда/объекты-ук' " @on-select-object=" SelectObjectFilter "></v-object-select>
                <!--v-select :select=" filters['объект'] " :items=" rentObjects " :param=" {'без поля поиска': true} " @on-select=" SelectObjectFilter ">
                  <template v-slot:selected="{ selected }">
                    <h5 class="fw500 blue-text text-darken-3 animated fadeIn slow hover-bottom-shadow-blue-darken-3" style="">{{ (selected && selected.$item && selected.$item.name) || 'По объекту' }}</h5>
                  </template>
                  <template v-slot:listItem="{ listItem, selected }">
                    <h4 class0000=" ItemClass(obj) " class=" blue-text text-darken-3 relative"  :class="{'bold': listItem === selected}"  style="">
                        <span>★ {{ listItem.$item.name }}</span>
                        <span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ listItem.id }}</span>
                    </h4>
                  </template>
                </v-select--->
              </div>
            </th>
            <th class="vbottom" style="width:1%;"><!--h6 class="bold" style="width: calc(5vw);">Площадь</h6--></th>
            <th class="vbottom" style="width:1%;"><!--h6 class="bold" style="width: calc(5vw);">Площадь</h6--></th>
            <th class="vbottom" style="width:1%;"><h6 class="bold" style="width: calc(5vw);">Площадь</h6></th>
            <th class="vbottom right-align" style="width:1%;"><h6 class="bold nowrap" style="width: calc(5vw);">₽ за м²/мес.</h6></th>
            <th class="vbottom right-align" style="width:1%;"><h6 class="bold nowrap" style="width: calc(5vw);">₽/мес.</h6></th>
            <th style="width:1%;"><!--Примеч.--></th>
          </tr>
        </thead>
      </table>
    </td>
  </tr>
</thead>

<tbody>
  <tr v-for=" (item, item_idx) in filteredData " :key=" item.id " :id=" `item-${item.id}` " class="" :class="{'selected': item === selectedContract}">
    <td class="vtop padd-05">

      <h5 class="truncate line-height-12" :class="{'bold': item._edit}" style="width:10rem; max-width:calc(10vw);" :title="item['$контрагент'].title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#contragent"></use></svg>
        <a @click=" Edit(item) " href="javascript: void('редактировать договор аренды') " class="hover-shadow3d" title="редактировать договор аренды">{{ item['$контрагент'].title }}</a>
      </h5>
      
      <div v-if=" item._edit " style="position: absolute; width:110%; z-index:1; left:-5%;"><v-rent-contract-form :item=" item._edit " @on-save=" OnSave "></v-rent-contract-form></div>
    </td>
    <td class="vtop padd-05 relative">
      <div class="relative line-height-10" style="">
        <span class="fs8 grey-text" style="position:absolute; left:-1rem;">№</span><span class="nowrap truncate bold" style="width:calc(5vw);" :title=" item['номер'] ">{{ item['номер'] }}</span>
        <!--span class="fs8"> от </span-->
        <span class="chip padd-0-05 nowrap" :title=" item['дата1'] "><span class="fs8 grey-text">c </span><span class="bold">{{ item.$дата1.day }}</span> <span class="fs8">{{ item.$дата1['мес'] }}</span><span v-show="(new Date).getYear()+1900 != item.$дата1.year"> {{ item.$дата1.year }}</span></span>
        <span class="chip padd-0-05 nowrap breadcrumb" :title=" item['дата2'] "><span class="fs8 grey-text"> по </span><span class="bold">{{ item.$дата2.day }}</span> <span class="fs8">{{ item.$дата2['мес'] }}</span><span v-show="(new Date).getYear()+1900 != item.$дата2.year"> {{ item.$дата2.year }}</span></span>
        <span v-if="item['дата расторжения']" class="chip padd-0-05 nowrap red-text" :title=" item['$дата расторжения'] "><span class="fs8"> закрыт </span><span class="bold">{{ item['$дата расторжения'].day }}</span> <span class="fs8">{{ item['$дата расторжения']['мес'] }}</span><span v-show="(new Date).getYear()+1900 != item['$дата расторжения'].year"> {{ item['$дата расторжения'].year }}</span></span>
        <!-- крыжик -->
        <!--div class="input-field"-->
          <input type="checkbox" :id="`крыжик-${item.id}`" v-model="item['крыжик']">
          <label :for="`крыжик-${item.id}`" class="hover-shadow3d chb-yellow-lighten-4 orange-text chip yellow lighten-4 hoverable" style="position:absolute; left:-2rem; bottom: 0; padding-left:16px;" ></label>
        <!--/div-->
      </div>
      
      
    </td>
    <td class="padd-05">
      <div style-000="item_idx  > 0 ? {'max-height':'10rem', 'overflow':'auto'} : {}"><table class="bordered highlight"><!-- striped lime lighten-4 -->
      <!---thead v-if=" item_idx === 0 " ></thead--->
      
      <tbody>
        <tr v-for="(room, idx) in item['@помещения']" :key="room.id" class="">
          <td class="relative000" style-000="width:calc(30vw);">
            <!-- не катит div style="position:absolute; left:-1rem;"><i class="material-icons fs8 lime-text-darken-4 padd-0">place</i></div-->
            <h5 class="truncate-000 nowrap blue-text-darken-4 line-height-12" style="width:calc(10vw);" :title=" room.$объект['name'] ">
              <span><i class="material-icons fs8 padd-0">place</i></span>
              <span :class="{'transparent-text': idx > 0 && room.$объект.id == item['@помещения'][idx].$объект.id }">{{ room.$объект['name'] }}</span>
              <!--span class="nowrap chip padd-0-05"><span class="fs8">№</span><span class="">{{ room.$помещение['номер-название'] }}</span></span-->
              <!--span class="nowrap chip padd-0-05"><span class="">{{ room.$помещение['этаж'] }}</span><span class="fs8"> эт.</span></span-->
            </h5>
          </td>
          <td style="width:3rem;">
            <div class="nowrap line-height-10 lime-text-darken-4" style--000="width: calc(1vw);">
              <span class="nowrap chip-000 padd-0-05"><span class="fs8 grey-text">№ </span><span class="">{{ room.$помещение['номер-название'] }}</span></span>
            </div>
            
          </td>
          <td class="" style="width:3rem;">
            <div class="nowrap line-height-10 lime-text-darken-4" style---000="width: calc(1vw);">
              <span class="nowrap chip-000 padd-0-05"><span class="">{{ room.$помещение['этаж'] }}</span><span class="fs8 grey-text"> эт.</span></span>
            </div>
          </td>
          <td class="right-align" style="width:5rem;">
            <div class="nowrap line-height-10 lime-text-darken-4" style="width: calc(5vw);">
              <!--span class="bold">{{ ParseNum(room.$помещение['площадь']).toLocaleString() }}</span>
              <span class="fs8 grey-text">м<sup>2</sup></span-->
              <span class="nowrap " class-000="{'right': item['@помещения'].length == 1, 'chip padd-0-05': item['@помещения'].length > 1}"><span class="" :class="{'fw500': item['@помещения'].length == 1}">{{ ParseNum(room['площадь'] || room.$помещение['площадь']).toLocaleString() }}</span><span class="fs8 grey-text"> м²</span></span>
            </div>
          </td>
          <td class="right-align" style="width:5rem;">
            <div class="nowrap line-height-10" style="width: calc(5vw);">
              <span class="" title="руб. за м²/мес. ">{{ RoomMetr(room).toLocaleString().replace(/[.,]\d+/, '') }}</span>
              <span class="fs8 grey-text">₽</span>
            </div>
            
          </td>
          
          <td class="right-align" style="width:5rem;">
            <div v-show="item['@помещения'].length > 1" class="nowrap line-height-10" style="width: calc(5vw);">
              <span class="bold " :class000="{'bold': item['@помещения'].length == 1}" title=" руб./мес. ">{{ RoomSum(room).toLocaleString().replace(/[.,]\d+/, '') }}</span>
              <span class="fs8 grey-text"> ₽</span>
            </div>
            <h5 v-show="item['@помещения'].length == 1" class="nowrap">
              <span class="bold " title=" руб./мес. ">{{ RoomSum(room).toLocaleString().replace(/[.,]\d+/, '') }}</span>
              <span class="fs8 grey-text"> ₽</span>
            </h5>
          </td>
          
          <td class="relative" style="width:0.1rem;">
            <div v-show="room['коммент'] && !!room['коммент'].length " class="padd-0-05 truncate pre-wrap fs8 grey-text line-height-10" style="width: 10rem; max-height:2rem; position:absolute; top:0;" :title=" room['коммент'] ">{{ room['коммент'] }}</div>
          </td>
        </tr>
        <!--- Строка суммы за помещения -->
        <tr v-if="item['@помещения'] && item['@помещения'].length > 1" class="grey-000 lighten-4">
          <td colspan="3">
            <!---div v-show="item['коммент'] && !!item['коммент'].length " class="card-000 padd-0-05 truncate-000 pre-wrap fs8 grey-text line-height-8 grey lighten-2" style="max-height:2rem; overflow:auto;" :title=" item['коммент'] ">{{ item['коммент'] }}</div--->
          </td>
          <td class="right-align"><h5 class="nowrap lime-text text-darken-4">
            <span class="bold ">{{ RoomsSquare(item).toLocaleString().replace(/([.,]\d{2})\d+/, '$1') }}</span>
            <span class="fs8"> м²</span>
          </h5></td>
          <td></td>
          <td class="right-align">
            <h5 class="nowrap">
              <span class="bold">{{ RoomsSum(item).toLocaleString().replace(/[.,]\d+/, '') }}</span>
              <span class="fs8"> ₽</span>
            </h5>
          </td>
          <td></td>
        </tr>
        <!--- Строка суммы налички -->
        <tr v-if="item['сумма нал']" class="">
          <td colspan="3" class="right-align-000"></td>
          <td class="right-align">
            <h5 class="nowrap lime-text text-darken-4">
            </h5>
          </td>
          <td class="right-align">
            <h6>Наличкой:</h6>
          </td>
          <td class="right-align">
            <h5 class="nowrap">
              <span class="bold">{{ ParseNum(item['сумма нал']).toLocaleString().replace(/[.,]\d+/, '') }}</span>
              <span class="fs8"> ₽</span>
            </h5>
          </td>
          <td></td>
        </tr>
        <!--- Строка всего если наличка -->
        <tr v-if="item['сумма нал']" class="">
          <td colspan="3" class="right-align-000"></td>
          <td class="right-align">
            <h5 class="nowrap lime-text text-darken-4">
            </h5>
          </td>
          <td class="right-align">
            <h6>Всего:</h6>
          </td>
          <td class="right-align">
            <h5 class="nowrap">
              <span class="bold">{{ (RoomsSum(item) + ParseNum(item['сумма нал'])).toLocaleString().replace(/[.,]\d+/, '') }}</span>
              <span class="fs8"> ₽</span>
            </h5>
          </td>
          <td></td>
        </tr>
      </tbody></table>
      <!-- !item['@помещения'] || item['@помещения'].length == 1 &&  -->
      <div v-show=" item['коммент'] && item['коммент'].length" class="padd-0-05 pre-wrap fs8 grey-text line-height-8 border-bottom grey lighten-2" style="min-height:1rem; max-height:3rem; overflow:auto;" :title=" item['коммент'] ">{{ item['коммент'] }}</div>
      </div>
    </td>
    <!--td style="width:1%;"></td-->
  </tr>
</tbody>
</table>

</div>

<!-- Modal Structure -->
<div id="modal-pay" class="modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp-000  slideOutUp fast"  style="max-height:90%; width:100%; top:0;">
  <div class="modal-content row">
    <div class="col s4 offset-s4 card teal lighten-5 padd-10">
      <div class="input-field">
        <h3 class="">За какой месяц</h3>
        <input name="месяц" type="text" class="datepicker pay-month fs18 fw500" style="margin-bottom:1rem;" :data-value=" payMonth ">
        <!-- переключатель -->
        <div class="chip">
          <div class="iblock">
            <input type="radio" id="radioSchet" v-model="radioSchetAkt" :value=" 'счет' ">
            <label for="radioSchet"  class="before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3" ></label>
            <label for="radioSchet"><h5 class="brown-text text-darken-3 hover-shadow3d">Счета</h5></label>
          </div>
          <span class="grey-text padd-0-05"> или </span>
          <div class="iblock">
            <input type="radio" id="radioAkt" v-model="radioSchetAkt" :value=" 'акт' ">
            <label for="radioAkt" class=" before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3" style=""></label>
            <label for="radioAkt"><h5 class="brown-text text-darken-3 hover-shadow3d">Акты</h5></label>
          </div>
        </div>
        <!-- крыжик -->
        <div class="input-field chip">
          <input type="checkbox" id="крыжик-нумеровать-счета" v-model="payNums">
          <label for="крыжик-нумеровать-счета" class="hover-shadow3d chb-yellow-lighten-4 orange-text chip yellow lighten-4 hoverable" style="padding-left:16px;" ></label><!-- это лабел квадратика крыжика -->
          <label for="крыжик-нумеровать-счета" class=""><h5 class="hover-shadow3d chb-yellow-lighten-4 orange-text inline">Присвоить номера счетам/актам</h5></label>
        </div>
      </div>
      
      <!---ul>
        <li v-for="(ob, idx) in rentObjects" :key="ob.id">
          <div class="input-field chip">
            <input type="checkbox" :id=" `крыжик-объекта-печати-${ ob.id }` " v-model="ob['крыжик печати']">
            <label :for=" `крыжик-объекта-печати-${ ob.id }` " class="hover-shadow3d chb-yellow-lighten-4 blue-text text-darken-3 chip yellow lighten-4 middle" style="padding-left:16px;" ></label><!-- это лабел квадратика крыжика >
            <label :for=" `крыжик-объекта-печати-${ ob.id }` " class="middle"><h5 class="hover-shadow3d chb-yellow-lighten-4 blue-text text-darken-3 inline">{{ob['$объект'].name}}</h5></label>
          </div>
        </li>
      </ul--->
    </div><!-- col -->
    <!--div class="clipboard chip">{{ clipBoard }}</div-->
  </div><!-- modal-content -->
  <div class="modal-footer center">
    <a @click=" PrintPay(payMonth) " href="javascript:" class="modal-action waves-effect waves-green btn-flat z-depth-1 green lighten-4 green-text text-darken-4" style="float:none;"><svg ng-hide="$c.cancelerHttp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="blue-fill " style="height: 1.7rem;"><use xlink:href="/fonts/icons.svg#ms-word" class=""></use></svg><span>Получить распечатку</span></a>
    <a @click=" Reestr(payMonth) " href="javascript:" class="modal-action waves-effect waves-green btn-flat z-depth-1 blue lighten-4 blue-text text-darken-4" style="float:none;"><!--svg ng-hide="$c.cancelerHttp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="blue-fill " style="height: 1.7rem;"><use xlink:href="/fonts/icons.svg#ms-word" class=""></use></svg--><span>Реестр актов</span></a>
    <a  href="javascript:" class="modal-action modal-close waves-effect waves-red btn-flat z-depth-1 red lighten-3 red-text text-darken-3"><i class="material-icons">cancel</i><span>Отмена</span></a>
  </div>
</div>

</div>