@@@ аренда/договоры/таблица

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready ">
<div>
  <a v-show=" !newContract " @click=" New " href="javascript:" class="btn-flat z-depth-1 green lighten-4 green-text text-darken-4" style="position: absolute; top:0.3rem; right:1rem;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="green-fill fill-darken-4" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg> Добавить договор</a>
  <v-rent-contract-form v-if=" newContract " :item=" newContract " @on-save=" OnSave "></v-rent-contract-form>
</div>

<table class="striped bordered teal lighten-4 z-depth-1">

<tbody>
  <tr v-for=" item in data " :key=" item.id " class="" :class="{'selected': item === selectedContract}">
    <td class="vtop">
      <h4 class="truncate" :class="{'bold': item._edit}" style="max-width:calc(10vw); line-height:1.2rem;" :title="item['$контрагент'].title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#contragent"></use></svg>
        <a @click=" Edit(item) " href="javascript:" class="hover-shadow3d">{{ item['$контрагент'].title }}</a>
      </h4>
      <div v-show="item['коммент'] && !!item['коммент'].length " class="card padd-0-05 truncate pre-wrap fs8 grey-text-000" style="height:2rem; line-height:1rem;" :title=" item['коммент'] ">{{ item['коммент'] }}</div>
      <div v-if=" item._edit " style="position: absolute; width:110%; z-index:1; left:-5%;"><v-rent-contract-form :item=" item._edit " @on-save=" OnSave "></v-rent-contract-form></div>
    </td>
    <td class="vtop" style="width:1%;">
      <div class="nowrap">
        <span class="fs8">№ </span><span class="bold">{{ item['номер'] }}</span>
        <!--span class="fs8"> от </span-->
        <br>
        <span class="chip padd-0-05" :title=" item['дата1'] "><span class="bold">{{ item.$дата1.day }}</span> <span class="fs8">{{ item.$дата1['мес'] }}</span></span> <!--span>{{ item.$дата1[''] }}</span-->
      </div>
    </td>
    <td>
      <div style="max-height:10rem; overflow:auto;"><table class="bordered lime lighten-4"><tbody>
        <tr v-for="room in item['@помещения']">
          <td class="padd-0" style="width:1%;"><i class="material-icons fs8 lime-text-darken-4 padd-0">place</i></td>
          <td>
            <h5 class="truncate lime-text-darken-4" style="max-width:calc(15vw); line-height:1.2rem;" :title=" room.$объект['адрес'] ">
              <span>{{ room.$объект['адрес'] }}<span>
            </h5>
          </td>
          <td style="width:1%;">
            <div class="nowrap">
              <span class="fs8 grey-text">№ </span><span class="bold">{{ room.$помещение['номер-название'] }}</span>
            </div>
            
          </td>
          <td class="right-align" style="width:1%;">
            <div class="nowrap" style="line-height:1rem;">
              <span class="bold">{{ room.$помещение['этаж'] }}</span>
              <span class="fs8 grey-text">эт.</span>
            </div>
          </td>
          <td class="right-align" style="width:1%;">
            <div class="nowrap" style="line-height:1rem;">
              <span class="bold">{{ ParseNum(room.$помещение['площадь']).toLocaleString() }}</span>
              <span class="fs8 grey-text">м<sup>2</sup></span>
            </div>
          </td>
          <td class="right-align" style="width:1%;">
            <div class="nowrap" style="line-height:1rem;">
              <span class="bold">{{ RoomMetr(room).toLocaleString() }} ₽</span>
              <br>
              <span class="fs8 grey-text"> м²/мес</span>
            </div>
            
          </td>
          
          <td class="right-align" style="width:1%;">
            <div class="nowrap" style="line-height:1rem;">
              <span class="bold ">{{ RoomSum(room).toLocaleString() }}</span>
              <br>
              <span class="fs8 grey-text"> ₽/мес</span>
            </div>
          </td>
          
          <td style="width:10%;">
            <div v-show="room['коммент'] && !!room['коммент'].length " class="padd-0-05 truncate pre-wrap fs8 grey-text" style="max-height:2rem; line-height:1rem;" :title=" room['коммент'] ">{{ room['коммент'] }}</div>
          </td>
        </tr>
      </tbody></table></div>
    </td>
    <!--td style="width:1%;"></td-->
  </tr>
</tbody>
</table>

</div>
</div>