@@@ аренда/договор/форма

<div v-if="ready" class="card teal lighten-4 animated zoomIn fast">

<div class="card-content">
  <h3 class="fw500">
      <i v-show=" !form.id " class="material-icons ">folder_special</i>
      <span v-show=" !form.id " >Новый договор аренды</span>
      
      <i v-show=" form.id " class="material-icons ">edit</i>
      <span v-show=" form.id " >Редактировать договор аренды</span>
      
      <span v-show="form.id" class="grey-text fs8">#{{form.id}}</span>
    </h3>
    <div class="divider teal darken-4" style="margin-bottom: 1rem;"></div>
    
  <div class="row">
    <div class="col s4 ">
      <h4 class="right-align relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#contragent"></use></svg>
        <span>Арендатор</span>
        <sup v-show=" !Valid('контрагент') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
      </h4>
    </div>
    <div class="col s8 ">
      <!--div class="border fs8">{{ form['контрагент'] }}</div-->
      <v-contragent :item=" form['контрагент'] " :data=" contragentData " @on-select=" SelectContragent "></v-contragent>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col s4 ">
      <h4 class="right-align relative">
        <!--i class="material-icons"></i-->
        <span>Номер договора</span>
        <sup v-show=" !Valid('номер') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
      </h4>
    </div>
    <div class="col s4 ">
      <div class="input-field">
        <input type="text" v-model=" form['номер'] ">
      </div>
    </div>
  </div><!-- row -->
  
  <div class="row">
    <div class="col s4 ">
      <h4 class="right-align">
        <i class="material-icons">today</i>
        <span>Срок аренды</span>
      </h4>
    </div>
    <div class="col s4 ">
      <div class="input-field">
        <h6 class="" style="position:absolute; top:-0.7rem;">начало</h6>
        <input name="дата1" type="text" class="datepicker"  :data-value=" form['дата1'] ">
      </div>
    </div>
    <div class="col s4 ">
      <div class="input-field">
        <h6 class="" style="position:absolute; top:-0.7rem;">завершение</h6>
        <input name="дата2" type="text" class="datepicker"  :data-value=" form['дата2'] ">
      </div>
    </div>
  </div><!-- row -->
  
  <!---div class="row">
    <div class="col s4 ">
      <h4 class="right-align">
        <i class="material-icons">place</i>
        <span>Объект-помещения</span>
        
      </h4>
    </div>
    
    <div class="col s8 relative">
      <div class="chip bold padd-0-05 fs8" style="position:absolute; right:0rem; top:-1rem;">{{ form['@помещения'].length }}</div--->
    
    <div class="row"><div class=" col s12 ">
      <h4 class="fw500 helmet tab-shadow active z-depth-1  lime lighten-4">
        <i class="material-icons">format_list_numbered</i>
        <span>Объект-помещения/офисы</span>
        <sup class="chip ">{{ form['@помещения'].length }}</sup>
      </h4>
    
      <table class="z-depth-1 bordered ">
        <tbody class="striped lime lighten-4">
          <tr v-for="(room, idx) in form['@помещения']" :key=" room._id ">
            <td class="right-align relative" style="width:1%;">
              {{idx+1}}
              <span v-show=" !!room.id " class="fs7 grey-text" style="position: absolute; z-index: 1; bottom:0; left:0;">#{{ room.id }}</span>
            </td>
            <td class="relative padd-05">
              <v-suggest v-model="room['объект-помещение'] " :options="{placeholder: 'выбрать объект-помещение', 'suggestionClass': 'padd-0-05', suggestionsStyle000: {}, 'suggestionClassStar': '', room: room,}" :onInputChange=" GetRoomsQuery" :onItemSelected="OnRoomSelect" :allLen=" rentRooms.length ">
                <!--div slot="item" slot-scope="props" class=" ">
                  {{props.item}}
                </div-->
              </v-suggest>
              <span  v-show="room['помещение/id']" class="grey-text fs7 " style="position: absolute; right:0;">#{{ room['помещение/id']}}</span>
              <span  v-show="!room['помещение/id'] && room['объект-помещение'].length " class="red-text fs7 " style="position: absolute; right:0;">не выбрано</span>
            </td>
            <td style="width:10%;">
              <div class="input-field">
                <input type="text" v-model.trim="room['ставка']" placeholder="ставка за 1 м²/мес."  title="ставка за 1 м²/мес.">
                <div v-show="room['помещение/id'] && room['ставка']" class="right-align grey-text" title="сумма за месяц">{{ RoomSum(room).toLocaleString() }}  ₽</div>
              </div>
            </td>
            <td style="width:20%;">
              <div class="chip">
                <div class="input-field">
                  <textarea v-model.trim="room['коммент']" class="materialize-textarea padd-0" style="min-height: 2rem; font-size:0.8rem;" placeholder="примечание"></textarea>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- col -->
  </div><!-- row -->
  
   <div class="row">
    <div class="col s12 ">
      <h4 class="">
        <i class="material-icons">storage</i>
        <span>Файлы документов (пока не работает)</span>
        <sup v-if="uploads" class="chip ">{{ uploads.length }}</sup>
      </h4>
    </div>
    <div v-if="form.id" class="col s12 chip teal lighten-5">
      <!--v-uploads v-if="uploads" :parent-id="form.id" :uploads=" uploads "></v-uploads-->
  </div>
  <div v-else class="orange-text center">Можно загрузить после сохранения договора</div>
  </div><!-- row -->
  
  <div class="row">
    <div class="col s12 ">
      <h4 class="">Примечание</h4>
    </div>
    <div class="col s12 chip teal lighten-5">
    <div class="input-field">
      <textarea v-model.trim="form['коммент']" class="materialize-textarea padd-0 fs8" style="min-height: 4rem;"></textarea>
    </div>
  </div>
  </div><!-- row -->
  
</div>

<div class="card-action center">
  <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid()" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
</div>

</div>