@@@ аренда/договор/форма

<div v-if="ready" class="card z-depth-5 animated zoomIn fast" :class="{'maroon lighten-5':IsOld, 'teal lighten-4': !IsOld}">

<!--a @click="store.Inc1()" href="javascript:">{{ store.prop1 }}</a-->

<div class="card-content">
  <div class="row relative">
    <a @click=" CancelBtn()" href="javascript:" class="right btn-flat z-depth-1 white red-text lighten-2" style="">
      <i class="material-icons">cancel</i><span>Отмена</span>
    </a>
    
    <a v-show="!!form.id" @click=" Copy() " href="javascript:" class="right btn-flat z-depth-1 green lighten-4 green-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="green-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#copy" /></svg>
        <span>Копия</span>
      </a>
    
    <h3 class="fw500">
        <i v-show=" !form.id " class="material-icons ">folder_special</i>
        <span v-show=" !form.id " >Новый договор аренды</span>
        <span v-show="!!form['копия/id'] && !form.id" class="red-text chip transparent padd-0-05 animated slideInRight slow"> Копия - внимательно! </span>
        
        <i v-show=" form.id " class="material-icons ">edit</i>
        <span v-show=" form.id " >Редактировать договор аренды</span>
        
        <span v-show="form.id" class="grey-text fs8">#{{form.id}}</span>
        
      </h3>
      <div class="divider teal darken-4" style="margin-bottom: 1rem;"></div>
  
  </div>
  
    <div class="row">
    <div class="col s4 padd-05">
      <h4 class="relative">
        <a v-show="form['$проект'] && form['$проект'].id && form['контрагент'] && form['контрагент'].id" @click="MoneyXLS()" href="javascript:" class="btn-flat z-depth-1 purple white-text hover-childs-show right" title="сверка расчетов"><i class="icon-balance"></i> <!---span class="hover-parent-show-inline chip z-depth-1 purple-text" style="position:absolute; text-transform: none;">сверка расчетов</span---></a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0  512 400" class="teal-fill fill-darken-3" style="height: 2rem;"><use xlink:href="/fonts/rent.svg#renter"></use></svg>
        <span>Арендодатель</span>
        <sup v-show=" !(form['$проект'] && form['$проект'].id) " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
      </h4>
      <div>
        <v-select v-if=" projectData " :select=" form['$проект'] " :param="{'без стрелки раскрытия списка':true, 'без поля поиска': true, ulDropDownClass: 'striped purple lighten-4'}" :items=" projectData " @on-select=" SelectProject ">
          <template v-slot:selected="{ selected }">
            <h4 v-if="!!selected" class="fw500 animated slideInUp card hoverable padd-05 purple lighten-4 purple-text text-darken-3">
              <span> ★ {{ selected.name }}</span>
              <span v-if="form['$проект']" class="grey-text fs7" style="position:absolute; right:0; bottom:-1rem;">#{{ form['$проект'].id }}</span>
            </h4>
            <h4 v-else class="card hoverable padd-05 purple-text purple lighten-4 ">Выбрать арендодателя</h4>
          </template>
          <template v-slot:listItem="{ listItem, selected, highlighted }">
            <h5 class="padd-0-05 relative purple-text text-darken-3"  :class="{'bold fs14': listItem === selected, 'fw500': listItem === highlighted,}"  style="">
                <span> ★ {{ listItem.name }}</span>
                <span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ listItem.id }}</span>
            </h5>
          </template>
        </v-select>
      </div>
    </div>
    <div class="col s8 padd-05">
      <h4 class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#contragent"></use></svg>
        <span>Арендатор</span>
        <sup v-show=" !(form['контрагент'] && (form['контрагент'].id || form['контрагент'].title)) " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
      </h4>
      <div class="card padd-05 light-green lighten-3">
        <v-contragent :item=" form['контрагент'] " :param=" {'редактировать':true, 'реквизиты': {'ИНН':'', 'email':undefined, 'юр. адрес': '', 'физ. лицо': false, 'тел':[''],}, suggest:{ ulDropDownClass: ['striped teal lighten-4'],}} " :data=" contragentData " @on-select=" SelectContragent ">
          <template v-slot:form=" { form } ">
            <span  v-show="!!form._isEdit" class="chip padd-0-05 green-text text-darken-2 fs8"  style="">* редактирование *</span>
            <span  v-show="!form.id && form.title.length > 1" class="chip padd-0-05 red-text text-darken-2 fs8"  style="">* новый арендатор? проверьте *</span>
            <span  v-if="form.id" class="grey-text fs7 " style="position: absolute; right:0;">#{{ form.id }}</span>
          </template>
        </v-contragent>
      </div><!-- card -->
    </div>
  </div><!-- row -->
    
  <!---div class="row">
    <div class="col s4 padd-05">


    </div>
    <div class="col s8  row padd-05">

    </div><!-- col >
  </div><!-- row -->

  <div class="row" style="margin-bottom: 3rem;">
    <div class="col s4 ">
      <h4 class="right-align relative">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="teal-fill-darken-3" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#handshake"></use></svg>
        <span>Договор</span>
      </h4>
    </div>
    <div class="col s4 ">
      <div class="input-field">
        <h5 class="nowrap" style="position:absolute; top:-1.2rem;">
          <span>номер</span>
          <sup v-show=" !form['номер'] " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
          <span class="grey-text padd-0-05">без символа №</span>
        </h5>
        <input type="text" v-model=" form['номер'] " placeholder="номер договора">
      </div>
    </div>
    <div class="col s4 ">
      <div  :key=" keys['дата договора'] " class="input-field">
        <a v-show="form['дата договора']" @click=" ClearDate('дата договора') " href="javascript:" class="" style="position:absolute; top:0; right:0; z-index:1;"><i class="material-icons red-text">cancel</i></a>
        <h5 class="nowrap" style="position:absolute; top:-1.2rem;">
          <span>дата подписания</span>
          <!--sup v-show=" !Valid('номер') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup-->
        </h5>
        <input name="дата договора" type="text" class="datepicker"  :data-value=" form['дата договора'] " placeholder="дата договора">
      </div>
    </div>
  </div><!-- row -->
  
  <div class="row" style-000="margin-bottom:3rem;">
    <div class="col s4 right-align">
      <h4 class="">
        <i class="material-icons">today</i>
        <span>Срок аренды</span>
      </h4>
    </div>
    <div class="col s4 ">
      <div :key=" keys['дата1'] " class="input-field">
        <h6 class="nowrap" style="position:absolute; top:-0.9rem;">начало срока (фактическое начало)</h6>
        <input name="дата1" type="text" class="datepicker"  :data-value=" form['дата1'] ">
      </div>
    </div>
    <div :key=" keys['дата2'] " class="col s4 ">
      <div class="input-field">
        <h6 class=" nowrap" style="position:absolute; top:-0.9rem;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252" class="red-fill fill-darken-3" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#exit"></use></svg>
          <span>завершение срока</span>
        </h6>
        <input name="дата2" type="text" class="datepicker"  :data-value=" form['дата2'] ">
      </div>
    </div>
    
    <div class="col s4 push-s4">
      <div class="input-field chip shadow-inset-10 hoverable">
        <input :id=" 'chb-long-' + form._id " name="" type="checkbox" class="" v-model=" form['продление срока'] " >
        <label :for="'chb-long-' + form._id " class="before-yellow before-lighten-4 brown-text text-darken-3 chip yellow lighten-4 hoverable" style="padding-left:16px;"></label>
        <label :for="'chb-long-' + form._id " class=""><h5 class="inline maroon-text" style=""> <span class="material-icons   maroon-text " style="">alarm_add</span> <span>Продление срока аренды</span></h5></label>
      </div>
    
    </div>
  </div><!-- row -->
  
  <div class="row" style="margin-bottom:3rem;">
    <div class="col s4 ">
      <h4 class="right-align">
        <i class="material-icons">date_range</i>
        <span>Договор расторгнут</span>
      </h4>
    </div>
    <div class="col s4 ">
      <div  :key=" keys['дата расторжения'] " class="input-field">
        <a v-show="form['дата расторжения']" @click=" ClearDate('дата расторжения') " href="javascript:" class="" style="position:absolute; top:0; right:0; z-index:1;"><i class="material-icons red-text">cancel</i></a>
        <h6 class="nowrap" style="position:absolute; top:-0.9rem;">
          <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252" class="red-fill fill-darken-3" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#exit"></use></svg-->
          <i class="material-icons fs10">lock</i>
          <span>дата расторжения</span>
        </h6>
        <input name="дата расторжения" type="text" class="datepicker"  :data-value=" form['дата расторжения'] " placeholder="дата расторжения">
      </div>
    </div>
    <!--div class="col s4 ">
      <div class="input-field">
        <h6 class=" nowrap" style="position:absolute; top:-0.9rem;">завершение срока</h6>
        <input name="дата2" type="text" class="datepicker"  :data-value=" form['дата2'] ">
      </div>
    </div-->
  </div><!-- row -->
  
  <div class="row">
    <div class="col s4 ">
      <h4 class="right-align line-height-10">
        <i class="material-icons">today</i>
        <span>Оплата до числа каждого месяца</span>
      </h4>
    </div>
    <div class="col s4 ">
      <div class="input-field">
        <input name="оплата до числа" type="number" class="" v-model.number.trim=" form['оплата до числа'] " placeholder="день месяца">
      </div>
    </div>
    <div class="col s4 ">
      <div class="input-field chip shadow-inset-10 hoverable">
        <input :id=" 'chb-pred-' + form._id " name="" type="checkbox" class="" v-model=" form['предоплата'] " >
        <label :for="'chb-pred-' + form._id " class="before-yellow before-lighten-4 brown-text text-darken-3 chip yellow lighten-4 hoverable" style="padding-left:16px;"></label>
        <label :for="'chb-pred-' + form._id " class=""><h5 class="inline" style="">Обеспечительный платеж</h5></label>
      </div>
      <!--div class="input-field chip">
        <input :id=" 'chb-nal-' + form._id " name="" type="checkbox" class="" v-model=" form['оплата наличкой'] " >
        <label :for="'chb-nal-' + form._id " class="before-yellow before-lighten-4 brown-text text-darken-3 chip yellow lighten-4" style="padding-left:16px;"></label>
        <label :for="'chb-nal-' + form._id " class=""><h5 class="inline" style="">Наличка</h5></label>
      </div-->
    </div>
  </div><!-- row -->
  
  <!---div class="row">
    <div class="col s4 ">
      <h4 class="right-align">
        <i class="material-icons">place</i>
        <span>Объект-помещения</span>
        
      </h4>
    </div>
    
    <div class="col s8 relative">
      <div class="chip bold padd-0-05 fs8" style="position:absolute; right:0rem; top:-1rem;">{{ form['@помещения'].length }}</div--->
    
    <div class="row marg-0">
    <div class=" col000s12 ">
      <h4 class="relative">
        <i class="material-icons">format_list_numbered</i>
        <span>Сданы в аренду помещения/офисы объекта</span>
        
      </h4>
    
      <h5 class="helmet tab-shadow z-depth-1 lime lighten-4  " :class="{'fw500 active lime lighten-4': roomsTableIdx === 0, 'hoverable':roomsTableIdx != 0, }">
        <a @click="roomsTableIdx = 0" href="javascript:" class="hover-shadow3d">
          <!--i class="material-icons">format_list_numbered</i-->
          <span>Осн. договор</span>
          <sup class="chip z-depth-1 white">{{ form['@помещения'].length-1 }} поз.</sup>
          <sup v-show=" !ValidRooms " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
        </a>
      </h5>
      
      <div v-if="!!form.id" v-for="(dop, idx) in form['@доп.соглашения']" class="  tab-shadow z-depth-1 relative" :class="{' marg-0-05 active  ': roomsTableIdx == idx+1, 'helmet lime lighten-4':!!dop.id || !!dop['дата1'], 'orange lighten-4':!dop.id, 'hoverable':roomsTableIdx != idx+1, 'chip right': !dop['дата1']}">
        <h5 class="" :class="{'fw500': roomsTableIdx == idx + 1,}">
          <a @click="DopTable(dop)" href="javascript:" class="hover-shadow3d" :class="{'orange-text text-darken-3': !dop.id}">
            <span v-show="!dop.id && !!dop['дата1']" class="" style="">✱</span>
            <i v-show="!dop['дата1']" class="material-icons">library_add</i>
            <span> Доп. соглашение </span>
            <span v-show="!!dop['дата1']"> №{{idx+1}} </span>
            <sup v-if="roomsTableIdx == idx+1 && !!dop['дата1'] && !!dop['@помещения'] " class="chip z-depth-1 white"> {{ dop['@помещения'].length-1 }} поз. </sup>
            <!--sup v-show=" !ValidDop(idx) " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup-->
          </a>
        </h5>
        <div v-if=" roomsTableIdx == idx+1" class="animated fadeIn slow">
          <a v-show=" dop['дата1'] " @click=" RemoveDop(idx) " href="javascript:" class="hover-childs-show" style="position:absolute; top:2rem; right:0.5rem; z-index:1;">
            <i class="material-icons red-text circle hoverable">cancel</i>
            <span class="hover-parent-show-inline chip padd-0-05 red-text hover-shadow3d nowrap" style="position:absolute;">Удалить доп. соглашение</span>
          </a>
          <h5><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3 " style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#start-date" class=""></use></svg><span>С даты</span></h5>
          <div key000=" keys[`дата1 доп соглашения ${ idx+1 }`] " class="input-field">
            <input :name=" `дата1 доп соглашения ${ idx+1 }` " type="text" class="datepicker"  :data-value=" dop['дата1'] || '' " placeholder="дата доп. соглашения">
          </div>
          <h6 v-show="!dop['дата1']" class="red-text">Указать дату нового соглашения</h6>
        </div>
        <div v-else v-show=" dop['дата1'] ">
          с <span class="chip padd-0-05  shadow-inset-10">{{ dateFns.format(dop['дата1'], 'DD MMMM YYYY', {locale: dateFns.locale_ru})  }}</span>
        </div>
        

      </div>
    
      <contract-rooms v-if="roomsTableIdx === 0" :key="roomsTableIdx" :помещения="form['@помещения']" :всегоСуммаБезнал=" {'сумма':form['сумма безнал'] || null} " @table-sum="OnTableSum" @rooms-change="OnRoomsChange" class="block animated zoomIn fast"></contract-rooms>
      <contract-rooms v-if=" roomsTableIdx > 0 && form['@доп.соглашения'] && form['@доп.соглашения'][roomsTableIdx-1] && form['@доп.соглашения'][roomsTableIdx-1]['дата1']" :key="roomsTableIdx" :помещения="form['@доп.соглашения'][roomsTableIdx-1]['@помещения']" :param="{'bgClass': !!form['@доп.соглашения'][roomsTableIdx-1].id ? 'lime lighten-4' : 'orange lighten-4'}" :всегоСуммаБезнал="{'сумма':form['@доп.соглашения'][roomsTableIdx-1]['сумма безнал'] || null}" @table-sum="OnTableSum" @rooms-change="OnRoomsChange" class="block animated zoomIn fast"></contract-rooms>
      
    </div><!-- col -->
    </div><!-- row -->
    <div :key="roomsTableIdx" v-if="roomsTableIdx === 0 || !!(form['@доп.соглашения'] && form['@доп.соглашения'][roomsTableIdx-1] && form['@доп.соглашения'][roomsTableIdx-1]['дата1'])" class="row card marg-05-000 padd-05 animated slideInDown" :class="{'lime lighten-4': roomsTableIdx == 0 || (roomsTableIdx > 0 && !!form['@доп.соглашения'][roomsTableIdx-1].id), 'orange lighten-4': roomsTableIdx > 0 && !form['@доп.соглашения'][roomsTableIdx-1].id}" :class000="{'lime lighten-4': roomsTableIdx > 0 && !!form['@доп.соглашения'][roomsTableIdx-1].id, 'orange lighten-5':roomsTableIdx > 0 && !form['@доп.соглашения'][roomsTableIdx-1].id, 'lime lighten-4':  roomsTableIdx == 0}">
      <div class="col s7  row">
        <div class="col s7 ">
          <h4 class="right-align">
            <!--i class="material-icons">today</i-->
            <span v-show="roomsTableIdx == 0">Еще наличка к договору, руб</span>
            <span v-show="roomsTableIdx > 0">Еще наличка к доп.соглашению, руб</span>
          </h4>
        </div>
        <div class="col s5 ">
          <div class="input-field chip z-depth-1 lime lighten-3" :class000="{'lime lighten-4': roomsTableIdx > 0 && !!form['@доп.соглашения'][roomsTableIdx-1].id, 'orange lighten-4':roomsTableIdx > 0 && !form['@доп.соглашения'][roomsTableIdx-1].id, 'lime lighten-3':  roomsTableIdx == 0}">
            <input  v-if="roomsTableIdx == 0" name="сумма нал" type="text" class="" v-model.trim=" form['сумма нал'] " placeholder="+ сумма налички, руб">
            <input  v-if="roomsTableIdx > 0" name="сумма нал" type="text" class="" v-model.trim=" form['@доп.соглашения'][roomsTableIdx-1]['сумма нал'] " placeholder="+ сумма налички доп.согл., руб">
          </div>
        </div>
        
        <div v-if="roomsTableIdx == 0" class="col s12 ">
          <h4 class="">Примечание к договору</h4>
          <div class="rounded-05 padd-05 lime-000-lighten-3 input-field">
            <textarea v-model.trim="form['коммент']" class="materialize-textarea padd-0 fs8" style="min-height: 4rem;"></textarea>
          </div>
        </div>
        <div v-if="roomsTableIdx > 0" class="col s12 ">
          <h4 class="">Примечание к доп. соглашению</h4>
          <div class="rounded-05 padd-05 teal-000-lighten-4 input-field">
            <textarea v-model.trim="form['@доп.соглашения'][roomsTableIdx-1]['коммент']" class="materialize-textarea padd-0 fs8" style="min-height: 4rem;"></textarea>
          </div>
        </div>
        
      </div>
      <div v-show="roomsTableIdx == 0 || form['@доп.соглашения'][roomsTableIdx-1]['дата1']" class="col s5 row">
        <h4>Общая сумма по <span v-show="roomsTableIdx == 0">договору</span><span v-show="roomsTableIdx > 0">доп. соглашению</span></h4>
        <h3 class=" chip teal darken-4  white-text">
          <span class="bold">{{ TotalSum.toLocaleString({"currency": 'RUB', "minimumFractionDigits":2,}) }}</span><!--.replace(/[\.,]\d+$/, '') -->
          <span>₽/мес</span>
        </h3>
      </div>
      <div class="col s5">
        <div class="input-field chip brown lighten-4 shadow-inset-10 hoverable">
          <input v-if="roomsTableIdx == 0" :id=" 'крыж-коммуналка-' + form._id " name="" type="checkbox" class="" v-model=" form['коммуналка'] " >
          <input v-if="roomsTableIdx > 0" :id=" 'крыж-коммуналка-' + form._id " name="" type="checkbox" class="" v-model=" form['@доп.соглашения'][roomsTableIdx-1]['коммуналка'] " >
          <label :for="'крыж-коммуналка-' + form._id " class="before-yellow before-lighten-4 brown-text text-darken-3 chip yellow lighten-4 hoverable" style="padding-left:16px;"></label>
          <label :for="'крыж-коммуналка-' + form._id " class="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 496 496" class="browm-fill fill-darken-3" style="height: 1.5rem;"><use xlink:href="/fonts/rent.svg?2020-12-02#electric-meter"></use></svg>
            <h5 class="inline brown-text  text-darken-3" style="">Еще коммуналка по <span v-show="roomsTableIdx == 0">договору</span><span v-show="roomsTableIdx > 0">доп. соглашению</span>
            </h5>
          </label>
        </div>
      </div>
    </div><!-- row -->
    
    <!--- скидки --->
    <div class="row ">
      <div class="col push-s7 s5">
        <h4>Скидки на месяц, % <a @click=" AddDiscount() " href="javascript:" class="btn-floating center"><span class="material-icons">add_box</span></a></h4>
        <div class="fs8 grey-text">Допустим, была сумма 21 000 руб, нужно сделать сумму к оплате 11 000 руб, тогда скидка будет 10 000 руб, а процент скидки = 10000/21000*100=47,619047619 %</div>
        <!--div>{{ form['@скидки'] }}</div-->
        <ul>
          <li v-for="(dc, idx) in form['@скидки']" :key="idx" class="nowrap">
            <h4 class="input-field chip padd-0-05" :class="{'fw500':!!dc['месяц'] }" style="width:10rem;"><input :name=" `месяц скидки ${ idx+1 }` " :data-idx="idx" type="text" class="month-picker-discount"  :data-value=" dc['месяц'] || '' " placeholder="месяц скидки"></h4>
            <div class="input-field chip padd-0-05" style="width:10rem;"><input type="text" v-model="dc['%']" placeholder="%"></div> <span v-show="dc['%']">%</span>
          </li>
        </ul>
      </div>
    </div><!-- row -->
  
   <div class="row">
    <div class="col s12 ">
      <h4 class="">
        <!-- i class="material-icons">storage</i -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="teal-fill fill-darken-3 " style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg?20200929#attach" class=""></use></svg>
        <span>Файлы документов</span>
        <!--sup class="chip ">{{ form._uploads.length }}</sup-->
      </h4>
      <div v-if="form.id" class="card teal lighten-5">
        <v-uploads :parent="form"></v-uploads>
      </div>
      <div v-else class="grey-text center">Можно загрузить после сохранения договора</div>
    </div>
   </div><!-- row -->
  
  <!--div class="row">
    <div class="col s12 ">
      <h4 class="">Примечание к договору</h4>
    </div>
    <div class="col s12 ">
      <div class="rounded-05 padd-05 teal lighten-5 input-field">
        <textarea v-model.trim="form['коммент']" class="materialize-textarea padd-0 fs8" style="min-height: 4rem;"></textarea>
      </div>
    </div>
  </div><!-- row -->
  
</div>

<!-- div class="fs8">{{ form }}</div-->

<div class="card-action center grey lighten-2">
  <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Сохраняется...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a v-show="form.id" @click=" RemoveBtn() " href="javascript:" class="left btn-flat z-depth-1 red white-text">
          <span class="material-icons">delete_forever</span>
          <span>Удалить</span>
        </a>
        <span v-show="!!form['копия/id'] && !form.id" class="red-text fs12"> Копия, внимательно!</span>
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal-remove" class="modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp-000  slideOutUp fast"  style="max-height:90%; width:100%; top:0;">
  <div class="modal-content row">
    <h2 class="center">Подтвердить удаление договора</h2>
  </div><!-- modal-content -->
  <div class="modal-footer center">
    <a @click=" RemoveBtn(true) " href="javascript:" class="modal-action modal-close waves-effect waves-red btn-flat z-depth-1 red lighten-3 red-text text-darken-3 btn-flat z-depth-1 red white-text" style="float:none;">
          <span class="material-icons">delete_forever</span>
          <span>Да</span>
        </a>
    <a  href="javascript:" class="modal-action modal-close btn-flat z-depth-1 orange-text "><i class="material-icons">cancel</i><span>Нет</span></a>
  </div>

</div>

</div>
