@@@ аренда/объекты/таблица

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready ">
<div>
  <a v-show=" !newObject " @click=" New " href="javascript:" class="btn-flat z-depth-1" style="position: absolute; top:0; right:0;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="black-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg> Добавить объект</a>
  <v-rent-object-form v-if=" newObject " :item=" newObject "></v-rent-object-form>
</div>

<table class="">

<tbody>
  <tr v-for=" item in FilteredData " :key=" item.id " class="" :class="{'selected': item === selectedObject}">
    <td>{{ item }}</td>
    
  </tr>
</tbody>
</table>

</div>
</div>