@@@ аренда/объект/форма

<div v-if="ready" class="card z-depth-5 blue lighten-4 animated zoomIn fast">

<!--div class="hide">{{ vm = {"вап": 1} }}</div-->

<div class="card-content">
  <div class="row relative">
    <a @click=" CancelBtn()" href="javascript:" class="btn-flat z-depth-1 white red-text lighten-2" style="position:absolute; right:0;">
      <i class="material-icons">cancel</i><span>Отмена</span>
    </a>
    <h3 class="fw500">
      <!--i ng-show=" !$c.data['перемещение'] " class="icon icon-star fs14"></i-->
      <i v-show=" !form.id " class="material-icons ">star</i>
      <span v-show=" !form.id " >Новый объект аренды</span>
      
      <i v-show=" form.id " class="material-icons ">edit</i>
      <span v-show=" form.id " >Редактировать объект аренды</span>
      
      <span v-show="form.id" class="grey-text fs8">#{{form.id}}</span>
    </h3>
    <div class="divider teal darken-4" style="margin-bottom: 1rem;"></div>
  </div>

    <div class="row">
      <div class=" col s12 ">
        <h4 class="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="height: 1.5rem;" class="teal-fill-darken-3"><use xlink:href="/fonts/icons.svg#realty-1"></use></svg>
          <span>Объект</span>
        </h4>
        <v-object-select :select=" form['$объект'] " :param=" {'без поля поиска': true,} " :data-url=" 'аренда/объекты-ук' " @on-select-object=" SelectObject "></v-object-select>
        <!--div class="input-field">
          <input type="text" v-model=" form['адрес'] ">
        </div--->
      </div>
    </div>
    
    <div class="row"><div class=" col s12 relative">
    
      <h4><i class="material-icons">format_list_numbered</i> <span>Помещения и кабинеты объекта</span></h4>

      <div class="nowrap">
        <h6 class="fw500 helmet tab-shadow z-depth-1 " :class="{'active lime lighten-4': !showFloor}">
          <a @click="ShowFloor()" href="javascript:" class="hover-shadow3d">
            <span>Все</span>
            <sup class="chip fs8">{{ form['@кабинеты'].length }}</sup>
          </a>
        </h6>
        
        <h6 v-for="(item, floor) in FloorSquares" class="fw500 helmet tab-shadow  z-depth-1  " :class="{'active lime lighten-4': showFloor && showFloor.name == floor}">
          <a @click="ShowFloor(item)" href="javascript:" class="hover-shadow3d">
            <!--i class="material-icons">format_list_numbered</i-->
            <span>{{ floor }}</span>
            <sup class="chip fs8">{{ item['помещения'].length }}</sup>
          </a>
        </h6>
      </div>
      
      <div class="" style="position:absolute; top:0.5rem; right:0.5rem; z-index:1;"><a @click="expandRooms = !expandRooms" href="javascript:" class="chip hoverable padd-0 z-depth-1"><i class="material-icons" :class="{'rotate180': expandRooms}">arrow_drop_down</i></a></div>
      
      <div class="z-depth-1" style="" :style="expandRooms ? {} : {'max-height': 'calc(30vh)', overflow:'auto',}"><table class="tmc top striped bordered lime lighten-4 ">
        <thead class=""><tr>
          <th style="width:1%;"></th>
          <th class="center vbottom" style="width:1%;">
            <a v000-show="!form.id" @click=" AddRoom() " href="javascript:" class="btn-flat" style="padding: 0;" title="добавить">
              <i class="material-icons lime-text-darken-3 fs18">add_box</i>
            </a>
          </th>
          <th class="center vbottom" style="width:5%;">
            <br><!-- отступ-->
            <h5 class="fw500 relative">
              <span>№ или<br>название</span>
              <sup v-show=" !ValidRooms('номер-название') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
            </h5>
          </th>
          <th class="center vbottom" style="width:10%;">
            <h5 class="fw500 relative">
              <span>Этаж</span>
              <sup v-show=" !ValidRooms('этаж', 'length') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
            </h5>
          </th>
          <!--th class="center" style="width:5rem;">Ед. изм.</th-->
          <th  class="center vbottom" style=" width:7%;">
            <h5 class="fw500 relative">
              <span>Площадь</span>
              <sup v-show=" !ValidRooms('площадь')" class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
            </h5>
          </th>
          <th class="center vbottom" style="width:12%;">
            <h5 class="fw500">
              Примечание
            </h5>
          </th>
        </tr></thead>
      <tbody >
        <tr v-for="(room, index) in tableRooms " :key=" room._id " :id=" `room-row-${ room._id }` ">
          <td class="right-align relative" style=" vertical-align:middle;">
            <span>{{ index+1 }}</span>
            <span v-show=" !!room.id " class="fs7 grey-text" style="position: absolute; z-index: 1; bottom:0; left:0;">#{{ room.id }}</span>
            <span v-show=" !room.id " class="fs7 grey-text" style="position: absolute; z-index: 1; top:0; left:0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="orange-fill-darken-3" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#asterisk"></use></svg></span>
          </td>
          <td class="center middle" style="">
            <div class="hover-childs-show relative">
              <span class="chip padd-0 hover-parent-hide-child"><i class="material-icons">more_horiz</i></span>
              <span class="chip padd-0-05 nowrap hover-parent-show-inline absolute animated fadeIn" style="left:0rem; top:-1rem; z-index:1;">
                <a v-show=" ValidRoom(room) "  @click=" CopyRoom(room)" href="javascript:" class="btn-flat padd-0 " style="" title="копировать">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="green-fill fill-darken-3 ng-scope" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#copy"></use></svg>
                </a>
                <a v-show="!room._id || !(form['@помещение в договоре аренды'] && form['@помещение в договоре аренды'][index])" @click=" DeleteRoom(room) " href="javascript:" class="btn-flat padd-0" style="" title="удалить">
                  <i class="material-icons   " :class="{'red-text-darken-3': !(form['@помещение в договоре аренды'] && form['@помещение в договоре аренды'][index]), 'grey-text-darken-2':!!(form['@помещение в договоре аренды'] && form['@помещение в договоре аренды'][index]), }">delete_forever</i>
                </a>
                <a v000-show=" index == form['@кабинеты'].length - 1 || !form.id" @click=" AddRoom(room) " href="javascript:" class="btn-flat padd-0" style="" title="добавить">
                  <i class="material-icons lime-text-darken-3 ">add_box</i>
                </a>
              </span>
            </div>
          </td>
          <td class="padd-05-000">
            <div class="input-field">
              <input  type="text" v-model="room['номер-название']" placeholder="номер | название" class="right-align" style="">
            </div>
          </td>
          <td class="padd-05-000" style-000="padding-top:0.34rem;">
            <div class="input-field">
              <!--input  type="text" v-model="room['этаж']" placeholder="этаж" class="right-align" style=""-->
              <v-select-floor :select=" {'id': room['этаж'], 'room':room,} " :items=" ListFloors " :param=" {'без поля поиска': true, ulDropDownClass: ['striped']} " @on-select=" OnFloorSelect ">
                <template v-slot:selected="{ selected }">
                  <h4 v-if="selected" class="padd-0-05 lime-text text-darken-4  hover-bottom-shadow-teal-darken-3 fw500">
                    <span>{{ selected.floor }}</span>
                  </h4>
                  <h4 v-else class="grey-text text-darken-4">Выбрать этаж</h4>
                </template>
                <template v-slot:listItem="{ listItem, selected, highlighted }">
                  <h4 class="padd-0-05 lime-text text-darken-4 hover-shadow3d"  :class="{'bold': listItem === selected, 'fw500': listItem === highlighted}"  style="">
                    <span >{{ listItem.floor }}</span>
                    <!--a><i class="material-icons red-text" style="">cancel</i></a-->
                  </h4>
                </template>
              </v-select-floor>
            </div>
          </td>
          <td class="padd-05-000">
            <div class="input-field">
              <input  type="text" v-model="room['площадь']" placeholder="площадь, м²" class="right-align" style="">
            </div>
          </td>
          <td class="padd-05-000">
            <div class="">
              <div class="input-field">
                <textarea v-model=" room['коммент'] " placeholder="примечание" class="materialize-textarea fs8" style="font-size:0.8rem; padding:0; min-height: 2rem; /*max-width:5rem;*/"></textarea>
              </div>
            </div>
          </td>
        </tr>
        
        
        </tbody>
      </table></div>
    <!-- ИТОГИ -->
    <h4 class="nowrap right-align">
      Площадь объекта
        <span class="bold chip z-depth-1 nowrap">
          <span>{{ TotalSqure.toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }} </span>
          <span class="grey-text fw100"> м²</span>
        </span>
      
    </h4>
    <h4 class="helmet tab-shadow active blue lighten-5 z-depth-1">Площадь по этажам</h4>
    <ul class="z-depth-1 marg-0 blue lighten-4 striped" style="width:70%;">
      <li v-for="(item, floor) in FloorSquares"><h5 class="iblock right-align" style="width:7rem;">{{ floor }}</h5> <h4 class="iblock bold right-align" style="width:10rem;">{{ item['площадь'].toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }}</h4><span class="grey-text"> м²</span></li>
    </ul>
    
    </div></div><!-- col+row -->
    
    <div class="row">
      <h4>Примечание объекта</h4>
      <div class="col s12 m8-000">
        <div class="input-field rounded-05 padd-05 blue lighten-5 " style="">
          <textarea v-model=" form['коммент'] " class="materialize-textarea" style="font-size:0.8rem; padding:0; min-height: 5rem;"></textarea>
        </div>
      </div>
    </div>
    
      <!--div class="">{{ form }}</div-->
</div>

<div class="card-action center">
  <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid()" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <!--a v-show=" form.id " class="btn red lighten-3" href="javascript:" @click=" Remove "  title=""> <i class="material-icons white-text">delete</i> <span class="white-text">Удалить</span> </a-->
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
</div>

</div>