@@@ аренда/объект/форма

<div v-if="ready" class="card z-depth-5 blue lighten-4 animated zoomIn fast">

<!--div class="hide">{{ vm = {"вап": 1} }}</div-->

<div class="card-content">
  <div class="row relative">
    <a @click=" CancelBtn()" href="javascript:" class="btn-flat z-depth-1 white red-text lighten-2" style="position:absolute; right:0;">
      <i class="material-icons">cancel</i><span>Отмена</span>
    </a>
    <h3 class="fw500">
      <!--i ng-show=" !$c.data['перемещение'] " class="icon icon-star fs14"></i-->
      <i v-show=" !form.id " class="material-icons ">star</i>
      <span v-show=" !form.id " >Новый объект аренды</span>
      
      <i v-show=" form.id " class="material-icons ">edit</i>
      <span v-show=" form.id " >Редактировать объект аренды</span>
      
      <span v-show="form.id" class="grey-text fs8">#{{form.id}}</span>
    </h3>
    <div class="divider teal darken-4" style="margin-bottom: 1rem;"></div>
  </div>

    <div class="row">
      <div class=" col s12 ">
        <h4 class="iblock right-align" style="width:28%;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="height: 1.5rem;" class="teal-fill-darken-3"><use xlink:href="/fonts/icons.svg#realty-1"></use></svg>
          <span>Объект: </span>
        </h4>
        <div  class="iblock" style="width:70%;">
          <v-object-select :select=" form['$объект'] " :param=" {'без поля поиска': true,} " @on-select-object=" SelectObject "></v-object-select>
        </div>
      </div>
    </div>
    
    <!--div>{{ counter }}</div-->
    
    <div class="row"><div class=" col s12 relative"><!-- -->
      <div v-for="liter in Liters" v000-for="[liter_id, liter] of Object.entries(Liters)" :key="liter.id" class="relative row" :id=" `liter-${liter.id}` ">
        <h4>
          <i class="material-icons">format_list_numbered</i>
          <span> Помещения и кабинеты </span>
          <span class="chip lime darken-3 white-text z-depth-1">
            <span v-show="liter.id === 0">новый </span>
            <span v-show="form.litersEdit[liter.id||'']">изменить </span>
            литер: 
            <span v-if="form.litersEdit.hasOwnProperty(liter.id) || !liter.title" class="input-field iblock white padd-0-05 fs8 animated zoomIn fast" style="border-radius:5px; width:5rem;">
              <sup v-show="!form.litersEdit[liter.id].title" class="chip red" style="position: absolute; z-index: 1; top:0; left:0; padding:0.3rem;"></sup>
              <input type="text" v-model.lazy="form.litersEdit[liter.id].title" class="bold lime-text text-darken-4" placeholder="Указать литер" />
            </span>
            <a v-else class="chip padd-0-05 bold lime-text text-darken-3 hoverable hover-shadow3d hover-white" @click="Edit(liter, $event)" href="javascript:">{{ liter.title }}</a>
          </span>
          
        </h4>

        <div class="nowrap">
          <h6 class="fw500 helmet tab-shadow z-depth-1" :class="{'active  lime lighten-4 marg-0-05': !showFloors[liter.id], 'hover-white': !!showFloors[liter.id],}">
            <a @click="ShowFloor(liter)" href="javascript:" class="" :class="{'bold': !showFloors[liter.id], 'hover-shadow3d': !!showFloors[liter.id]}">
              <span>Все</span>
              <sup class="chip fs8">{{ liter['помещения'].length }}</sup>
            </a>
            <br>
            <span class="chip padd-0-05 nowrap fs8">
              <span class="bold">{{ liter['площадь'].toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }} </span>
              <span class="grey-text fw100"> м²</span>
            </span>
          </h6>
          
          <h6 v-for="floor_id in Object.keys(liter['по этажам']).sort(_CompareFloor)" v000-for="[floor_id, item] of Object.entries(liter['по этажам']) " :key="floor_id" v-show=" floor_id !== 'undefined' " class="fw500 helmet tab-shadow z-depth-1  " :class="{'active  lime lighten-4 marg-0-05':  showFloors[liter.id] == floor_id, 'hover-white': showFloors[liter.id] != floor_id}">
            <a @click="ShowFloor(liter, floor_id)" href="javascript:" class="" :class="{'bold': showFloors[liter.id] == floor_id, 'hover-shadow3d': showFloors[liter.id] != floor_id}">
              <!--i class="material-icons">format_list_numbered</i-->
              <span>{{ _floors[floor_id] }}</span>
              <sup class="chip fs8">{{ liter['по этажам'][floor_id]['помещения'].length }}</sup>
            </a>
            <br>
            <span class="chip padd-0-05 nowrap fs8">
              <span class="bold">{{ liter['по этажам'][floor_id]['площадь'].toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }}</span>
              <span class="grey-text"> м²</span>
            </span>
          </h6>
        </div>
        
        <div class="" style="position:absolute; top:0.5rem; right:0.5rem; z-index:1;"><a @click="Expands('развернуть помещения:'+liter.id)" href="javascript:" class="chip lime darken-3 white-text hoverable padd-0 z-depth-1"><i class="material-icons" :class="{'rotate180': expands['развернуть помещения:'+liter.id]}">arrow_drop_down</i></a></div>
        
        <div class="z-depth-1 relative" style="" :style="expands['развернуть помещения:'+liter.id] ? {} : {'max-height': 'calc(30vh)', overflow:'auto',}">
        <table class="tmc top striped bordered lime lighten-4 highlight-000">
          <thead class=""><tr>
            <th style="width:1%;"></th>
            <th class="center vbottom" style="width:1%;">
              <a v000-show="!form.id" @click=" AddRoom(liter) " href="javascript:" class="btn-flat-000 chip hoverable z-depth-1" style="padding: 0;" title="добавить">
                <i class="material-icons lime-text-darken-3 fs18">add_box</i>
              </a>
            </th>
            <th class="center vbottom" style="width:5%;">
            <!-- отступ-->
              <h5 class="fw500 relative" >
                <span>№ или<br>название</span>
                <sup v-show=" !ValidRooms(liter, 'номер-название') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
              </h5>
            </th>
            <th class="center vbottom" style="width:10%;">
              <h5 class="fw500 relative">
                <span>Этаж</span>
                <sup v-show=" !ValidRooms(liter, 'этаж', 'length') " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
              </h5>
            </th>
            <!--th class="center" style="width:5rem;">Ед. изм.</th-->
            <th  class="center vbottom" style=" width:7%;">
              <h5 class="fw500 relative">
                <span>Площадь</span>
                <sup v-show=" !ValidRooms(liter, 'площадь')" class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup>
              </h5>
            </th>
            <th class="center vbottom" style="width:12%;">
              <h5 class="fw500">
                Примечание
              </h5>
            </th>
          </tr></thead>
        <tbody >
           <!---transition leave-active-class="animated zoomOutUp"--->
          <tr v-for="(room, index) in ((showFloors[liter.id] && liter['по этажам'][showFloors[liter.id]] && liter['по этажам'][showFloors[liter.id]]['помещения']) || liter['помещения']) " :key=" room._id " :id=" `room-row-${ room._id }` " class="animated slideInRight---000" :class="{'orange lighten-3':!room.id}">
            <td class="right-align relative padd-05" style=" vertical-align:middle;">
              <span>{{ index+1 }}</span>
              <span v-show=" !!room.id " class="fs7 grey-text" style="position: absolute; z-index: 1; bottom:0; left:0;">#{{ room.id }}</span>
              <span v-show=" !room.id " class="fs7 grey-text" style="position: absolute; z-index: 1; top:0; left:0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="orange-fill-darken-3" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#asterisk"></use></svg></span>
              <span v-show="room._copy_id" class="orange-text text-darken-3">копия!</span>
            </td>
            <td class="center middle padd-05" style="">
              <div class="hover-childs-show relative">
                <span class="chip z-depth-1 padd-0 hover-parent-hide-child"><i class="material-icons">more_horiz</i></span>
                <div class="chip z-depth-1  nowrap hover-parent-show-block animated fadeIn" style="position:absolute; left:0rem; top:-1rem; z-index:5;">
                  <a v-show=" ValidRoom(room) "  @click=" CopyRoom(room)" href="javascript:" class="btn-flat padd-0 " style="" title="копировать">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="green-fill fill-darken-3 ng-scope" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#copy"></use></svg>
                  </a>
                  <a v-show="!room._id || !(form['@помещение в договоре аренды'] && form['@помещение в договоре аренды'][index])" @click=" DeleteRoom(room) " href="javascript:" class="btn-flat padd-0" style="" title="удалить">
                    <i class="material-icons   " :class="{'red-text-darken-3': !(form['@помещение в договоре аренды'] && form['@помещение в договоре аренды'][index]), 'grey-text-darken-2':!!(form['@помещение в договоре аренды'] && form['@помещение в договоре аренды'][index]), }">delete_forever</i>
                  </a>
                  <a v000-show=" index == form['@кабинеты'].length - 1 || !form.id" @click=" AddRoom(liter, room) " href="javascript:" class="btn-flat padd-0" style="" title="добавить">
                    <i class="material-icons lime-text-darken-3 ">add_box</i>
                  </a>
                  <a @click="AddLiter(room)" href="javascript:" class="btn fs8 lime lighten-2  lime-text text-darken-4">перенести в новый литер</a>
                  <h5 v0000-show="!room._showChangeLiter"><a @click="$set(room, '_showChangeLiter', true)" href="javascript:">Изменить литер</a><span class="chip bold lime-text-darken-3 white padd-0-05">{{ room['$литер'].title || 'НОВЫЙ' }}</span></h5>
                  
                  <v-select-liter v-if="room._showChangeLiter" :key="keys['список литер']" :select=" {'id': room['$литер'].id, 'room':room,} " :items=" liters " :param=" {'без удаления':true, 'без поля поиска': true, 'без стрелки раскрытия списка':true, 'раскрыть список':true, ulDropDownClass: ['striped']} " @on-select=" OnSelectLiter ">
                  <template v-slot:selected="{ selected }">
                    <!--h4 v-if="selected" class="chip  lime darken-3 white-text input-hover-нет hoverable fw500 nowrap">
                      <span>литер </span>
                      <span class="chip lime-text-darken-3 white padd-0-05">{{ selected.title || 'НОВЫЙ' }}</span>
                    </h4-->
                    <h6>Выбрать другой литер</h6>
                  </template>
                  <template v-slot:listItem="{ listItem, selected, highlighted }">
                    <h4 class="padd-0-05 lime-text text-darken-4 hover-shadow3d nowrap relative"  :class="{'bold': listItem === selected, 'fw500': listItem === highlighted}"  style="">
                      <span >литер </span>
                      <span class="chip padd-0-05">{{ listItem.title || 'НОВЫЙ' }}</span>
                      <span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ listItem.id }}</span>
                    </h4>
                  </template>
                </v-select-liter>
                </div>
              </div>
            </td>
            <td class="padd-05">
              <div class="input-field">
                <input  type="text" v-model.lazy="room['номер-название']" placeholder="номер | название" class="right-align" style="">
              </div>
            </td>
            <td class="padd-05" style-000="padding-top:0.34rem;">
              <div class="input-field">
                <v-select-floor :select=" {'id': room['этаж'], 'room':room,} " :items=" floors " :param=" {'без поля поиска': true, ulDropDownClass: ['striped']} " @on-select=" OnFloorSelect ">
                  <template v-slot:selected="{ selected }">
                    <h4 v-if="selected" class="padd-0-05 lime-text text-darken-4 hoverable fw500 nowrap">
                      <span>{{ selected.floor }}</span>
                    </h4>
                    <h4 v-else class="grey-text text-darken-1 hoverable">Выбрать этаж</h4>
                  </template>
                  <template v-slot:listItem="{ listItem, selected, highlighted }">
                    <h4 class="padd-0-05 lime-text text-darken-4 hover-shadow3d hoverable nowrap"  :class="{'bold': listItem === selected, 'fw500': listItem === highlighted}"  style="">
                      <span >{{ listItem.floor }}</span>
                    </h4>
                  </template>
                </v-select-floor>
              </div>
            </td>
            <td class="padd-05">
              <div class="input-field">
                <input  type="text" v-model.lazy="room['площадь']" placeholder="площадь, м²" class="right-align" style="">
              </div>
            </td>
            <td class="padd-05">
              <div class="">
                <div class="input-field">
                  <textarea v-model=" room['коммент'] " placeholder="примечание" class="materialize-textarea fs8" style="font-size:0.8rem; padding:0; min-height: 2rem; /*max-width:5rem;*/"></textarea>
                </div>
              </div>
            </td>
          </tr>
          
          
          </tbody>
        </table></div>

        <!-- ИТОГИ -->
        <!--div class="">
          <h4 :class="{'right-align':!expands['площадь:'+liter.id], 'helmet tab-shadow active orange lighten-5 z-depth-1': !!expands['площадь:'+liter.id]}">
            <a @click=" $set(expands, 'площадь:'+liter.id, !expands['площадь:'+liter.id])" href="javascript:" class="chip hoverable">Площади по этажам <span class="chip padd-0-05 lime darken-3 white-text">литер <span class="bold">{{ liter.title }}</span></span></a>
          </h4>
        </div>
        <ul v-show="expands['площадь:'+liter.id]" class="z-depth-1 marg-0 orange lighten-4 striped bordered">
          <li v-for="floor_id in Object.keys(liter['по этажам']).sort(_CompareFloor)" :key="floor_id">
            <h5 class="iblock right-align" style="width:15rem;">{{ _floors[floor_id] }}</h5>
            <h4 class="iblock bold right-align" style="width:10rem;">{{ liter['по этажам'][floor_id]['площадь'].toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }} <span class="grey-text"> м²</span></h4>
          </li>
        </ul--->
        
        <!--h3 class="nowrap right-align">
          Итого площадь помещений
            <span class="bold chip z-depth-1 nowrap">
              <span>{{ liter['площадь'].toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }} </span>
              <span class="grey-text fw100"> м²</span>
            </span>
        </h3-->
        

      </div><!-- v-for литеры -->
      
      <div>
        <a v-if="!expands.hasOwnProperty('развернуть помещения:0')" @click="AddLiter()" href="javascript:" class="btn-flat z-depth-1 lime darken-3 white-text"><i class="material-icons ">add_box</i>Добавить литер</a>
        <span v-else class="chip grey-text-darken-2">сохранять по одному новому литеру</span>
      </div>
    </div></div><!-- col+row -->
    
    <!---div class="fs8 pre-wrap">{{ form.litersEdit }}</div--->
    
    <h4 class="nowrap right-align">
      Всего площадь объекта
        <span class="bold chip z-depth-1 nowrap">
          <span>{{ totalSquare.toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }} </span>
          <span class="grey-text fw100"> м²</span>
        </span>
      
    </h4>
    
    <div class="row">
      <h4>Примечание объекта</h4>
      <div class="col s12 m8-000">
        <div class="input-field rounded-05 padd-05 blue lighten-5 " style="">
          <textarea v-model=" form['коммент'] " class="materialize-textarea" style="font-size:0.8rem; padding:0; min-height: 5rem;"></textarea>
        </div>
      </div>
    </div>
    
      <!--div class="">{{ form }}</div-->
</div>

<div class="card-action center">
  <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!valid" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <!--a v-show=" form.id " class="btn red lighten-3" href="javascript:" @click=" Remove "  title=""> <i class="material-icons white-text">delete</i> <span class="white-text">Удалить</span> </a-->
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
</div>

</div>