@@@ аренда/объекты/таблица

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready ">
<div>
  <a v-show=" !newObject " @click=" New " href="javascript:" class="btn-flat z-depth-1 blue lighten-4 blue-text text-darken-4" style="position: absolute; top:0.3rem; right:1rem;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="blue-fill fill-darken-4" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg> Добавить объект</a>
  <div v-if=" newObject " style-000="position: absolute;  left:-5%;  width:110%; z-index:2;"><v-rent-object-form :item=" newObject " @on-save=" OnSave "></v-rent-object-form></div>
</div>

<!---table class="striped bordered blue lighten-4 z-depth-1 animated slideInUp">

<tbody>
  <tr v-for=" (item, idx) in data " :key=" item.id " class="relative" :class="{'selected': item === selectedObject}">
    <td class="vtop padd-05" style="width:calc(20vw)"--->
<div v-for=" (item, idx) in data " :key=" item.id " class="relative card padd-05 blue lighten-4 animated slideInUp" :class="{'selected': item === selectedObject}">
      <h4 :class="{'bold': item._edit}" class="fw500 line-height-10 card-title padd-05" style=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="height: 1.2rem;" class="blue-fill-darken-3"><use xlink:href="/fonts/icons.svg#realty-1"></use></svg>  <a @click=" Edit(item) " href="javascript:void('редактировать объект аренды') " class="hover-shadow3d blue-text text-darken-3" title="редактировать объект аренды">{{ (item['$объект'] && item['$объект'].name) || item['адрес'] }}</a></h4>
      <!--div v-show="item['коммент'] && !!item['коммент'].length " class="chip width100 truncate pre-wrap fs8 grey-text-000 line-height-10" style="height:2rem;" :title=" item['коммент'] ">{{ item['коммент'] }}</div-->
      
      <div v-if=" item._edit " style="position: absolute; left:-5%; width:110%; z-index:2;"><v-rent-object-form :item=" item._edit " @on-save=" OnSave "></v-rent-object-form></div>
    <!--/td>
    <td class="vtop padd-05 relative" style="width:60%;" :style=" item['@кабинеты'].length > 1 ? {'padding-top':'2rem !important'} : {}"-->
    <div class="card-content padd-05 relative" style="">
      <!--div v-show="item['@кабинеты'].length > 1" style="position:absolute; top:0.3rem;">
        <a @click=" SortItemRoomsIndexes(item) " href="javascript:" class="chip hoverable padd-0-02 z-depth-1 lime darken-3 white-text" title="сортировать по номеру"><i class="material-icons">sort</i></a>
      </div--->
      <div style="position: absolute; top: 0.5rem; right: 0.5rem; z-index: 1;">
        <div class="input-field chip shadow-inset-10 hoverable nowrap">
          <input type="checkbox" :id=" `крыжик-по-этажам-${item.id}`"  v-model=" item.chbByFloors ">
          <label :for="`крыжик-по-этажам-${item.id}`" class="hover-shadow3d chip hoverable                  before-yellow-lighten-4 lime-text text-darken-3 yellow lighten-4"  style=" padding-left:16px;" ></label>
          <label :for="`крыжик-по-этажам-${item.id}`" class=""  ><h6 class="lime-text text-darken-4">По этажам</h6></label>
        </div>
        <a @click="ToggleRooms(item)" href="javascript:" class="chip lime darken-3  white-text hoverable padd-0 z-depth-1" title="развернуть/свернуть строки помещений"><i class="material-icons" :class="{'rotate180': !!item._expandRooms}">arrow_drop_down</i></a>
      </div>
      
      <div>
        <h6 class="fw500 helmet tab-shadow vbottom " :class="{'active z-depth-1 lime lighten-5 marg-0-05': !item.showLiter, 'grey-lighten-2 hover-white': !!item.showLiter}" style="">
          <a @click="ShowLiter(item)" href="javascript:" class="lime-text text-darken-4 hover-shadow3d">
            <span>Все лит.</span>
            <sup class="chip fs8">{{ item['@кабинеты'].length }}</sup>
          </a>
        </h6>
        <h6 v-for="liter in item['@литеры']" :key="liter.id" class="fw500 helmet tab-shadow vbottom  " :class="{'active z-depth-1 lime lighten-5 marg-0-05 bold':  liter === item.showLiter, 'grey-lighten-2 hover-white': liter !== item.showLiter}" style000="    margin-bottom: 0.4rem !important;">
          <a @click="ShowLiter(item, liter)" href="javascript:" class="lime-text text-darken-4 hover-shadow3d">
            <span class="grey-text fs8">лит. </span>
            <span class="chip">{{ liter.title }}</span>
            <sup v-show="liter === item.showLiter" class="chip000 fs8 fw100">{{ item.roomsIndexes.length }}</sup>
          </a>
        </h6>
      </div>
      
      
      <div v-if=" ! item.chbByFloors " class="row animated slideInUp fast" :style="item._expandRooms ? {} : {'max-height':'10rem', 'overflow':'auto',}">
      <table class="bordered striped lime lighten-4 highlight"><tbody>
      <!---in (item.rooms || item['@кабинеты'])  вместо самого массива помещений используется массив сортировки индексов  --->
        <tr v-for="idx in item.roomsIndexes" :key="item['@кабинеты'][idx].id">
          <td style="">
            <div class="nowrap truncate000 lime-text-darken-4 line-height-10" style="/*width:10rem;*/">
              <span class="fs8 grey-text" :class="{'transparent-text':!/^\d/.test(item['@кабинеты'][idx]['номер-название'])}">№ </span><span class="bold">{{ item['@кабинеты'][idx]['номер-название'] }}</span>
              <!--span v-show="!!item['@помещение в договоре аренды'][idx]" class="chip red padd-05">&nbsp;</span-->
              <span v-if="!!item['@помещение в договоре аренды?'][idx]" class="hover-childs-show relative">
                <span v-if="item['@кол-во действующих договоров'][idx]==0">
                  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252" class="red-fill fill-darken-3" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#exit"></use></svg>
                </span>
                <span v-else class="chip padd-0 border green-text-darken-3">
                  <svg v-for="i in Array(parseInt(item['@кол-во действующих договоров'][idx])).fill()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 90" class="green-fill fill-darken-3 " style="height: 1rem;"><use xlink:href="/fonts/icons.svg#seat" /></svg>
                </span>
                <div class="hover-parent-show-block card padd-05 teal-lighten-4 animated fadeIn fast" style="position:absolute; top:-0.3rem; left:1rem; z-index:1;">
                  <v-contracts  :room=" item['@кабинеты'][idx] " :contracts="item['@аренда/договоры'][idx]"></v-contracts>
                </div>
              </span>
            </div>
          </td>
          <td v-if="!item.showLiter" class="nowrap" style="width:1%;">
            <span class="fs8 grey-text">лит. </span>
            <span class="lime-text-darken-4 line-height-10">{{ item['@кабинеты'][idx].$литер.title }}</span>
          </td>
          <td class="right-align" style="width:3%;">
            <div class="nowrap lime-text-darken-4 line-height-10" style="">
              <span class="bold">{{ FloorTitle(item['@кабинеты'][idx]['этаж']) }}</span>
              <span class="fs8 grey-text"> эт.</span>
            </div>
          </td>
          <td class="right-align" style="width:3%;">
            <div class="nowrap lime-text-darken-4 line-height-10" style="">
              <span class="bold">{{ ParseNum(item['@кабинеты'][idx]['площадь']).toLocaleString() }} </span>
              <span class="fs8 grey-text"> м<sup>2</sup></span>
            </div>
          </td>
          <td style="width:calc(20vw);"><span v-show="!!item['@кабинеты'][idx]['коммент']" class="padd-0-05 truncate pre-wrap fs8 grey-text middle line-height-8" style="max-height:2rem;" :title=" item['@кабинеты'][idx]['коммент'] ">{{ item['@кабинеты'][idx]['коммент'] }}</span></td>
        </tr>
      </tbody></table>
      </div>
      
      <div v-else class="animated slideInRight fast"><!-- item.chbByFloors показ по этажам -->
        <table class="bordered striped lime lighten-4 highlight000">
          <thead v-if="!item.showLiter"><tr class="lime lighten-3 ">
            <td></td>
            <th v-for="liter in item['@литеры']">
              <h4 class="center lime-text text-darken-4">лит. <span class="chip bold white padd-0-05">{{ liter.title }}</span></h4>
            </th>
          </tr></thead> 
          <tbody>
            <tr v-for=" [_, floor] of ByFoors(item) ">
              <td class="padd-05" style="width:1%;"><span class="bold">{{ FloorTitle(floor['этаж']) }}</span> эт.</td>
              <td v-for="liter in (item.showLiter ? [item.showLiter] : item['@литеры'])" class="vtop padd-05" :style="!item.showLiter && {'border-left': '4px double #d0d0d0',}">
                <div v-for="idx in floor.roomsIndexes.filter(idx=>liter ? FilterRoomsByIdx(item, idx, liter) : true) " class="chip z-depth-1 white   nowrap line-height-10" :class="{'lime lighten-2':!!(item['@кол-во действующих договоров'][idx]>0)}">
                  <div class="">
                    <span v-show="/^\d/.test(item['@кабинеты'][idx]['номер-название'])" class="fs8 grey-text">№ </span>
                    <span class="lime-text-darken-4 bold iblock truncate middle" style="max-width:5rem;" :title="item['@кабинеты'][idx]['номер-название']">{{ item['@кабинеты'][idx]['номер-название'] }}</span>
                    <span v-if="!!item['@помещение в договоре аренды?'][idx]" class="hover-childs-show relative">
                      <span v-if="item['@кол-во действующих договоров'][idx]==0">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252" class="red-fill fill-darken-3" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#exit"></use></svg>
                      </span>
                      <span v-else class="chip padd-0 border green-text-darken-3 white">
                        <svg v-for="i in Array(parseInt(item['@кол-во действующих договоров'][idx])).fill()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 90" class="green-fill fill-darken-3 " style="height: 1rem;"><use xlink:href="/fonts/icons.svg#seat" /></svg>
                      </span>
                      <div class="hover-parent-show-block card padd-05 teal-lighten-4 animated fadeIn fast" style="position:absolute; top:-0.3rem; left:1rem; z-index:1;">
                        <v-contracts  :room=" item['@кабинеты'][idx] " :contracts="item['@аренда/договоры'][idx]"></v-contracts>
                      </div>
                    </span>
                  </div>
                  <div v-show="!item.showLiter" class="center" style="">
                    <span class="fs8 grey-text">лит. </span>
                    <span class="lime-text-darken-4 line-height-10">{{ item['@кабинеты'][idx].$литер.title }}</span>
                  </div>
                  <div class="center" style="">
                    <span class="bold">{{ ParseNum(item['@кабинеты'][idx]['площадь']).toLocaleString() }} </span>
                    <span class="fs8 grey-text"> м<sup>2</sup></span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <h4 class="chip  right-align" style="">
        <!--span @click="ToggleRooms(item)" href="javascript:void('развернуть строки помещений/кабинетов')" title="развернуть строки помещений/кабинетов" class="black-text hover-shadow3d"-->Итого площадь <span class="bold fs12">{{ SumSquare(item).toLocaleString() }}</span> м² <!--i class="material-icons">arrow_forward</i></span-->
        <!-- в <span class="bold fs12">{{ item['@кабинеты'].length }}</span> помещениях -->
      </h4>
    </div><!--card-content -->
</div><!--card -->
    <!--/td>
    
  </tr>
</tbody>
</table--->

</div>
</div>