@@@ медкол/форма-теста

<div v-if="ready" class="card blue lighten-5 animated zoomIn fast">

<div class="card-content">
  
  <div v-show="!!form.id" class="right fs8 grey-text"><span>#{{ form.id }}</span></div>
  
  <div class="row">
    <h4 class="">
      <span>Вложить в тест </span>
      <span v-for="p in parents" :key="p.id" class="breadcrumb before-margin-0"><span class="chip fw500 blue-text-darken-3  z-depth-1">{{ p.title || p['наименование'] }}</span></span>
      <span v-show="!parents || !parents.length" class="chip grey-text teal lighten-4  z-depth-1"> корень</span>
    </h4>
  </div>
    
    
  <div class="row">
    <h4 class="col s12 m2 right-align chip padd-05 transparent">
      <span>Название теста</span>
    </h4>
    <div class="col s12 m10 input-field chip padd-05 hoverable transparent width-100">
      <input type="text" v-model=" form['название'] ">
    </div>
  </div>
  
  <div class="row-000">
    <div class="col s6">
      <h4 class="col s6 right-align chip padd-05 transparent">Задать вопросов</h4>
      <div class="col s6 input-field chip padd-05 transparent hoverable">
        <input type="text" v-model="form['задать вопросов']" placeholder="по умолчанию 60">
      </div>
    </div>
    <div class="col s6">
      <h4 class="col s6 right-align chip padd-05 transparent">Общее время теста, сек</h4>
      <div class="col s6 input-field  chip padd-05 transparent hoverable">
        <input type="text" v-model="form['всего время']" placeholder="по умолчанию 3600 секунд">
      </div>
    </div>
  </div>

  <div class="row-000">
    <div class="chip transparent hoverable right">
      <input type="checkbox" id="отключить-тест" v-model="form['отключить']">
      <label for="отключить-тест" class="red-text chb-yellow-lighten-4"><h4 class="red-text text-darken-2">Отключить тест</h4></label>
    </div>
  </div>
      <!--div class="">{{ form.parent }}</div-->
</div>

  <div class="row"><div class="col s12 padd-10 ">
              <div class="right input-field chip transparent hoverable">
                <input type="checkbox" v-model="form['удалять незакачанные']" id="удалять незакачанные">
                <label for="удалять незакачанные" class="purple-text-darken-1 chb-yellow-lighten-4">Отключить отсутствующие вопросы</label>
              </div>
    <div class="hover-childs-show">
    <h4>Закачка вопросов-ответов <span class="chip">?</span></h4>
    <div class=" hover-parent-show-iblock absolute z-index-1">
    <div class="shadow chip line-height-10" title="[T003377] ПРОГЕСТЕРОНОВЫМ ПРЕПАРАТОМ ПРОЛОНГИРОВАННОГО ДЕЙСТВИЯ ЯВЛЯЕТСЯ
оксипрогестерона капронат
оксибутират натрия
прогестерон
профази
">[код вопроса] вопрос на одну строку<br><span class="green-text">одна строка правильного ответа</span><br><span class="red-text">одна строка неправильного ответа </span><br><span class="red-text">одна строка неправильного ответа </span><br><span class="red-text">одна строка неправильного ответа </span><br>...</div>
    <div class="shadow chip line-height-10" title="2259. [T019979] СУШКА И СТЕРЕЛИЗАЦИЯ АПТЕЧНОЙ ПОСУДЫ

ОСУЩЕСТВЛЯЕТСЯ ГОРЯЧИМ ВОЗДУХОМ - ПРИ

 

А) 180

0

С -60 минут

 

Б) 180

0

С -30 минут

 

В) 200

0

С -30 минут

 

Г) 200

0

С -60 минут

 
 

"><h5 class="">или из PDF:</h5><div>номер. [код вопроса] вопрос (много строк)<br>А) правильный ответ (много строк)<br>Б) неправильный ответ (много строк) <br>B) неправильный ответ (много строк) <br>Г) неправильный ответ (много строк)<br>...</div></div></div></div><!-- конец примеры -->

    <div class="chip block relative grey lighten-5 row">
      <a @click=" form.data = '' " href="javascript:void('очистить текстовую область')" class=" hoverable fs18 red-text" style="position: absolute; z-index: 1; right:0.5rem; top:0.5rem;">☒</a>
      <textarea v-model="form.data" class="materialize-textarea line-height-10" style="min-height: 10rem; font-size:0.7rem;" placeholder="Вставить сюда текст вопросов с ответами для указанного теста" title="">
% for my $q (@$вопросы) {
[<%= $q->{'код'} %>] <%= $q->{'вопрос'} %>
% for my $ans (@{$q->{'ответы'}}) {
<%= $ans %>
% }

% }
</textarea>
    </div>
    <div class="hover-childs-show">
      <a @click=" CopyQuestions " href="javascript:" class="btn-flat z-depth-1 orange lighten-5 orange-text">Копировать текст вопросов</a>
      <div contentEditable="true" class="chip pre-wrap brown-text-darken-1 fs8 line-height-10 padd-05 shadow hover-parent-show-iblock absolute z-index-1 max-height-30vh-over">{{ TextQuestions }}</div>
    </div>
  </div></div><!-- row col -->

  
<div v-if="form.id" class="row padd-05">
  <div class="col s6">
    <h3 class="">Вопросы этого теста <sup class="fs8">{{ myQuestions.length }}</sup></h3>
    <q-list :questions=" myQuestions " @on-checkbox=" ChangeChb "></q-list>
  </div>
  <div v-if="parentQuestions.length" class="col s6">
    <h3 class="">
    <span>Вопросы родительского теста </span>
      <span v-for="p in parents" :key="p.id" class="breadcrumb before-margin-0"><span class="chip fw500 blue-text-darken-3 z-depth-1">{{ p.title || p['наименование'] }}</span></span>
      <sup class="fs8">{{ parentQuestions.length }}</sup>
    </h3>
    <q-list :questions=" parentQuestions " @on-checkbox=" ChangeChb "></q-list>
  </div>
</div>

<div class="card-action center  clearfix">
  <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'blue' " :message=" 'Загружается...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid()" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
</div>

</div>

