@@@ tmc/sklad/tabs


<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready" ng-include=" 'tmc/tabs-lib' "></div>

<!--div ng-repeat="name in ['заявки', 'инвентаризации', 'простые поставки'] track by $index" ng-show="$c.tab && $c.tab.data == name && !$c.data[name].LoadStatus()" ng-include=" 'progress/load' "></div-->
<!--div ng-show="$c.tab && $c.tab.data == 'снаб' && !$c.data['снаб'] " ng-include=" 'progress/load' "></div-->

<!-- обработка резерва -->
<div ng-if="$c.tab && $c.tab.title == 'Запросы остатков' ">
  <!--div ng-hide="!$c.cancelerHttpAsk" ng-include=" 'progress/load' "></div-->
  <tmc-ask-table  ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': false, 'в перемещение':false, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': false,} " data-data=" $c.data['резервы остатков'] " data-param=" param "></tmc-ask-table>
  
</div>

<div ng-if="$c.tab && $c.tab.title == 'Заявки ТМЦ' ">
  <!--div ng-hide="!$c.cancelerHttpAsk" ng-include=" 'progress/load' "></div-->
  <tmc-ask-table  ng-init=" param = {'объект': {id: 0}, 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': false, 'в перемещение':false, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': false,} " data-data=" $c.data['заявки'] " data-param=" param "></tmc-ask-table>
  
</div>

<!-- завершенные заявки -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Завершено' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': false, 'в перемещение':false, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': false,} " data-data="$c.data['завершенные заявки']" data-param=" param "></tmc-ask-table>

<tmc-sklad-inv-form  ng-if="$c.tab" ng-show="$c.tab.title == 'Инвентаризации' " ng-init=" param = {'объект': $c.param['объект'],} " data-param=" param "></tmc-sklad-inv-form>

<tmc-sklad-inv-table ng-if="$c.tab" ng-show="$c.tab.title == 'Инвентаризации' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass } " data-param=" param " data-data=" $c.data['инвентаризации'] " data-on-edit-000="$c.EditInv(data)"></tmc-sklad-inv-table>

<!-- форма перемещения из этого объекта -->
<tmc-baza-form ng-if=" $c.tab && ($c.tab.title == 'Перемещения' || $c.tab.title == 'Перемещено' ||  $c.tab.title === 'Поступило' || $c.tab.title == 'Наличие ТМЦ-00000') " ng-init=" param = {'объект': $c.param['объект'], 'перемещение': !1, 'закупка':!1,} " data-param=" param "></tmc-baza-form>

<tmc-snab-table ng-if="$c.tab && ($c.tab.title == 'Перемещения') " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц-000': $c.tab['фильтр тмц'], tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] " data-on-edit-ask="$c.EditMove(ask)"></tmc-snab-table>

<!-- форма закупки  -->
<tmc-snab-form ng-show=" $c.tab && ($c.tab.title == 'Закупки' || $c.tab.title == 'Через склад0000')  " ng-init=" param = {'объект': $c.param['объект'], 'перемещение': !1, 'закупка':!0, modal000: !0, 'через склад': false,} " data-param=" param "></tmc-snab-form>

<tmc-snab-table ng-if="$c.tab && ($c.tab.title === 'Закупки') " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц-000': $c.tab['фильтр тмц'], tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] " data-on-edit-ask="$c.EditSnab(ask)"></tmc-snab-table>

<!-- через склад не редактировать -->
<tmc-snab-table ng-if="$c.tab && ($c.tab.title === 'Через склад') " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц-000': $c.tab['фильтр тмц'], tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] "></tmc-snab-table>


<!--- с событием крыжика принятия ТМЦ --->
<!--tmc-snab-table ng-if=" $c.tab && ($c.tab.title == 'Входящие' || $c.tab.title == 'Поступило') " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц': $c.tab['фильтр тмц'], 'ТМЦ/крыжик позиций/событие': 'ТМЦ/крыжик позиций/событие', tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] "></tmc-snab-table-->


<!--- Наличие ТМЦ--->
<tmc-ostat-table ng-if="$c.tab && $c.tab.title == 'Наличие ТМЦ' " ng-init-000-не-катит=" param = {'объект': {id:0}, tableClass: $c.tab.liClass} " data-param=" {'объект': {id:0}, tableClass: $c.tab.liClass} " data-data=" $c.data['остатки'] "></tmc-ostat-table>