/*Tooltip */
.tooltip {
  position: relative;

  & .tooltip-text {
    visibility: hidden;
    /*max-width: 300px;*/
    /*text-align: center;*/
    position: absolute;
    z-index: 1;
    top: -125%;
    left: 0;
    /*margin-left: -60px;*/
    opacity: 0;
    transition: .3s;
    transform: translate3d(0px, 20px, 0px);
    
    
    /*** &::after { ///треугольничек
      content: "";
      position: absolute;
      top: 1rem;
      left: -5px;
      border-width: 5px;
      border-style: solid;
    } */
  }
  
  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}