// Breadcrumbs+Fontello
.breadcrumb {
  vertical-align: middle;

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: inline-block;
    float: left;
    /*font-size: 24px;*/
  }
  
  &+&:before {
    /*content: '\E5CC';*/
    content: '\f006';// icon-rright-chevron
    //content: '›';
    //color: inherit;
    
    display: inline-block;
    /*font-family: 'Material Icons';*/
    font-family: "fontello";
    font-weight: normal;
    font-style: normal;
    font-size: 0.5rem;
    //font-size: 1.7rem;
    margin: 0 0.5rem;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
  }
}

.before-margin-0:before {
  ///margin: 0 !important;
}