.hover-shadow3d:hover, .shadow3d {
  text-shadow: 0 0.15em 0.11em rgba(0,0,0,0.15), 0 0.25em 0.021em rgba(0,0,0,0.1), 0 0.32em 0.32em rgba(0,0,0,0.1);
}
.hover-pointer:hover {
  cursor: pointer;
}

/// static/js/components/access/roles.html
.hover-parent-show-inline,
.hover-parent-show-block,
.hover-parent-show-iblock  {
  display: none;
}
.hover-childs-show:hover > .hover-parent-show-inline,
.hover-childs-show:hover > .hover-parent-inline-child {
  display: inline;
}
.hover-childs-show:hover > .hover-parent-show-block {
  display: block;
}
.hover-childs-show:hover > .hover-parent-show-iblock {
  display: inline-block;
}
.hover-childs-show:hover > .hover-parent-hide-child {
  display: none;
}
.hover-z-depth-1:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.hover-bottom-shadow-blue-darken-3:hover {/// как поле формы
  box-shadow: 0 3px 0 0 color("blue", "darken-3");
  border-color: transparent;
}
.hover-bottom-shadow-teal-darken-3:hover {/// как поле формы
  box-shadow: 0 3px 0 0 color("teal", "darken-3");
  border-color: transparent;
}
.hover-bottom-shadow-lime-darken-3:hover {/// как поле формы
  box-shadow: 0 3px 0 0 color("lime", "darken-3");
  border-color: transparent;
}
.hover-bottom-shadow-grey-darken-3:hover {/// как поле формы
  box-shadow: 0 3px 0 0 color("grey", "darken-3");
  border-color: transparent;
}

/*** Фрагменты http://ianlunn.github.io/Hover/ ***/

///@import "../lib/hover.css/scss/_options.scss";
///@import "../lib/hover.css/scss/_mixins.scss";
///@import "../lib/hover.css/scss/_hacks.scss";

/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: color("grey", "base");
  height: 5px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:before:hover {
  ///background: color("grey", "base");
}
.hvr-overline-from-center.active:before, .hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}
////.hvr-overline-from-center:before {
////  background-color: #fff;
////}
.hvr-overline-from-center.active:before {
  ///background-color: #fff;
}


/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dadada;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  ///color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active, .hvr-float-on {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

