@charset "UTF-8";


// эти переменные обязательно перед импортом материализа, там они использ
$h1-fontsize: 2.2rem;
$h2-fontsize: 1.8rem;
$h3-fontsize: 1.6rem;
$h4-fontsize: 1.4rem;
$h5-fontsize: 1.2rem;
$radio-empty-color: #777;
$placeholder-text-color: #777;
$button-radius: 5px;
$sidenav-padding: 10px;

@import "material-icons";
@import "fontello";
@import "robotocondensed";
@import "robotocondensed-woff2";
@import "../lib/materialize/sass/materialize";
$datepicker-today: color("blue", "lighten-1");
// отдельно вынес из ../lib/materialize/sass/materialize
@import "../lib/materialize/sass/components/date_picker/default";
@import "../lib/materialize/sass/components/date_picker/default.date";
@import "../lib/materialize/sass/components/date_picker/default.time";

$primary-color-text: color("teal", "darken-4");
///$secondary-color: color("teal", "darken-2");
$primary-color-background1: color("teal", "darken-2");
$checkbox-notchecked-background: color("teal", "lighten-5");
///$input-focus-color: $secondary-color;

@import "container";
@import "pickerdatetime";
@import "nav";
@import "switch";
@import "form";
///@import "float-label-textfield";
@import "notification-icons";
@import "autocomplete";
@import "icon";
@import "table";
@import "media-screen";
@import "media-print";
@import "breadcrumb";
@import "join";
@import "preloader";
@import "hover";
@import "color-more"; //обязательно после hover!
@import "animate";
@import "tab-shadow";


h1, h2, h3, h4, h5, h6 {
  //@extend .teal-text.text-darken-4;
  color: $primary-color-text;
  font-weight: 300;
  line-height: inherit;
  margin: 0;
}


.card-title {
  border-bottom: 1px inset;
  
  & h1 {padding: 2rem;}
  & h2 {padding: 1.5rem;}
  & h3 {padding: 1rem;}
  & h4 {padding: 0.8rem;}
  & h5 {padding: 0.5rem;}
  & h6 {padding: 0.3rem;}
}

a {
  color: color("teal", "darken-3"); //$primary-color-background1;
}
a.disabled, img.disabled {
  color: color("grey", "darken-1");
  cursor: default;
  pointer-events: none;
}

img.disabled {
  background-color: color("grey", "darken-1");
}

main, footer {
  //padding-right: 600px;
}

@media only screen and (max-width: 992px) {
  main, footer {
     // padding-right: 0;
  }
}


/*ul:not(.browser-default)*/
.collection {
  margin: 0;
}
.collection .collection-item {
  display: block;
  padding: 0.3rem;
}
.collection-item.click:hover {
  /*@extend .teal.lighten-4;*/
  background-color: color("grey", "lighten-4");
  cursor:pointer;
}
.collection-item.selected, .checked {
  /*@extend .teal.lighten-4;*/
  background-color: color("teal", "lighten-4");
}
.collection-tree .collection-item > h5:hover {///для access roles tree
  background-color: color("grey", "lighten-4");
}
.collection.striped .collection-item:nth-child(2n+1) {
  background-color: #f2f2f2;
}
.collection.bordered .collection-item {
  border-bottom: 1px solid #d0d0d0;
}

i, svg, .material-icons, i + *, svg + *, .btn > * {
  vertical-align: middle;
  /*display: inline; нельзя!!*/
}

.middle {
  vertical-align: middle !important;
}


/*** даты с иконкой
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1rem;" ng-include=" 'svg/start-date' " />
<span class="fs8">{{ it["@дата1"]["день нед"] }}</span>
<span class="bold">{{ it["@дата1"]["day"] }}</span>
<span class="fs8">{{ it["@дата1"]["мес"] }}</span>
***/
svg + span:before, svg + span:after, svg + span + span:after  {
  content: ' ';
}

.btn {
  /*@extend .teal.darken-2;*/
  /*background-color: $primary-color-background1;*/
  background-color: color("green", "lighten-1");
}

.btn-large {
  font-size: larger;
}

.btn-medium {
  font-size: larger;
  height: 44px;
  line-height: 44px;
}

/*
.btn-large i, .btn-large span {
  font-size: 2rem;
}*/

/*крестик отмены выбранных позиций категорий, номенклатуры*/
.remove-siblings:hover ~ * {
  text-decoration: line-through;
  & > * {
    text-decoration: line-through;
  }
}

.through {
  text-decoration: line-through;
}

.strike-through {
  text-decoration: none;
  background-image: linear-gradient(transparent 0.7rem, #cc1f1f 0.7rem, #cc1f1f 1.3rem, transparent 1rem);
}

.nowrap {
  white-space: nowrap;
}

.br:before {
  content: '';
  display: block;
}

.padd-0-05 {
  padding: 0 0.5rem !important;
}

.padd-05 {
  padding: 0.5rem !important;
}
.padd-05-0 {
  padding: 0.5rem 0 !important;
}

.chip {
  /*height: 31px;// уменьшил на пиксел, ровнее*/
  /*height: auto; // chip over*/
  /*line-height: inherit; //chip over*/
  padding: 0.3rem 0.7rem;
}
.chip.border {
  border: 1px solid;
}
.chip.normal {
  /*line-height: normal;*/
}
.chip.block + .chip.block {
  margin-top: 0.3rem;
}

sup.chip {
  padding: 0.5rem 0.3rem;
}
.chip > * {
  vertical-align: middle;

}

.border {
  border: 1px solid;
}

.border-grey {
  border: 1px solid grey;
}
.border_b, .bborder, .border-bottom {
  border-bottom: 1px solid !important;
}
.border_t, .tborder, .border-top {
  border-top: 1px solid !important;
}


.modal.modal-full, .modal .modal-content {
  width:100%;
  height: auto;
}

.fs5 {
  font-size:0.5rem;
}

.fs7 {
  font-size:0.6rem;
}
.fs8 {
  font-size:0.8rem;
}
.fs10 {
  font-size:1rem;
}
.fs12 {
  font-size:1.2rem;
}
.fs14 {
  font-size:1.4rem;
}
.fs18 {
  font-size:1.8rem;
}
.fs20 {
  font-size:2.0rem;
}
.fs30 {
  font-size:3.0rem;
}

.fw500 {
  font-weight:500;
}

.inline {
  display: inline !important;
  vertical-align: middle;
}

.shadow {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-inset-10 {
  transition: box-shadow .25s;
  box-shadow: inset 0px 0px 1rem rgba(0,0,0,0.5);
}


.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.vtop {
  vertical-align: top;

}
.vbottom {
  vertical-align: bottom;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.hidden {
  visibility:hidden;
}

.iblock {
  display: inline-block !important;
}

.block {
  display: block;
}

.show-on-ready {
  display: none;
}

.leaf {
  display: inline-block;
  border-radius: 1rem 0;
  padding: 0.3rem 0.7rem;
}

.leaf-05 {
  display: inline-block;
  border-radius: 0.5rem 0;
  ///padding: 0.3rem 0.7rem;
}

.helmet {
  display: inline-block;
  border-radius: 1rem 1rem 0 0;
  padding: 0.3rem 0.7rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}
.width1 {
  width: 1%;
}

.rotate180, .before-rotate180:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate90left, .before-rotate90left:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate90right, .before-rotate90right:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.flip180, .before-flip180:before {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.bg-svg-dotted {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VmZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjwhLS1yZWN0IHdpZHRoPSczJyBoZWlnaHQ9JzMnIGZpbGw9JyNlNmU2ZTYnLy0tPgo8cmVjdCB5PSIxIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiBmaWxsPSIjZDhkOGQ4Ij48L3JlY3Q+CjwvZz4KPHVzZSB4bGluazpocmVmPSIjYyIgeD0iMyIgeT0iMyI+PC91c2U+Cjwvc3ZnPg==");
}

.hover-shadow3d:hover, .shadow3d {
  text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1);
}

.text-inherit {
  color: inherit !important;

}

/*ротатор*/
/*.spin360, .spining {
  -webkit-animation-name: rotate360; 
  -webkit-animation-duration: 1s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate360; 
  -moz-animation-duration: 1s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate360; 
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate360 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate360 {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@keyframes rotate360 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
*//* конец ротатор */