@media print  {
  @page {margin: 1cm;}
  
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  
  header, .noprint { display: none; }
  main.print {padding:0;}


  tr, article {page-break-inside: avoid;}
}