input[type="text"] ~ .placeholder {
  /*padding: 0 16px;
  line-height: 40px;
  font-size: 1rem;**/
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
  white-space: nowrap;
}

/*
для валидации в input type=text добавь required pattern=".*\S+.*"

*/

input[type="text"]:focus ~ .placeholder, input[type="text"]:valid ~ .placeholder {
  /*background: #fff;
  color: #666;
  z-index: 1;*/
  top: -0.75rem;
  left: 0.5rem;
  /*padding: 0 4px;
  height: auto;
  line-height: 16px;
  font-size: .75rem;*/

}