
*.striped.teal.lighten-4 > *:nth-child(odd) {
  background-color: color("teal", "lighten-5");
}

*.striped.lime.lighten-4 > *:nth-child(odd) {
  background-color: color("lime", "lighten-5");
}

*.striped.blue.lighten-4 > *:nth-child(odd) {
  background-color: color("blue", "lighten-5");
}