/*без таблиц, они в материализ*/
*:not(table, thead, tbody).striped.teal.lighten-4 > *:nth-child(odd) {
  background-color: color("teal", "lighten-5");
}

*:not(table, thead, tbody).striped.lime.lighten-4 > *:nth-child(odd) {
  background-color: color("lime", "lighten-5");
}
*:not(table, thead, tbody).striped.lime.lighten-3 > *:nth-child(odd) {
  background-color: color("lime", "lighten-4");
}


*:not(table, thead, tbody).striped.blue.lighten-4 > *:nth-child(odd) {
  background-color: color("blue", "lighten-5");
}

*:not(table, thead, tbody).striped.green.lighten-4 > *:nth-child(odd) {
  background-color: color("green", "lighten-5");
}

*:not(table, thead, tbody).striped.orange.lighten-4 > *:nth-child(odd) {
  background-color: color("orange", "lighten-5");
}