table.highlight > tbody > tr:hover {
  background-color: color("teal", "lighten-5");
}

table.highlight > tbody > tr.selected {
  background-color: color("teal", "lighten-4");

}

th {
  vertical-align: top;

}

table.report td, table.report th {
  padding: 0px;

}

table.report-vertical tr td:nth-child(2) {
  background-color: color("green", "lighten-3");
}

table.report-vertical tr td:nth-child(3) {
  background-color: color("yellow", "lighten-3");
}


table.report tbody tr:last-child {
  background-color: color("indigo", "lighten-5");
  font-size: 1.2rem;
  
}

table.report tbody tr td:last-child {
  font-size: 1.2rem;
  
}