table.highlight > tbody > tr:hover {
  background-color: color("teal", "lighten-5");
}

table.highlight > tbody > tr.selected {
  background-color: color("teal", "lighten-4");

}

th {
  vertical-align: top;

}

table.report td, table.report th {
  padding: 0px;

}