@@@ profile/item

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$c.ready" class="input-field">

  <a ng-show="$c.item.title && $c.item.title.length" ng-show000="!$c.showListBtn"  ng-click="$c.ClearInput($c.onSelect)" href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; z-index: 1; top:0;">
    <!--i class="material-icons brown-text">cancel</i-->
     <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
  </a>

  <input name="wallet" type="text" ng-init="$c.InitInput()"  ng-change="$c.ChangeInput()" ng-model="$c.item.title" placeholder="" style="margin:0;" ng-class="$c.InputClass()">
  
  <a ng-hide="$c.item.title && $c.item.title.length" ng-show000="$c.showListBtn"  ng-click="$c.ToggleListBtn()" href="javascript:" class="prefix000"  style="right: 0.2rem; position: absolute; z-index: 1; top:0.2rem;">
    <sup class="chip000 fs7 right bold000">{{$c.autocomplete.length}}</sup>
    <i class="material-icons right">arrow_drop_down_circle</i>
  </a>
  
  <span ng-hide="$c.item.id || !$c.item.title.length" class="red-text fs8 right000">не найден</span>
  
  <span ng-if="!$c.item['без сохранения']" ng-show="$c.item.id" class="grey-text fs7" style="position: absolute; right:0;">#{{$c.item.id}}</span>

</div>