@@@ profile/item

<div ng-if="$ctrl.ready" class="input-field">

  <a ng-show="!$ctrl.showListBtn"  ng-click="$ctrl.ClearInput()" href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; top:0;">
    <i class="material-icons brown-text">cancel</i>
  </a>

  <input name="wallet" type="text" ng-init="$ctrl.InitInput()"  ng-change="$ctrl.ChangeInput()" ng-model="$ctrl.data.title" placeholder="" style="margin:0;" ng-class="{'deep-orange-text': !($ctrl.data.id || !$ctrl.data.title.length || $ctrl.data._suggestCnt)}">
  
  <a ng-show="$ctrl.showListBtn"  ng-click="$ctrl.ToggleListBtn()" href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0;">
    <i class="material-icons">arrow_drop_down_circle</i>
  </a>
  
  <span ng-hide="$ctrl.data.id || !$ctrl.data.title.length" class="red-text fs8 right">не найден</span>
  
  <span ng-if="!$ctrl.data['без сохранения']" ng-show="$ctrl.data.id" class="grey-text fs8 right">#{{$ctrl.data.id}}</span>

</div>