@@@ компонент/химия/сырье/таблица

<div class="relative"><!-- обязательно один корень Vue -->

<h2 class="center  fw500 lime darken-3 white-text">Сырье</h2>

<v-progress-indeterminate v-show=" !ready " :color=" 'lime' " :message=" 'Загружается...' "></v-progress-indeterminate>
<!--div class="fs8">{{ form }}</div-->

<div v-if=" ready">
  <div>
    <a v-show="!newForm" @click="Add" href="javascript:" class="btn-flat lime lighten-4 black-text z-depth-1" style="position: absolute; top: 0.2rem; right: 0.2rem;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="black-fill fill-darken-4" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#form-add"></use></svg>
      <span class="hide-on-med-and-down">Новое поступление сырья</span>
    </a>
      <div v-if=" newForm "><v-form :item=" newForm " @on-save=" OnSaveForm "></v-form></div>
  </div>
  
  <table class="cell-padd-0-05 striped bordered lime lighten-4 z-depth-1 animated-000-slideInUp">
  <thead class="lime lighten-3"><tr>
    <td style="width:40%;"><h4 class="lime-text text-darken-4">Наименование сырья</h4></td>
    <td><h4 class="lime-text text-darken-4">Количество ед.</h4></td>
    <td><h4 class="lime-text text-darken-4">№ протокола</h4></td>
    <td><h4 class="lime-text text-darken-4">Расход</h4></td>
    <td><h4 class="lime-text text-darken-4">Остаток</h4></td>
    <td style="width:10rem;"><h4 class="lime-text text-darken-4">Примечание</h4></td>
  </tr></thead>
  <tbody>
    <tr v-for=" item in tableData " :key=" item.id " class="relative" :class="{'selected': item === selectedRow}">
      <td>
        <h5><a @click="Edit(item)" href="javascript:" class="lime-text text-darken-4 hover-shadow3d">{{ item['$номенклатура'].title }}</a></h5>
        <div v-if=" item._edit " style="position: absolute; left:-5%; width:110%; z-index:1;"><v-form :item=" item._edit " @on-save=" OnSaveForm "></v-form></div>
      </td>
      <td><span class="bold circle padd-0-05 z-depth-1 white">{{ item['количество'] }}</span> <span>{{ item['ед'] }}</span></td>
      <td><span>{{ item['№ ПИ'] }}</span><i v-show="!item['№ ПИ']" class="material-icons red-text">warning</i></td>
      <td></td>
      <td><div v-if="$ostatData[item.id]"><a href="javascript:void('Показать движение')" class="bold circle padd-0-05 z-depth-1 white fs12 hover-lime-lighten-5 lime-text-darken-4">{{ $ostatData[item.id]['остаток'] }}</a></div></td>
      <td><div v-show="item['коммент']" class="pre-wrap line-height-10 truncate grey-text fs8" style="width:10rem; height:2rem;">{{ item['коммент'] }}</div></td>
    </tr>
  </tbody>
  </table>
  
</div>

</div>