@@@ компонент/химия/сырье/форма

<div v-if="ready" class="card z-depth-5 lime lighten-4 animated zoomIn fast">

<div class="card-content">
  <div class="row relative">
    <!--a @click=" CancelBtn()" href="javascript:" class="btn-flat z-depth-1 white red-text lighten-2" style="position:absolute; right:0;">
      <i class="material-icons">cancel</i><span>Отмена</span>
    </a-->
    <h3 class="fw500">
        <svg v-show=" !form.id " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill-darken-3" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#asterisk"></use></svg>
        <span v-show=" !form.id " >Новое поступление сырья</span>
        
        <i v-show=" form.id " class="material-icons ">edit</i>
        <span v-show=" form.id " >Редактировать поступление сырья</span>
        
        <span v-show="form.id" class="grey-text fs8">#{{form.id}}</span>
        
      </h3>
      <div class="divider teal darken-4" style="margin-bottom: 1rem;"></div>
  
  </div><!-- row -->
  
  <!--div class="fs8">{{ form }}</div-->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <i class="material-icons">today</i>
        <span>Дата поступления</span>
      </h4>
    </div>
    <div class="col s3 ">
      <h4 class="input-field fw500">
        <input type="text" class="datepicker"  :data-value=" form['дата'] " >
      </h4>
    </div>
  </div><!-- row -->
  
  <div class="row">
  <div class="col s3 ">
      <h4 class="right-align">
        <span>Наименование сырья</span>
      </h4>
    </div>
    <div class="col s8 relative">
      <v-suggest v-model="form['номенклатура'].title"  :items=" stockNomenData " :param="{placeholder: 'выбрать или новое сырье', 'suggestionClass-000': 'padd-0-05'}" :onInputChange="OnStockInputChange" :onItemSelect="OnStockSelect">
        <template v-slot:item="{ item, idx }">
          <h5 class="relative"  :class="{'bold fs12': item.title == form.title}"  style="">
            <span>{{  item.title }}</span>
          </h5>
        </template>
      </v-suggest>
      <span  v-show="!form['номенклатура'].id && form['номенклатура'].title.length > 1" class="chip padd-0-05 orange-text text-darken-3 fs8"  style="position: absolute; right:0;">* новое сырье *</span>
      <span  v-show="form['номенклатура'].id" class="grey-text fs7 " style="position: absolute; right:0;">#{{form['номенклатура'].id}}</span>
    </div>
  </div><!-- row -->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Количество</span>
      </h4>
    </div>
    <div class="col s2 ">
      <div class="input-field">
        <input type="text" class="" v-model=" form['количество'] " @keypress="IsNumber">
        <!--vue-numeric separator="," v-model=" form['количество'] "></vue-numeric-->
      </div>
    </div>
    
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Единицы</span>
      </h4>
    </div>
    <div class="col s2 ">
      <div class="input-field">
        <input type="text" class="" v-model=" form['ед'] " >
      </div>
    </div>
  </div><!-- row -->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Номер протокола</span>
      </h4>
    </div>
    <div class="col s8 ">
      <div class="input-field">
        <input type="text" class=""  v-model=" form['№ ПИ'] " >
      </div>
    </div>
  </div><!-- row -->
  
   <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <i class="material-icons">storage</i>
        <span>Файлы</span>
        <!--sup class="chip ">{{ form._uploads.length }}</sup-->
      </h4>
    </div>
    <div class="col s8 ">
      <div v-if="form.id" class="card grey lighten-4">
        <v-uploads :parent="form"></v-uploads>
      </div>
      <div v-else class="chip grey-text center">Можно загрузить после сохранения нового поступления</div>
    </div>
   </div><!-- row -->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Примечание</span>
      </h4>
    </div>
    <div class="col s8 ">
      <div class="chip grey lighten-4 block padd-05 input-field">
        <textarea v-model.trim="form['коммент']" class="materialize-textarea padd-0 fs8" style="min-height: 4rem;"></textarea>
      </div>
    </div>
  </div><!-- row -->

  </div><!-- card-content -->
  <div class="card-action center lime lighten-3">
    <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Сохраняется...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid()" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
  </div><!-- card-action-->

</div>
