<div ng-init000="$ctrl.Init()" ng-include=" 'progress/load' " ng-hide="$ctrl.ready" style="display:inline-block; vertical-align:bottom;"></div>


<ul ng-if="1" dnd-list="$ctrl.data" ng-class="{'collection': $ctrl.data && $ctrl.data.length}" ng-style000="$ctrl.ulStyle()" style000="display: inherit; vertical-align: middle; width;100%;">
  <li ng-if="$ctrl.data && $ctrl.data.length" class="collection-item waves-effect000 waves-teal" style="cursor: default;" ng-class000="{selected: $ctrl.selectedItem === item}" ng-repeat="item in $ctrl.data | filter : $ctrl.filterSelected" dnd-draggable="item" dnd-moved="$ctrl.dndMoved(item)" dnd-effect-allowed="move" dnd-selected="$ctrl.dndSelected(item)">
    <h5><a ng-click="$ctrl.ToggleSelect(item, $event);" href="javascript:">
      <!--img ng-src="{{ $ctrl.ItemImg(item) }}" alt="" class="circle" style=" height: 45px; width000:45px; vertical-align: middle;"-->
      <span class="title">{{ item.title }}</span>
      <!--span ng-if="item.hasOwnProperty('_count')">{{['(', item._count,')'].join('')}}</span-->
    </a></h5>
    
<category-tree
  ng-if="$ctrl.ExpandIf(item)"
  data-param="$ctrl.param"
  data-data="$ctrl.selectedItem.childs"
  data-level="$ctrl.level+1"
  data-category="$ctrl.category"
  style000="display: inline-block; vertical-align:top;"
  class000="breadcrumb teal-text"
>
</category-tree>
 
  </li>
  
</ul>

