@@@ tmc/baza/tabs

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready" ng-include=" 'tmc/tabs-lib' "></div>
<div ng-if="$c.ready">
<!--div ng-repeat="name in ['заявки', 'инвентаризации', 'простые поставки'] track by $index" ng-show="$c.tab && $c.tab.data == name && !$c.data[name].LoadStatus()" ng-include=" 'progress/load' "></div--->
<!--div ng-show="!$c.tab && !$c.data['снаб'] " ng-include=" 'progress/load' "></div-->

<tmc-ask-form ng-if=" $c.tab && $c.tab.title == 'Заявки ТМЦ' && $c.data[$c.tab.data]  "  data-param="$c.param"></tmc-ask-form>

<tmc-ask-table  ng-if="$c.tab && ($c.tab.title == 'Заявки ТМЦ' || $c.tab.title == 'В обработке') && $c.data[$c.tab.data] " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'в закупку': false, 'список простых закупок': false, theadClass: $c.tab.liClass} " data-data=" $c.data['заявки'] " data-param=" param "></tmc-ask-table>

<!--tmc-ask-table  ng-if="$c.tab && $c.tab === $c.tabs['Заявки']['В обработке'] && $c.data[$c.tab.data] " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'в закупку': false, 'список простых закупок': false, theadClass: $c.tab.liClass} " data-data=" $c.data['заявки'] " data-param=" param "></tmc-ask-table-->

<!-- списано простые поставки -->
<tmc-ask-table  ng-if="$c.tab &&  $c.tab.title == 'Списано'  && $c.data[$c.tab.data]" ng-init=" param = {'объект': $c.param['объект'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'фильтр000': $c.tab['фильтр'], 'в закупку': false, 'список простых закупок': true,} "  data-data=" $c.data['простые поставки'] " data-param=" param "></tmc-ask-table>

<!--Обработка снабжением -->
<!---tmc-snab-table ng-if="$c.tab && $c.tab === $c.tabs['Заявки']['В обработке'] && $c.data[$c.tab.data]" ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass} " data-param=" param " data-data="$c.data['снаб']"></tmc-snab-table--->

<!-- завершенные заявки -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Завершено' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': false, 'в перемещение':false, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': false,} " data-data="$c.data['завершенные заявки']" data-param=" param "></tmc-ask-table>

<!-- закупки -->
<tmc-snab-table ng-if="$c.tab && $c.tab.title =='Закупки' && $c.data[$c.tab.data]" ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц000': $c.tab['фильтр тмц'], tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] "></tmc-snab-table>

<!-- форма перемещения из этого объекта -->
<tmc-baza-form ng-if=" $c.tab && ($c.tab.title == 'Перемещения' || $c.tab.title == 'Наличие ТМЦ-00000000' ) && $c.data[$c.tab.data]" ng-init=" param = {'объект': $c.param['объект'], 'перемещение': !1, 'закупка':!1, 'не списывать': !0} " data-param=" param "></tmc-baza-form><!-- новое перемещение только из остатков -->

<!-- перемещения -->
<tmc-snab-table ng-if="$c.tab && $c.tab.title =='Перемещения' && $c.data[$c.tab.data]" ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц000': $c.tab['фильтр тмц'], tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] " data-on-edit-ask="$c.EditMove(ask)"></tmc-snab-table>

<!--- 'ТМЦ заявки транспорт/событие сохранения':  'ТМЦ заявки транспорт/событие сохранения' --->
<!--tmc-snab-table ng-if="$c.tab && ($c.tab === $c.tabs['Движение']['Входящие'] || $c.tab === $c.tabs['Завершено']['Поступило']) && $c.data[$c.tab.data]" ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц000': $c.tab['фильтр тмц'], 'ТМЦ/крыжик позиций/событие': 'ТМЦ/крыжик позиций/событие', tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] "></tmc-snab-table-->

<!--tmc-snab-table ng-if="$c.tab && ($c.tab === $c.tabs['Движение']['Перемещение---перенес выше для редактирования'] || $c.tab === $c.tabs['Завершено']['Перемещено']) && $c.data[$c.tab.data] " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'фильтр тмц000': $c.tab['фильтр тмц'], tableClass: $c.tab.liClass} " data-param=" param " data-data=" $c.data['снаб'] "></tmc-snab-table-->

<!--- Остатки--->
<tmc-ostat-table ng-if-000="нет" ng-show="$c.tab && $c.tab.title =='Наличие ТМЦ' " ng-init=" paramOst = {'объект': {id: 0}, tableClass: $c.tab.liClass} " data-param=" paramOst " data-data="$c.data['остатки']"></tmc-ostat-table>
</div>

