@@@ transport/ask/table

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<!--div>{{ $ctrl.param | json }}</div-->
<ul ng-if="$ctrl.ready" class="tabs card000 tabs-transparent teal lighten-2" style="margin:0;">
  <li ng-repeat="t in $ctrl.tabs" class="tab" ng-attr-id000="">
    <h5><a ng-click="$ctrl.SelectTab(t)" href="javascript:" ng-class="{'active': t === $ctrl.tab}" class="" style="font-size:inherit;">
      <span>{{t.title}}</span>
      <sup class="chip fs8 black-text bold">{{ t.cnt ? t.cnt() : $ctrl.data.filter($ctrl.FilterData, t).length}}</sup>
    </a></h5>
  </li>
  <!--li class="tab">
    <a ng-href="{{ appRoutes.url_for('контроль заявок') }}">Контроль</a>
  </li-->
  <!--li class="tab">
    <h4><a ng-click="$ctrl.tab = {title: 'Свободный транспорт'}" href="javascript:" ng-class="{'active': $ctrl.tab && $ctrl.tab.title === 'Свободный транспорт'}" class="" style="font-size:inherit;">
      <span>Свободный транспорт</span>
      <sup class="chip fs8 black-text bold">{{ $ctrl.dataTransport.length}}</sup>
    </a></h4>
  </li-->
</ul>

<ul ng-if="$ctrl.tab && $ctrl.tab.title == 'Свободный транспорт' && $ctrl.dataTransport && $ctrl.dataTransport.length" class="collection">
  <li ng-repeat="tr in $ctrl.dataTransport | orderBy: $ctrl.FreeTransportOrderBy" class="collection-item">
    <a ng-click="$ctrl.param.edit = {'транспорт/id': tr.id, 'OnSelectTransport': tr} " href="javascript:" class="orange-text text-darken-3">
      <span ng-class="nowrap">
        <i class="material-icons fs8" >star</i>
        <!--span>{{tr['перевозчик']}}</span-->
      </span>
      <span class="nowrap">
        <!--i class="material-icons" >local_shipping</i-->
        <span>{{tr.title}}</span>
      </span>
      <span ng-repeat="cat in tr['категории'].slice(1) track by $index" class="breadcrumb grey-text fs8 middle">{{cat}}</span>
    </a>
    
  </li>

</ul>

<transport-ask-work ng-if="$ctrl.tab && $ctrl.tab.title == 'В работе*' && $ctrl.data && $ctrl.data.length " data-list="$ctrl.data" data-param="param"></transport-ask-work>

<!--div class="table-scroll-outer"><div class="table-scroll-inner"-->
<table ng-if=" $ctrl.ready && $ctrl.tab && $ctrl.tab.title != 'В работе*' &&  $ctrl.tab.title != 'Свободный транспорт' " class="timework striped highlight">
  <thead>
    <tr class="teal lighten-4"><!--th>#</th-->
    <th class="right-align000">
      <h5>
        <span>№/дата</span>
      </h5>
      <h5>
        <span>Даты</span>
      </h5>
      <h5><a href="javascript:" data-target="date1-select">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle teal-fill" style="height: 1rem;" ng-include=" 'svg/начальная дата' " />
        <span>начала</span>
        <span ng-if="$ctrl.param.table['дата1'].ready" ng-repeat="v in $ctrl.param.table['дата1']['формат'] track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
      </a></h5>
        
      <h5><a href="javascript:" data-target="date3-select">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle teal-fill" style="height: 1rem;" ng-include=" 'svg/конечная дата' " />
        <span title="плановое">заверш.</span>
        <span ng-if="$ctrl.param.table['дата3'].ready" ng-repeat="v in $ctrl.param.table['дата3']['формат'] track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
      </a></h5>
    
      <h5><a href="javascript:" data-target="date2-select" class="red-text">
          <!--i class="material-icons">today</i-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle red-fill" style="height: 1rem;" ng-include=" 'svg/конечная дата' " />
          <span title="заверш">факт</span>
          <span ng-if="$ctrl.param.table['дата2'].ready" ng-repeat="v in $ctrl.param.table['дата3']['формат'] track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
        </a></h5>
      
    </th>
    
    <th style="width:30%;">
      <h5><a href="javascript:" data-target="contragent2-select" class000="green-text text-darken-3">
        <i class="material-icons">file_download</i>
        <span>Заказчик</span>
        <span ng-if="$ctrl.param.table['заказчик'].ready && $ctrl.param.table['заказчик'].id" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['заказчик'].title}}</span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="address1-select" class="">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/откуда' " />
        <span>Откуда</span>
        <span ng-if="$ctrl.param.table['откуда'].ready && $ctrl.param.table['откуда'].title" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['откуда'].title}}</span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="address2-select" class="">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/куда' " />
        <span>Куда</span>
        <span ng-if="$ctrl.param.table['куда'].ready && $ctrl.param.table['куда'].title" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['куда'].title}}</span>
      </a></h5>
      
      <!--h5><a href="javascript:" data-target="object-select" class000="orange-text text-darken-3">
        <i class="material-icons fs8">star</i>
        <span>Объект</span>
      </a></h5>
      <div ng-if="$ctrl.param.table['объект'].ready && $ctrl.param.table['объект'].id">
       <span class="chip orange-text text-darken-3">{{$ctrl.param.table['объект'].title}}</span>
      </div-->
      
      <h5><a href="javascript:" data-target="contact000-select" class="">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/person' " />
        <span>Контактное лицо</span>
      </a></h5>
      <!--div ng-if="$ctrl.param.table['объект'].ready && $ctrl.param.table['объект'].id">
       <span class="chip orange-text text-darken-3">{{$ctrl.param.table['объект'].title}}</span>
      </div-->
      
    </th>
    
    <!--th>
      <h5>
        <i class="material-icons">place</i>
        <span>Откуда</span>
      </h5>
    </th>
    
    <th>
      <h5>
        <i class="material-icons">place</i>
        <span>Куда</span>
      </h5>
    </th-->
    
    <th style="width:5rem;">
      <h5><a href="javascript:" data-target="gruz-select">
        <i class="material-icons">shopping_cart</i>
        <span>Груз</span>
        <span ng-if="$ctrl.param.table['груз'].ready" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['груз'].title}}</span>
      </a></h5>
    </th>
    
    <!--th>
      
    </th-->
    
    <th style="width:35%;">
      <h5><a href="javascript:" data-target="contragent1-select">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/колесо' " />
        <span>Перевозчик</span>
        <span ng-if="$ctrl.param.table['перевозчик'].ready && $ctrl.param.table['перевозчик'].id" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['перевозчик'].title}}</span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="transport-select" class="">
        <!--i class="material-icons">local_shipping</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/truck' " />
        <span>Машина / техника</span>
        <span ng-if="$ctrl.param.table['транспорт'].ready && $ctrl.param.table['транспорт'].id" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['транспорт'].title}}</span>
      </a></h5>

      <h5><a href="javascript:" data-target="driver-select" class="">
        <!--i class="material-icons">person</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/водитель' " />
        <span>Водитель</span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="contact000-select" class="">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/person' " />
        <span>Контактное лицо</span>
      </a></h5>
      
    </th>
    
    <th>
      <h5>
        <i class="icon-rouble"></i>
        <span>Оплата</span>
      </h5>
    </th>
    
    <th>
      <h5><a href="javascript:" data-target="comment-select">
        <i class="material-icons">message</i>
        <span>Описание</span>
        </a><span ng-if="$ctrl.param.table['коммент'].ready" class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['коммент'].title}}</span>
      </h5>
    </th>
    
    </tr>
  </thead>
  
  <tbody>
    <!-- | orderBy : $ctrl.OrderByData : false-->
    <tr ng-repeat="it in $ctrl.data | filter: $ctrl.FilterData " ng-init="$ctrl.InitRow(it)" ng-attr-id="{{it.id}}" ng-click="$ctrl.Edit(it)" class="waves-effect00 waves-teal00" ng-class="{'selected': it === ($ctrl.param.edit || $ctrl.param.newX000)}" style="cursor:pointer;" title000="{{it | json}}">
      <!--td>
        <div ng-class="{'deep-orange-text text-darken-1': it._new}">{{$index+1}}<sup ng-show="it._new">*</sup></div>
      </td-->
      <td class="right-align00">
        <div>№{{ it['номер'] }} от {{ it['дата заявки краткий формат'] }}</div>
        <div class="nowrap">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle black-fill" style="height: 1rem;" ng-include=" 'svg/начальная дата' " />
          <span>{{it["дата1 формат"]}}</span>
        </div>
        <div class="nowrap">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle black-fill" style="height: 1rem;" ng-include=" 'svg/конечная дата' " />
          <span>{{it["дата3 формат"]}}</span>
        </div>
        <div ng-show="it['дата2']" class="red-text nowrap">
          <!--i class="material-icons">lock</i-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="middle red-fill" style="height: 1.5rem;" ng-include=" 'svg/событие принято' " />
          <span>{{it["дата2 формат"]}}</span>
        </div>
      </td>

      <td>
        <div ng-show="it['заказчик']" ng-class="{'green-text text-darken-3': !it['заказчик/проект/id'], 'orange-text text-darken-3': !!it['заказчик/проект/id']}" style="white-space:nowrap;padding-left: 2rem; position:relative;">
          <i class="material-icons" style="position:absolute; left:0; top:0;">file_download</i>
          <i class="material-icons fs8" ng-show="!!it['заказчик/проект/id']">star</i>
          <span>{{it["заказчик"]}}</span>
          
          <!--span ng-show="!!it['посредник']" class="chip right">
            <span>через</span>
            <i class="material-icons">import_export</i>
            <i class="material-icons fs8">star</i>
            <span>{{it["посредник"]}}</span>
          </span-->
          
        </div>
        
        <!--div ng-show="it['проект']" class="orange-text text-darken-3" style="white-space:nowrap;">
          <i class="material-icons">star</i>
          <span>{{it["проект"]}}</span></div-->
        
        <div style="padding-left: 2rem;">
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle black-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/откуда' " /-->
          <span ng-repeat="a1 in it.addr1">
            <span ng-repeat="aa1 in a1 track by $index" class="chip00 black-text breadcrumb middle" ng-init="A1 = $ctrl.ObjectOrAddress(aa1)" ng-class="{'orange-text text-darken-3': !!A1.id}">{{ A1.name }}</span>
          </span>
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/вправо-вниз-выпукло' " /-->
        </div>
        
          <!--span ng-show="it['объект']" class="orange-text text-darken-3" style="white-space:nowrap;">
            <span class="fs12 grey-text">→</span>
            <i class="material-icons">star</i>
            <span>{{it['объект']}}</span>
          </span-->
        <div style="padding-left: 2rem; position:relative;">
          <i ng-hide="it['маршрут на круг']" class="material-icons teal-text text-darken-3" style="position:absolute; left:0; top:0;">forward</i>
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/вправо-вниз' " /-->
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="middle black-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/куда' " /-->
          <svg ng-show="it['маршрут на круг']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="middle teal-fill fill-darken-3" style="height: 1.5rem; position:absolute; left:0; top:0;" ng-include=" 'svg/туда-обратно' " title="маршрут на круг" />
          <span style000="white-space:nowrap;">
            <span ng-repeat="a2 in it.addr2">
              <span ng-repeat="aa2 in a2 track by $index" class="chip00 black-text breadcrumb middle" ng-init="A2 = $ctrl.ObjectOrAddress(aa2)" ng-class="{'orange-text text-darken-3': !!A2.id}">{{ A2.name }}</span>
            </span>
          </span>
        </div>
        
        <div ng-show="it['контакт2'] && (it['контакт2'][0] || it['контакт2'][1])" ng-class="{'green-text text-darken-3': !it['заказчик/проект/id'], 'orange-text text-darken-3': !!it['заказчик/проект/id']}" style="padding-left: 2rem; position:relative;" title="контактное лицо заказчика">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle"  ng-class="{'green-fill fill-darken-3': !it['заказчик/проект/id'], 'orange-fill fill-darken-3': !!it['заказчик/проект/id']}" style="height: 1.2rem; position:absolute; left:0; top:0;" ng-include=" 'svg/person' " />
          <i ng-show="!!it['заказчик/проект/id']" class="material-icons fs8" >star</i>
          <span>{{ it['контакт2'][0] }}</span>
          <span ng-show="it['контакт2'][1]" class="nowrap">
            <i class="material-icons fs8">phone</i>
            <span>{{ it['контакт2'][1] }}</span>
          </span>
        </div>
        
      </td>
      
      <td>
        <div class="truncate" style="width:5rem;" title="{{it['груз']}}">{{it['груз']}}</div>
      </td>
      
      <!--td>
        
      </td-->
      
      <td>
        <div ng-show="it['перевозчик']" class000="blue-text text-darken-3"  ng-class="{'orange-text text-darken-3': !!it['перевозчик/проект/id'], 'blue-text text-darken-3': !it['перевозчик/проект/id']}" style="padding-left: 2rem; position:relative;">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle fill-darken-3" ng-class="{'orange-fill': !!it['перевозчик/проект/id'], 'blue-fill': !it['перевозчик/проект/id']}" style="height: 1.5rem; position:absolute; left:0; top:0;" ng-include=" 'svg/колесо' " />
          <i ng-show="!!it['перевозчик/проект/id']" class="material-icons fs8" >star</i>
          <span>{{it['перевозчик']}}</span>
          
        </div>
        <div  ng-class="{'orange-text text-darken-3': !!it['перевозчик/проект/id'], 'blue-text text-darken-3': !!it['транспорт'] && !it['перевозчик/проект/id']}" style="padding-left: 2rem; position:relative;">
          <!--i class="material-icons">local_shipping</i-->
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="middle" ng-class="{'orange-fill fill-darken-3': !!it['перевозчик/проект/id'], 'blue-fill fill-darken-3': !!it['транспорт'] && !it['перевозчик/проект/id']}" style="height: 1.5rem; position:absolute; left:0; top:0;" ng-include=" 'svg/truck' " />
          <i ng-show="!!it['перевозчик/проект/id']" class="material-icons fs8" >star</i>
          <span ng-show="it['транспорт1']">{{it['транспорт1']}}</span>
          <i ng-show="it['транспорт1']" class="material-icons black-text">link</i>
          <span ng-show="it['транспорт']">{{it['транспорт']}}</span>
          <span ng-repeat="cat in it['категории'].slice(1) track by $index" class="breadcrumb grey-text middle" ng-class000="{'orange-text text-darken-3': !it['перевозчик/id'], 'blue-text text-darken-3': it['перевозчик/id'], 'brown-text': !it['транспорт/id']}" >{{cat}}</span>
        </div>
        <div ng-show="driver[0] || driver[1]" ng-init=" driver = [(it['водитель-профиль'] && it['водитель-профиль'].join(' ')) || (it['водитель'] && it['водитель'][0]), it['водитель-профиль/телефон']  || (it['водитель'] && it['водитель'][1])]" ng-class="{'orange-text text-darken-3': it['водитель-профиль/id']}" title="водитель" style="padding-left: 2rem; position:relative;">
          <!--i class="material-icons" ng-show="driver[0] || driver[1]">person</i-->
          <!--i class="material-icons" ng-show="it['водитель-профиль/id']">star</i-->
          <!--img ng-show="driver[0] || driver[1]" ng-src="{{ $templateCache.get('img-src/driver') }}" class="middle" style="height: 1rem;" alt="icon driver" /-->
          <svg ng-show="driver[0] || driver[1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle"  ng-class="{'orange-fill fill-darken-3': it['водитель-профиль/id']}" style="height: 1.2rem; position:absolute; left:0; top:0;" ng-include=" 'svg/водитель' " />
          <!--span  ng-show="it['водитель-профиль/id']">★</span-->
          <i ng-show="it['водитель-профиль']" class="material-icons fs8" >star</i>
          <span>{{ driver[0] }}</span>
          <span ng-show="driver[1]" class="nowrap">
            <i class="material-icons fs8">phone</i>
            <span>{{ driver[1] }}</span>
          </span>
        </div>
        
        <!--div ng-show="it['контакт1'] && (it['контакт1'][0] || it['контакт1'][1])" class="right-align000" title="контактное лицо перевозчика">
          <span>{{ it['контакт1'][0] }}</span>
          <span ng-show="it['контакт1'][1]" class="nowrap">
            <i class="material-icons fs8">phone</i>
            <span>{{ it['контакт1'][1] }}</span>
          </span>
        </div-->
        
        <div ng-show="it['контакт1'] && (it['контакт1'][0] || it['контакт1'][1])" ng-class="{'blue-text text-darken-3': !it['перевозчик/проект/id'], 'orange-text text-darken-3': !!it['перевозчик/проект/id']}" class="right-align000" title="контактное лицо перевозчика" style="padding-left: 2rem; position:relative;">
          <!--span  ng-show="!!it['перевозчик/проект/id']">★</span-->
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle" ng-class="{'blue-fill fill-darken-3': !it['перевозчик/проект/id'], 'orange-fill fill-darken-3': !!it['перевозчик/проект/id']}"  style="height: 1.2rem; position:absolute; left:0; top:0;" ng-include=" 'svg/person' " />
          <i ng-show="!!it['перевозчик/проект/id']" class="material-icons fs8" >star</i>
          <span>{{ it['контакт1'][0] }}</span>
          <span ng-show="it['контакт1'][1]" class="nowrap">
            <i class="material-icons fs8">phone</i>
            <span>{{ it['контакт1'][1] }}</span>
          </span>
        </div>
        
      </td>
      
      <td>
        <div ng-show="it['стоимость']" class="nowrap" title="стоимость">
          
          <span>{{parseFloat(Util.numeric(it['стоимость'])).toLocaleString('ru-RU')}} руб</span>
          <span ng-show="it['тип стоимости']">/{{ payType[it['тип стоимости']].title2 || payType[it['тип стоимости']].title }}</span>
        </div>
        <div ng-show="it['факт']" class="nowrap">
            <span>{{it['факт']}}</span>
            <span ng-show="it['тип стоимости']">{{ payType[it['тип стоимости']].title2 || payType[it['тип стоимости']].title }}</span>
        </div>
        <div ng-show="it['факт']" class="nowrap">
          <span class="bold">Σ</span>
          <span>{{parseFloat(Util.numeric(it['сумма'])).toLocaleString('ru-RU')}} руб</span>
        </div>
      </td>

      <td>
        <!--textarea ng-model="it['коммент']" ng-disabled="true" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea-->
        <div class="fs8 grey-text truncate" style="width:7rem;" title="{{it['коммент']}}">{{it['коммент']}}</div>
        <div ng-show="!!it['посредник']" class="orange-text text-darken-3 right">
          <!--span>через</span-->
          <span class="chip nowrap orange lighten-4">
            <i class="material-icons">import_export</i>
            <i class="material-icons fs8">star</i>
            {{it["посредник"]}}
          </span>
        </div>
      </td>
    </tr>
    
    <tr>
      <td colspan="10">
        <div class="center">
          <span>записей: {{ $ctrl.data.filter($ctrl.FilterData, t).length }}</span>
          <a ng-show="$ctrl.data.length >= 50 && $ctrl.lastDataChunkLen" class="btn-flat" ng-click="$ctrl.LoadData(true)" href="javascript:">
            <i class="material-icons">file_download</i>
            Показать еще записи
          </a>
        </div>
        <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>
      </td>
    
    </tr>
  
  </tbody>

</table>
<!--/div></div-->

<!-- Modal Structure -->
<div id="date1-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по дате начала</h2>
    <date-between data-param="$ctrl.param.table['дата1']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата1')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата1')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>
<!-- Modal Structure -->
<div id="date3-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по дате планового завершения</h2>
    <date-between data-param="$ctrl.param.table['дата3']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата3')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата3')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>
<!-- Modal Structure -->
<div id="date2-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по дате факт завершения</h2>
    <date-between data-param="$ctrl.param.table['дата2']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата2')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата2')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<!--div id="sum-select" class="card modal" ng-if="$ctrl.param.table">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сумме</h2>
    <div class="input-field">
      <h4>От</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[0]">
    </div>
    
    <div class="input-field">
      <h4>До</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[1]">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('сумма')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('сумма')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div-->

<!-- Modal Structure -->
<div id="contragent1-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по перевозчику</h2>
    <contragent-item data-item="$ctrl.param.table['перевозчик']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('перевозчик')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('перевозчик')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="contragent2-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по заказчику</h2>
    <contragent-item data-item="$ctrl.param.table['заказчик']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('заказчик')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('заказчик')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="transport-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по машине-технике</h2>
    <transport-item data-item="$ctrl.param.table['транспорт']" data-param0000="" data-on-select0000="$ctrl.OnSelectTransport1(item)" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('транспорт')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('транспорт')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="address1-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Выбрать откуда</h2>
    <object-address  data-data=" $ctrl.param.table['откуда'] " data-param="{'заказчик':{id:0}, sql:{only:'откуда'}}" data-on-select000="$ctrl.OnSelectAddress(item)"></object-address>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('откуда')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('откуда')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="address2-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Выбрать куда</h2>
    <object-address  data-data=" $ctrl.param.table['куда'] " data-param="{'заказчик':{id:0}, sql:{only:'куда'}}" data-on-select000="$ctrl.OnSelectAddress(item)"></object-address>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('куда')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('куда')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="gruz-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content input-field">
    <h2 class="">Фильтровать записи по фрагменту строки <span class="chip">в грузе</span> заявок</h2>
    <input name="gruz-select" type="text" ng-model="$ctrl.param.table['груз'].title" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('груз')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('груз')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="comment-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content input-field">
    <h2 class="">Фильтровать записи по фрагменту строки <span class="chip">в описании</span> заявок</h2>
    <input name="comment-select" type="text" ng-model="$ctrl.param.table['коммент'].title" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('коммент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('коммент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
  </div>
</div>