@@@ transport/ask/form

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$c.ready">
  
  <div ng-if000="$c.param['объект']" >
    <div ng-hide="$c.data" class="" style="position: absolute; top: 0; right: 0"><a class="btn orange" ng-click="$c.Open()" href="javascript:" ng-disabled0000="!$c.param['объект'].id">
      <!--i class="material-icons">note_add</i-->
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="white-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg>
      <span>Новая заявка</span>
    </a></div>
    
    <!--div ng-show="$c.data" style="white-space:pre-wrap; height:10rem; overflow:auto">{{ $c.data | json }}</div-->
    
    <div ng-if="$c.data" class="card teal lighten-5 animated zoomIn fast" ng-class="{'delay1s': !!$c.data.id}" style="position: absolute; z-index: 1;"><form ng-init="$c.InitForm()" name="formTransportAsk" novalidate>
      
    <div class="card-content">

      <a ng-click="$c.Cancel(ask)" href="javascript:" class="right btn-flat red-text">
        <!--i class="material-icons">cancel</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
        <span>Отмена</span>
      </a>
      
      <a ng-if="ask.id" ng-click=" $c.Copy(ask) " href="javascript:" class="right btn-flat green-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="green-fill" style="height: 1.5rem;" ng-include=" 'svg/copy' " />
        <span>Копия</span>
      </a>
      <span ng-show="ask['это копия']" class="right btn-flat green-text">Это копия</span>
      
      <a ng-if="ask.id && $c.PrintDocx(ask) " ng-click=" $c.PrintDocx(ask, true, $event) " href="javascript:" class="right btn-flat black-text">
        <svg ng-hide="$c.cancelerHttp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="blue-fill" style="height: 1.5rem;" ng-include=" 'svg/ms-word' " />
        <span ng-show000="---->ng-class" class="blue-text" ng-class="{'loader-letter-show': $c.cancelerHttp}"><span ng-repeat="l in 'загрузка...' track by $index" ng-class=" 'letter-'+($index+1) " class="loader-letter">{{ l }}</span></span><!--- l in .match(reLetter) Array.from('загрузка...') track by $index -->
      </a>
      
      
      <a ng-if="ask['черновик'] && !ask.draft_id" ng-click=" $c.Draft(ask) " href="javascript:" class="right btn-flat grey-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="grey-fill" style="height: 1.5rem;" ng-include=" 'svg/worker' " />
        <span>ИЗ Черновика</span>
      </a>
      
      <h3 class="fw500 center" ng-class=" {'orange-text': !ask.id} ">
        <span ng-show="!ask.id" class="">Новая заявка </span>
        <span ng-hide="!ask.id" class="">Редактировать заявку </span>
        <span class=""> на транспорт/технику </span>
        <span ng-hide="!ask['номер']" class=""> №</span>
        <input ng-hide="!ask['номер']" type="text" ng-model=" ask['номер'] " style="width: 5rem; font-size: 1.7rem;">
        <span ng-hide="!ask.id" class="grey-text text-darken-1">от {{ ask['дата заявки формат'] }}</span>
        <span ng-show="ask.id" class="grey-text fs8 left" style="padding:0.5rem;">#{{ask.id}}</span>
      
      </h3>
      <div class="divider  row" ng-class="{'teal darken-3': ask.id, 'orange': !ask.id}" style000="height:3px;"></div>
      
      <!--div ng-show="$c.cancelerHttp" ng-include=" 'progress/save' "></div-->
      
      <div class="row" style="padding: 1rem 0;">
        
        <div class="col s12 m4">
          <h4 class=""> 
            <!--i class="material-icons">today</i-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/start-date' " />
            <span> Дата начала работы (загрузка)</span>
            <!--sup class="orange-text">*</sup-->
            <sup ng-hide=" !!ask['дата1'] " class="chip red white-text" style="padding:0.5rem;"></sup>
          </h4>
          <div class="input-field" style="">
            <input ng-init="$c.InitPickerDate('дата1')" name="дата1" type="text" class="datepicker"  data-value="{{ ask['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
        
        
        <!--div class="col s12 m1 input-field">
          <input type="checkbox" id="наш транспорт" ng-model="ask['наш транспорт']" ng-change="$c['крыжик наш транспорт/onChange']($event)" style="display:none;">
          <label for="наш транспорт" class="through" style="display:inline;"><i class="material-icons"></i>Нашим транспортом техникой</label>
        </div-->
        
        <!--div ng-show="!ask['наш транспорт']" class="col s12 m5 l8">

        </div-->
      </div><!--- row --->
      
      <div class="row" style000="margin: 3rem 0rem;">
        
        <div class="col s12 m12 l4">
          <div style="margin-bottom:1rem;"><!-- пачка заказчиков -->
             <div ng-repeat="kz in ask.contragent2" ng-init="kz['индекс в массиве'] = $index" class="card green lighten-4" style="display:block; padding: 0.3rem 0.7rem;">
                <h4 class="fw500 relative" title000="{000{ kz | json }}"> 
                  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 2rem;" ><use xlink:href="/fonts/icons.svg#contragent" /></svg>
                  <!--span>{{ (ask['наш транспорт'] === undefined || ask['наш транспорт']) ? 'Заказчик' : 'ГрузоПолучатель' }}</span-->
                  <span>Заказчик / ГрузоПолучатель</span>
                  <span ng-show="ask.contragent2.length > 1" class="chip">№{{ $index+1 }}</span>
                  <!--sup class="orange-text">*</sup-->
                  <sup ng-show=" !kz.title " class="chip red white-text" style="padding:0.5rem;"></sup>
                  <a ng-show="!!kz.title && $index === 0" ng-click="$c.PushContragent2()" href="javascript:" class="btn-flat" style="position:absolute; z-index: 1; right:0;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" grey-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#plus-square2" /></svg></a>
                  <a ng-show="$index !== 0" ng-click="$c.SpliceContragent2($index)" href="javascript:" class="btn-flat" style="position:absolute; z-index: 1; right:0;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" grey-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#minus-square" /></svg></a>
                  
                </h4>
                <contragent-item ng-if="ask.contragent2Param[$index]" data-item="kz" data-param="ask.contragent2Param[$index]" data-on-select="$c.OnSelectContragent2(item)"></contragent-item>
                
                <h4 class=""> <!--  title="{{ ask.contact2 | json }}"-->
                  <!--i class="material-icons">person</i-->
                  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/person' " />
                  <span>Контактное лицо заказчика/ГП</span><!-- {--{ (ask['наш транспорт'] === undefined || ask['наш транспорт']) ? 'заказчика' : 'ГП' }--}-->
                </h4>
                <transport-ask-contact  ng-if="kz.title && ask.contact2Param[$index]" data-item="ask.contact2[$index]" data-param="ask.contact2Param[$index]"></transport-ask-contact>
              </div>
            </div>
            
            <div ng-repeat="ko in ask.contragent4" ng-init="ko['индекс в массиве'] = $index" class="card green lighten-4" style="display: block; padding:0.3rem 0.7rem;">
              <h4 class="fw500 relative"> 
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/arrow-left-up-round' " />
                <span>ГрузоОтправитель</span>
                <span ng-show="ask.contragent4.length > 1" class="chip">№{{ $index+1 }}</span>
                <a ng-show="!!ko.title && $index === 0" ng-click="$c.PushContragent4()" href="javascript:" class="btn-flat" style="position:absolute; z-index: 1; right:0;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" grey-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#plus-square2" /></svg></a>
                <a ng-show="$index !== 0" ng-click="$c.SpliceContragent4($index)" href="javascript:" class="btn-flat" style="position:absolute; z-index: 1; right:0;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" grey-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#minus-square" /></svg></a>
              </h4>
              <contragent-item data-item="ko" data-param="ask.contragent4Param[$index]" data-on-select="$c.OnSelectContragent4(item)"></contragent-item>
              
              <h4 class="" title00="{000{ ask.contact4Param | json }}"> <!--  title="{{ ask.contact2 | json }}"-->
                <!--i class="material-icons">person</i-->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/person' " />
                <span>Контактное лицо ГО</span>
              </h4>
              <transport-ask-contact  ng-if="ko.title && ask.contact4Param[$index]" data-item="ask.contact4[$index]" data-param="ask.contact4Param[$index] "></transport-ask-contact>
            </div>
              
        </div>
        
        <div class="col s12 m12 l8">
          <!--h3 class="center">Адрес назначения</h3>
          <div class="divider"></div-->
          
          <div class="row">
            <div class="col s12 m6">
              <h4 class=""> 
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/from-location' " />
                <span>Откуда</span>
                <!--i class="material-icons">forward</i-->
              </h4>
              <ul ng-if="ask.addressParam" ng-repeat="a1 in ask.address1" ng-init=" index1 = $index " ng-style="$index ===0 ? {'margin':'0'} : {}">
                <li ng-repeat="aa1 in a1" ng-style=" $index === 0 ? {} : {'padding': '0.2rem 0rem 0rem 2rem'} " class="relative">
                  <svg ng-hide="$index === 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-lighten-3" style="height: 2rem; position: absolute; z-index: 1; top:0; left:0;" ng-include=" 'svg/right-down' " />
                  <object-address ng-init=" addressParam = $c.InitAddressParam(index1, $index) " data-data=" aa1 " data-param="addressParam" data-on-change="$c.OnChangeAddress1(item)" data-on-select="$c.OnSelectAddress(item)"></object-address>
                </li>
              </ul>
            </div>
            
            <div class="col s12 m6">
              <h4 class="" > <!-- title="{{ ask.address2 | json }}"-->
                <!--i class="material-icons">place</i-->
                <!--i class="material-icons">forward</i-->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/to-location' " />
                <span>Куда</span>
                <!--sup class="orange-text">*</sup-->
                <sup ng-hide=" $c.Address2OK() " class="chip red white-text" style="padding:0.5rem;"></sup>
                
                <input type="checkbox" id="route_round" ng-model="ask['маршрут на круг']" ng-true-value000="1" ng-false-value="null" ng-change000="$c.ChangeGruzOff()" style="display:none;">
                <label for="route_round" class="chb-yellow-lighten-4 right hover-shadow3d"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/arrows-forward-backward' " />         <h4 class="inline" style="color:inherit">На круг</h4></label>
                
              </h4>
              
              <ul ng-if="ask.addressParam" ng-repeat="a2 in ask.address2"  ng-init=" index1 = $index "  class="" ng-style="$index ===0 ? {'margin':'0'} : {}">
                <li ng-repeat="aa2 in a2" ng-style=" $index === 0 ? {} : {'padding': '0.2rem 0rem 0rem 2rem'} " class="relative">
                  <svg ng-hide="$index === 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-lighten-3" style="height: 2rem; position: absolute; z-index: 1; top:0; left:0;" ng-include=" 'svg/right-down' " />
                  <object-address ng-init=" addressParam = $c.InitAddressParam(index1, $index) " data-data=" aa2 " data-param="addressParam" data-on-change="$c.OnChangeAddress2(item)" data-on-select="$c.OnSelectAddress(item)"></object-address>
                </li>
              </ul>
              
              
            </div>
          </div><!--- row --->
          
          <div class="row">
            <div class="col s12">
      
              <div class="input-field col000 card block teal lighten-4" ng-class000="{'s12': !ask['@позиции тмц'], 's3': !!ask['@позиции тмц']}"  style="padding: 0.5rem;">
                <!--div class="right">
                  
                </div-->
                <h4 ng-class="{'grey-text through':ask['без груза'] && !ask['@позиции тмц']}">
                  <!--input type="checkbox" name="gruzOn" ng-model="ask.gruzOn" ng-change="$c.ChangeGruzOn()">
                  <label for="gruzOn">Груз</label-->
                  <!--i class="material-icons">shopping_cart</i-->
                  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="  fill-darken-3" ng-class="{'teal-fill': !!ask['груз'], 'grey-fill':  !ask['груз'] }" style="height: 2rem;" ><use xlink:href="/fonts/icons.svg#shopping-cart" /></svg>
                  <!--svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 2rem;" ng-include=" 'svg/тачка' "></svg-->
                  <span>Груз</span>
                  <!--sup ng-hide="ask['без груза']" class="orange-text">*</sup-->
                  <sup ng-hide="ask['без груза'] || ask['груз'] || !!ask['@позиции тмц']" class="chip red white-text" style="padding:0.5rem;"></sup>
                  
                  <!--span ng-hide="ask['без груза']" class="grey-text middle">или</span-->
                  <input type="checkbox" id="gruzOff" ng-model="ask['без груза']" ng-change="$c.ChangeGruzOff()" style="/**display:none;**/">
                  <label ng-show="!ask['@позиции тмц']" for="gruzOff" class="chb-yellow-lighten-4 right hover-shadow3d">
                    <!--i class="material-icons">remove_shopping_cart</i-->
                    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="  fill-darken-3" ng-class="{'teal-fill': !ask['груз'], 'grey-fill':  !!ask['груз'] }" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#remove-shopping-cart" /></svg>
                    Без груза
                  </label>
                </h4>
                <!--div class="divider grey"></div-->
                <div class="divider"></div>
                <textarea ng-hide="ask['без груза'] && !ask['@позиции тмц']" ng-model="ask['груз']" ng-disabled="ask['без груза']" class="materialize-textarea" style="padding:0;" ng-style="!!ask['@позиции тмц'] ? {} : {'min-height':'10rem'}" placeholder="описание груза" title=""></textarea>
                
                <div ng-if="!!ask['@позиции тмц']" class="col000 s9000 card block lime lighten-4" style="padding:0 0.5rem; margin:0;">
                  <h4>
                      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#ask" /></svg>
                      <span>Заявка снабжения</span> <span ng-if="ask['$на объект']" class="blue-text text-darken-3 right">через <span class="chip white-text blue darken-3000">{{ ask['$на объект'].name }}</span></span>
                      
                    </h4>
                  <div class="divider grey"></div>
                  <tmc-snab-table-tmc data-data="ask['@позиции тмц']"></tmc-snab-table-tmc>
                </div>

                
              </div>
            
              
            </div><!-- одна колонка пусть -->
          </div> <!-- row -->
        </div><!-- колонка откуда-куда+груз -->

      </div>
        
      <!--div class="divider teal" style="margin-bottom: 1px;"></div><!-- разделить заказчика и перевозчика -->
      <!--div class="divider teal"></div-->
      
      <div class="row" style000="margin-top:3rem;"> <!-- строка перевозчика -->
        
        <div class="col s12 m4">
          <!--div>{{ ask.contragent1 | json}}</div-->
          <div class="card green lighten-4" style="display:block; padding:0.3rem 0.7rem;">
            <h4 class="fw500" > <!-- title="{{ ask.contragent1 | json }}" -->
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/wheel' " />
              <span>Перевозчик</span>
              <sup ng-show="ask.transport.title && !ask.contragent1.title" class="chip red white-text" style="padding:0.5rem;" />
            </h4>
            <contragent-item ng-if="ask.contragent1Param" data-item="ask.contragent1" data000-param000="ask.contragent1Param" data-on-select="$c.OnSelectContragent1(item)"></contragent-item>
            
            <h4 class=""> <!-- title="{{ ask.contact1 | json }}"-->
              <!--i class="material-icons">person</i-->
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/person' "/>
              <span>Контактное лицо перевозчика</span>
            </h4>
            <transport-ask-contact  ng-if="ask.contragent1.title && ask.contact1Param" data-item="ask.contact1" data-param="ask.contact1Param"></transport-ask-contact>
            
            <div ng-show="ask['наш транспорт'] !== undefined && !ask['наш транспорт']">
              <h4 class="">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/person' " />
                <span>Перевозчик в лице</span>
              </h4>
              <transport-ask-contact  ng-if="ask.contragent1.title && ask.director1Param" data-item="ask.director1" data-param="ask.director1Param" ></transport-ask-contact>
            </div>
          </div>
          
        </div><!--- колонка перевозчика -->
        
        <div class="col s12 m8 "><div class="col s12 card blue lighten-4 linen000">
          <div class="row">
            <div class="" style="padding: 0.3rem 0.7rem;">
              <h4 class=""><!--  title="{{ ask.transport | json }}"-->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="teal-fill fill-darken-3"  style="height: 2rem;" ng-include=" 'svg/truck' " />
                <span>Машина / техника</span>
                <sup ng-hide=" $c.ValidTransport(ask)" class="chip red white-text" style="padding:0.5rem;" />
              </h4>
              <div ng-if="ask.transport1Param" class="clearfix">
                <transport-item data-item="ask.transport1" data-param="ask.transport1Param" data-on-select="$c.OnSelectTransport1(item)" />
              </div>
              
              <div ng-if="ask.transportParam" class="clearfix">
                <transport-item  data-item="ask.transport" data-param="ask.transportParam" data-on-select="$c.OnSelectTransport(item)"  />
              </div>
            </div><!-- col машина -->
          </div><!-- row машина -->
          
          <div class="row clearfix">

            <div class="col s6 " ng-class00="{'hidden': !ask.contragent1['проект/id'] || !ask.transport.title}">
              <h4 class=""><!--title="{{ ask.driver | json }} -->
                <!--i class="material-icons">person</i-->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/driver' " />
                <span>Водитель</span>
                <sup ng-show="ask.transport.title && ask.contragent1.title && !ask.driver.title" class="chip red white-text" style="padding:0.5rem;"></sup>
              </h4>
              <!--profile-item ng-if="ask.contragent1['проект/id']" data-item="ask.driver" data-data="ask.driverData" data-on-select="$c.OnSelectDriver(item)"></profile-item-->
              <!--  ((ask.transport._fromItem && ask.transport._fromItem['проект/id'] && ask.transport._fromItem['проект/id'].length) || -->
              <transport-ask-contact  ng-if=" ask.transport.title && ask.contragent1.title && ask.driverParam" data-item="ask.driver" data-param="ask.driverParam"></transport-ask-contact>
            </div>
            
            <div class="col s6" ng-hide000="ask.transport.id">
              <h4 class=""><!--  title="{{ ask.category | json }}"-->
                <i class="material-icons">more_horiz</i>
                <!--sup class="orange-text">*</sup-->
                <span>Категория</span>
                <sup ng-show="ask.transport.title && !(ask.category.selectedItem && ask.category.selectedItem.id)" class="chip red white-text" style="padding:0.5rem;"></sup>
              </h4>
              <tree-item ng-if="categoryParam" data-item="ask.category" data-data="categoryData" data-param="categoryParam" on-select-item="$c.OnSelectCategory(item)" style000="border-bottom: 1px solid grey; display: block;"></tree-item>
            </div>
                
          </div> <!-- row водитель+категория -->
          
        </div><!--- колонка машина+водитель+категория -->
      </div></div> <!-- row перевозчик+его поля -->
      
    
      <div class="row" ng-show="ask['наш транспорт'] !== undefined && !ask['наш транспорт']">
          <!--h3>
            <i class="material-icons">import_export</i>
            <span>Заказчик-посредник</span>
          </h3-->
          <!--div class="divider" title="{{ ctrl.data['наш транспорт'] | json }}"></div-->
          
          <div class="col s12 m4 ">
            <div class="card green lighten-4" style="display:block; padding:0.3rem 0.7rem;">
              <h4 class="fw500">
                <!--i class="material-icons">import_export</i-->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#2arrows-180vert" /></svg>
                <span>Посредник</span>
                <sup ng-hide=" !!ask.contragent3.id " class="chip red white-text" style="padding:0.5rem;"></sup>
              </h4>
              <div class="input-field">
                <contragent-item data-item="ask.contragent3"></contragent-item>
              </div>
            <!--/div>
            
            <div class="col s12 m4 "-->
              <h4 class="">
                <span>Контактное лицо посредника</span>
              </h4>
              <div class="input-field">
                <transport-ask-contact  ng-if="ask.contragent3.id && ask.contact3Param" data-item="ask.contact3" data-param="ask.contact3Param"></transport-ask-contact>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4 ">
            <div ng-repeat="v in ask['сумма/посреднику'] track by $index">
              <h4 class="">
                <!--span class="bold">₽</span-->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class=" teal-fill fill-darken-3" style="height: 2rem;" ><use xlink:href="/fonts/icons.svg#rouble" /></svg>
                <span>Оплата посреднику</span>
                <span class="fs8" ng-class="{'chip': !!ask.contragent2[$index].title}">{{ ask.contragent2[$index].title || 'ЗАКАЗЧИК' }}</span>
                <span ng-show="!ask.contragent2[$index].title" class="chip fs8">№{{ $index+1 }}</span>
                <span class="bold000 fs10">→</span>
                <span class="fs8" ng-class="{'chip': !!ask.contragent3.title}">{{ ask.contragent3.title || 'ПОСРЕДНИК' }}</span>
              </h4>
              <div class="input-field">
                <a ng-show="ask['сумма/посреднику'][$index]"  ng-click=" ask['сумма/посреднику'][$index]  = null; " href="javascript:" class="remove-siblings"  style="left: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
                <input name="сумма/посреднику" type="text"  ng-model="ask['сумма/посреднику'][$index]" ng-change="$c.FormatNumeric('сумма/посреднику', $index)" placeholder="рублей" class="right-align" style000="padding-left: 3rem; margin-left: 0px;">
              </div>
            
            </div>
            
          </div>
        
        
        </div><!--- row --->

      <h4 class="fw500">
        <!--i class="icon-rouble"></i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class=" teal-fill fill-darken-3" style="height: 2rem;" ><use xlink:href="/fonts/icons.svg#rouble" /></svg>
        <span>Оплата перевозчику</span>
      </h4>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12 m6 l2">
          <h4>
            <span>Стоимость</span>    <span class="fs8">руб</span>
          </h4>
          <div class="input-field" style="">
            <a ng-show="ask['стоимость'].length"  ng-click=" ask['стоимость']  = null; $c.FormatNumeric('стоимость'); " href="javascript:" class="remove-siblings"  style="left: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input name="стоимость" type="text" class="right-align" ng-model="ask['стоимость']" ng-change="$c.FormatNumeric('стоимость')" placeholder="ставка или вся сумма" title="ставка или вся сумма">

            <span ng-show-000="ask['стоимость']" class="right-000 chip shadow-inset-10000 input-field  teal lighten-4" style="margin-top: 0.33rem; width:100%;">
              <span>
                <input  type="radio" id="radioNDS1" ng-model="ask['стоимость/с НДС']" ng-value="false"><label for="radioNDS1" class="hover-shadow3d before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3 " style="margin:0 0.5rem;">без НДС</label>
                <input  type="radio" id="radioNDS2" ng-model="ask['стоимость/с НДС']" ng-value="true"><label for="radioNDS2" class="hover-shadow3d before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3 " style="margin:0 0.5rem;">с НДС</label>
              </span>
              <!--a ng-hide="ask['стоимость/с НДС'] === undefined " ng-click=" ask['стоимость/с НДС'] = undefined "  href="javascript:">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
              </a--->
            </span>
            
            <span class="right-000 chip shadow-inset-10000 input-field  teal lighten-4" style="margin-top: 0.33rem">
              <span>
                <input  type="radio" id="radio1оплата" ng-model="ask['стоимость/оплата']" ng-value=" 'безнал' "><label for="radio1оплата" class="hover-shadow3d before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3 " style="margin:0 0.5rem;">Безнал</label>
                <input  type="radio" id="radio2оплата" ng-model="ask['стоимость/оплата']" ng-value=" 'наличка' "><label for="radio2оплата" class="hover-shadow3d before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3 " style="margin:0 0.5rem;">Наличка</label>
                <input  type="radio" id="radio3оплата" ng-model="ask['стоимость/оплата']" ng-value=" 'карта' "><label for="radio3оплата" class="hover-shadow3d before-yellow-lighten-4 brown-text-darken-3 checked-after-brown-darken-3 " style="margin:0 0.5rem;">На карту</label>
              </span>
              <!--a ng-hide="ask['стоимость/с НДС'] === undefined " ng-click=" ask['стоимость/с НДС'] = undefined "  href="javascript:">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
              </a--->
            </span>
            
          </div>
        </div>
        
        <div class="col s12 m6 l2">
            <!--тут уникод пробел( )-->
          <div class="input-field chip teal lighten-4 block" style="padding: 0.3rem 0.5rem;">
            <a ng-hide="ask['тип стоимости'] === undefined"  ng-click=" ask['тип стоимости'] = null " href="javascript:" class="remove-siblings"  style="right: 0.5rem; position: absolute; z-index: 1; top:0.3rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <div ng-repeat="p in payType" class="chip000" style000="margin: 0rem 1rem;">
              <input ng-model="ask['тип стоимости']" ng-value="{{p.val}}" class="with-gap" name="тип стоимости" type="radio" ng-attr-id="{{'pay'+$index}}" ng-change="$c.ChangePayType()" />
              <label for="pay{{$index}}" class="before-yellow-lighten-4 hover-shadow3d brown-text-darken-3 checked-after-brown-darken-3 ">{{p.title}}</label>
            </div>
          </div>
        </div>
        
        <div ng-show000="ask['тип стоимости'] " class="col s12 m6 l2">
          <h4 class="" ng-class="{'grey-text': ask['тип стоимости'] === 0}"> 
            <i class="material-icons fs20">stop</i>
            <span>Факт</span>  <span class="fs8">часов/км</span>
          </h4>
          <div class="input-field" style="">
            <a ng-show="ask['факт'].length"  ng-click=" ask['факт']  = null; $c.FormatNumeric('факт'); " href="javascript:" class="remove-siblings"  style="left: 0; position: absolute; z-index: 1; top:0;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input name="факт" type="text" class="right-align" ng-model="ask['факт']" ng-change="$c.FormatNumeric('факт')" placeholder="часы/км" ng-disabled="ask['тип стоимости'] === 0">
          </div>
        </div>
        
        <div ng-if000="ask['стоимость'] && ask['факт'] " class="col s12 m6 l2">
          <h4 class=""> 
            <!--i class="material-icons">add_box</i-->
            <span class="bold"> Σ  </span>   <span>Сумма всего</span>   <span class="fs8">руб</span>
          </h4>
          <div class="input-field" >
            <input name="сумма" type="text" class="right-align" style="" ng-model="ask['сумма']" placeholder="стоимость*факт" ng-disabled="true">
          </div>
        </div>
        
        <div  class="col s12 m6 l2">
          
          <h4 class=""> 
            <i class="material-icons">today</i>
            <span>Дата получения документов</span>
          </h4>
          <div ng-if="ask['дата получения док'] !== 0" class="input-field" style="">
            <a ng-show="ask['дата получения док']"  ng-click=" $c.ClearDate('дата получения док') " href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input ng-init="$c.InitPickerDate('дата получения док')" name="дата получения док" type="text" class="datepicker"  data-value="{{ ask['дата получения док'] }}" placeholder="фактическая"  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
          
          <h4 class=""> 
            <i class="material-icons">today</i>
            <span>Дата оплаты по договору</span>
          </h4>
          <div ng-if="ask['дата оплаты по договору'] !== 0" class="input-field" style="">
            <a ng-show="ask['дата оплаты по договору']"  ng-click=" $c.ClearDate('дата оплаты по договору') " href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input ng-init="$c.InitPickerDate('дата оплаты по договору')" name="дата оплаты по договору" type="text" class="datepicker"  data-value="{{ ask['дата оплаты по договору'] }}" placeholder="планируемая"  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
        
        <div class="col s12 m6 l2">
          <h4 class=""> 
            <span class="bold">№</span>
            <span>Документ оплаты</span>
          </h4>
          <div class="input-field" style="">
            <input name="док оплаты" type="text" class=""  ng-model="ask['док оплаты']" placeholder="номер счета/фактуры"  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
          
          <h4 class=""> 
            <i class="material-icons">today</i>
            <span>Дата оплаты</span>
          </h4>
          <div ng-if="ask['дата оплаты'] !== 0" class="input-field" style="">
            <a ng-show="ask['дата оплаты']"  ng-click=" $c.ClearDate('дата оплаты') " href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input ng-init="$c.InitPickerDate('дата оплаты')" name="дата оплаты" type="text" class="datepicker"  data-value="{{ ask['дата оплаты'] }}" placeholder="фактическая"  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
          
        </div>
        
        
        
      </div>
      
      <div class="row">
        <div class="col s12 m2">
        
        </div>
        
        <div class="col s12 m4">
          <h4 class="" title000="{{ ask['дата3'] }}"> 
            <!--i class="material-icons">today</i-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/finish-date' " />
            <span> Дата завершения работы (выгрузка)</span>
            <span class="fs8 nowrap">по плану</span>
            <sup ng-hide=" !!ask['дата3'] " class="chip red white-text" style="padding:0.5rem;"></sup>
            <!--i class="material-icons">lock_outline</i-->
          </h4>
          <div ng-if="ask['дата3'] !== 0" class="input-field" style="">
            <a ng-show="ask['дата3']"  ng-click=" $c.ClearDate('дата3') " href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input ng-init="$c.InitPickerDate('дата3')" name="дата3" type="text" class="datepicker"  data-value="{{ ask['дата3'] }}" placeholder="{{'плановая дата'}}" style000="padding-left: 3rem; margin-left: 0px;">
            <!--span class="grey-text right fs8" ng-show="!$c.Validate4Date2()">заполни всю заявку</span-->
          </div>
        </div>
      
        <div class="col s12 m4">
          <h4 class="" title000="{{ ask['дата2'] }}"> 
            <!--i class="material-icons">today</i-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="teal-fill fill-darken-3" style="height: 2rem;" ng-include=" 'svg/event-done' " />
            <span> Дата завершения заявки</span>
            <span class="fs8 nowrap">по факту</span>
            <!--i class="material-icons">lock_outline</i-->
          </h4>
          <div class="input-field" style="" ng-if="ask['дата2'] !== 0" ng-show-000="$c.Validate4Date2()">
            <a ng-show="ask['дата2']"  ng-click=" $c.ClearDate('дата2') " href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; z-index: 1; top:0.2rem;">
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
            </a>
            <input ng-init="$c.InitPickerDate('дата2')" name="дата2" type="text" class="datepicker"  data-value="{{ ask['дата2'] }}" placeholder="{{ $c.Validate4Date2() ? 'фактическая дата' : 'после машины и стоимости' }}" ng-disabled="!$c.Validate4Date2()" style000="padding-left: 3rem; margin-left: 0px;">
            <!--span class="grey-text right fs8" ng-show="!$c.Validate4Date2()">заполни всю заявку</span-->
          </div>
        </div>
      </div><!-- row -->
      
      <div class="row-000" style="display:block; padding:0.5rem;">
        <div class="col-000-s12 card teal lighten-4 input-field padd-0-05">
          <h4>
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class=" teal-fill fill-darken-3" style="height: 2rem;" ><use xlink:href="/fonts/icons.svg#comment" /></svg>
            <span>Примечания заявки</span>
          </h4>
          <div class="divider"></div>
          <textarea ng-model="ask['коммент']" class="materialize-textarea" style="font-size:1rem; padding:0; min-height: 3rem;"></textarea>
        </div>
      </div>
      
      
      <div ng-show="$c.error" class="red-text">{{ $c.error }}</div>
      <div ng-show="$c.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    </div>
    
    
    <div ng-hide="$c.cancelerHttp" class="card-action center">
      <span ng-hide="$c.Validate(ask)" class="red-text text-lighten-3 right">для сохранения введите поля<sup class="chip red white-text" style="padding:0.5rem;" /></span>
      <a class="btn" ng-click="$c.Save(ask, $event)" href="javascript:" ng-disabled="!$c.Validate(ask)">
        <!--i class="material-icons">save</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="white-fill" style="height: 1.2rem;" ng-include=" 'svg/save' " />
        <span>Сохранить</span>
      </a>
      
      <a ng-if="ask.id && ask['транспорт/id']" class="btn-flat" ng-click="$c.Disable(ask)" href="javascript:">
        <svg ng-show="!ask['отозвать']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill fill-darken-1" style="height: 1.2rem;" ng-include=" 'svg/break' " />
        <span ng-show="!ask['отозвать']" class="middle red-text text-darken-1">Отозвать из работы</span>
        
        <svg ng-hide="!ask['отозвать']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="green-fill fill-darken-1" style="height: 2rem;" ng-include=" 'svg/backward-round' " />
        <span ng-hide="!ask['отозвать']" class="middle green-text text-darken-1">Вернуть в работу</span>
      </a>
    </div>
    </form></div>
  <!--div>{{ $c.data | json }}</div-->
  </div>


</div>