
@@@ transport/ask/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$ctrl.ready">
  
  <div ng-if000="$ctrl.param['объект']" ng-init000="$ctrl.Cancel()">
    <div ng-hide="$ctrl.data" class="" style="position: absolute; top: 0; right: 0"><a class="btn" ng-click="$ctrl.Open()" href="javascript:" ng-disabled0000="!$ctrl.param['объект'].id">
      <i class="material-icons">note_add</i>
      <span>Новая заявка</span>
    </a></div>
    
    <!--div ng-show="$ctrl.data" style="white-space:pre-wrap; height:10rem; overflow:auto">{{ $ctrl.data | json }}</div-->
    
    <div ng-if="$ctrl.data && $ctrl.data._open" class="card teal lighten-5">
      
    <div class="card-content" ng-init="$ctrl.InitForm()">

      <a ng-click="$ctrl.Cancel()" href="javascript:" class="right btn-flat orange-text">
        <i class="material-icons">cancel</i>
        <span>Отмена</span>
      </a>
      
      <h3 ng-class="{'orange-text': !$ctrl.data.id}">
        Заявка на транспорт
        <span ng-show="$ctrl.data.id" class="grey-text fs8">#{{$ctrl.data.id}}</span>
      
      </h3>
      <div class="divider  row" ng-class="{'teal darken-3': $ctrl.data.id, 'orange': !$ctrl.data.id}"></div>
      
      <div class="row">
        
        <div class="col s3">
          <h4 class=""> 
            <i class="material-icons">today</i>
            <sup class="orange-text">*</sup>
            <span>Дата начала</span>
          </h4>
          <div class="input-field" style="">
            <input name="дата1" type="text" class="datepicker"  data-value="{{ $ctrl.data['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
        
        <div class="col s3">
          <h4 class=""> 
            <i class="material-icons">today</i>
            <span>Дата завершения</span>
          </h4>
          <div class="input-field" style="">
            <input name="дата2" type="text" class="datepicker"  data-value="{{ $ctrl.data['дата2'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
      </div>
      
      <div class="row" style="margin: 3rem 0rem;">
        
        <div class="col s12 m12 l6">
          <h3 class="center"><sup class="orange-text">*</sup>Получатель</h3>
          <div class="divider"></div>
          
          <div class="row">
            <div class="col s6" ng-class="{'hidden': !!$ctrl.data.project.title || !!$ctrl.data.contragent1.title}">
              <h4 class=""> 
                <i class="material-icons">file_download</i>
                <span>Заказчик</span>
              </h4>
              <contragent-item data-item="$ctrl.data.contragent2" data-param='{"placeholder":"если на сторону"}' data-on-select="$ctrl.OnSelectContragent2(item)"></contragent-item>
            </div>
            
            <div class="col s6" ng-class="{'hidden': !!$ctrl.data.contragent2.title}">
              <h4 class="">
                <span ng-hide="$ctrl.data.project.title" class="grey-text">или</span>
                <i class="material-icons">star</i>
                <span>Наш проект</span>
              </h4>
              <project-item data-data="$ctrl.data.project"  data-on-select="$ctrl.OnSelectProject(item)"></project-item>
            </div>
          </div>
        </div>
        
        <div class="col s12 m12 l6">
          <h3 class="center">Адрес назначения</h3>
          <div class="divider"></div>
          
          <div class="row">
            <div class="col s6">
              <h4 class=""> 
                <i class="material-icons">place</i>
                <span>Откуда</span>
              </h4>
              <div class="input-field" style="">
                <input name="откуда" type="text"  ng-model="$ctrl.data['откуда']" placeholder="адрес"  style000="padding-left: 3rem; margin-left: 0px;">
              </div>
            </div>
            
            <div class="col s6">
              <h4 class=""> 
                <i class="material-icons">place</i>
                <sup class="orange-text">*</sup>
                <span>Куда</span>
              </h4>
              <object-address2 data-data="$ctrl.data.address2" data-param="$ctrl.data.address2Param" data-on-select="$ctrl.OnSelectAddress2(item)"></object-address2>
              <!--div class="input-field" style="">
                <input name="куда" type="text" class=""  ng-model="$ctrl.data['куда']" placeholder="адрес или наш объект">
              </div-->
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="input-field" style="margin: 3rem 0rem;">
        <div class="right">
          <span ng-hide="$ctrl.data['без груза']" class="grey-text middle">или</span>
          <input type="checkbox" id="gruzOff" ng-model="$ctrl.data['без груза']" ng-change="$ctrl.ChangeGruzOff()">
          <label for="gruzOff"><i class="material-icons">remove_shopping_cart</i> без груза</label>
        </div>
        <h4 ng-class="{'grey-text':$ctrl.data['без груза']}">
          <!--input type="checkbox" name="gruzOn" ng-model="$ctrl.data.gruzOn" ng-change="$ctrl.ChangeGruzOn()">
          <label for="gruzOn">Груз</label-->
          <i class="material-icons">shopping_cart</i>
          <sup ng-hide="$ctrl.data['без груза']" class="orange-text">*</sup>
          <span>Груз</span>
          
        </h4>
        <div class="divider"></div>
        <textarea ng-model="$ctrl.data['груз']" ng-disabled="$ctrl.data['без груза']" class="materialize-textarea" style="padding:0;" placeholder="оисание груза"></textarea>
      </div>
      
      
      <div class="row">
        
        <!--div>{{ $ctrl.data.contragent1 | json}}</div-->
        <div class="col s4" ng-class="{'hidden': $ctrl.data.contragent1.id === null || !!$ctrl.data.contragent2.title}">
          <h4 class=""> 
            <i class="material-icons">file_upload</i>
            <span>Перевозчик</span>
          </h4>
          <contragent-item data-item="$ctrl.data.contragent1" data-param='{"placeholder":"если не наш транспорт"}' data-on-select="$ctrl.OnSelectContragent1(item)"></contragent-item>
        </div>
        
        <div class="col s4">
          <h4 class="">
            <i class="material-icons">local_shipping</i>
            <span>Машина / техника</span>
          </h4>
          <transport-item data-data="$ctrl.data.transport" data-param="$ctrl.data.transportParam" data-on-select="$ctrl.OnSelectTransport(item)"></transport-item>
          
          <!--div>{{ $ctrl.data.transport | json}}</div-->
          <div ng-class="{'hidden': !$ctrl.data.transport.id || $ctrl.data.contragent1.id}">
            <h4 class="" >
              <i class="material-icons">person</i>
              <span>Водитель</span>
            </h4>
            <profile-item data-item="$ctrl.data.driver" data-data="$ctrl.data.driverData" data-on-select="$ctrl.OnSelectDriver(item)"></profile-item>
          </div>
          
        </div>
        
        <div class="col s4">
          <h4 class="">
            <i class="material-icons">more_horiz</i>
            <!--sup class="orange-text">*</sup-->
            <span>Категория</span>
          </h4>
          <tree-item data-item="$ctrl.data.category" data-data="categoryData" data-param="categoryParam" on-select-item="$ctrl.OnSelectCategory(item)" style000="border-bottom: 1px solid grey; display: block;"></tree-item>
        </div>
        
      </div>
      
      <h3 class="">
        <i class="icon-rouble"></i>
        <span>Оплата</span>
      </h3>
      <div class="divider"></div>
      <div class="row">
        <div class="col s2">
          <h4>
            <span>Стоимость, руб</span>
          </h4>
          <div class="input-field" style="">
            <a ng-show="$ctrl.data['стоимость'].length"  ng-click=" $ctrl.data['стоимость']  = null; $ctrl.FormatNumeric('стоимость'); " href="javascript:" class="remove-siblings"  style="left: 0; position: absolute; top:0;">
              <i class="material-icons brown-text">cancel</i>
            </a>
            <input name="стоимость" type="text" class="right-align" ng-model="$ctrl.data['стоимость']" ng-change="$ctrl.FormatNumeric('стоимость')" placeholder="ставка/сумма">
            <!--a ng-show="$ctrl.tehComplete && $ctrl.tehComplete.length"  ng-click="$ctrl.ToggleTehList()" href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0;">
              <i class="material-icons">arrow_drop_down_circle</i>
            </a-->
          </div>
        </div>
        
        <div class="col s2">
            <!--тут уникод пробел( )-->
          <div class="input-field" style="">
            <a ng-hide="$ctrl.data['тип стоимости'] === undefined"  ng-click=" $ctrl.data['тип стоимости'] = null " href="javascript:" class="remove-siblings"  style="right: 1rem; position: absolute; top:0.3rem;">
              <i class="material-icons brown-text">cancel</i>
            </a>
            <div ng-repeat="p in payType" class="chip000" style000="margin: 0rem 1rem;">
              <input ng-model="$ctrl.data['тип стоимости']" ng-value="{{p.val}}" class="with-gap" name="тип стоимости" type="radio" ng-attr-id="{{'pay'+$index}}" ng-change="$ctrl.ChangePayType()" />
              <label for="pay{{$index}}">{{p.title}}</label>
            </div>
          </div>
        </div>
        
        <div ng-show="$ctrl.data['тип стоимости'] " class="col s2">
          <h4 class=""> 
            <i class="material-icons fs20">stop</i>
            <span>Факт </span>
            <span class="fs8">часов/км</span>
          </h4>
          <div class="input-field" style="">
            <a ng-show="$ctrl.data['факт'].length"  ng-click=" $ctrl.data['факт']  = null; $ctrl.FormatNumeric('факт'); " href="javascript:" class="remove-siblings"  style="left: 0; position: absolute; top:0;">
              <i class="material-icons brown-text">cancel</i>
            </a>
            <input name="факт" type="text" class="right-align" ng-model="$ctrl.data['факт']" ng-change="$ctrl.FormatNumeric('факт')" placeholder="часы/км">
            <!--a ng-show="$ctrl.tehComplete && $ctrl.tehComplete.length"  ng-click="$ctrl.ToggleTehList()" href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0;">
              <i class="material-icons">arrow_drop_down_circle</i>
            </a-->
          </div>
        </div>
        
        <div ng-if="$ctrl.data['стоимость'] && $ctrl.data['факт'] " class="col s2">
          <h4 class=""> 
            <!--i class="material-icons">add_box</i-->
            <span class="bold">Σ</span>
            <span>Сумма, руб</span>
          </h4>
          <div ng-init000="$ctrl.data['сумма'] = $ctrl.data['стоимость'] * $ctrl.data['факт'] " class="input-field" style="">
            <input name="сумма" type="text" class="" ng-model="$ctrl.data['сумма']" placeholder="стоимость*факт" ng-disabled="true">
          </div>
        </div>
        
      </div>
      
      
      <div class="input-field">
        <h4>
          <i class="material-icons">comment</i>
          <span>Описание заявки</span>
        </h4>
        <div class="divider"></div>
        <textarea ng-model="$ctrl.data['коммент']" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea>
      </div>
      
      <div ng-show="$ctrl.error" class="red-text">{{ $ctrl.error }}</div>
      <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    </div>
    <div class="card-action center">
      <a class="btn" ng-click="$ctrl.Save($ctrl.data)" href="javascript:" ng-disabled="!$ctrl.Validate($ctrl.data)">
        <i class="material-icons">save</i>
        <span>Сохранить</span>
      </a>
      <!--a ng-if="$ctrl.data.id" class="btn red" ng-click="$ctrl.Delete($ctrl.data)" href="javascript:">
        <i class="material-icons">delete_forever</i>
        <span>Удалить</span>
      </a-->
    </div>
    </div>
  <!--div>{{ $ctrl.data | json }}</div-->
  </div>


</div>