@@@ transport/ask/table

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<transport-ask-form data-param="param"></transport-ask-form>


<!--div>{{ $ctrl.param | json }}</div-->
<ul ng-if="$ctrl.ready" class="tabs z-depth-1-000 card000 tabs-transparent white center" style="margin:0;">
  <li ng-repeat="t in $ctrl.tabs" class="tab tab-overline z-depth-3" ng-class="$ctrl.TabLiClass(t)" ng-style="t.styleLi">
    <h5><a ng-click="$ctrl.SelectTab(t)" href="javascript:"  ng-class="$ctrl.TabAClass(t)" class="hvr-overline-from-center" style="font-size:inherit;">
      <span>{{t.title}}</span>
      <sup class="chip fs8 black-text bold" ng-class="$ctrl.TabClassSup(t)">{{  $ctrl.data.filter($ctrl.FilterData, t).length }}</sup><!--/*t.cnt ? t.cnt() : */ -->
    </a></h5>
  </li>
</ul>
<div ng-if="$ctrl.ready && $ctrl.tab" ng-class="$ctrl.tab.classLi" class="divider z-depth-3" style="height:0.5rem; /*margin-bottom: 0.5rem; border-bottom: 3px dotted white;*/"></div>

<div ng-if="$ctrl.ready" style="position:absolute; right:-18rem;">
  <a ng-repeat="t in $ctrl.tabs.slice(-3)" ng-click="$ctrl.SelectTab(t)" href="javascript:" class="block" ng-class="{'btn blue': $index === 0, 'btn blue lighten-4 blue-text': $index == 1, 'btn blue lighten-4 red-text text-darken-4': $index == 2}" style="text-align:left;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" ng-class="{'white-fill': $index === 0, 'blue-fill': $index == 1, 'red-fill fill-darken-4': $index == 2}" style="height: 1.5rem;" ng-include=" 'svg/truck' "><use xlink:href="/fonts/icons.svg#truck" class="ng-scope"></use></svg>
    <span>{{ t.title }}</span>
    <sup class="chip fs8 bold black-text">{{ t.cnt(t) }}</sup>
  </a>
</div>

<div ng-if="$ctrl.tab && ($ctrl.tab.title == 'Свободный транспорт' || $ctrl.tab.title == 'Транспорт' ||  $ctrl.tab.title == 'Транспорт в работе') ">
<h3>{{ $ctrl.tab.title }}</h3>
  <div class="">
    <transport-form data-data="$ctrl.dataTransport"></transport-form><!--- новый наш транспорт -->
  </div>
  <div ng-hide="$ctrl.dataTransport && $ctrl.dataTransport.length" ng-include=" 'progress/load' "></div>
  <dl ng-if="$ctrl.dataTransport && $ctrl.dataTransport.length" class="collection">
    <div ng-repeat="tr in $ctrl.dataTransport.filter($ctrl.tab.filter, $ctrl.tab) | orderBy: $ctrl.FreeTransportOrderBy" ng-init="$ctrl.InitTransport(tr)" class="collection-item">
      <dt class="iblock"><a ng-click="$ctrl.param.edit = {'транспорт/id': tr.id, 'OnSelectTransport': tr} " href="javascript:" class="black-text hover-shadow3d">
        <span ng-class="nowrap">
          <!--i class="icon-star fs8 blue-text" ></i-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" ng-class="{'blue-fill': !tr['занят'], 'red-fill fill-darken-4': !!tr['занят'], }" style="height: 1.5rem;" ng-include=" 'svg/truck' "><use xlink:href="/fonts/icons.svg#truck" class="ng-scope"></use></svg>
        </span>
        <span class="nowrap">
          <!--i class="material-icons" >local_shipping</i-->
          <span>{{tr.title}}</span>
        </span>
        <span ng-repeat="cat in tr['категории'].slice(1) track by $index" class="breadcrumb teal-text fs8000 middle"> {{cat}} </span>
      </a></dt>
      
      <dd class="iblock"><a ng-if="tr['заявка']" ng-click="$ctrl.Edit(tr['заявка'])" href="javascript:" class="chip hover-shadow3d " style="padding:0 0.7rem;">
        <span class="middle">
          <i class="icon icon-left before-rotate180 red-text text-darken-4"></i>
        </span>
        
        <span ng-if="tr['заявка']['номер']" class="chip red-text text-darken-4">
          №{{ tr['заявка']['номер'] }} от {{ tr['заявка']['дата заявки краткий формат'] }}
        </span>
        
        <span ng-if="tr['заявка']['@дата1']" class="chip nowrap black-text">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1rem;" ng-include=" 'svg/start-date' " />
          <!--span class="fs8">{{ tr['заявка']["@дата1"]["день нед"] }}</span-->
          <span class="bold middle">{{ tr['заявка']["@дата1"]["day"] }}</span>
          <span class="fs8 middle">{{ tr['заявка']["@дата1"]["мес"] }}</span>
          <!---span class="fs8">{{ tr['заявка']["@дата1"]["year"].replace(/^20/, '') }}</span-->
        </span>
        
        <span ng-if="tr['заявка']['$заказчики']" ng-repeat="zak in tr['заявка']['$заказчики']" class="chip red-text text-darken-4" ng-class="{'z-depth-1': it['$заказчики'].length > 1}">
          <span class="text-darken-3 middle" ng-class="{'green-text': !zak['проект/id'], 'orange-text': !!zak['проект/id']}" style="white-space:nowrap; position:relative;">
            <!--svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill fill-darken-4" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#contragent" /></svg-->
            <i class="icon-star fs8" ng-show="!!zak['проект/id']"></i>
            <span>{{zak.title}}</span>
          </span>
        </span>
        
        <span ng-if="tr['заявка'].addr2" class="chip">
          <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#to-location" /></svg-->
            <!--svg ng-show="it['маршрут на круг']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="teal-fill fill-darken-3" style="height: 1.2rem; position:absolute; left:0; top:0;" title="маршрут на круг"><use xlink:href="/fonts/icons.svg#arrows-forward-backward" /></svg--->
            <span style000="white-space:nowrap;" class="middle">
              <span ng-repeat="a2 in tr['заявка'].addr2" class="breadcrumb">
                <span ng-repeat="aa2 in a2 track by $index" class="chip00 black-text breadcrumb middle" ng-init="A2 = $ctrl.ObjectOrAddress(aa2)" ng-class="{'orange-text text-darken-3': !!A2.id}">{{ A2.name }}</span>
              </span>
            </span>
        </span>
        
        <span class="chip fs8">{{ tr['заявка']['$логистик'].names.join(' ') }}</span>
      </a></dd>
      
      
      
    </div>

  </dl>
</div>


<!---transport-ask-work ng-if="$ctrl.tab && $ctrl.tab.title == 'В работе*' && $ctrl.data && $ctrl.data.length " data-list="$ctrl.data" data-param="param"></transport-ask-work-->

<!--div class="table-scroll-outer"><div class="table-scroll-inner"-->
<table ng-if=" $ctrl.ready && $ctrl.tab && $ctrl.tab.title != 'В работе*' &&  $ctrl.tab.title != 'Свободный транспорт' && $ctrl.tab.title != 'Транспорт' && $ctrl.tab.title != 'Транспорт в работе' " class="timework striped bordered highlight z-depth-3">
  <thead>
    <tr class="teal lighten-4"><!--th>#</th-->
    <th class="right-align000">
      <h5>
        <a href="javascript:" data-target="number-select" class="hover-shadow3d">
        <span>№</span>
        <span ng-if="$ctrl.param.table['номер'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{ $ctrl.param.table['номер'].title }}</span>
        </span></a>
        /
        <a href="javascript:" data-target="ts-select" class="hover-shadow3d">
        <span title="создания заявки">дата</span>
        <span ng-if="$ctrl.param.table['ts'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span ng-repeat="v in $ctrl.param.table['ts']['формат'] track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
        </span>
      </a>
      </h5>
      <h5>
        <span>Даты:</span>
      </h5>
      <h5><a href="javascript:" data-target="date1-select" class="hover-shadow3d">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill" style="height: 1rem;" ng-include=" 'svg/start-date' " />
        <span>начала</span>
        <span ng-if="$ctrl.param.table['дата1'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span ng-repeat="v in $ctrl.param.table['дата1']['формат'] track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
        </span>
      </a></h5>
        
      <h5><a href="javascript:" data-target="date3-select" class="hover-shadow3d">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill" style="height: 1rem;" ng-include=" 'svg/finish-date' " />
        <span title="плановое">заверш.</span>
        <span ng-if="$ctrl.param.table['дата3'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span ng-repeat="v in $ctrl.param.table['дата3']['формат'] track by $index"  class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
        </span>
      </a></h5>
    
      <h5><a href="javascript:" data-target="date2-select" class="red-text" class="hover-shadow3d">
          <!--i class="material-icons">today</i-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="red-fill" style="height: 1rem;" ng-include=" 'svg/finish-date' " />
          <span title="заверш">факт</span>
          <span ng-if="$ctrl.param.table['дата2'].ready">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
            <span ng-repeat="v in $ctrl.param.table['дата2']['формат'] track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
          </span>
        </a></h5>
      
    </th>
    
    <th style="width:30%;">
      <h5><a href="javascript:" data-target="contragent2-select" class="hover-shadow3d">
        <!--i class="material-icons">file_download</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#contragent" /></svg>
        <span>Заказчик</span>
        <span ng-if="$ctrl.param.table['заказчик'].ready && $ctrl.param.table['заказчик'].id">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['заказчик'].title}}</span>
        </span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="contact000-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/person' " />
        <span>Контактное лицо</span>
      </a></h5>
      <!--div ng-if="$ctrl.param.table['объект'].ready && $ctrl.param.table['объект'].id">
       <span class="chip orange-text text-darken-3">{{$ctrl.param.table['объект'].title}}</span>
      </div-->
      
      <h5><a href="javascript:" data-target="address1-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#from-location" /></svg>
        <span>Откуда</span>
        <span ng-if="$ctrl.param.table['откуда'].ready && $ctrl.param.table['откуда'].title">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['откуда'].title}}</span>
        </span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="address2-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#to-location" /></svg>
        <span>Куда</span>
        <span ng-if="$ctrl.param.table['куда'].ready && $ctrl.param.table['куда'].title">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['куда'].title}}</span>
        </span>
      </a></h5>
      
    </th>
    
    <th style="width:5rem;">
      <h5><a href="javascript:" data-target="gruz-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#shopping-cart" /></svg>
        <span>Груз</span>
        <span ng-if="$ctrl.param.table['груз'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['груз'].title}}</span>
        </span>
      </a></h5>
    </th>
    
    <th style="width:35%;">
      <h5><a href="javascript:" data-target="contragent1-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/wheel' " />
        <span>Перевозчик</span>
        <span ng-if="$ctrl.param.table['перевозчик'].ready && $ctrl.param.table['перевозчик'].id">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['перевозчик'].title}}</span>
        </span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="contact000-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/person' " />
        <span>Контактное лицо</span>
      </a></h5>
      
      <h5><a href="javascript:" data-target="transport-select" class="hover-shadow3d">
        <!--i class="material-icons">local_shipping</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/truck' " />
        <span>Машина / техника</span>
        <span ng-if="$ctrl.param.table['транспорт'].ready && $ctrl.param.table['транспорт'].id">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['транспорт'].title}}</span>
        </span>
      </a></h5>

      <h5><a href="javascript:" data-target="driver-select" class="hover-shadow3d">
        <!--i class="material-icons">person</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/driver' " />
        <span>Водитель</span>
      </a></h5>
      
      
      
    </th>
    
    <th>
      <h5><a href="javascript:" data-target="sum-select" class="hover-shadow3d">
        <!--i class="icon-rouble"></i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#rouble" /></svg>
        <span>Оплата</span>
        <span ng-if="$ctrl.param.table['сумма'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span ng-repeat="v in $ctrl.param.table['сумма'].values track by $index" class="breadcrumb00 chip maroon-text maroon lighten-5">{{v}}</span>
        </span>
      </a></h5>
    </th>
    
    <th>
      <h5><a href="javascript:" data-target="comment-select" class="hover-shadow3d">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#comment" /></svg>
        <span>Описание</span>
        <span ng-if="$ctrl.param.table['коммент'].ready">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="maroon-fill" style="height: 2rem;" ng-include=" 'svg/filter' " />
          <span class="chip maroon-text maroon lighten-5">{{$ctrl.param.table['коммент'].title}}</span>
        </span>
        </a>
      </h5>
    </th>
    
    </tr>
  </thead>
  
  <tbody>
    <!-- | orderBy : $ctrl.OrderByData : false-->
    <tr ng-repeat="it in $ctrl.data | filter: $ctrl.FilterData " ng-init="$ctrl.InitRow(it)" ng-attr-id="{{it.id}}" ng-click="$ctrl.Edit(it)" class="waves-effect00 waves-teal00" ng-class="{'yellow lighten-4': it === ($ctrl.param.edit || $ctrl.param.newX000) || ($ctrl.param.id && it.id == $ctrl.param.id)}" style="cursor:pointer;" title000="{{it | json}}">
      <!--td>
        <div ng-class="{'deep-orange-text text-darken-1': it._new}">{{$index+1}}<sup ng-show="it._new">*</sup></div>
      </td-->
      <td class="right-align00">
        <div>№{{ it['номер'] }} от {{ it['дата заявки краткий формат'] }}</div>
        <div class="nowrap">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1rem;" ng-include=" 'svg/start-date' " />
          <!--span>{{it["дата1 формат"]}}</span-->
          <span class="fs8">{{ it["@дата1"]["день нед"] }}</span>
          <span class="bold">{{ it["@дата1"]["day"] }}</span>
          <span class="fs8">{{ it["@дата1"]["мес"] }}</span>
        </div>
        <div ng-hide="!it['дата3']" class="nowrap">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1rem;" ng-include=" 'svg/finish-date' " />
          <!--span>{{it["дата3 формат"]}}</span-->
          <span class="fs8">{{ it["@дата3"]["день нед"] }}</span>
          <span class="bold">{{ it["@дата3"]["day"] }}</span>
          <span class="fs8">{{ it["@дата3"]["мес"] }}</span>
        </div>
        <div ng-show="it['дата2']" class="red-text nowrap">
          <!--i class="material-icons">lock</i-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ng-include=" 'svg/event-done' " />
          <!--span>{{it["дата2 формат"]}}</span-->
          <span class="fs8">{{ it["@дата3"]["день нед"] }}</span>
          <span class="bold">{{ it["@дата3"]["day"] }}</span>
          <span class="fs8">{{ it["@дата3"]["мес"] }}</span>
        </div>
        <div ng-hide="!it['отозвать']" title="заявка отменена">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill fill-darken-1" style="height: 1.2rem;" ng-include=" 'svg/break' " />
        </div>
      </td>

      <td>
        <div ng-repeat="zak in it['$заказчики']" ng-class="{'chip z-depth-1': it['$заказчики'].length > 1}" ng-style="it['$заказчики'].length > 1 ? {'padding':'0 0.5rem'} : {}">
          <h5 class="text-darken-3" ng-class="{'green-text': !zak['проект/id'], 'orange-text': !!zak['проект/id']}" style="white-space:nowrap; position:relative;">
            <!--i class="material-icons" style="position:absolute; left:0; top:0;">file_download</i-->
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="fill-darken-3" ng-class="{'green-fill': !zak['проект/id'], 'orange-fill': !!zak['проект/id']}" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#contragent" /></svg>
            <i class="icon-star fs8" ng-show="!!zak['проект/id']"></i>
            <span>{{zak.title}}</span>
          </h5>
          
          <div ng-show="it['контакты заказчиков'][$index] && (it['контакты заказчиков'][$index][0] || it['контакты заказчиков'][$index][1])" class="" ng-class="{'green-text text-darken-3': !zak['проект/id'], 'orange-text text-darken-3': !!zak['проект/id']}" style="margin-left: 1rem; position:relative;" title="контактное лицо заказчика">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle" ng-class="{'green-fill fill-darken-3': !zak['проект/id'], 'orange-fill fill-darken-3': !!zak['проект/id']}" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person" /></svg>
            <i ng-show="!!zak['проект/id']" class="icon-star fs8" ></i>
            <!--svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class=" teal-fill fill-darken-3" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#star" /></svg-->
            <span>{{ it['контакты заказчиков'][$index][0] }}</span>
            <span ng-show="it['контакты заказчиков'][$index][1]" class="nowrap">
              <!--i class="material-icons fs8">phone</i-->
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#phone-round" /></svg>
              <span>{{ it['контакты заказчиков'][$index][1] }}</span>
            </span>
          </div>
          
        </div>
        
        <div style="padding-left: 2rem; position:relative;">
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill fill-darken-3" style="height: 1.2rem;" ng-include=" 'svg/from-location' " /-->
          <svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem; position:absolute; left:0; top:0;"><use xlink:href="/fonts/icons.svg#from-location" /></svg>
          <span ng-repeat="a1 in it.addr1" class="breadcrumb">
            <span ng-repeat="aa1 in a1 track by $index" class="chip00 black-text breadcrumb middle" ng-init="A1 = $ctrl.ObjectOrAddress(aa1)" ng-class="{'orange-text text-darken-3': !!A1.id}">{{ A1.name }}</span>
          </span>
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/right-down-выпукло' " /-->
        </div>
        
          <!--span ng-show="it['объект']" class="orange-text text-darken-3" style="white-space:nowrap;">
            <span class="fs12 grey-text">→</span>
            <i class="icon-star"></i>
            <span>{{it['объект']}}</span>
          </span-->
        <div style="padding-left: 2rem; position:relative;">
          <!--i ng-hide="it['маршрут на круг']" class="material-icons teal-text text-darken-3" style="position:absolute; left:0; top:0;">forward</i-->
          <!--svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/right-down' " /-->
          <svg ng-hide="it['маршрут на круг']"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem; position:absolute; left:0; top:0;"><use xlink:href="/fonts/icons.svg#to-location" /></svg>
          <svg ng-show="it['маршрут на круг']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="teal-fill fill-darken-3" style="height: 1.2rem; position:absolute; left:0; top:0;" title="маршрут на круг"><use xlink:href="/fonts/icons.svg#arrows-forward-backward" /></svg>
          <span style000="white-space:nowrap;">
            <span ng-repeat="a2 in it.addr2" class="breadcrumb">
              <span ng-repeat="aa2 in a2 track by $index" class="chip00 black-text breadcrumb middle" ng-init="A2 = $ctrl.ObjectOrAddress(aa2)" ng-class="{'orange-text text-darken-3': !!A2.id}">{{ A2.name }}</span>
            </span>
          </span>
        </div>
        
      </td>
      
      <td style="position:relative;">
        <div class="truncate fs8" style="width:5rem; max-height:10rem;" title="{{it['груз']}}">{{it['груз']}}</div>
        <div ng-hide000="!it['$позиции тмц']" ng-hide="!it['снабженец']" class="lime-text text-darken-3 right" style="position:absolute; bottom:0; right:0;">
          <span class="chip z-depth-1 nowrap lime lighten-4 ng-binding">
            <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="orange-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#2arrows-180vert"></use></svg-->
            <i class="icon-star fs8"></i>
            <span>снабжение</span>
          </span>
        </div>
      </td>
      
      <!--td>
        
      </td-->
      
      <td>
        <div ng-show="it['$перевозчик']" ng-init="kd = it['$перевозчик']">
          <h5 class="text-darken-3"  ng-class="{'orange-text': !!kd['проект/id'], 'blue-text': !kd['проект/id']}" >
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="fill-darken-3" ng-class="{'orange-fill': !!kd['проект/id'], 'blue-fill': !kd['проект/id']}" style="height: 1.2rem; "><use xlink:href="/fonts/icons.svg#wheel" /></svg>
            <i ng-show="!!kd['проект/id']" class="icon-star fs8" ></i>
            <span>{{kd.title}}</span>
          </h5>
          
          <div ng-show="it['контакты'][0] && (it['контакты'][0][0] || it['контакты'][0][1])" class="text-darken-3"  ng-class="{'blue-text': !kd['проект/id'], 'orange-text': !!kd['проект/id']}" class="right-align000" title="контактное лицо перевозчика" style="padding-left: 1rem; position:relative;">
            <!--span  ng-show="!!it['перевозчик/проект/id']">★</span-->
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle" ng-class="{'blue-fill fill-darken-3': !kd['проект/id'], 'orange-fill fill-darken-3': !!kd['проект/id']}"  style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person" /></svg>
            <i ng-show="!!kd['проект/id']" class="icon-star fs8" ></i>
            <span>{{ it['контакты'][0][0] }}</span>
            <span ng-show="it['контакты'][0][1]" class="nowrap">
              <!--i class="material-icons fs8">phone</i-->
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class=" black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#phone-round" /></svg>
              <span>{{ it['контакты'][0][1] }}</span>
            </span>
          </div>
        </div>
        
        <div ng-init="kd = it['$перевозчик']" ng-class="{'orange-text text-darken-3': !!kd['проект/id'], 'blue-text text-darken-3': !!it['транспорт'] && !kd['проект/id']}" style000="padding-left: 2rem; position:relative;">
          <!--i class="material-icons">local_shipping</i-->
          <svg ng-hide000="!it['транспорт']" xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="middle" ng-class="{'orange-fill fill-darken-3': !!it['транспорт'] && !!kd['проект/id'], 'blue-fill fill-darken-3': !!it['транспорт'] && !kd['проект/id'], 'purple-fill': !it['транспорт']}" style="height: 1.4rem;"><use xlink:href="/fonts/icons.svg#truck" /></svg>
          <span ng-show="!it['транспорт']" class="purple-text">?</span>
          <i ng-show="!!kd['проект/id']" class="icon-star fs8" ></i>
          <span ng-show="it['транспорт1']">{{it['транспорт1']}}</span>
          <!--i ng-show="it['транспорт1']" class="material-icons black-text">link</i-->
          <svg ng-show="it['транспорт1']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#link" /></svg>
          <span ng-show="it['транспорт']">{{it['транспорт']}}</span>
          <span ng-repeat="cat in it['категории'].slice(1) track by $index" class="breadcrumb grey-text middle" ng-class000="{'orange-text text-darken-3': !it['перевозчик/id'], 'blue-text text-darken-3': it['перевозчик/id'], 'brown-text': !it['транспорт/id']}" >{{cat}}</span>
        </div>
        <div ng-show="driver[0] || driver[1]" ng-init=" driver = [(it['водитель-профиль'] && it['водитель-профиль'].join(' ')) || (it['водитель'] && it['водитель'][0]), it['водитель-профиль/телефон']  || (it['водитель'] && it['водитель'][1])]" ng-class="{'orange-text text-darken-3': it['водитель-профиль/id']}" title="водитель" style="padding-left: 1rem; position:relative;">
          <!--i class="material-icons" ng-show="driver[0] || driver[1]">person</i-->
          <!--i class="material-icons" ng-show="it['водитель-профиль/id']"></i-->
          <!--img ng-show="driver[0] || driver[1]" ng-src="{{ $templateCache.get('img-src/driver') }}" class="middle" style="height: 1rem;" alt="icon driver" /-->
          <svg ng-show="driver[0] || driver[1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle"  ng-class="{'orange-fill fill-darken-3': it['водитель-профиль/id']}" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#driver" /></svg>
          <!--span  ng-show="it['водитель-профиль/id']">★</span-->
          <i ng-show="it['водитель-профиль']" class="icon-star fs8" ></i>
          <span>{{ driver[0] }}</span>
          <span ng-show="driver[1]" class="nowrap">
            <!--i class="material-icons fs8">phone</i-->
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class=" black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#phone-round" /></svg>
            <span>{{ driver[1] }}</span>
          </span>
        </div>
        
        <!--div ng-show="it['контакты'][0] && (it['контакты'][0][0] || it['контакты'][0][1])" class="right-align000" title="контактное лицо перевозчика">
          <span>{{ it['контакты'][0][0] }}</span>
          <span ng-show="it['контакты'][0][1]" class="nowrap">
            <i class="material-icons fs8">phone</i>
            <span>{{ it['контакты'][0][1] }}</span>
          </span>
        </div-->
        
        
        
      </td>
      
      <td class="relative">
        <div ng-show="it['стоимость']" class="nowrap" title="стоимость">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="grey-fill"  style="height: 1.2rem; "><use xlink:href="/fonts/icons.svg#wheel" /></svg>
          <span>{{parseFloat(Util.numeric(it['стоимость'])).toLocaleString('ru-RU')}} ₽</span>
          <span ng-show="it['тип стоимости']">/ {{ payType[it['тип стоимости']].title2 || payType[it['тип стоимости']].title }}</span>
        </div>
        <div ng-show="it['факт']" class="nowrap">
            <span>{{it['факт']}}</span>
            <span ng-show="it['тип стоимости']">{{ payType[it['тип стоимости']].title2 || payType[it['тип стоимости']].title }}</span>
        </div>
        <div ng-show="it['факт'] || it['тип стоимости000'] === 0" class="nowrap">
          <span class="bold">Σ</span>
          <span>{{parseFloat(Util.numeric(it['сумма'])).toLocaleString('ru-RU')}} ₽</span>
        </div>
        
        <div ng-hide="!it['$логистик']" class="truncate fs7 grey-text" style="position:absolute; bottom:0; left:0;">
          <span class="">
            {{ it["$логистик"].names.join(' ') }}
          </span>
        </div>
        
      </td>

      <td class="relative">
        <!--textarea ng-model="it['коммент']" ng-disabled="true" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea-->
        <div class="fs8 grey-text truncate" style="width:7rem; max-height:10rem;" title="{{it['коммент']}}">{{it['коммент']}}</div>
        
        <div ng-show="!!it['посредник']" class="orange-text text-darken-3 right" style="position:absolute; bottom:0; right:0;">
          <!--span>через</span-->
          <span class000="chip z-depth-1 nowrap orange lighten-4">
            <!--i class="material-icons">import_export</i-->
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="orange-fill fill-darken-3" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#2arrows-180vert" /></svg>
            <i class="icon-star fs8"></i>
            {{it["посредник"]}}
          </span>
        </div>
      </td>
    </tr>
    
    <!--tr>
      <td colspan="10">
        
      </td>
    
    </tr-->
  
  </tbody>
</table>

<div ng-show="$ctrl.cancelerHttp && $ctrl.data.length" ng-include=" 'progress/load' "></div>
<div class="center">
  <span>заявок: {{ $ctrl.data.filter($ctrl.FilterData, t).length }}</span>
  <a ng-show="$ctrl.data.length >= 50 && $ctrl.lastDataChunkLen" class="btn-flat z-depth-1" ng-click="$ctrl.LoadData(true)" href="javascript:">
    <i class="material-icons">file_download</i>
    Показать еще записи
  </a>
</div>



<!-- Modal Structure -->
<div id="ts-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по дате создания заявки</h2>
    <date-between data-param="$ctrl.param.table['ts']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('ts')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('ts')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>
<!-- Modal Structure -->
<div id="date1-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по дате начала</h2>
    <date-between data-param="$ctrl.param.table['дата1']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата1')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата1')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>
<!-- Modal Structure -->
<div id="date3-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по дате планового завершения</h2>
    <date-between data-param="$ctrl.param.table['дата3']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата3')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата3')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>
<!-- Modal Structure -->
<div id="date2-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по дате факт завершения</h2>
    <date-between data-param="$ctrl.param.table['дата2']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата2')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата2')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="sum-select" class="card modal" ng-if="$ctrl.param.table">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по сумме оплаты перевозчику</h2>
    <div class="input-field">
      <h4>От</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[0]">
    </div>
    
    <div class="input-field">
      <h4>До</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[1]">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('сумма')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('сумма')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="contragent1-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по перевозчику</h2>
    <contragent-item data-item="$ctrl.param.table['перевозчик']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('перевозчик')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('перевозчик')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="contragent2-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по заказчику</h2>
    <contragent-item data-item="$ctrl.param.table['заказчик']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('заказчик')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('заказчик')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="transport-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Фильтровать записи по машине-технике</h2>
    <transport-item data-item="$ctrl.param.table['транспорт']" data-param0000="" data-on-select0000="$ctrl.OnSelectTransport1(item)" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('транспорт')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('транспорт')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="address1-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Выбрать откуда</h2>
    <object-address  data-data=" $ctrl.param.table['откуда'] " data-param="{'заказчик':{id:0}, sql:{only:'откуда'}}" data-on-select000="$ctrl.OnSelectAddress(item)"></object-address>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('откуда')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('откуда')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="address2-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content">
    <h2 class="">Выбрать куда</h2>
    <object-address  data-data=" $ctrl.param.table['куда'] " data-param="{'заказчик':{id:0}, sql:{only:'куда'}}" data-on-select000="$ctrl.OnSelectAddress(item)"></object-address>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('куда')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('куда')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="gruz-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content input-field">
    <h2 class="">Фильтровать записи по фрагменту строки <span class="chip">в грузе</span> заявок</h2>
    <input name="gruz-select" type="text" ng-model="$ctrl.param.table['груз'].title" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('груз')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('груз')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="comment-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content input-field">
    <h2 class="">Фильтровать записи по фрагменту строки <span class="chip">в описании</span> заявок</h2>
    <input name="comment-select" type="text" ng-model="$ctrl.param.table['коммент'].title" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('коммент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('коммент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="number-select" class="card modal" ng-if="$ctrl.param.table" style="height:100%;">
  <div class="modal-content input-field">
    <h2 class="">Фильтровать записи по номеру заявки</h2>
    <input name="number-select" type="text" ng-model="$ctrl.param.table['номер'].title" />
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('номер')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('номер')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
  </div>
</div>