@@@ transport/ask/work

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$ctrl.ready">

<!--div>{{ $ctrl.data | json }}</div-->
<table ng-if000="" class="bordered000 timework card000">
  <thead>
    <tr class="teal lighten-4">
      <th ng-repeat="d in $ctrl.days" class="center" ng-class="{' grey000 lighten000-3': !$ctrl.IsSunSat(d) && ! dateFns.isToday(d), 'yellow lighten-3 black-text': $ctrl.IsSunSat(d), 'orange white-text': dateFns.isToday(d)}"><div ng-repeat="f in $ctrl.FormatThDay(d)">{{f}}</div></th>
      <th class="vbottom" style="border-left: 1px solid grey;">Машины / техника</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tr in $ctrl.data['транспорт']" ng-init000="$ctrl.InitRow(tr)">

      
      <td ng-repeat="d in $ctrl.days" ng-init=" cell = $ctrl.InitCell(tr, d) " class="border data" ng000-class="{'yellow lighten-3': $ctrl.IsSunSat(d), 'orange lighten-3':dateFns.isToday(d)}" title000="{{cell._title}}" >
        <div ng-if="cell" ng-repeat="it in cell" title="{{ it | json }}" ng-class000="{'red lighten-4': !it['дата2'], 'green lighten-4': it['дата2']}" ng-style="cell.length>1 ? {'border-bottom':'1px dotted grey'} : {} " style="position: relative; padding: 0 0.5rem;" ng-dblclick="$ctrl.param.edit = it">
          
          <div class="right">
            <!--a ng-click="$ctrl.param.edit = it" href="javascript:"><i class="material-icons">edit</i></a-->
            <i ng-show="it['дата2']" class="material-icons" style000="position:absolute; right:0;top:0;">lock</i>
          </div>
        
          <div ng-show="it['заказчик']" ng-class="{'green-text text-darken-3': !it['заказчик/проект/id'], 'orange-text text-darken-3': !!it['заказчик/проект/id']}" style="white-space:nowrap;">
            <i class="material-icons">file_download</i>
            <span>{{it["заказчик"]}}</span>
          </div>
          
          
          
          <!--div ng-show="it['проект']" class="orange-text text-darken-3" style="white-space:nowrap;">
            <i class="material-icons">star</i>
            <span>{{it["проект"]}}</span>
          </div-->
          
          <div>
            <span ng-repeat="a1 in it['откуда'] track by $index" class="chip00 black-text breadcrumb" ng-init="A1 = $ctrl.ObjectOrAddress(a1)" ng-class="{'orange-text text-darken-3': !!A1.id}">{{ A1.name }}</span>
          
            <!--span ng-show="it['объект']" class="orange-text" style="white-space:nowrap;">
              <span class="fs12 grey-text">→</span>
              <i class="material-icons">star</i>
              <span>{{it['объект']}}</span>
            </span-->
            
            <span] ng-show="it['куда']" style="white-space:nowrap;">
              <!--span class="fs12 grey-text">→</span-->
              <i class="material-icons grey-text">forward</i>
              <span ng-repeat="a2 in it['куда'] track by $index" class="chip00 black-text breadcrumb" ng-init="A2 = $ctrl.ObjectOrAddress(a2)" ng-class="{'orange-text text-darken-3': !!A2.id}">{{ A2.name }}</span>
            </span>
          </div>
          
          <div ng-show="it['груз']" class="truncate" style="width:15rem;" title="{{it['груз']}}">
            <i class="material-icons">shopping_cart</i>
            {{it['груз']}}
            
          </div>
          
          <div ng-show="driver[0]" ng-init=" driver = [(it['водитель-профиль'] && it['водитель-профиль'].join(' ')) || (it['водитель'] && it['водитель'][0]), it['водитель-профиль/телефон']  || (it['водитель'] && it['водитель'][1])]" ng-class="{'orange-text': it['водитель-профиль/id']}" style="white-space:nowrap;">
            <i class="material-icons" ng-show="driver[0]">person</i>
            <!--i class="material-icons" ng-show="it['водитель-профиль/id']">star</i-->
            <span  ng-show="it['водитель-профиль/id']">★</span>
          <span>{{ driver[0] }}</span>
          <i class="material-icons" ng-show="driver[1]">phone</i>
          <span>{{ driver[1] }}</span>
          </div>
        </div>
        
        
      </td>
      
      <td title="{{ tr | json }}">
        <h5 ng-class="{'blue-text text-darken-3': !tr['проект/id'], 'orange-text text-darken-3': !!tr['проект/id']}">
          
          <span ng-show0000="tr['перевозчик']" ng-class="nowrap">
            <i class="material-icons" >file_upload</i>
            <span ng-if="!!tr['проект/id']">★</span>
            <span>{{tr['перевозчик']}}</span>
          </span>
        </h5>
        <div>
          <span class="nowrap">
            <i class="material-icons" >local_shipping</i>
            <span>{{tr.title}}</span>
          </span>
        </div>
        <div>
          <span ng-repeat="cat in tr['категории'].slice(1) track by $index" class="breadcrumb teal-text fs10">{{cat}}</span>
        </div>
      </td>
      
    </tr>
  </tbody>
</table>

</div>