@@@ transport/item

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$ctrl.ready" class="input-field" title00="{000{  $ctrl.item | json }}">

  <a ng-show="$ctrl.item.title && $ctrl.item.title.length" ng-show000="!$ctrl.showListBtn"  ng-click="$ctrl.ClearInput($ctrl.onSelect)" href="javascript:" class="remove-siblings"  style="right: 0.2rem; position: absolute; z-index: 1; top:0.2rem;" title="{{ $ctrl.item.id && '#'+$ctrl.item.id }}">
    <!--i class="material-icons brown-text">cancel</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
  </a>

  <input name="transport" type="text" ng-init="$ctrl.InitInput()"  ng-change="$ctrl.ChangeInput()" ng-model="$ctrl.item.title" placeholder="{{$ctrl.param.placeholder}}" style="margin:0;" ng-class=" {'red-text text-darken-3': !$ctrl.item.id && !!$ctrl.item.title.length && !$ctrl.item._suggests.length,  'orange-text text-darken-3': $ctrl.item.id && $ctrl.item['наш транспорт'], 'blue-text text-darken-3': 0 && !!$ctrl.item.id && !$ctrl.item['наш транспорт'],} "><!---НЕ РАБОТАЕТ ПЕРЕКЛЮЧЕНИЕ КЛАССА НА нашем транспорте -->
  
  
  <a ng-hide="$ctrl.item.title && $ctrl.item.title.length" ng-show0000="$ctrl.showListBtn"  ng-click="$ctrl.ToggleListBtn($event)" href="javascript:" class="prefix000"  style="right: 0; position: absolute; z-index: 1; top:0.4rem;">
    <sup class="chip000 fs7 right bold000">{{$ctrl.autocomplete.length}}</sup>
    <!--i class="material-icons" ng-class="{'grey-text': !$ctrl.autocomplete.length}">arrow_drop_down_circle</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="right" ng-class="{'grey-fill': !$ctrl.autocomplete.length, 'teal-fill fill-darken-3':$ctrl.autocomplete.length}" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
  </a>
  
  <span ng-if="!$ctrl.item['без сохранения']" ng-hide="$ctrl.item.id || !$ctrl.item.title.length" class="red-text text-darken-3 fs8 right000">*новая машина*</span>
  
  <span ng-if0000="!$ctrl.item['без сохранения']" ng-show="$ctrl.item.id" class="grey-text fs7" style="position:absolute; right:0;">#{{$ctrl.item.id}}</span>
  
</div>
