@@@ object+address

<!-- шаблон адрес или объект -->
<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$ctrl.ready" class="input-field clearfix">

  <a ng-show="!$ctrl.param['не изменять'] && $ctrl.data.title && $ctrl.data.title.length" ng-show000="!$ctrl.showListBtn"  ng-click="$ctrl.ClearItem($event)" href="javascript:" class="remove-siblings"  style="right: 0.2rem; position: absolute; z-index: 1; top:0.2rem;">
    <!--i class="material-icons brown-text">cancel</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
  </a>

  <input name="адрес или объект" type="text" ng-init="$ctrl.InitInput()"  ng-change="$ctrl.ChangeInput()" ng-model="$ctrl.data.title" placeholder="{{ $ctrl.param.placeholder || 'адрес или ★ объект' }}" style="margin:0;" ng-focus="$ctrl.FocusInput()" ng-class="$ctrl.InputClass()" ng-disabled="$ctrl.param['не изменять']">
  
  
  <a ng-hide="$ctrl.param['не изменять'] || ($ctrl.data.title && $ctrl.data.title.length)" ng-show0000="$ctrl.showListBtn"  ng-click="$ctrl.ToggleListBtn($event)" href="javascript:" class="prefix000"  style="right: 0.2rem; position: absolute; z-index: 1; top:0.4rem;">
    <sup class="chip000 fs7 right bold000">{{$ctrl.lookup.length}}</sup>
    <!--i class="material-icons" ng-class="{'grey-text': !$ctrl.lookup.length}">arrow_drop_down_circle</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="right" ng-class="{'grey-fill': !$ctrl.lookup.length, 'teal-fill fill-darken-3':$ctrl.lookup.length}" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
  </a>
  
  <!--span ng-if="!$ctrl.data['без сохранения']" ng-hide="$ctrl.data.id || !$ctrl.data.title.length" class="deep-orange-text000 grey-text  fs8 right">*адрес*</span-->
  
  <!--span ng-if="!$ctrl.data['без сохранения']" ng-show="$ctrl.data.id" class="grey-text fs8 right">объект #{{$ctrl.data.id}}</span-->
  
</div>