@@@ tmc/ask/snab/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$ctrl.ready">
  
  <div ng-if="$ctrl.param['объект']" ng-init000="$ctrl.Cancel()">
    <div ng-hide="$ctrl.data" class="" style="position: absolute; top: 0; right: 0"><a class="btn" ng-click="$ctrl.Open()" href="javascript:" ng-disabled="!$ctrl.param['объект'].id">
      <!--i class="material-icons">note_add</i-->
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="white-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg>
      <span>Новая заявка {{ $ctrl.param['объект'] && $ctrl.param['объект'].id ? '' : '(выбрать объект)' }}</span>
      
    </a></div>
    
    <!--div>{{ $ctrl.param | json }}</div-->
    
    <div ng-if="$ctrl.data && $ctrl.data._open" ng-init="$ctrl.InitAsk()" class="card teal lighten-5">
      
    <div class="card-content">

      <a ng-click="$ctrl.Cancel()" href="javascript:" class="right btn-flat red-text">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
        <span>Отмена</span>
      </a>
      
      <h3 ng-class="{'orange-text': !ask.id}">
        Обработка заявки-требования на ТМЦ
        <span ng-show="ask.id" class="grey-text fs8">#{{ask.id}}</span>
      
      </h3>
      <div class="divider  row" ng-class="{'teal darken-3': ask.id, 'orange': !ask.id}"></div>
      
      <div class="row">
        
        <div class="col s2">
          <h4 class=""> 
            <!--i class="material-icons">today</i-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/start-date' " />
            <span>Дата отгрузки</span>
            <sup ng-hide=" !!ask['дата1'] " class="chip red white-text" style="padding:0.5rem;"></sup>
          </h4>
          <div class="input-field" style="">
            <input name="дата1" type="text" class="datepicker"  data-value="{{ ask['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
        
        <div class="col s10">
        <div ng-repeat="ko in ask.contragent4" ng-init="ko['индекс в массиве'] = $index" class="row chip green lighten-4" style="display: block; ">
          <div class="col s6">
          <!--
            <h4 class="green-text text-darken-2"> 
              <i class="material-icons">business</i>
              <span>Поставщик</span>
            </h4>
            <contragent-item data-item="ask.contragent"  data-on-select="$ctrl.OnSelectContragent(item)"></contragent-item>
            -->
            <div class="" style000="padding:0.3rem 0.7rem;">
              <h4 class="fw500-000 relative"> 
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/arrow-left-up-round' " />
                <span>Поставщик-грузоотправитель</span>
                <span ng-show="ask.contragent4.length > 1" class="chip000">№{{ $index+1 }}</span>
                <sup ng-show=" !ko.title " class="chip red white-text" style="padding:0.5rem;"></sup>
                <a ng-show="!!ko.title && $index === 0" ng-click="$ctrl.PushContragent4()" href="javascript:" class="right000" style="position:absolute; right:0; top:0.2rem;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#plus-square2" /></svg></a>
                <a ng-show="$index !== 0" ng-click="$ctrl.SpliceContragent4($index)" href="javascript:" class="right000" style="position:absolute; right:0; top:0.2rem;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" red-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#minus-square" /></svg></a>
              </h4>
              <contragent-item data-item="ko" data-param="ask.contragent4Param[$index]" data-on-select="$ctrl.OnSelectContragent4(item)"></contragent-item>
              
              <h4 class=""> <!--  title="{{ ask.contact2 | json }}"-->
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/person' " />
                <span>Контактное лицо</span>
              </h4>
              <transport-ask-contact  ng-if="ko.title && ask.contact4Param[$index]" data-item="ask.contact4[$index]" data-param="ask.contact4Param[$index]"></transport-ask-contact>
            </div>
          </div>
          
          <div class="col s6">
            <!--div>adr1: {{ ask.address1 | json }}</div>
            <div>addressParam: {{ ask.addressParam | json }}</div-->

          <div ng-hide000="!ko.title" ng-init=" index1 = $index">
            <h4 class=""> 
              <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.5rem;" ng-include=" 'svg/from-location' " />
              <span>Адрес отгрузки</span>
              <sup ng-hide=" $ctrl.Address1Ok(index1) " class="chip red white-text" style="padding:0.5rem;"></sup>
              <!--i class="material-icons">forward</i-->
            </h4>
            
            <ul ng-if="ask.addressParam[index1]" ng-hide="!ko.title" ng-init=" adr1=ask.address1[index1] " style="margin:0;">
              <li ng-repeat="aa1 in adr1" ng-style000=" $index === 0 ? {} : {'padding-left': '2rem'} " class="relative">
                <!--svg ng-hide="$index === 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 2rem; position: absolute; top:0; left:0;" ng-include=" 'svg/right-down' " /-->
                <object-address ng-init=" addressParam = $ctrl.InitAddressParam(index1, $index) " data-data=" aa1 " data-param="addressParam" data-on-select000="$ctrl.OnSelectAddress(item)"></object-address>
              </li>
            </ul>
          </div>
        </div>
        </div><!-- row contragent4 -->
        </div><!-- col s8 -->
      </div><!-- row -->
      
      <h4 ng-if="$ctrl.param['объект'].id" class="row">
        <span class="col">На объект</span>
        <span class="col italic blue-text">{{$ctrl.param['объект'].name}}</span>
      </h4>
      
      <table class="chip top000 teal lighten-4" style000="margin: 3rem 0;">
        <thead><tr>
          <th class="center" style="width:1%;">
            <span>№</span>
          </th>
          <th class="center" style="width:1%;">
            <a ng-disabled="$ctrl.param['объект'].id === 0" ng-click="$ctrl.AddPos()" href="javascript:" class="btn transparent" style="padding: 0;" title="добавить строку">
              <i class="material-icons green-text">add_box</i>
            </a>
          </th>
          <th class="center" style="width:1%;">Дата</th>
          <th class="center" ng-if="$ctrl.param['объект'].id === 0">Объект</th>
          
          <th class="center">Наименование</th>
          <th class="center" style="width:5rem;">Кол-во</th>
          <!--th class="center" style="width:5rem;">Ед. изм.</th-->
          <th class="center" style="width:5rem;">Цена</th>
          <th class="center" style="width:10rem;">Сумма</th>
          <th class="center" style="width:5rem;">Примеч.</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="row in ask['позиции']" ng-attr-id="{{ 'row-index-'+$index }}" ng-init="$ctrl.InitRow(row, $index)" title000="000{{row|json}}">
            <td class="right-align">
              <span>{{ $index+1 }}</span>
            </td>
            <td class="center">
              <a ng-click="$ctrl.DeleteRow($index)" href="javascript:" class="btn-flat" style="white-space:nowrap; padding: 0 0.3rem;" title="удалить строку">
                <i class="material-icons red-text">delete_forever</i>
              </a>
            </td>
            <td class="center" ng-class="{vbottom: $ctrl.param['объект'].id}">
              <div ng-if="row.id">
                <span class="fs8"> {{ row['$дата1']['день нед'] }} </span>
                <br>
                <span class="bold"> {{ row['$дата1']['day'] }} </span>
                <br>
                <span class="fs8"> {{ row['$дата1']['мес'] }} </span>
              </div>
              <div ng-if="!row.id" class="input-field" style="width:10rem;">
                <input name="date" type="text" class="datepicker"  data-value="{{ row['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
              </div>
              
            </td>
            <td ng-if="$ctrl.param['объект'].id === 0" class="vtop000">
              <div class="italic000 center000 blue-text">{{row['объект']}}</div>
              <!--div ng-if="$ctrl.param['объект'].id">{{$ctrl.param['объект'].name}}</div-->
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill fill-darken-3"  style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person" /></svg>
                <span ng-repeat="n in row['профиль с объекта'] track by $index" class="black-text fs8">{{ n }}</span>
              </div>
            </td>
            <td class="vbottom" ng000-init="$ctrl.InitNomen(row)">
              <tree-item data-item="row.nomen" data-data="nomenData" data-on-focus-field="$ctrl.FocusRow(row)"></tree-item>
            </td>
            <td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['количество']" ng-change="$ctrl.ChangeRow(row)" ng000-focus="$ctrl.FocusRow(row)" placeholder="кол-во" class="right-align">
              </div>
            </td>
            
            <!--td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['ед']" ng000-focus="$ctrl.FocusRow(row)" placeholder="ед" class="right-align">
              </div>
            </td-->
            
            <td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['цена']" ng-change="$ctrl.ChangeRow(row)" placeholder="цена"  class="right-align">
              </div>
            </td>
            
            <td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['сумма']" ng-disabled="1" class="right-align">
              </div>
            </td>
            
            <td class="vbottom">
              <div class="input-field">
                <textarea ng-model="row['коммент']" class="materialize-textarea fs8" style="font-size:0.8rem; padding:0;"></textarea>
              </div>
            </td>
            
          </tr>
        </tbody>
      
      </table>
      
      <div class="input-field chip block">
        <h5>Примечание для обработанных позиций</h5>
        <textarea ng-model="ask['коммент']" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea>
      </div>
      
      <div ng-show="$ctrl.error" class="red-text">{{ $ctrl.error }}</div>
      <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    </div>
    <div class="card-action center">
      <a class="btn" ng-click="$ctrl.Save(ask)" href="javascript:" ng-disabled="!$ctrl.Save()">
        <i class="material-icons">save</i>
        <span>Сохранить</span>
      </a>
      <!--a ng-if="ask.id" class="btn red" ng-click="$ctrl.Delete(ask)" href="javascript:">
        <i class="material-icons">delete_forever</i>
        <span>Удалить</span>
      </a-->
    </div>
    </div>
  <!--div>{{ ask | json }}</div-->
  </div>


</div>