
@@@ tmc/ask/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<!--div ng-if=" $ctrl.param.edit && $ctrl.param.edit._init " ng-init="$ctrl.Edit()" ng-show="0"></div--><!---  Наблюдать для обновления контекста -->

<div ng-if="$ctrl.ready">
  
  <div ng-if111="$ctrl.param['объект']">
    <div ng-hide="$ctrl.data && $ctrl.data._new" class="" style="position: absolute; top: 0; right: 0"><a class="btn" ng-click="$ctrl.New()" href="javascript:">
      <i class="material-icons">note_add</i>
      <span>Новая заявка</span>
      
    </a></div>
    
    <!--div>{{ $ctrl.param | json }}</div-->
    
    <div ng-if="$ctrl.data" class="card teal lighten-5">
      
    <div class="card-content">
    
      <a ng-click="$ctrl.CancelBtn()" href="javascript:" class="right btn-flat orange-text">
        <i class="material-icons">cancel</i>
        <span>Отмена</span>
      </a>

      <h3 ng-hide="$ctrl.data.id" class="orange-text">Новая заявка-требование на поставку ТМЦ</h3>
      <h3 ng-show="$ctrl.data.id" class="green-text text-darken-3">Редактировать заявку-требование на поставку ТМЦ</h3>
      <div class="divider  row" ng-class="{'green darken-3': $ctrl.data.id, 'orange': !$ctrl.data.id}"></div>
      <!--div>{{ $ctrl.data | json }}</div-->
      
      <div class="row">
        <div class="col s3 ">
          <h4>
            <i class="material-icons">today</i>
            <span>Требуется на дату</span>
          </h4>
          <div class="input-field">
            <input name="date" type="text" class="datepicker"  data-value="{{ $ctrl.data['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
      
      
      <!--table><tbody><tr class00="row" style="">
        <td class="vbottom" style="width:50%; padding: 0 0.5rem;"-->
        <div class="col s7 ">
          <h4 class="">
            <i class="material-icons "></i>
            <span>Наименование ТМЦ</span>
          </h4>
          <div class="input-field">
            <tree-item data-item="Nomen" data-data="NomenData" data-on-focus-field000="$ctrl.FocusRow(row)"></tree-item>
          </div>
        </div>
      
        <!--td class="vbottom" style="width:25%; padding: 0 0.5rem;"-->
        <div class="col s2  ">
          <h4 class="">
            <i class="material-icons "></i>
            <span>Количество</span>
          </h4>
          <div class="input-field">
            <input  type="text" ng-model="$ctrl.data['количество']" ng-change000="$ctrl.ChangeKol($last, row)" ng-focus000="$ctrl.FocusRow(row)" placeholder="кол-во" class="right-align">
          </div>
        </div>
        
        <!--td class="vbottom" style="width:25%; padding: 0 0.5rem;">
          <h4 class="">
            <i class="material-icons "></i>
            <span>Единицы изм.</span>
          </h4>
          <div class="input-field">
            <input  type="text" ng-model="$ctrl.data['ед']" ng-focus00="$ctrl.FocusRow(row)" placeholder="единицы" class="">
          </div>
        </td-->
      <!--/tr></tbody></table-->
      </div>

      <div class="input-field">
        <h5>Примечание</h5>
        <textarea ng-model="$ctrl.data['коммент']" class="materialize-textarea fs8" style="padding:0;"></textarea>
      </div>
      
      <div ng-show="$ctrl.error" class="red-text">{{ $ctrl.error }}</div>
      <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    </div>
    <div class="card-action center">
      <a class="btn" ng-click="$ctrl.Save($ctrl.data)" href="javascript:" ng-disabled="!$ctrl.Validate($ctrl.data)">
        <i class="material-icons">save</i>
        <span>Сохранить</span>
      </a>
      <a ng-if="$ctrl.data.id" class="btn red" ng-click000="$ctrl.Delete()" href="javascript:" data-target="modal-confirm-remove">
        <i class="material-icons">delete_forever</i>
        <span>Удалить</span>
      </a>
    </div>
    </div>
  
  </div>

</div>

<!-- Modal Trigger -->
<!--a class="waves-effect waves-light btn" href="javascript:">Modal</a-->

<!-- Modal Structure -->
<div id="modal-confirm-remove" class="modal" style="width:50%; max-height: 50%; top:0rem;">
  
  <div  class="modal-content">
    
    <h3>¿ Точно удалить заявку?</h3>
    
    
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Delete($ctrl.data)" href="javascript:" class="modal-action modal-close waves-effect waves-teal btn-flat green-text fs18">ДА</a>
    <a ng-click0000="$ctrl.ConfirmValueNOT()" href="javascript:" class="modal-action modal-close waves-effect waves-red btn-flat red-text fs18 left">НЕТ</a>
  </div>
  
</div>