@@@ tmc/ask/snab/transport
<!--- просто инклюд в шаблон  tmc/ask/snab/table--->
<!-- список обработанных заявок тмц в транспорт -->
<ul style000="margin:0;">
<li ng-repeat="ask in $ctrl['заявки снаб']" class="card lime lighten-5" ng-init="$ctrl.InitSnabAsk(ask)" ng-attr-id="{{ ask.id }}" style="margin-top:0;">
  <div class="card-content">
    <div class="right000" style="position:absolute; bottom:0; right:0.5rem;"><span class="grey-text fs8">#{{ ask.id }}</span></div>
    
    <div class="row00">
      <div class="col00 s12">
        <a ng-click="$ctrl.EditSnabAsk(ask)" href="javascript:" class="black-text block" ng-class="{'btn-flat000': $ctrl.param['объект'].id !== 0}" style="text-transform: none;" ng-disabled000="$ctrl.param['объект'].id !== 0">
          <span title="дата отгрузки" class="vtop iblock center" style="max-width:10%;">
            <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#start-date" /></svg>
            <br-->
            <span class="fs8">{{ ask['@дата1']['день нед'] }}</span>
            <br>
            <span class="bold">{{ ask['@дата1']['day'] }}</span>
            <br>
            <span class="fs8">{{ ask['@дата1']['мес'] }}</span>
            
          </span>
          
          <div class="iblock vtop" style="width:20%;">
            <div ng-repeat="k in ask['грузоотправители']" class="chip block green lighten-4">
              <h4  class="center text-darken-3" ng-class="" style="" title="поставщик-грузоотправитель">
                <!--svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#arrow-left-up-round" /></svg-->
                <span>{{k.title}}</span>
              </h4>
              
              <span class="iblock" title="адрес отгрузки">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#from-location" /></svg>
                  <!--span ng-repeat="a1 in ask.addr1"-->
                    <span ng-repeat="aa1 in ask.addr1[$index] track by $index" class="chip00 black-text breadcrumb middle" ng-init="A1 = $ctrl.ObjectOrAddress(aa1)" ng-class="{'orange-text text-darken-3': !!A1.id}">{{ A1.name }}</span>
                  <!--/span-->
              </span>
              
            </div>
          </div>
          
          
          <!--span ng-if="$ctrl.param['объект'].id === 0" class="black-text bold chip nowrap" title="сумма">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#sigma" /></svg>
            = {{ $ctrl.SumMoney(ID1).toLocaleString('ru-RU') }} руб
          </span-->
          
          
          
          <div ng-if000=" angular.isArray(ask['позиции']) " class="chip teal lighten-4 " style="width:50%;">
            <div ng-include=" 'tmc/ask/snab/table/tmc' "></div>
          </div>
          
          <div class="iblock vtop" style="max-width:20%;">
            <!--textarea ng-model="data1['тмц/снаб/коммент']" ng-disabled000="true" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea-->
            <div ng-show=" ask['коммент'] " class="chip truncate000 fs8 vtop" >{{ ask['коммент']    }}</div>
            <div ng-show=" ask['транспорт'] ">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="black-fill fill-darken-3"  style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#truck" /></svg>
              <span>{{ ask['транспорт'] }}</span>
              <span ng-repeat="cat in ask['категории'].slice(1) track by $index" class="breadcrumb grey-text middle">{{ cat }}</span>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill fill-darken-3"  style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#driver" /></svg>
                <span>{{ ask.driver.title }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class=" black-fill" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#phone-round"></use></svg>
                <span>{{ ask.driver.phone }}</span>
                
              </div>
              <div>
                <i class="icon-address-card-o black-text" title="паспорт водителя"></i>
                <span>{{ ask.driver.doc }}</span>
              </div>
              
            </div>
          </div>
          
        </a>
      </div>
    </div>
    
  </div>

</li>
<li class="center">
  <!--span>записей: {{ $ctrl.data.length }}</span-->
  <a ng-show="$ctrl['заявки снаб'].length >= 100" class="btn-flat" ng-click="$ctrl.LoadData(true)" href="javascript:">
    <!--i class="material-icons">file_download</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#download" /></svg>
    Показать еще
  </a>
</li>
</ul>