
@@@ tmc/ask/snab/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$ctrl.ready">
  
  <div ng-if="$ctrl.param['объект']" ng-init="$ctrl.Cancel()">
    <div ng-hide="$ctrl.data" class="" style="position: absolute; top: 0; right: 0"><a class="btn" ng-click="$ctrl.Open()" href="javascript:" ng-disabled="!$ctrl.param['объект'].id">
      <i class="material-icons">note_add</i>
      <span>Новая заявка {{ $ctrl.param['объект'] && $ctrl.param['объект'].id ? '' : '(выбрать объект)' }}</span>
      
    </a></div>
    
    <!--div>{{ $ctrl.param | json }}</div-->
    
    <div ng-if="$ctrl.data && $ctrl.data._open" class="card teal lighten-5">
      
    <div class="card-content">

      <a ng-click="$ctrl.Cancel()" href="javascript:" class="right btn-flat orange-text">
        <i class="material-icons">cancel</i>
        <span>Отмена</span>
      </a>
      
      <h3 ng-class="{'orange-text': !$ctrl.data.id}">
        Обработка заявки-требования на ТМЦ
        <span ng-show="$ctrl.data.id" class="grey-text fs8">#{{$ctrl.data.id}}</span>
      
      </h3>
      <div class="divider  row" ng-class="{'teal darken-3': $ctrl.data.id, 'orange': !$ctrl.data.id}"></div>
      
      <div class="row">
        
        <div class="col s4">
          <h4 class="green-text text-darken-2"> 
            <i class="material-icons">today</i>
            <span>Дата отгрузки</span>
          </h4>
          <div class="input-field" style="">
            <input name="дата отгрузки" type="text" class="datepicker"  data-value="{{ $ctrl.data['дата отгрузки'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
        
        <div class="col s4">
          <h4 class="green-text text-darken-2"> 
            <i class="material-icons">business</i>
            <span>Поставщик</span>
          </h4>
          <contragent-item data-item="$ctrl.data.contragent"  data-on-select="$ctrl.OnSelectContragent(item)"></contragent-item>
        </div>
        
        <div class="col s4">
          <h4 class="green-text text-darken-2"> 
            <i class="material-icons">place</i>
            <span>Адрес отгрузки</span>
          </h4>
          <div class="input-field" style="">
            <a ng-show="$ctrl.data['адрес отгрузки'].length"  ng-click="$ctrl.ClearAddress()" href="javascript:" class="remove-siblings"  style="right: 0; position: absolute; top:0;">
              <i class="material-icons brown-text">cancel</i>
            </a>
            <input name="адрес отгрузки" type="text" class="" ng-model="$ctrl.data['адрес отгрузки']" placeholder="адрес отгрузки"  style000="padding-left: 3rem; margin-left: 0px;">
            <a ng-show="!$ctrl.data['адрес отгрузки'].length && $ctrl.addressComplete && $ctrl.addressComplete.length"  ng-click="$ctrl.ToggleAddressList()" href="javascript:" class="prefix000"  style="right: 0; position: absolute; top:0;">
              <i class="material-icons">arrow_drop_down_circle</i>
            </a>
          </div>
        </div>
      </div>
      
      <h4 ng-if="$ctrl.param['объект'].id" class="row">
        <span class="col">На объект</span>
        <span class="col italic blue-text">{{$ctrl.param['объект'].name}}</span>
      </h4>
      
      <table class="striped000 white000" style="margin: 3rem 0;">
        <thead><tr>
          <th class="center" style="width:1%;">
            <span>№</span>
          </th>
          <th class="center" style="width:1%;">
            <a ng-disabled="$ctrl.param['объект'].id === 0" ng-click="$ctrl.AddPos()" href="javascript:" class="btn transparent" style="padding: 0;" title="добавить строку">
              <i class="material-icons green-text">add_box</i>
            </a>
          </th>
          <th class="center" style="width:1%;">Дата</th>
          <th class="center" ng-if="$ctrl.param['объект'].id === 0">Объект</th>
          
          <th class="center">Наименование</th>
          <th class="center" style="width:5rem;">Кол-во</th>
          <!--th class="center" style="width:5rem;">Ед. изм.</th-->
          <th class="center" style="width:5rem;">Цена</th>
          <th class="center" style="width:10rem;">Сумма</th>
          <th class="center" style="width:5rem;">Примеч.</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="row in $ctrl.data['позиции']" ng-attr-id="{{ 'row-index-'+$index }}" ng-init="$ctrl.InitRow(row, $index)" title="{{row|json}}">
            <td class="right-align">
              <span>{{ $index+1 }}</span>
            </td>
            <td class="center">
              <a ng-click="$ctrl.DeleteRow($index)" href="javascript:" class="btn-flat" style="white-space:nowrap; padding: 0 0.3rem;" title="удалить строку">
                <i class="material-icons red-text">delete_forever</i>
              </a>
            </td>
            <td ng-class="{vbottom: $ctrl.param['объект'].id}">
              <div ng-if="row.id">{{ row['дата1 формат'] }}</div>
              <div ng-if="!row.id" class="input-field" style="width:10rem;">
                <input name="date" type="text" class="datepicker"  data-value="{{ row['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
              </div>
              
            </td>
            <td ng-if="$ctrl.param['объект'].id === 0">
              <div class="italic000 center blue-text">{{row['объект']}}</div>
              <!--div ng-if="$ctrl.param['объект'].id">{{$ctrl.param['объект'].name}}</div-->
            </td>
            <td class="vbottom" ng000-init="$ctrl.InitNomen(row)">
              <tree-item data-item="row.nomen" data-data="nomenData" data-on-focus-field="$ctrl.FocusRow(row)"></tree-item>
            </td>
            <td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['количество']" ng-change="$ctrl.ChangeRow(row)" ng000-focus="$ctrl.FocusRow(row)" placeholder="кол-во" class="right-align">
              </div>
            </td>
            
            <!--td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['ед']" ng000-focus="$ctrl.FocusRow(row)" placeholder="ед" class="right-align">
              </div>
            </td-->
            
            <td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['цена']" ng-change="$ctrl.ChangeRow(row)" placeholder="цена"  class="right-align">
              </div>
            </td>
            
            <td class="vbottom">
              <div class="input-field">
                <input  type="text" ng-model="row['сумма']" ng-disabled="1" class="right-align">
              </div>
            </td>
            
            <td class="vbottom">
              <div class="input-field">
                <textarea ng-model="row['коммент']" class="materialize-textarea fs8" style="font-size:0.8rem; padding:0;"></textarea>
              </div>
            </td>
            
          </tr>
        </tbody>
      
      </table>
      
      <div class="input-field">
        <h5>Примечание для обработанных позиций</h5>
        <textarea ng-model="$ctrl.data['коммент']" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea>
      </div>
      
      <div ng-show="$ctrl.error" class="red-text">{{ $ctrl.error }}</div>
      <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    </div>
    <div class="card-action center">
      <a class="btn" ng-click="$ctrl.Save($ctrl.data)" href="javascript:" ng-disabled="!$ctrl.Save()">
        <i class="material-icons">save</i>
        <span>Сохранить</span>
      </a>
      <!--a ng-if="$ctrl.data.id" class="btn red" ng-click="$ctrl.Delete($ctrl.data)" href="javascript:">
        <i class="material-icons">delete_forever</i>
        <span>Удалить</span>
      </a-->
    </div>
    </div>
  <!--div>{{ $ctrl.data | json }}</div-->
  </div>


</div>