
@@@ tmc/ask/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if=" $ctrl.param.edit && $ctrl.param.edit._init " ng-init="$ctrl.Edit()" ng-show="0"></div><!---  Наблюдать для обновления контекста -->

<div ng-if="$ctrl.ready">
  
  <div ng-if111="$ctrl.param['объект']">
    <div ng-hide="$ctrl.data" class="right"><a class="btn" ng-click="$ctrl.InitData()" href="javascript:">
      <i class="material-icons">note_add</i>
      <span>Новая заявка</span>
      
    </a></div>
    
    <!--div>{{ $ctrl.param | json }}</div-->
    
    <div ng-if="$ctrl.data" class="card teal lighten-5">
      <a ng-click="$ctrl.CancelBtn()" href="javascript:" class="right btn orange">
        <i class="material-icons">cancel</i>
        <span>Отмена</span>
      </a>
    <div class="card-content">

      <h3 ng-hide="$ctrl.data.id" class="orange-text">Новая запись</h3>
      <h3 ng-show="$ctrl.data.id" class="green-text text-darken-3">Редактировать запись</h3>
      <div class="divider  row" ng-class="{'green darken-3': $ctrl.data.id, 'orange': !$ctrl.data.id}"></div>
      <!--div>{{ $ctrl.data | json }}</div-->
      
      <div class="row">
        <h4 class="col s6  right-align">
          <i class="material-icons">today</i>
          <span>Требуется на дату</span>
        </h4>
        <div class="col s6 input-field">
          <input name="date" type="text" class="datepicker"  data-value="{{ $ctrl.data['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
        </div>
      </div>
      
      <div class="row" style000="display: table-row; vertical-align: bottom;">
        <div class="col s12 m6" style000="display: table-cell; vertical-align: bottom;">
          <h4 class="">
            <i class="material-icons "></i>
            <span>Наименование</span>
          </h4>
          <div class="input-field">
            <nomen-item data-data="$ctrl.data['номенклатура']" data-on-focus-field000="$ctrl.FocusRow(row)"></nomen-item>
          </div>
        </div>
      
        <div class="col s12 m3" style000="display: table-cell; vertical-align: bottom;">
          <h4 class="">
            <i class="material-icons "></i>
            <span>Количество</span>
          </h4>
          <div class="input-field">
            <input  type="text" ng-model="$ctrl.data['количество']" ng-change000="$ctrl.ChangeKol($last, row)" ng-focus000="$ctrl.FocusRow(row)" placeholder="кол-во" class="right-align">
          </div>
        </div>
        
        <div class="col s12 m3" style000="display: table-cell; vertical-align: bottom;">
          <h4 class="">
            <i class="material-icons "></i>
            <span>Единицы изм.</span>
          </h4>
          <div class="input-field">
            <input  type="text" ng-model="$ctrl.data['ед']" ng-focus00="$ctrl.FocusRow(row)" placeholder="единицы" class="">
          </div>
        </div>
      </div>

      <div class="input-field">
        <h5>Примечание</h5>
        <textarea ng-model="$ctrl.data['коммент']" class="materialize-textarea fs8" style=""></textarea>
      </div>
      
      <div ng-show="$ctrl.error" class="red-text">{{ $ctrl.error }}</div>
      <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/save' "></div>
    
    </div>
    <div class="card-action center">
      <a class="btn" ng-click="$ctrl.Save($ctrl.data)" href="javascript:" ng-disabled="!$ctrl.Validate($ctrl.data)">
        <i class="material-icons">save</i>
        <span>Сохранить</span>
      </a>
      <a ng-if="$ctrl.data.id" class="btn red" ng-click="$ctrl.Delete()" href="javascript:">
        <i class="material-icons">delete_forever</i>
        <span>Удалить</span>
      </a>
    </div>
    </div>
  
  </div>


</div>