@@@ tmc/ask/table

<div ng-hide="!$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>

<!--tmc-ask-form ng-if="$ctrl.ready"  data-param="$ctrl.param"></tmc-ask-form-->

<div class="show-on-ready z-depth-3" style="/*max-height: 50vh;*/ overflow-y: auto;">

<!--- таблица для необработанных заявок ТМЦ + простые поставки построчно -->
<!--div class="table-scroll-outer"><div class="table-scroll-inner"-->
<table class="top000 striped bordered  z-depth-3" ng-class="{'highlight-maroon-lighten-4': !!$ctrl.param['список простых поставок'], 'highlight-orange-lighten-4': !!$ctrl.param['в поставку']}">
  <thead ng-class=" $ctrl.param.theadClass "><tr><!--th>#</th-->
    <th class="center" style="width:1%;">
      <h4 class="fw500">
        <a href="javascript:" data-target="date-select000">
          <!--i class="material-icons">today</i-->
          <span>На дату</span>
        </a>
      </h4>
      <div ng-if="$ctrl.param.table['дата1'].ready">
       <span ng-repeat="v in $ctrl.param.table['дата1']['формат'] track by $index" class="breadcrumb00 chip green-text">{{v}}</span>
      </div>
    </th>
    
    <th ng-if="$ctrl.param['объект'].id === 0" class="center" style="min-width:30%;">
      <h4 class="fw500">На объект</h4>
    
    </th>
    
    <!--th ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 1" ng-class="{'light-green lighten-4': $ctrl.param.move.id === 0}">
      <h4><a href="javascript:" data-target="contragent-select" class="green-text text-darken-2">
        <i class="material-icons">business</i>
        <span>Контрагент</span>
      </a></h4>
      <div ng-if="$ctrl.param.table['контрагент'].ready && $ctrl.param.table['контрагент'].id">
       <span class="chip green-text">{{$ctrl.param.table['контрагент'].title}}</span>
      </div>
      
    </th-->
    
    <th class="center" style="min-width:40%;">
      <h4 class="fw500"><a href="javascript:" data-target="nomen-select" class000="green-text text-darken-2">
        <!--i class="material-icons">business</i-->
        <span>Наименование</span>
      </a></h4>
      <div ng-if="$ctrl.param.table['номенклатура'].ready && $ctrl.param.table['номенклатура'].id">
       <span class="chip green-text">{{$ctrl.param.table['номенклатура'].title}}</span>
      </div>
      
    </th>
    
    <th class="center" style="width:1%;">
      <h4 class="fw500">
        <!--i class="material-icons">more_horiz</i-->
        <span>Количество</span>
        <span ng-hide=" !$ctrl.param['список простых поставок'] ">&nbsp;заявки</span>
      </h4>
      <div ng-show=" !$ctrl.param['список простых поставок'] "><span class="bold">еще</span> <span class="chip grey-text">всего</span> </div>
      
    </th>
    
    <!--th>
      <h4>
        <span>Ед</span>
      </h4>
    </th-->
    
    <th class="center" style="min-width:5%;">
      <h4 class="fw500">
        <!--i class="material-icons">message</i-->
        <span>Примечание</span>
      </h4>
    </th>
    
    <th ng-if=" !!$ctrl.param['в поставку'] && !$ctrl.param['список простых поставок'] " class="center vbottom" style="width:1%;">
      <h4 class="fw500"><i class="icon icon-star"></i> закупка</h4>
    </th>
    
    <th ng-if=" !!$ctrl.param['в поставку'] && !$ctrl.param['список простых поставок'] " class="center vbottom" style="width:1%;">
      <h4 class="fw500 maroon-text text-darken-3" title="простая поставка">
        <i class="icon icon-ok-circle"></i>
        проще
      </h4>
    </th>
    
    <th ng-if=" !!$ctrl.param['в перемещение'] && !$ctrl.param['список простых поставок'] " class="center vbottom" style="width:1%;">
      <h4 class="fw500 red-text text-darken-3" title="простая поставка">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="rotate90left red-fill fill-darken-3" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#2arrows-180vert"></use></svg>
        перемещение</h4>
    </th>
    
    <th ng-if=" !!$ctrl.param['список простых поставок'] " class="center" style="min-width:15%;">
      <h4 class="fw500 maroon-text text-darken-3" title="">Простая поставка</h4>
    </th>

    
    </tr></thead>
  
  <tbody ng-class=" $ctrl.param.tbodyClass " class=""><!-- | filter: $ctrl.FilterData-->
    <tr ng-repeat="it in $ctrl.data | filter: $ctrl.FilterData | orderBy: $ctrl.OrderByData : !!$ctrl.param['список простых поставок']" ng-init="$ctrl.InitRow(it)"  ng-attr-id="{{it.id}}" ng-click="$ctrl.EditAsk(it)" class="relative waves-effect00 waves-teal00" ng-class="{'selected': it['обработка'] || it === $ctrl.param.edit || it._edit}" ng-style="1 ? {'cursor': 'pointer'} : {}" title000="{000{it | json}}">
      <td class="right-align nowrap" title="{{ it['дата1 краткий формат'] || it['дата1'] }}">
        <span class="fs8"><span class=""> {{ it['$дата1']['день нед'] }} </span>    <span class="bold"> {{ it['$дата1']['day'] }} </span>   <span class="fs8"> {{ it['$дата1']['мес'] }} </span> </span>
        <br ng-if="$ctrl.param['объект'].id === 0">
        <span class="fs8 grey-text chip"><span class=""> {{ it['$ts']['день нед'] }} </span>    <span class=""> {{ it['$ts']['day'] }} </span>   <span class=""> {{ it['$ts']['мес'] }} </span></span>
      </td>
      <td ng-if="$ctrl.param['объект'].id === 0">
        <h4 class="orange-text text-darken-4">
          <i class="icon icon-star"></i>
          <span>{{it['объект']}}</span>
        </h4>
        <h5 class="chip shadow-inset-10" style="padding:0 0.5rem;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="orange-fill fill-darken-4"  style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person" /></svg>
          <span class="orange-text text-darken-4 fs8">{{ it['$профиль заказчика'].names.join(' ') }}</span>
        </h5>
      </td>
      <td class="right-align">
          <h5><span ng-repeat="n in it['номенклатура'] track by $index" class="breadcrumb teal-text"><span class="chip shadow-inset-10 padd-0-05-000 border000">{{n}}</span></span></h5>
          <div ng-class="{'fs8 grey-text-000': !!it['номенклатура/id'] }">{{ it['наименование'] }}</div><!-- временно вместо позиции номенклатуры -->
      </td>
      <td class="center bold">
        <!--span class="nowrap">{{  parseFloat(Util.numeric(it["количество"])).toLocaleString('ru-RU')  }}</span>
        <span ng-hide="!it['тмц/количество']" class="nowrap">- {{  parseFloat(Util.numeric(it["тмц/количество"])).toLocaleString('ru-RU')  }} = {{  (parseFloat(Util.numeric(it["количество"])) - parseFloat(Util.numeric(it["тмц/количество"]))).toLocaleString('ru-RU')  }}</span-->
        <div ng-if=" !it['@тмц/строки простой поставки'].length ">
          <span ng-hide="!it['заявка/количество/остаток'] || it['заявка/количество/остаток'] == parseFloat(Util.numeric(it['количество']))" class="bold">{{ it['заявка/количество/остаток'].toLocaleString('ru-RU') }}</span>
          <span ng-class="{'grey-text fs8 chip': !!it['заявка/количество/остаток'] && it['заявка/количество/остаток'] != parseFloat(Util.numeric(it['количество'])), 'bold': !it['заявка/количество/остаток'] || it['заявка/количество/остаток'] == parseFloat(Util.numeric(it['количество']))}">{{ parseFloat(Util.numeric(it['количество'])).toLocaleString('ru-RU') }}</span>
        </div>
        
        <div ng-if=" it['@тмц/строки простой поставки'].length ">
          {{ parseFloat(Util.numeric(it['количество'])).toLocaleString('ru-RU') }}
        </div>
        
      </td>
      <!--td>{{it['ед']}}</td-->
      <td class="relative">
        <!--textarea ng-hide="!it['коммент']" ng-model="it['коммент']" ng-disabled="true" class="materialize-textarea fs8" style="font-size:0.8rem; padding:0;"></textarea--->
        <div class="fs8 grey-text000">{{ it['коммент'] }}</div>
        <div class="fs7 grey-text " style="position:absolute; right:0; bottom:0;" title="ид заявки">#{{ it.id }}</div>
      </td>
      
      <!-- крыжик в закупку -->
      <td ng-if="!!$ctrl.param['в поставку'] && !$ctrl.param['список простых поставок']"><!---  !it['@тмц/строки простой поставки'].length -->
        <div class="input-field center">
          <input type="checkbox" ng-attr-id="{{it.id}}" ng-model="it['обработка']"  ng-change="$ctrl.Checked(it)" ng0000-click="$ctrl." ng000-checked="!!row['']" ng000-disabled="!row['']">
          <label for="{{it.id}}" ng-click="  $ctrl.Checked(it, true) " class="chb-yellow-lighten-4 teal-text text-darken-3">&#8203;</label></label><!-- осторожно, тут пробел нулевлой ширины--->
        </div>
      </td>
      
      <!-- крыжик в простую поставку -->
      <td ng-if=" !!$ctrl.param['в поставку'] && !$ctrl.param['список простых поставок'] " ng-init=" easy = it['$простая обработка заявки'] " ><!-- простая поставка -->
        <div class="input-field center">
          <input type="checkbox" ng-attr-id="chb-easy-{{it.id}}" ng-model="easy._edit"  ng-change-000="$ctrl.CheckedEasy(it)" ng0000-click="$ctrl." ng000-checked="!!row['']" ng000-disabled="!row['']">
          <label for="chb-easy-{{it.id}}" ng-click="  $ctrl.CheckedEasy(it, true) " class="chb-maroon-lighten-5 maroon-text text-darken-3" title="простая поставка без подтвердений">&#8203;</label></label><!-- осторожно, тут пробел нулевлой ширины--->
        </div>
        
        <!---строка  формы простой обработки -->
        <div ng-if="easy._edit" class="absolute" style="left: 0; /*top: 5rem;*/ z-index: 1; width:100%;">
          <tmc-snab-form-easy data-data=" easy "></tmc-snab-form-easy>
        </div>
        
      </td>
      
      <!-- крыжик в перемещение -->
      <td ng-if=" !!$ctrl.param['в перемещение'] && !$ctrl.param['список простых поставок'] ">
      <div class="input-field center">
          <input type="checkbox" ng-attr-id="chb-move-{{it.id}}" ng-model="it['в перемещение']"  ng-change="$ctrl.CheckedMove(it)">
          <label for="chb-move-{{it.id}}" ng-click="  $ctrl.CheckedMove(it, true) " class="chb-red-lighten-3 red-text text-darken-4">&#8203;</label></label><!-- осторожно, тут пробел нулевлой ширины--->
        </div>
      </td>
      
      <!-- колонка отображения простой поставки -->
      <td ng-if="!!$ctrl.param['список простых поставок'] " ng-init=" easy = it['$простая обработка заявки'] " class="vtop-000">
        <div ng-show="easy['$строка тмц/поставщик']['количество']">
          <h5 class="center maroon-text" title="тмц #{{ easy['$строка тмц/поставщик'].id }}">
            <span  class="leaf maroon white-text left left-align"><i class="icon-left fs10"></i> <span ng-if="easy['$строка тмц/поставщик']['$контрагент']"> {{ easy['$строка тмц/поставщик']['$контрагент'].title }}</span></span>
            <a ng-click=" easy._edit = !easy._edit " href="javascript:" class="chip shadow-inset-10 center bold maroon-text" style="min-width:3rem;" title="изменить простую поставку">{{ easy['$строка тмц/поставщик']['количество'] }}</a>
            <span class="chip fs8">{{ easy['$строка тмц/поставщик']['$ts']['день нед'] }} {{  easy['$строка тмц/поставщик']['$ts']['day'] }} {{ easy['$строка тмц/поставщик']['$ts']['мес'] }}</span>
            <span class="chip shadow-inset-10 fs8"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="maroon-fill" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person"></use></svg> {{ easy['$строка тмц/поставщик']['$снабженец'].names.join(' ') }}</span>
          </h5>
        </div>
        
        <!--- база отдала на простой поставке--->
        <div ng-show="easy['$строка тмц/с базы']['количество']">
          <h5 class="center red-text text-darken-2" title="тмц #{{ easy['$строка тмц/с базы'].id }}">
            <span class="leaf red darken-3 white-text left left-align"><i class="icon-left fs10"></i> ★ {{ easy['$строка тмц/с базы']['$объект'].name }}</span>
            <i class="material-icons ">remove_circle_outline</i>
            <span ng-click=" easy._edit = !easy._edit " class="chip shadow-inset-10 center bold" style="min-width:3rem;">{{ easy['$строка тмц/с базы']['количество'] }}</span>
            <span class="chip fs8">{{ easy['$строка тмц/с базы']['$ts']['день нед'] }} {{  easy['$строка тмц/с базы']['$ts']['day'] }} {{ easy['$строка тмц/с базы']['$ts']['мес'] }}</span>
            <span ng-show="!easy['$строка тмц/поставщик']['количество']" class="chip shadow-inset-10 fs8"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill fill-darken-2" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person"></use></svg> {{ easy['$строка тмц/с базы']['$снабженец'].names.join(' ') }}</span>
          </h5>
        </div>
        
        <!--- база приняла на простой поставке--->
        <div ng-show="easy['$строка тмц/на базу']['количество']">
          <h5 class="center green-text text-darken-4" title="тмц #{{ easy['$строка тмц/на базу'].id }}">
            <span class="leaf green darken-4 white-text left left-align"><i class="icon-left fs10 before-rotate90right"></i> ★ {{ easy['$строка тмц/на базу']['$объект'].name }}</span>
            <i class="material-icons ">add_circle_outline</i>
            <span ng-click=" easy._edit = !easy._edit " class="chip shadow-inset-10 center bold" style="min-width:3rem;">{{ easy['$строка тмц/на базу']['количество'] }}</span>
            
          </h5>
        </div>
        
        <!--div ng-if="!!$ctrl.param['в поставку']" class="center" ng-style=" easy._edit && {'visibility':'hidden'} ">
          <a class="btn-flat maroon-text" ng-click=" easy._edit = !easy._edit " href="javascript:" title="изменить простую поставку"><i class="icon icon-ok-circle"></i></a>
        </div-->
        
        <div ng-if="easy._edit" class="absolute" style="left: 0; /*top: 5rem;*/ z-index: 1; width:100%;">
          <tmc-snab-form-easy data-data="easy"></tmc-snab-form-easy>
        </div>
        
      </td>
    </tr>
    
    <!--tr>
      <td colspan="{{$ctrl.param['объект'].id === 0 ? 7 : 6}}">
        <div class="center">
          <!--span>записей: {{ $ctrl.dat$ctrl.taba['заявки'].length }}</span->
          <a ng-show="$ctrl.data['заявки'].length >= 100" class="btn-flat" ng-click="$ctrl.LoadData(true)" href="javascript:">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#download" /></svg>
            Показать еще
          </a>
        </div>
        <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>
      </td>
    
    </tr-->
  
  </tbody>

</table>

</div>