@@@ tmc/ostat/table
<!--- текущие остатки --->

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<table ng-if="$ctrl.ready" class="highlight bordered000 striped-purple-lighten-5 z-depth-3 purple lighten-4">
<thead>
  <tr>
    <th class="center relative vbottom">
      <a ng-hide="!$ctrl.param['объект'].id" ng-click="$ctrl.NewMove()" class="btn red lighten-3 red-text text-darken-3" style="position:absolute; right:0;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" style="height: 1.2rem;" class="red-fill fill-darken-3"><use xlink:href="/fonts/icons.svg#from-location"></use></svg>
        <span>Все остатки в перемещение</span>
      </a>
      <h4>Наименование</h4>
      <div class="input-field">
        <input type="text" ng-model="$ctrl['фильтр наименования']" placeholder="фильтровать список по наименованию" style="border: none; font-weight: normal;">
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" ng-show=" $ctrl['фильтр наименования'] " ng-click=" $ctrl['фильтр наименования'] = '' " class="red-fill fill-darken-1" style="height: 1.5rem; position: absolute; right:0.5rem; bottom:0; cursor:pointer;"><use xlink:href="/fonts/icons.svg#left-clear-fill"></use></svg>
    </th>
    <th ng-repeat=" oid in $ctrl['@объекты/id'] |  orderBy: $ctrl.OrderByObject " ng-init=" o = $ctrl.objects[oid];" class="center vbottom" style000="width:1%;">
      <h6 class="nowrap-000 iblock truncate orange-text text-darken-4" style="width: 5rem;" title="{{ o.name }}">{{ o.name }}</h6>
      <!--div>{{ o['$проект'].name }}</div-->
    </th>
  </tr>
</thead>
<tbody>
<!--tr ng-repeat="row in $ctrl.data | orderBy: $ctrl.OrderBy" ng-init="$ctrl.InitRow(row)"-->
<tr ng-if-000="$ctrl.data.length" ng-repeat="nid in $ctrl['@номенклатура/id'] | filter : $ctrl.FilterByNomen | orderBy: $ctrl.OrderByNomen" ng-init=" nomen = $ctrl.nomen[nid]; ">
  <td class="right-align-000 teal-text text-darken-3">
    
      <span ng-if=" nomen.parents_title && nomen.parents_title.length && nomen.parents_title[0] " ng-repeat="n in nomen.parents_title track by $index" class="breadcrumb">{{n}}</span>
      <span class="breadcrumb">{{ nomen.title }}</span>
    
  </td>
  <td ng-repeat=" oid in $ctrl['@объекты/id'] |  orderBy: $ctrl.OrderByObject " ng-init=" row = $ctrl.InitRow($ctrl.$data[nid][oid])" class="center"   title="{{ row['номенклатура'].parents_title.join('〉')+ '〉'+ row['номенклатура'].title }} | {{ row['объект'].name }}">
    <a ng-hide="!(row['остаток'] || row['остаток'] == 0)" ng-click="$ctrl.ShowMoveTMC(row)" href="javascript:" class="fs14 bold hover-shadow3d-000 btn-flat" ng-class="{'red-text ': parseFloat(row['остаток']) < 0, 'purple-text text-darken-4': parseFloat(row['остаток']) > 0, 'grey-text': parseFloat(row['остаток']) == 0 }">
      {{ row['остаток'] }}
    </a>
  </td>
  <!--td style="width:40%;">
    <span ng-show="!($ctrl.param['объект'] && $ctrl.param['объект'].id && $ctrl.param['объект'].id == row['объект/id']) " class="right-align000 orange-text text-darken-4">{{ row['объект'].name }} ({{ row['объект']['$проект'].name }})</span>
  </td-->

</tr>

</tbody>
</table>


<!-- Modal Structure -->
<div id="move-detail" class="card modal" style="width:77%;">
  
  <div class="modal-content">
    <a href="javascript:" class="modal-action modal-close  btn-flat z-depth-1 white red-text right" style-000="position:absolute; right:0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#cancel"></use></svg> Закрыть</a>
    <h2 class="row">Движение ТМЦ 
      <span class="" title="{{ $ctrl.moveDetailTMC['номенклатура'] | json }}">
        <span ng-repeat="n in $ctrl.moveDetailTMC['номенклатура'].parents_title track by $index" ng-hide="!n" class="breadcrumb"><span class="chip shadow-inset-10-000 teal darken-3 white-text">{{n}}</span></span>
        <span class="breadcrumb"><span class="chip shadow-inset-10-000 teal darken-3 white-text">{{ $ctrl.moveDetailTMC['номенклатура'].title }}</span></span>
      </span>
    </h2>
    <h2 class="row">По объекту
    
      <span class="chip z-depth-1 orange darken-3 white-text">
        {{ $ctrl.moveDetailTMC['объект'].name }} ({{ $ctrl.moveDetailTMC['объект']['$проект'].name }})
      </span>
    </h2>
    
    <div ng-hide="$ctrl.moveDetailTMC['движение']" ng-include=" 'progress/load' "></div>
    
    <table ng-if="$ctrl.moveDetailTMC['движение']" class="striped bordered z-depth-3">
    <thead class="grey">
      <tr>
        <th style="width:1%;"><h4 class="fw500 black-text">Дата</h4></th>
        <th class="green lighten-3" style="width:1%;"><h4 class="green-text text-darken-3 center nowrap fw500"><i class="material-icons">add_circle_outline</i>Поступило</h4></th>
        <th class="green lighten-3"><h4 class="green-text text-darken-3 fw500"><i class="icon-left fs10"></i>Откуда</h4></th>
        <th class="red lighten-3" style="width:1%;"><h4 class="red-text text-darken-3  nowrap fw500"><i class="material-icons">remove_circle_outline</i>Перемещено</h4></th>
        <th class="red lighten-3"><h4 class="red-text text-darken-3 fw500"><i class="icon-left before-rotate180 fs10"></i>Куда</h4></th>
        <th><h4 class="fw500 black-text">По заявке</h4></th>
        <!--th></th-->
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="row in $ctrl.moveDetailTMC['движение']" ng-init="$ctrl.InitRow(row)" ng-class="{'blue': row['инвентаризация'], }">
        <td class=" relative vtop">
          <span class="nowrap" title="дата приема">
            <span class="fs8"> {{ row['$дата/принято']['день нед'] }} </span>    <span class="bold"> {{ row['$дата/принято']['day'] }} </span>   <span class="fs8"> {{ row['$дата/принято']['мес'] }} </span>
          </span>
          <span class="chip padd-0-05 fs8 nowrap" title="принял">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill" style="height: 0.7rem;"><use xlink:href="/fonts/icons.svg#person"></use></svg>
            {{ row['$принял/профиль'].names.join(' ') }}
          </span>
          <span class="grey-text fs7" style="position:absolute; top:0; right:0;" title="ид тмц-движения">#{{ row.id }}</span>
        </td>
        <td class=" right-align green lighten-4" style000="width:5%;">
          <div ng-if=" row['приход'] || row['инвентаризация'] ">
            <span class=" text-darken-3  fs14 bold" ng-class="{'blue-text': row['инвентаризация'], 'green-text': !row['инвентаризация'],}">{{ row['количество/принято'] }}</span>             <span class="fs8 grey-text left">{{ row['цена'] }}</span>
          </div>
        </td>
        
        <!-- откуда поступило --> 
        <td>
          <h5 ng-show="  row['приход'] " class="green-text" ng-init=" kgo = row['@грузоотправители'] && row['@грузоотправители'].length ">
            <i class="icon-left fs10"></i>
            <span ng-if-000="!row['$объект2'] && !row['$с объекта']" ng-if=" kgo " ng-repeat="k in row['@грузоотправители']" class="middle leaf green white-text fw500">{{ k.title }} {{ k['проект000'] }}</span>
            <span ng-if="row['$проще/строка поставщика']" class="middle leaf maroon white-text fw500" title="простая поставка">{{ row['$проще/строка поставщика']['$контрагент'].title }} <span class="chip shadow-inset-10 maroon-text fw500">{{ row['$проще/строка поставщика']['количество'] }}</span></span>
            <span ng-if="!row['$объект2'] && !!row['$с объекта']" class="leaf orange darken-3 white-text middle fw500">★ {{ row['$с объекта'].name }} ({{ row['$с объекта']['$проект'].name }})</span>
            <i ng-show="row['$проще/строка поставщика']" class="icon-left before-rotate180 fs10"></i>
            <span ng-if="!!row['$объект2']" class="middle fw500" ng-class="{'orange-text':row['$проще/строка поставщика'], 'red-text right': kgo, 'leaf orange darken-3 white-text': !['$проще/строка поставщика'] && !kgo, }">
              <i ng-show="kgo" class="icon-left before-rotate180 fs10"></i>
              <span>★ {{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span>
              <!-- просто разница на простой поставке уходит на заявку -->
              <span ng-if="row['$проще/строка поставщика']" class="chip shadow-inset-10 fw500" title="списано на этот объект по заявке простой поставке">{{ row['$проще/строка поставщика']['количество'] - row['количество/принято'] }}</span>
            </span>
          </h5>
          
          <h4 ng-if=" row['инвентаризация'] " class="white-text fw500">
            <i class="icon-left before-rotate90left fs10"></i>
            <span>инвентаризация</span>
          </h4>
        
        </td>
        
        <td class="right-align red lighten-4" style000="width:5%;">
          <div ng-if="row['расход'] || row['списание']">
            <span  class="red-text text-darken-3 fs14 bold">{{ -row['количество/принято'] }}</span>             <span class="fs8 grey-text left">{{ row['цена'] }}</span>
          </div>
        </td>
        
        <!-- куда перемещено --> 
        <td>
          <h5 ng-show="row['расход'] || row['списание'] " class="red-text">
            <i class="icon-left fs10  before-rotate180"></i>
            <span ng-if="row['объект2/id'] != 0">
              <span ng-if=" !row['$объект2'] && !row['$с объекта']" ng-repeat="k in row['@грузоотправители']" class="middle leaf green white-text fw500">{{ k.title }} {{ k['проект000'] }}</span>
              <span ng-if=" !row['$объект2'] && !!row['$с объекта']" class="leaf orange  white-text middle fw500">★ {{ row['$с объекта'].name }} ({{ row['$с объекта']['$проект'].name }})</span>
              <span ng-if=" !!row['$объект2']" class="chip red white-text middle fw500">★ {{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span>
            </span>
            <span ng-if="row['объект2/id'] == 0 ||  row['списание'] ">списано</span>
            <!--span ng-if="!row['$объект2'] && !!row['$с объекта']" class="orange-text text-darken-3 middle">{{ row['$с объекта'].name }} </span>
            <span ng-if="!!row['$объект2']" class="orange-text text-darken-3 middle">{{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span--->
          </h5>
        
        </td>
        
        <!--- кому-->
        <!--td>
          <i class="icon-left" ng-class="{'before-rotate180': !!row['$объект2'], 'green-text': row['движение'] == 'приход', 'red-text ': row['движение'] == 'расход' }"></i>
          <span ng-if="!row['$объект2']" ng-repeat="k in row['@грузоотправители']" class="middle">{{ k.title }} {{ k['проект000'] }}</span>
          <span ng-if="!row['$объект2'] && !!row['$с объекта']" class="orange-text text-darken-3 middle">{{ row['$с объекта'].name }}</span>
          <span ng-if="!!row['$объект2']" class="orange-text text-darken-3 middle">{{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span>
        </td-->
        
        <!--- от кого-->
        <!--td>
          <i class="icon-left" ng-class="{'before-rotate180-000': !!row['$объект2'], 'green-text': row['движение'] == 'приход', 'red-text': row['движение'] == 'расход' }"></i>
          <span ng-if="!!row['$объект2']" ng-repeat="k in row['@грузоотправители']" class="middle">{{ k.title }} {{ k['проект000'] }}</span>
        </td-->
        
        <td>
          <div ng-if="row['$тмц/заявка']">
            <div>{{ row['$тмц/заявка']['наименование'] }}</div>
            <div ng-show=" row['$тмц/заявка']['коммент'] " class="fs8 truncate" style="height:2rem;">{{ row['$тмц/заявка']['коммент'] }}</div>
            <div class="fs7 grey-text right-align" title="{{ row['$тмц/заявка'] | json }}">#{{ row['$тмц/заявка'].id }}</div>
          </div>
        </td>
        
      </tr>
    </tbody></table>
    
  </div>
  <!---div class="modal-footer">
    <a ng-click="$ctrl.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div--->
</div>