@@@ tmc/ostat/table
<!--- текущие остатки --->

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<table ng-if="$ctrl.ready" class="bordered z-depth-3 purple lighten-4">
<tbody>
<tr ng-repeat="row in $ctrl.data | orderBy: $ctrl.OrderBy" ng-init="$ctrl.InitRow(row)">

  <td class="right-align">
    <a ng-click="$ctrl.ShowMoveTMC(row)" href="javascript:" class="hover-shadow3d teal-text text-darken-3">
      <span ng-repeat="n in row['номенклатура'].parents_title track by $index" class="breadcrumb">{{n}}</span>
      <span class="breadcrumb">{{ row['номенклатура'].title }}</span>
    </a>
    
  </td>
  <td class="fs14 bold right-align" ng-class="{'red-text ': parseFloat(row['остаток']) < 0, 'purple-text text-darken-4': parseFloat(row['остаток']) > 0 }" style="width:5%;" title="остаток">{{ row['остаток'] }}</td>
  <td style="width:40%;">
    <span ng-show="!($ctrl.param['объект'] && $ctrl.param['объект'].id && $ctrl.param['объект'].id == row['объект/id']) " class="right-align000 orange-text text-darken-4">{{ row['объект'].name }} ({{ row['объект']['$проект'].name }})</span>
  </td>

</tr>

</tbody>
</table>


<!-- Modal Structure -->
<div id="move-detail" class="card modal">
  <div class="modal-content">
    <h2 class="">Движение ТМЦ 
      <span class="chip teal white-text">
        <span ng-repeat="n in $ctrl.moveDetailTMC['номенклатура'].parents_title track by $index" class="breadcrumb">{{n}}</span>
        <span class="breadcrumb">{{ $ctrl.moveDetailTMC['номенклатура'].title }}</span>
      </span>
    </h2>
    <h2 class="">По объекту
    
      <span class="chip blue white-text">
        {{ $ctrl.moveDetailTMC['объект'].name }} ({{ $ctrl.moveDetailTMC['объект']['$проект'].name }})
      </span>
    </h2>
    
    <div ng-hide="$ctrl.moveDetailTMC['движение']" ng-include=" 'progress/load' "></div>
    
    <table ng-if="$ctrl.moveDetailTMC['движение']" class="striped">
    <thead>
      <tr>
        <th></th>
        <th class="green lighten-3 green-text center"><i class="material-icons">add_circle_outline</i>Поступило</th>
        <th class="red lighten-3 red-text center"><i class="material-icons">remove_circle_outline</i>Отгружено</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="row in $ctrl.moveDetailTMC['движение']" ng-init="$ctrl.InitRow(row)">
        <td class="right-align">
          <span class="fs8"> {{ row['$дата/принято']['день нед'] }} </span>    <span class="bold"> {{ row['$дата/принято']['day'] }} </span>   <span class="fs8"> {{ row['$дата/принято']['мес'] }} </span>
        </td>
        <td class=" right-align green lighten-4" style000="width:5%;">
          <div ng-if="row['движение'] == 'приход' ">
            <span class="green-text   fs14 bold">{{ row['количество/принято'] }}</span>             <span class="fs8 grey-text">{{ row['цена'] }}</span>
          </div>
        </td>
        
        <td class="right-align red lighten-4" style000="width:5%;">
          <div ng-if="row['движение'] == 'расход' ">
            <span  class="red-text  fs14 bold">{{ -row['количество/принято'] }}</span>             <span class="fs8 grey-text">{{ row['цена'] }}</span>
          </div>
        </td>

        <td><!--- кому-->
          <i class="icon-left" ng-class="{'before-rotate180': !!row['$объект2'], 'green-text': row['движение'] == 'приход', 'red-text ': row['движение'] == 'расход' }"></i>
          <span ng-if="!row['$объект2']" ng-repeat="k in row['@грузоотправители']" class="middle">{{ k.title }} {{ k['проект000'] }}</span>
          <span ng-if="!row['$объект2'] && !!row['$с объекта']" class="blue-text middle">{{ row['$с объекта'].name }}</span>
          <span ng-if="!!row['$объект2']" class="blue-text middle">{{ row['$объект2'].name }} ({{ row['$объект2']['$проект'].name }})</span>
        </td>
        
        <td><!--- от кого-->
          <i class="icon-left" ng-class="{'before-rotate180-000': !!row['$объект2'], 'green-text': row['движение'] == 'приход', 'red-text': row['движение'] == 'расход' }"></i>
          <span ng-if="!!row['$объект2']" ng-repeat="k in row['@грузоотправители']" class="middle">{{ k.title }} {{ k['проект000'] }}</span>
        </td>
        
      </tr>
    </tbody></table>
    
  </div>
  <!---div class="modal-footer">
    <a ng-click="$ctrl.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div--->
</div>