@@@ tmc/snab/table/tmc

<table ng-if="$ctrl.ready" class="top bordered">
<tbody>
  <tr ng-repeat="row in $ctrl.data | filter: $ctrl.FilterData" ng-init="$ctrl.InitRow(row)"><!-- -->
    <td style="width: 1%; border-right:1px solid #aaa" class="center"  title000="{000{ row['$дата1'] | json }}">
      <span class="fs8"> {{ (row['$дата1'] && row['$дата1']['день нед']) || (row['$тмц/заявка']['$дата1'] && row['$тмц/заявка']['$дата1']['день нед']) }} </span>
      <br>
      <span class="bold"> {{ (row['$дата1'] && row['$дата1']['day']) || (row['$тмц/заявка']['$дата1'] && row['$тмц/заявка']['$дата1']['day']) }} </span>
      <br>
      <span class="fs8"> {{ (row['$дата1'] && row['$дата1']['мес']) || (row['$тмц/заявка']['$дата1'] && row['$тмц/заявка']['$дата1']['мес']) }} </span>
    </td>
    <td  style="width: 30%;">
      <h4>
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="blue-fill" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#to-location" /></svg>
        <span class="blue-text">{{ row["$объект"].name }}</span>
      </h4>
      <h5>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill fill-darken-3"  style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#person" /></svg>
        <span ng-repeat-000="n in row['профиль заказчика'].names track by $index" class="black-text fs8">{{ row['профиль заказчика'].names.join(' ') }}</span>
      </h5>
    </td>
    <td class="right-align" style="width: 40%;">
      <span ng-repeat="n in row['номенклатура'] track by $index" class="breadcrumb teal-text"><span class="chip000 border000">{{n}}</span></span>
    </td>
    <td class="right-align" style="width: 10%;" >
      <div class="nowrap fs14 bold text-darken-3" title="количество" ng-class="{'green-text': !!row['количество/принято'] && !row['на объект/id'], 'blue-text': !!row['количество/принято'] && !!row['на объект/id'] }" style="padding-right: 0.77rem; line-height: 1.7rem;">{{ parseFloat(Util.numeric(row["количество"])).toLocaleString('ru-RU') }}</div>
      <div ng-hide="!row['цена']" class="nowrap grey-text" title="цена">{{ parseFloat(Util.numeric(row["цена"])).toLocaleString('ru-RU') }} <span class="grey-text">₽</span></div>
      <div ng-hide="!row['цена']" class="nowrap grey-text tborder" title="сумма">
        <span class="bold">Σ </span>   <span>{{ (parseFloat(Util.numeric(row["количество"])) * parseFloat(Util.numeric(row["цена"]))).toLocaleString('ru-RU') }}</span> <span class="grey-text">₽</span>
      </div> 
    </td>
    <!--td style="width: 1%;">
      <div class="fs12"><!--ед >&nbsp;</div>
      <div class="grey-text">₽</div>
      <div class="grey-text">₽</div>
    </td-->
    <td  class="" style="width: 15%;">
      <div class="input-field000 " style="" ><!--- инициируется где-то --->
        <input ng-if="row.hasOwnProperty('крыжик количества')" type="checkbox" ng-model="row['крыжик количества']" ng-attr-id="{{ 'tmcOK'+row.id }}" ng-change="$ctrl.OnAccept(row)"  class="hide" >
        <label  for="tmcOK{{row.id}}" class=" text-darken-3" ng-class="{'before-white': !row['крыжик количества'], 'green-text': !row['на объект/id'], 'blue-text': !!row['на объект/id'] }" style="" title="{{ row['крыжик количества'] ? 'отменить прием' : 'принять' }} ТМЦ">
          <svg ng-show=" !row.hasOwnProperty('крыжик количества') && !!row['количество/принято']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="fill-darken-3" ng-class="{'green-fill': !row['на объект/id'], 'blue-fill': !!row['на объект/id'] }" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#checked1"></use></svg>
          <span ng-show="!row['количество/принято'] && row.hasOwnProperty('крыжик количества')">Принять ТМЦ</span>
          <span ng-hide="!row['количество/принято']" class="center chip vtop white text-darken-3 z-depth-1 fs10" ng-class="{'green-text': !row['на объект/id'], 'blue-text': !!row['на объект/id'] }" style="padding:0 0.3rem;" title="дата приема ТМЦ">
            <span class="fs8 ">{{ row['$дата/принято']['день нед'] }}</span>   <span class="bold">{{ row['$дата/принято']['day'] }}</span>  <span class="fs8">{{ row['$дата/принято']['мес'] }}</span>
          </span>
        </label>
      </div>
      
      <!--textarea ng-model="row['коммент']" ng-disabled="true" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea-->
      <div class="fs8 truncate grey-text" title="примечание">{{ row['коммент'] }}</div>
      
      <!--div class="pre">{{ row | json }}</div-->
      
    </td>
  </tr>
</tbody></table>