@@@ tmc/snab/form-easy

<div ng-if="!$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$ctrl.ready">
    
  <div ng-if-000="$ctrl.data" ng-init-000="$ctrl.InitAsk($ctrl.data)" class="card teal lighten-5">
    
  <div class="card-content">

    <a ng-click="$ctrl.Cancel()" href="javascript:" class="right btn-flat z-depth-1 red-text">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
      <span>Отмена</span>
    </a>
    
    <h3 ng-class="{}">
      <span>Простая поставка ТМЦ</span>
    </h3>
    <div class="divider  row000" ng-class-000="{'teal darken-3': ask.id, 'orange': !ask.id}" style="margin-bottom: 1rem;"></div>
    
    <div class="row" style="margin:0;">
    
    
    
    <div>
    
  </div> <!--card-content -->
  </div> <!--card -->
</div> <!-- ready -->