@@@ tmc/snab/transport
<!-- список обработанных заявок тмц в транспорт -->

<div ng-if="$ctrl.ready" class="show-on-ready">
<table class="tmc-snab top bordered000 z-depth-3 highlight" ng-class=" $ctrl.param.tableClass || ' teal lighten-4 ' " style000="margin:0;"><tbody class="">
<tr ng-repeat="ask in $ctrl.data | filter: $ctrl.FilterData" class="card transparent" ng-attr-status="{{ ask['статус'] }}" ng-init="$ctrl.InitAsk(ask)" ng-attr-id="{{ ask.id }}" ng-click="$ctrl.EditAsk(ask)" ng-style="$ctrl.EditAsk() && {'cursor': 'pointer'}" style="">
  <!--div class="card-content"-->
    <!--div class="row00">
      <div class="col00 s12"-->
        <!--a ng-click="$ctrl.EditAsk(ask)" ng-href="{{ $ctrl.EditAsk() || 1 ? 'javascript:' : '' }}" class="black-text block relative" ng-class="{'btn-flat000': $ctrl.param['объект'].id !== 0}" ng-style="!$ctrl.EditAsk() && {'cursor': 'auto'}" ng-disabled000="$ctrl.param['объект'].id !== 0"-->
          <td  style="width:1%; padding:0.5rem" title="дата отгрузки {{ ask['дата1 краткий формат'] || ask['дата1'] }}">
            <span class="chip z-depth-1 white center">
              <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="teal-fill fill-darken-3" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#start-date" /></svg>
              <br-->
              <span class="fs8">{{ ask['@дата1']['день нед'] }}</span>
              <br>
              <span class="bold">{{ ask['@дата1']['day'] }}</span>
              <br>
              <span class="fs8">{{ ask['@дата1']['мес'] }}</span>
            </span>
            
            <span class="right000" style="position:absolute; bottom:0; left:0.2rem;"><span class="grey-text fs7">#{{ ask.id }}</span></span>
          </td>
          
          <td class="" style="width:25%; padding:0.5rem;">
            <div ng-repeat="k in ask['@грузоотправители']" class="chip000 block000 green000 lighten-4-000">
              <h4  class="relative center leaf z-depth-1 white-text darken-3" ng-class="{'blue': !!ask['$с объекта'], 'green': !ask['$с объекта'],}" style="width:100%;" title="поставщик-грузоотправитель">
                <!--svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill fill-darken-3" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#arrow-left-up-round" /></svg-->
                <span>{{k.title}}</span>
                <i class="icon icon-left right before-rotate180"></i>
              </h4>
              
              <div ng-hide="ask['$с объекта'] && ask['$с объекта'].id" class="iblock000" title="адрес отгрузки">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" fill-darken-3 rotate90left000" ng-class="{'blue-fill': !!ask['$с объекта'], 'green-fill': !ask['$с объекта']}" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#from-location" /></svg>
                  <!--span ng-repeat="a1 in ask.addr1"-->
                    <span ng-repeat="aa1 in ask['$откуда'][$index] track by $index" class="chip00 green-text text-darken-3 breadcrumb middle" ng-init="A1 = $ctrl.ObjectOrAddress(aa1, ask)" ng-class="{'blue-text text-darken-3': !!A1.id}" ng-hide000="ask['$с объекта'] && ask['$с объекта'].id && A1.id && ask['$с объекта'].id == A1.id">{{ A1.name }}</span>
                  <!--/span-->
                  
              </div>
              
              <h4 ng-show="ask['$с объекта']" class="chip0000 blue-text text-darken-3 white-text000 right000" title="">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="blue-fill fill-darken-3" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#from-location" /></svg>
                <span>{{ ask['$с объекта'].name }}</span>
              </h4>
              
              <!--- перенес к списку ТМЦ h4 ng-show="ask['$на объект']" class="chip blue darken-3 white-text right" title="через базу">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="white-fill" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#tracking" /></svg>
                <span>{{ ask['$на объект'].name }}</span>
              </h4-->
              
            </div>
            
            <!--div ng-if="!$ctrl.param['объект'] || !$ctrl.param['объект'].id || $ctrl.param['объект'].id != (ask['на объект'] && ask['на объект'].id) " ng-init="base = ask['на объект']" ng-show="base.id" class="chip z-depth-1 blue lighten-4" style="width:100%;">
              <h4 class="inline blue-text text-darken-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="blue-fill fill-darken-3" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#tracking" /></svg>
                <span>{{ base.name }}</span>
              </h4>
            </div-->
            
            <div ng-hide=" !ask['транспорт'] " class="chip z-depth-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="black-fill fill-darken-3"  style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#truck" /></svg>
              <span ng-hide="!ask['транспорт1']">{{ ask['транспорт1'] }}</span>
              
              <svg ng-hide="!ask['транспорт1']" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" grey-fill" style="height: 1rem;"><use xlink:href="/fonts/icons.svg#link"></use></svg>
              <span>{{ ask['транспорт'] }}</span>
              <span ng-repeat="cat in ask['категории'].slice(1) track by $index" class="breadcrumb grey-text middle">{{ cat }}</span>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill fill-darken-3"  style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#driver" /></svg>
                <span>{{ ask.driver.title }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class=" black-fill" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#phone-round"></use></svg>
                <span>{{ ask.driver.phone }}</span>
                
              </div>
              <div ng-hide="!ask.driver.doc">
                <i class="icon-address-card-o black-text" title="паспорт водителя"></i>
                <span class="fs8">{{ ask.driver.doc }}</span>
              </div>
              
            </div>
            
            <!--h5 ng-hide=" !ask['без транспорта'] " class="chip z-depth-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 10 50 50" class="red-fill fill-darken-3"  style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#truck" /></svg>
              <span>Без транспортного отдела</span>
            </h5-->
            
          </td>
          
          
          <!--span ng-if="$ctrl.param['объект'].id === 0" class="black-text bold chip nowrap" title="сумма">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="black-fill" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#sigma" /></svg>
            = {{ $ctrl.SumMoney(ID1).toLocaleString('ru-RU') }} руб
          </span-->
          
          
          <td class="" style="width:70%; padding:0.5rem;">
            
            <div ng-show="ask['$на объект']"><!-- нужно перемещение -->
              
              
              
              <i class="icon icon-left fs14 before-rotate180 blue-text text-darken-3"></i>
              <h4 class="chip blue darken-3 white-text right000" title="через базу">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="white-fill" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#tracking" /></svg>
                <span>{{ ask['$на объект'].name }}</span>
              </h4>
            </div>
            
            <div class="card z-depth-1000 lime lighten-4 relative " style="width:100%; margin:0; padding:0.5rem; max-height: 12rem; overflow-y: auto;">
              <div class="maroon lighten-1 white-text" style="position:absolute; right: 3rem; top: 0; border-radius: 0 0 1rem 1rem; padding: 0.3rem;">{{ ask['$позиции тмц'].length }}</div>
              <tmc-snab-table-tmc data-param="$ctrl.param" data-data="ask['$позиции тмц']" class="block"></tmc-snab-table-tmc>
            </div>
            <div class="" style="">
              <!--textarea ng-model="data1['тмц/снаб/коммент']" ng-disabled000="true" class="materialize-textarea" style="font-size:0.8rem; padding:0;"></textarea-->
              <div ng-show=" !!ask['коммент'] " class="chip000 truncate000 fs8 vtop grey-text000" title="примечание">{{ ask['коммент']    }}</div>
            </div>
            
            <div ng-if="ask['статус'] == 'поступило' " >
              <a ng-click="$ctrl.NewMove(ask)" class="btn orange right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" style="height: 1.2rem;" class="white-fill"><use xlink:href="/fonts/icons.svg#from-location"></use></svg>
                <span>В перемещение</span>
              </a>
            </div>
            
            
          </td>
        <!--/a-->
        
      <!--/div>
    </div-->
    
  <!--/div-->

</tr>
<!--li class="center">
  <--span>записей: {{ $ctrl.data.length }}</span->
  <a ng-show="$ctrl['заявки снаб'].length >= 100" class="btn-flat" ng-click="$ctrl.LoadData(true)" href="javascript:">
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="black-fill" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#download" /></svg>
    Показать еще
  </a>
</li-->
</tbody></table>
</div>