@@@ profile/form-auth

<div ng-init000="$c.Init()" ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready" class="row-000 animated " ng-class="{'zoomOutUp': $c.successLogin, 'zoomInDown slow': !$c.successLogin}">
<div class="card teal lighten-5 animated-000-slideInUp"><!-- col s12 m6 l4 offset-m3 offset-l4    -->
  <div class="card-content">
    <h2 class="center">
      <i class="icon-login"></i>
      Вход в систему
    </h2>
    <h4>Имя (логин)</h4>
    <div class="input-fields">

      <div ng-show000="!$c.login_tel" class="input-field">
        <input name="login" type="text" class="validate000" ng-model="$c.login" ng-keypress="$c.enterSend($event)" required>
        <!--label for="login" data-error="" data-success="" class="active">Логин</label-->
        
      </div>
      
      <!--div ng-show="$c.login_tel" class="input-field">
        <span class="tel prefix" style="">+7</span>
        <input name="login" type="tel" class="validate" ng-model="$c.login" ng-keypress="$c.enterSend($event)" ng-change000="$c.isCaptcha()" required phone-input>
        <label for="login" data-error="" data-success="" class="active">Телефон</label>
      </div-->
      
      <!--div class="right-align">
        <input type="checkbox" id="login_tel" ng-model="$c.login_tel">
        <label for="login_tel">по номеру телефона</label>
        
      </div-->
      
      <h4>Пароль</h4>
      <div ng-show="!$c.forget && !$c.remem" class="input-field">
        <input name="passwd" type="password" class="validate" ng-model="$c.passwd" ng-keypress="$c.enterSend($event)" ng-change000="$c.isCaptcha()" required>
        <!--label for="passwd" data-error="" data-success="" class="active">Пароль</label-->
      </div>
      
      <!--div class="right-align">
        <a ng-click="$c.forgetClick()" ng-class="{disabled: !$c.validLogin()}" href="javascript:">не помню пароль</a>
      </div>
      
      <div ng-show="$c.remem" class="input-field">
        <input name="remem_code" type="text" class="validate" ng-model="$c.remem.code" ng-keypress="$c.enterSend($event)" required>
        <label for="remem_code" data-error="" data-success="" class="active">Высланный пароль</label>
      </div-->
      
    </div>
    
    <div class="" ng-if="!$c.remem && !$c.forget && $c.captcha">
      <!--{{ $c.captcha | json }} -->
      <h5>Проверьте логин/пароль для входа</h5>
    </div>
    
    <div class="clearfix red-text" ng-show="$c.error">{{$c.error}}</div>
    <div class="clearfix green-text" ng-show="$c.success">{{$c.success}}</div>
    <div ng-show="$c.cancelerHttp" ng-include=" 'progress/check' "></div>
    <!--div ng-show="$c.remem">{{$c.remem | json}}</div-->
    
  </div>
  
  
  
  <div class="card-action center">
    <a id="btnSaveNames" class="btn-floating btn-large" ng-click="$c.Send()" href="javascript:" ng-class="{disabled: !$c.Validate()}">
      <!--i class="material-icons">exit_to_app</i-->
      <i class="icon-login"></i>
    </a>
  </div>
</div>

<!--div class="col s12 m6 l4 offset-m2-000 l6-000 offset-l2-000  card animated-000-slideInUp">
  <img src="/i/logo/welcome.png" alt="welcome img" style="width:100%;" />
</div-->

</div><!--- row -->