@@@ компонент/поиск в списке

<div :class="extendedOptions.topClass">
  <input type="text"
    :class="extendedOptions.inputClass"
     v-bind="$attrs"
     v-on:keydown="onKeyDown"
     v-on:dblclick="onInputDblClick"
     v-on:blur="onBlur"
     v-on:focus="onFocus"
     v-on:paste="onPaste"
     v-model.trim="query"
     :autocomplete="Math.random()"
     :placeholder="extendedOptions.placeholder">
  <a v-show="!query.length"  @click=" ToggleAll " href="javascript:" class=""  style="right: 0; position: absolute; z-index: 1; top:0.4rem;">
    <sup v-show="allLen" class="chip000 fs7 right">{{ allLen }}</sup>
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="right teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
  </a>
  <a v-show="query.length"  @click=" ClearInput " href="javascript:" class="remove-siblings"  style="right: 0.2rem; position: absolute; z-index: 1; top:0.2rem;">
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill fill-lighten-1" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#left-clear-fill" /></svg>
  </a>
  <div v-show=" itemsLen > 0 " class="autocomplete-content z-depth-3 dropdown-content truncate" :style=" SuggestionsStyle ">
    <ul class="marg-0">
      <li class="autocomplete-suggestion"
        :key="index"
        v-for="(item, index) in itemsPage"
        @click.prevent="selectItem(index)"
        :class="SuggestionClass(item, index)"
        :title=" item ">
        <slot name="item" :item="item" :idx=" page*extendedOptions.limit + index ">
          {{item}}
        </slot>
      </li>
    </ul>
    <!-- пагинация -->
    <div v-show="extendedOptions.limit" class="nowrap center">
      <div class="divider"></div>
      <a v-show="(page+1)*extendedOptions.limit < itemsLen" @click=" ItemsPage(page+1) " href="javascript:" class="btn-flat white green-text text-darken-3  z-depth-3 fs10 nowrap"><i class="material-icons">keyboard_arrow_down</i>показать еще<i class="material-icons">keyboard_arrow_down</i></a>
      <a v-show="page > 0" @click=" ItemsPage(0) " href="javascript:" class="btn-flat white green-text text-darken-3  z-depth-3 fs10 nowrap">в начало</a>
      <a v-show="page > 0" @click=" ItemsPage(page-1) " href="javascript:" class="btn-flat white green-text text-darken-3  z-depth-3 fs10 nowrap"><i class="material-icons">keyboard_arrow_up</i>выше<i class="material-icons">keyboard_arrow_up</i></a>
    </div>
  </div>
</div>