.c-wrapper {
  ///padding: 10px;
}

.calendar {
  background-color: #fff;
  min-height: 295px;
  text-align: center;
  color: rgba(#353C46, 0.8);
  border-radius: 2px;
  min-width: 0;
  position: relative;
  text-decoration: none;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease;

  &:hover {
    z-index: 2;

    @media (min-width: 1024px) {
      transform: scale(1.2);
      box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .calendar__title {
    font-weight: bold;
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(#C4C4C4, 0.3);
    font-size: 18px;
    height: 50px;
    margin-bottom: 12px;
  }

  .calendar__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0px 20px;
    min-width: 194px;
  }

  .calendar__day {
    flex: 14.28%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 31px;
    color: #5DB3D4;
  }

  .day__weektitle {
    color: rgba(#353C46, 0.8);
  }

  .day {
    ///font-size: 14px;
    cursor: pointer;
    user-select: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;    
    /***&:after {
      content: '';
      display: block;
      ///height: 10px;
      ////width: 10px;
      position: absolute;
      top: -5px;
      right: -5px;
      border-radius: 50%;
      z-index: 1;
      background-color: transparent;
    }***/

    /***&.calendar--active:after {
      background-image: url('../assets/baseline-remove_circle-24px.svg');
      background-size: 100% 100%;
    }***/
    /***&:not(.calendar__day--otherMonth):hover {
      background-color: rgba(#666, 0.1);
      border-radius: 5px;
    }***/

    /***&.calendar--active {
          background-color: rgba(#FFBABA, 0.5);
          color: #BCBCBC;
    
          &.info {
            background-color: rgba(#17a2b8, 0.8);
            color: #fff;
    
            &:after {
              background-image: url('../assets/RecordIt.svg');
              background-size: 100% 100%;
            }
          }
    
          &.warning {
            background-color: rgba(#ffc107, 0.7);
            color: #fff;
    
            &:after {
              background-image: url('../assets/round-warning-24px.svg');
              background-color: rgba(#eaeaea, 0.3);
              background-size: 100% 100%;
            }
          }
        }***/
  }

  & .calendar__day--otherMonth {
    color: #eaeaea;
    cursor: auto;
  }
}
