@@@ компонент/календарь/месяц

<div class="calendar" @mouseup="mouseUp" @mouseleave.stop="mouseUp">
  <div class="calendar__title">{{ monthTitle }} <sup v-show="activeDates.length" :class="activeClass">{{ activeDates.length }}</sup></div>
    <!---div  class="calendar__weektitle">
      <div
        v-for="(day, key) in 7"
        :key="`title${day}`"
        class="calendar__day day__weektitle"
      >{{ showDayTitle(key) }}</div>
    </div>
    <div class="calendar__body">
      <div v-for="(dayObj, key) in showDays" class="calendar__day" :key="`day${key}`">
        <div
          @mouseover="dragDay(dayObj)"
          @mousedown="mouseDown(dayObj)"
          class="day"
          :class="classList(dayObj)"
        >{{ dayObj.day }}</div>
    </div--->
    
    <div class="calendar__body">
      <table class="">
        <thead>
          <tr>
            <th v-for="(day, key) in 7"  :key="`title${day}`" class="center">{{ showDayTitle(key) }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(week, key) in weekRows" :key="`week${key}`">
            <td v-for="(dayObj, key) in showDays.slice((week-1)*7, week*7)"  :key="`day${key}`" :class="classList(dayObj)" class="center">
              <div @mouseover="dragDay(dayObj)"  @mousedown="mouseDown(dayObj)">
                <a href="javascript:"  class="text-inherit">{{ dayObj.day }}</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
