@@@ компонент/химия/продукция/движение

<div class="relative"><!-- обязательно один корень Vue -->

<h2 class="center  fw500 teal darken-2 white-text" :title=" JSON.stringify(item)">
  Движение продукции <span class="chip padd-0-05 teal-text text-darken-3">{{ item['$номенклатура'].title }}</span> партия: <span v-if="!!item['№ партии']" class="chip padd-0-05 black-text">{{ item['№ партии'] }}</span><i v-else class="material-icons red-text">warning</i>
  <a @click="$emit('on-close')" href="javascript:" class="hover-shadow3d red-text lighten-2" style="position: absolute; right: 0.5rem;"><i class="material-icons">cancel</i></a>
</h2>

<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready">
 <table class="cell-padd-0-05 striped bordered teal lighten-4 z-depth-1 animated-000-slideInUp">
<tbody>
  <tr v-for="row in tableData">
    <td>
      <span class="fs8">{{ row['$движение']['$дата']['день нед'] }}</span> <span class="bold">{{ row['$движение']['$дата'].day }}</span> <span class="fs8">{{ row['$движение']['$дата']['месяца'] }}</span> <span v-show="row['$движение']['$дата'].year != new Date().getFullYear()" class="">{{ row['$движение']['$дата'].year }}</span>
    </td>
    <td>
      <h5 class="chip nowrap padd-0-05" :class=" { 'my-blue-text text-darken-1': !!row['$движение']['$отгрузка']} ">{{ row['вид'] }}</h5>
    </td>
    <td>
      <h5 v-if="row['$движение']['$контрагент']" class="chip padd-0-05 my-blue-text text-darken-1 my-blue lighten-4 fw500">
        <i class="material-icons">shopping_cart</i>
        <span>{{ row['$движение']['$контрагент'].title }}</span>
      </h5>
      
    </td>
    <td class="center"><span class="bold circle padd-0-05 z-depth-1 fs12" :class="{'teal-text text-darken-3 teal lighten-4': !row['$движение']['$отгрузка'], 'my-blue-text text-darken-1 my-blue lighten-4': !!row['$движение']['$отгрузка'],}">{{  row['$движение']['$отгрузка'] ? '-' : '' }}{{ ( row['$движение']['$отгрузка/позиция'] || row['$движение']['$продукция'])['количество']  }}</span> <span>{{ row['$движение']['$продукция']['ед'] }}</span></td>
    <td><div class="fs8 truncate" style="max-width:10rem;  height:2rem;" :title=" ( row['$движение']['$отгрузка/позиция'] || row['$движение']['$продукция'] )['коммент'] ">{{ ( row['$движение']['$отгрузка/позиция'] || row['$движение']['$продукция'] )['коммент'] }}</div></td>
  </tr>
</tbody>
</table>
</div>


</div>