@@@ компонент/химия/продукция/форма

<div v-if="ready" class="card z-depth-5 teal lighten-4 animated zoomIn fast">

<div class="card-content">
  <div class="row relative">
    <!--a @click=" CancelBtn()" href="javascript:" class="btn-flat z-depth-1 white red-text lighten-2" style="position:absolute; right:0;">
      <i class="material-icons">cancel</i><span>Отмена</span>
    </a-->
    <h3 class="fw500">
        <svg v-show=" !form.id " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill-darken-3" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#asterisk"></use></svg>
        <span v-show=" !form.id " >Новая произведенная продукция</span>
        
        <i v-show=" form.id " class="material-icons ">edit</i>
        <span v-show=" form.id " >Редактировать произведенную продукцию</span>
        
        <span v-show="form.id" class="grey-text fs8">#{{form.id}}</span>
        
      </h3>
      <div class="divider teal darken-4" style="margin-bottom: 1rem;"></div>
  
  </div><!-- row -->
  
  <!--div class="fs8">{{ form }}</div-->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <i class="material-icons">today</i>
        <span>Дата производства</span>
      </h4>
    </div>
    <div class="col s3 ">
      <h4 class="input-field fw500">
        <input type="text" class="datepicker"  :data-value=" form['дата'] " >
      </h4>
    </div>
  </div><!-- row -->
  
  <div class="row">
  <div class="col s3 ">
      <h4 class="right-align">
        <span>Наименование продукции</span>
      </h4>
    </div>
    <h4 class="col s8 relative">
      <v-suggest v-model="form['номенклатура'].title"  :items=" prodData " :param="{placeholder: 'выбрать или новое наименование продукции', 'suggestionClass': 'padd-0-05'}" :onInputChange="OnProdInputChange" :onItemSelect="OnProdSelect">
        <template v-slot:item="{ item, idx }">
          <h5 class="relative"  :class="{'bold fs12': item.title == form.title}"  style="">
            <span>{{  item.title }}</span>
          </h5>
        </template>
      </v-suggest>
      <span  v-show="!form['номенклатура'].id && form['номенклатура'].title.length > 1" class="chip padd-0-05 orange-text text-darken-3 fs8"  style="position: absolute;">* новая продукция *</span>
      <span  v-show="form['номенклатура'].id" class="grey-text fs7 " style="position: absolute; right:0;">#{{form['номенклатура'].id}}</span>
    </h4>
  </div><!-- row -->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Количество</span>
      </h4>
    </div>
    <div class="col s2 ">
      <div class="input-field">
        <input type="text" class="" v-model=" form['количество'] " @keypress="IsNumber">
        <!--vue-numeric separator="," v-model=" form['количество'] "></vue-numeric-->
      </div>
    </div>
    
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Единицы</span>
      </h4>
    </div>
    <div class="col s2 ">
      <div class="input-field">
        <input type="text" class="" v-model=" form['ед'] " >
      </div>
    </div>
  </div><!-- row -->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Номер партии</span>
      </h4>
    </div>
    <div class="col s8 ">
      <div class="input-field">
        <input type="text" class=""  v-model=" form['№ партии'] " >
      </div>
    </div>
  </div><!-- row -->
  
    <div class="row"><div class=" col s3 ">
      <h4 class="right-align" class-000="fw500 helmet tab-shadow active z-depth-1  lime lighten-4">
        <i class="material-icons">format_list_numbered</i>
        <span>Расход сырья</span>
        <!--sup v-show=" !ValidStock() " class="chip red white-text" style="position: absolute; z-index: 1; top:0;padding:0.3rem;"></sup-->
        <sup class="chip lime lighten-4">{{ form['@сырье'].length-1 }}</sup>
      </h4>
      </div><!-- col -->
      <div class=" col s8 ">
      <table class="z-depth-1 bordered ">
        <tbody class="striped lime lighten-4">
          <tr v-for="(row, idx) in form['@сырье']" :key=" row._id ">
            <td class="right-align relative padd-05 vtop" style="width:1%;">
              {{idx+1}}
              <span v-if=" !!row.id " class="fs7 grey-text" style="position: absolute; z-index: 1; bottom:0; left:0;">#{{ row.id }}</span>
              <span v-else class="lime-text" style="position: absolute; z-index: 1; bottom:0; left:0;">✱</span>
              
            </td>
            <td class="relative padd-05 vtop">
              
              <v-select :select=" {'id': row['сырье/id'], row: row} " :items=" stockData " :param=" {placeholder: 'поиск/выбор сырья: '} " @on-select=" OnStockSelect ">
                <template v-slot:selected="{ selected }">
                  <h4 v-if="selected" class="relative padd-0-05 lime-text text-darken-4 fw500 animated fadeIn ">
                    <span class="nowrap"><span class="">{{ selected.$номенклатура.title }}</span></span>
                    <!--span class="nowrap  padd-0-05" title=""><span class="">{{ selected['остаток'] }}</span> <span class="">{{ selected['ед'] }}</span></span-->
                    <span class="nowrap  padd-0-05" title="протокол испытания"><span class="grey-text">ПИ: </span> <span class="">{{ selected['№ ПИ'] }}</span></span>
                  </h4>
                  <h4 v-else class="grey-text">Выбрать сырье для продукции</h4>
                </template>
                <template v-slot:listItem="{ listItem, selected }">
                  <h5 class="padd-0-05 lime-text text-darken-4 relative"  :class="{'bold fs12': listItem === selected}"  style="">
                    <!--span >{{ listItem }}</span-->
                    <span class="nowrap chip padd-0-05"><span class="">{{ listItem.$номенклатура.title }}</span></span>
                    <!--span class="nowrap chip padd-0-05"></span-->
                    <span class="nowrap chip padd-0-05"><span class=" grey-text">на остатке: </span> <span class="">{{ listItem['остаток'] }}</span> <span class="">{{ listItem['ед'] }}</span></span>
                    <span class="nowrap chip padd-0-05" title="протокол испытания"><span class=" grey-text">ПИ: </span> <span class="">{{ listItem['№ ПИ'] }}</span></span>
                    <span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ listItem.id }}</span>
                  </h5>
                </template>
              </v-select>
              
              <span  v-show="row['сырье/id']" class="grey-text fs7 " style="position: absolute; right:0.5rem;">#{{ row['сырье/id']}}</span>
              <span  v-show="!row['сырье/id'] " class="chip padd-0-05 red-text fs8 " style="position: absolute; right:0;">не выбрано</span>
            </td>
            <td class="padd-05 vtop" style="width:15%;">
              <div class="input-field">
                <input type="text" v-model.trim="row['количество']" :class="{'fs8': !row['количество'] || !row['количество'].length}" @keypress="IsNumber" placeholder="кол-во расхода сырья"  title="кол-во расхода сырья на всю партию продукции">
              </div>
              <div v-if="row._stock" class="">
                <span>на остатке: </span> <span>{{ row._stock['остаток'] }}</span> <span>{{ row._stock['ед'] }}</span>
              </div>
            </td>
            <td class="vtop" style="width:20%;">
              <div class="card padd-0-05 grey-lighten-3">
                <div class="input-field">
                  <textarea v-model.trim="row['коммент']" class="materialize-textarea padd-0" style="min-height: 5rem; font-size:0.8rem;" placeholder="примечание"></textarea>
                </div>
              </div>
            </td>
          </tr>
          <!-- итогововая строка -->
          <!--tr>
            <td></td>
            <td class="right-align">
              <h4 class="nowrap">Итого по договору <span class="bold">{{ TotalSqure.toLocaleString().replace(/([\.,]\d{2})\d+$/, '$1') }} м²</span></h4>
            </td>
            <td class="right-align">
              <h4>
                <span class="bold">{{ TotalSum.toLocaleString({"currency": 'RUB'}).replace(/[\.,]\d+$/, '') }}</span>
                <span class="grey-text fs8"> ₽/мес.</span>
              
              </h4>
            </td>
            <td></td>
          </tr-->
        </tbody>
      </table>
    </div><!-- col -->
  </div><!-- row -->
  
  <div class="row">
    <div class="col s3 ">
      <h4 class="right-align">
        <span>Примечание</span>
      </h4>
    </div>
    <div class="col s8 ">
      <div class="chip block padd-05 input-field">
        <textarea v-model.trim="form['коммент']" class="materialize-textarea padd-0 fs8" style="min-height: 4rem;"></textarea>
      </div>
    </div>
  </div><!-- row -->

  </div><!-- card-content -->
  <div class="card-action center teal lighten-3">
    <v-progress-indeterminate v-show=" cancelerHttp " :color=" 'teal' " :message=" 'Сохраняется...' "></v-progress-indeterminate>
      <div v-show="!cancelerHttp">
        <a @click=" Save() " href="javascript:" :disabled="!Valid()" class="btn" >
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a @click=" CancelBtn() " href="javascript:" class="right btn-flat z-depth-1 red-text white">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
          <span>Отмена</span>
        </a>
    </div>
  </div><!-- card-action-->

</div>
