@@@ спецодежда/таблица

<div><!-- корень -->
<div  v-show=" !ready " ng-include=" 'progress/load' "></div>

<template><!-- сработает на vue -->

<h3 v-if=" profile ">
  Список сотрудника <span class="chip blue-text text-darken-3">{{ profile.names.join(' ') }}</span><sup class="chip blue darken-3 white-text bold">{{ dataFiltered.length }}</sup>
</h3>

<div class="">
  <div class="input-field">
    <a v-show=" param['наименование'].length " @click=" Refresh({'наименование': '', append: false}) "  href="javascript:" class="hover-shadow3d" style="position: absolute; z-index: 1; right:0;">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="middle red-fill fill-darken-1" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#left-clear-fill" /></svg>
    </a>
    <input type="text"  v-model=" param['наименование']  " input000=" ChangeFilterKey " placeholder="поиск по наименованию" class="" style="">
  </div>
</div>

<div v000if="!dataFiltered.length && !profile">
  <a v-if=" !newItem.edit " @click=" newItem = {'наименование': param['наименование']}; OpenForm(newItem);  " href="javascript:" class="green lighten-4 green-text text-darken-4 hover-shadow3d btn-flat z-depth-1" style="position:absolute; right:0; top:0;"><i class="material-icons">playlist_add</i><span>Добавить выдачу спецодежды</span></a>
  <div v-if=" newItem.edit ">
    <guard-ware-form :item= " newItem " :profiles=" [] " v-on:close-form=" CloseForm "></guard-ware-form>
  </div>
</div>


<!---ul v-if="!!dataFiltered.length" class="collection guard-wares" style-000="overflow-y: auto;">
  <li v-for="(item, $index) in dataFiltered"  class="collection-item click-000 " :class="{'selected': item._selected, 'checked': item._checked}"  style="overflow: auto;">
    
    <h4 class="hover-childs-show relative" :class="{'row center': item._selected}">
      <a @click=" ToggleItem(item) " href="javascript:" class="hover-shadow3d" :class="{'bold': item._selected}">
        <span class="breadcrumb">{{ item['наименование'] }}</span>
        <span class="breadcrumb">{{ item['ед'] }}</span>
      </a>
      <a v-if=" item._selected " @click=" OpenForm(item) " href="javascript:" class="green lighten-3 green-text text-darken-3 hover-shadow3d btn-flat  padd-0-05  z-depth-1 hover-parent-show-inline" style="height: auto; line-height: initial; position: absolute; right:0; top:-0.3rem;" title="добавить запись выдачи спецодежды"><i class="material-icons">playlist_add</i></a>
    </h4>
    <div v-if=" item.edit ">
      <guard-ware-form :item= " item " :profiles=" [] " v-on:close-form=" CloseForm "></guard-ware-form>
    </div--->
    
    <table class="striped bordered highlight teal lighten-4 z-depth-1 ">
      <thead><tr>
        <th style="width:1%;"></th>
        <th style="width:1%;"><h6 class="fw500">Дата<br>выдачи</h6></th>
        <th><h6 class="fw500">Наименование</h6></th>
        <th style="width:1%;"><h6 class="center fw500">Кол-во</h6></th>
        <th style="width:1%;"><h6 class="center fw500">Ед</h6></th>
        <th><h6 class="center fw500">Цена</h6></th>
        <th style="width:5%;"><h6 class="center fw500" title="использования">Срок исп.</h6></th>
        <th><h6 class="fw500">Сотрудники</h6></th>
        <th><h6 class="fw500">Примечание</h6></th>
      </tr></thead>
      <tbody><!--row in ItemRows(item, '@спецодежда')  -->
        <tr v-for=" row in dataFiltered " :key=" row.id " v000if=" !row._hide " @dblclick=" OpenForm(row) " :class="{'yellow lighten-3': selectedRows.indexOf(row) >= 0 } " class="hover-pointer">
          <td v-if=" row.edit " colspan="9" class="relative-000" style-000="height: 100vh;">
            <div style-000="position:absolute; left:0; top:0; ">
              <guard-ware-form :item= " row " :profiles=" [] " v-on:close-form=" CloseForm "></guard-ware-form>
            </div>
          </td>
          <td v-if=" !row.edit " class="vtop-000">
            <div class="input-field">
              <input type="checkbox" :id=" `guard-ware-${row.id}` "  v-model=" row._selected "  value-000=" row " @change=" ChangeChb(row) "  click-000=" ClickRadio(row) ">
              <label :for=" 'guard-ware-'+row.id " class="before-yellow-lighten-4 hover-shadow3d teal-text-darken-3">&nbsp;</label>
            </div>
          </td>
          <td v-if=" !row.edit " class="vtop-000">
            
            <div class="right-align nowrap" :title=" row.$дата1.year ">
              <span class="fs8 grey-text ">{{ row.$дата1['день нед'] }}</span>  <span class="bold">{{ row.$дата1['day'] }}</span>   <span class="fs8">{{ row.$дата1['мес'] }}</span> <!--span ng-hide=" currYear ==  row['$дата'].year " class="fs8 grey-text">{{ row['$дата'].year }}</span-->
            </div>
            
          </td>
          <td v-if=" !row.edit " class="vtop-000"><h5 :class="{'bold':  selectedRows.indexOf(row) >= 0 }">{{ row['наименование'] }}</h5></td>
          <td v-if=" !row.edit " class="vtop-000 right-align">{{ row['количество'] }}</td>
          <td v-if=" !row.edit " class="vtop-000">{{ row['ед'] }}</td>
          <td v-if=" !row.edit " class="vtop-000 nowrap right-align">{{ row['цена'] }}</td>
          <td v-if=" !row.edit " class="vtop-00 center">{{ row['срок'] }} мес.</td>
          <td v-if=" !row.edit " class="relative">
            <div v-if=" row['@профили/id'].length " class="" style="position:absolute; right:1rem; top:0.25rem; z-index:1;">
              <a @click=" ToggleProfiles(row) " href="javascript:" class="blue-text text-darken-3 fs8 hover-shadow3d">
                <i v-show="!row['развернуть список профилей']" class="material-icons">keyboard_arrow_down</i>
                <i v-show="row['развернуть список профилей']" class="material-icons">keyboard_arrow_up</i>
                <span>{{ row['@профили/id'].length }}</span>
              </a>
            </div>
            <div v-if=" row['@профили/id'].length " class="card blue-lighten-4 padd-0-05" style="overflow: auto;" :style=" {'max-height': row['развернуть список профилей'] ? 'none' : '10vh' } ">
              <h6 v-for="pid in row['@профили/id'] " :class="{'bold':  selectedRows.indexOf(row) >= 0 }"><a click-000=" confirm = {row: row, pid: pid} " href="javascript:" data-target-000="modal-confirm-unref" class="hover-shadow3d-000 blue-text text-darken-3" title="удалить сотрудника из списка выдачи этой спецодежды">{{ GetProfile(pid).names.join(' ') }}</a></h6>
            </div>
            <v-progress-indeterminate v-show=" row.httpSave " :color=" 'teal' " :message=" 'Сохраняется...' "></v-progress-indeterminate>
          </td>
          <td v-if=" !row.edit ">
            <div v-if=" row['коммент'] " class="card grey-lighten-3 padd-0-05 fs8 pre-wrap" style="max-height: 10vh; overflow: auto;">{{ row['коммент'] }}</div>
          </td>
        </tr>
      </tbody>
    </table>

<v-progress-indeterminate v-show=" httpLoad " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
<div class="center">
    <span>записей: {{ dataFiltered.length }}</span>
    <a v-show=" dataFiltered.length == param.offset + param.limit " class="btn-flat z-depth-1" @click=" Refresh({'append': true})" href="javascript:">
      <i class="material-icons">file_download</i>
      Показать еще записи
    </a>
</div>

  <!--/li>
</ul-->

<!--div v-if="  " >
  <div>{{ profile }}</div>
  <guard-ware-form v000-if-000=" ready " :item= " {'авп 32': 3} " :profiles=" [profile] "></guard-ware-form>
</div-->

<!-- Modal Structure -->
<div  id="modal-confirm-unref" class="modal"  data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp"   style="width:50%; max-height: 50%; top:5%;">
  <div v-if=" confirm " class="modal-content">
    <h3>Точно удалить сотрудника <span class="chip blue-text text-darken-3">{{ GetProfile(confirm.pid).names.join(' ') }}</span> из списка выдачи спецодежды?</h3>
  </div>
  <div class="modal-footer teal-lighten-5">
    <a  href="javascript:" class="modal-action modal-close waves-effect waves-red btn-flat white z-depth-1 red-text fs14 float-none">НЕТ</a>
    <a @click=" Ref(confirm.row, confirm.pid) " href="javascript:" class="modal-action modal-close waves-effect waves-teal btn-flat white z-depth-1 green-text fs14">ДА</a>
    
  </div>
</div>


</template>
</div>