@@@ object/select

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div class="input-field" ng-if="$ctrl.ready">
  <i class="material-icons" style="position: absolute; right:0.5rem; top:1rem;">arrow_drop_down</i>
  <!--input name="выбор объекта" type="text" class="bold" ng-model=" $ctrl.param['объект'].name " ng-focus="$ctrl.ToggleSelectObj($event)" ng-blur="$ctrl.ToggleSelectObj($event,true)" placeholder="выбери объект"-->
  
  <!--i ng-show="$ctrl.object" ng-click=" $ctrl.SelectObj() " class="material-icons orange-text remove-siblings" style="position: absolute; right:2rem; top:1rem; cursor:pointer;">cancel</i-->
  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" ng-show="$ctrl.object" ng-click=" $ctrl.SelectObj() "  class="middle red-fill fill-darken-1" style="height: 1.5rem; position: absolute; right:2rem; top:1rem; cursor:pointer;"><use xlink:href="/fonts/icons.svg#left-clear-fill" /></svg>
  
  <a ng-click="$ctrl.ToggleSelectObj($event)" ng-blur-000="$ctrl.ToggleSelectObj($event, true)" href="javascript:" ><h3 ng-class="$ctrl.ItemClass($ctrl.object)" class="input-hover000 hover-shadow3d blue-text text-darken-3" style="height:3rem; line-height:3rem; border-bottom:1px solid grey;">{{ ($ctrl.object && ((!$ctrl.param['без проекта'] && $ctrl.object['$проект'].name && $ctrl.object['$проект'].name + ' › ') || '') + $ctrl.object.name) || $ctrl.param.placeholder || 'Выбери объект'+($ctrl.param['все объекты'] ? ' или все объекты' : '') }}</h3></a>
  
  <ul class="dropdown-content select-dropdown" style="opacity: 1; position: absolute; top:0; width:100%;">
    
    <li><h4 class="blue000 white-text000 center-000 input-field relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" ng-show=" $ctrl['фильтровать объекты'] " ng-click=" $ctrl['фильтровать объекты'] = '' " class="middle red-fill fill-darken-1" style="height: 1.5rem; position: absolute; right:1rem; top:1rem; cursor:pointer;"><use xlink:href="/fonts/icons.svg#left-clear-fill"></use></svg>
      <input type="text" ng-model=" $ctrl['фильтровать объекты'] " placeholder="{{$ctrl.param.placeholder000 || 'поиск объекта' }}" class="padd-05 blue lighten-4 blue-text text-darken-4" ></h4>
    </li>

    <li ng-repeat="obj in $ctrl.data | filter: $ctrl.FilterObj | orderBy: $ctrl.OrderBy" class="tab000" ng-class="{'active selected shadow3d': obj === $ctrl.object}" ng-click-000="$ctrl.SelectObj(obj)" >
      <a ng-click="$ctrl.SelectObj(obj)" href="javascript:" style000="font-size:inherit;"--->
      <h3 ng-class="$ctrl.ItemClass(obj)" class="blue-text text-darken-3">{{(!$ctrl.param['без проекта'] && obj['$проект'] && obj['$проект'].name + ' › ') || ''}}{{obj.name}}</h3>
      </a>
    </li>
    
  </ul>

</div>