@@@ компонент выбор объекта

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<div v-if=" ready " class="relative"  style="border-bottom:1px solid grey;">
  <i class="material-icons" style="position: absolute; z-index: 1; right:0rem; top:0.5rem;">arrow_drop_down</i>
  
  <a v-show=" selected" @click=" Select() " href="javascript:" style="position: absolute; z-index: 1; right:2rem; top:0.5rem;"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"  class="middle red-fill fill-darken-1" style="height: 1.5rem; "><use xlink:href="/fonts/icons.svg#left-clear-fill" /></svg></a>
  
  <a @click=" ToggleList " href="javascript:" class="hover-shadow3d" >
    <slot name="selected" :selected="selected">
      <h3 class="blue-text text-darken-3">{{ (selected && selected.name) || param.placeholder || 'Выбрать объект'+(param['все объекты'] ? ' или все объекты' : '') }}</h3>
    </slot>
  </a>
  
  <div  v-show=" dropDownShow " class="z-depth-1" style="position: absolute; z-index: 2; top:0; width:100%;">
    <div class="input-field padd-0-05 blue lighten-4 ">
      <a v-show=" inputQuery " @click=" inputQuery = ''; ChangeInput(); " href="javascript:" style="position: absolute; z-index: 1; right:0.5rem; top:0.3rem; "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"  class="red-fill fill-darken-1" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#left-clear-fill"></use></svg></a>
      <input type="text" v-model=" inputQuery "  @keydown=" ChangeInput " placeholder=" поиск объекта " class="blue-text text-darken-4" ></h4>
    </div>
  
    <ul class=" dropdown-content select-dropdown z-depth-3 animated zoomInDown slideInUp-000  faster " style="opacity: 1; display:block; width:100%;">
      
      <!--li><h4 class="input-field relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" v-show=" inputQuery " @click=" inputQuery = ''; ChangeInput(); " class="middle red-fill fill-darken-1" style="height: 1.5rem; position: absolute; z-index: 1; right:1rem; top:1rem; cursor:pointer;"><use xlink:href="/fonts/icons.svg#left-clear-fill"></use></svg>
        <input type="text" v-model=" inputQuery "  @keydown=" ChangeInput " placeholder=" поиск объекта " class="padd-05 blue lighten-4 blue-text text-darken-4" ></h4>
      </li-->

      <li v-for="item in listFiltered" :key="item.id" class="animated fadeIn" :class=" {'active selected': item === selected || item === highlighted} ">
        <a @click=" Select(item) " href="javascript:">
          <slot :listItem="item" :selected="selected"><h3 :class=" ItemClass(item) " class="blue-text text-darken-3"> ★ {{ item.name }}</h3></slot>
        </a>
      </li>
      
    </ul>
  </div>

</div>
</div>