@@@ компонент выбор объекта

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>

<v-select v-if=" ready " :select=" select " :param=" {'без стрелки раскрытия списка':true,} " :items=" list " @on-select=" SelectObject ">
  <template v-slot:selected="{ selected }">
    <h4 class=" blue-text text-darken-3  input-hover000 hoverable-000" :class="{'fw500 animated slideInUp': !!selected}">
      <i class="material-icons fs10">place</i>
      <span>{{ (selected && selected.$item && selected.$item.name) || param.placeholder || 'Выбрать объект' }}</span>
    </h4>
  </template>
  <template v-slot:listItem="{ listItem, selected, highlighted }">
    <h5 class0000=" ItemClass(obj) " class="padd-0-05 blue-text text-darken-3 relative hoverable-000"  :class="{'bold fs14': listItem === selected, 'fw500': listItem === highlighted,}"  style="">
        <span>★ {{ listItem.$item.name }}</span>
        <span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ listItem.id }}</span>
    </h5>
  </template>
</v-select>
</div>