@@@ contragent/item

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>
<div ng-if="$c.ready" class="input-field">

  <a ng-show="$c.item.title && $c.item.title.length" ng-show000="!$c.showListBtn"  ng-click="$c.ClearInput($event)" href="javascript:" class="remove-siblings circle hoverable hover-white"  style="right:0; position: absolute; z-index: 1; top:0;">
    <!--i class="material-icons brown-text">cancel</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
  </a>

  <input name="контрагент" type="text" ng-init="$c.InitInput()"  ng-change="$c.ChangeInput()" ng-paste=" $c.PasteInput($event) "ng-model="$c.item.title" placeholder="{{ $c.param.placeholder }}" style="margin:0;" ng-class="$c.InputClass()"  title="{{ $c.param.placeholder }}">
  
  
  <a ng-hide="$c.item.title && $c.item.title.length"  ng-click="$c.ToggleListBtn($event)" href="javascript:" class="prefix000"  style="right: 0; position: absolute; z-index: 1; top:0.4rem;">
    <sup class="chip000 fs7 right bold000">{{$c.autocomplete.length}}</sup>
    <!--i class="material-icons">arrow_drop_down_circle</i-->
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="right teal-fill fill-darken-3" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#chevron-down-round-fill" /></svg>
  </a>
  
  <span ng-if="!$c.item['без сохранения']" ng-show="!$c.item.id && $c.item.title.length > 1" class="chip red-text text-darken-2 padd-0-05">* новый? убедитесь *</span>
  
  <span ng-if="!$c.item['без сохранения']" ng-show="$c.item.id" class="grey-text fs7 " style="position: absolute; right:0; bottom:0;">#{{$c.item.id}}</span>
  
</div>

<!--div class="fs8 pre-wrap">{{ $c.param | json}}</div-->

<div ng-if="$c.ready && $c.param['АТИ']">
  <h4>{{ $c.param['АТИ'] }}</h4>
  <input name="АТИ" type="text" ng-model=" $c.item['АТИ'] " placeholder=" АТИ " class="" autocomplete="off">
</div>

<div ng-if="$c.ready && $c['договоры аренды']" class="padd-05">
  <h5>По договору аренды</h5>
  <ul class="marg-0">
    <li ng-repeat="listItem in $c['договоры аренды']" class="padd-0-05">
      
      <h6 class="  relative nowrap "    style="">
        <span class="input-field nowrap middle">
          <input type="checkbox" ng-attr-id="крыжик-{{ listItem.id }}" ng-model=" $c.item['договор аренды/id'] " ng-true-value=" {{ listItem.id }} " ng-false-value="{{undefined}}" >
          <label for="крыжик-{{listItem.id }}" ng-click="$c.onSelectContract({'item': listItem})" class="hover-shadow3d before-yellow-lighten-4 chip teal-text text-darken-3 yellow lighten-4 hoverable" style="padding-left:16px;" ></label>
        </span>
        <a ng-click="$c.SetRentContract(listItem)" href="javascript:" ng-class="{'maroon-text': listItem['архив?'], 'green-text text-darken-4': !listItem['архив?'], 'bold': $c.item['договор аренды/id'] == listItem.id}" class="middle hover-shadow3d">
          <i ng-show="listItem['архив?']" class="material-icons fs8">lock</i>
          <span class="chip padd-0-05" title="номер договора"><span class="fs8-000 grey-text">дог.</span> № {{ listItem['номер'].replace('№', '') }} от {{ listItem['дата договора'] || listItem['дата1'] }}</span>
          <span class="chip padd-0-05 middle blue-text text-darken-3" title="объект и помещения">
            <i class="material-icons fs8">place</i>
            <span class="fs8">{{ listItem['@помещения'] && listItem['@помещения'][0] && listItem['@помещения'][0]['$объект'].name  }}</span>
          </span>
        </a>
        <a ng-show="!!$c.item['договор аренды/id'] && $c.item['договор аренды/id'] == listItem.id"  ng-click="$c.SetRentContract()" href="javascript:" class="remove-siblings circle hoverable"  style="">
          <!--i class="material-icons brown-text">cancel</i-->
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3-000" style="height: 1.2rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
        </a>
      </h6>
    </li>
  </ul>
</div>