@@@ компонент/контрагент

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
<!--div class="fs8">{{ form }}</div-->

<div v-if=" ready" class="relative">
  <v-suggest v-model="form.title"  :items=" autocomplete " :param=" param.suggest " :onInputChange="OnSuggestInputChange" :onItemSelect="OnSuggestSelect">
    <template v-slot:item="{ item, idx, activeItem }">
      <h5 class="relative"  :class="{'bold fs12': item.title == form.title, 'fw500': item===activeItem, 'orange-text text-darken-4': !!item.data['проект/id']}"  style="">
        <span>{{  item.title }}</span>
        <!--span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ item.id }}</span-->
      </h5>
    </template>
  </v-suggest>
  <slot name="form" :form=" form ">
    <span  v-show="!form.id && form.title.length > 1" class="chip padd-0-05 red-text text-darken-2 fs8"  style="position: absolute; /*right:0;*/">* новый контрагент *</span>
    <span  v-show="form.id" class="grey-text fs7 " style="position: absolute; right:0;">#{{form.id}}</span>
  </slot>
  <div v-show="param['редактировать'] && form.id" style="position:absolute; right:2rem;">
    <input type="checkbox" id="крыжик-редактировать" v-model="chbEdit">
    <label for="крыжик-редактировать" class="hover-shadow3d chb-yellow-lighten-4 brown-text chip yellow lighten-4" style="position:absolute; left:-2rem; bottom: 0; padding-left:16px;"  title="редактировать наименование"></label>
  </div>
  
  <div v-if="param['реквизиты']" class="row">
    <div class="col s4 ">
      <div v-show="param['реквизиты'].hasOwnProperty('ИНН')" class="input-field">
        <input v-if=" form['реквизиты']" type="text" v-model=" form['реквизиты']['ИНН'] " placeholder="ИНН" title="ИНН">
      </div>
      <div v-show="param['реквизиты'].hasOwnProperty('физ. лицо')" class="input-field chip padd-0 transparent">
        <input :id=" 'chb-fl-' + form._id " name="" type="checkbox" class="" v-model="  form['реквизиты']['физ. лицо'] " >
        <label :for="'chb-fl-' + form._id " class="before-yellow before-lighten-4 brown-text text-darken-3 chip yellow lighten-4" style="padding-left:16px;"></label>
        <label :for="'chb-fl-' + form._id " class=""><h5 class="inline" style="">Физ. лицо</h5></label>
      </div>
    </div>
    <div v-show="param['реквизиты'].hasOwnProperty('юр. адрес')" class="col s8 input-field">
      <textarea v-if=" form['реквизиты']" v-model.trim="form['реквизиты']['юр. адрес']" placeholder="юр. адрес" class="materialize-textarea padd-0 fs8" style="min-height: 3rem;" title="юр. адрес"></textarea>
    </div>
    
  </div>

  
</div>


<div v-show=" ready && param['АТИ'] ">
  <h4>{{ param['АТИ'] }}</h4>
  <input name="АТИ" type="text" v-model=" form['АТИ'] " placeholder=" АТИ " class="" autocomplete="off">
</div>

</div>