@@@ компонент/контрагент

<div><!-- обязательно один корень Vue -->
<v-progress-indeterminate v-show=" !ready " :color=" 'teal' " :message=" 'Загружается...' "></v-progress-indeterminate>
<!--div class="fs8">{{ form }}</div-->

<div v-if=" ready" class="relative">
  <v-suggest v-model="form.title"  :items=" autocomplete " :param=" param.suggest " :onInputChange="OnSuggestInputChange" :onItemSelect="OnSuggestSelect">
    <template v-slot:item="{ item, idx }">
      <h5 class="relative"  :class="{'bold fs12': item.title == form.title, 'orange-text text-darken-4': !!item.data['проект/id']}"  style="">
        <span>{{  item.title }}</span>
        <!--span class="grey-text fs7" style="position:absolute; right:0; bottom:0;">#{{ item.id }}</span-->
      </h5>
    </template>
  </v-suggest>
  <slot name="form" :form=" form ">
    <span  v-show="!form.id && form.title.length > 1" class="chip padd-0-05 red-text text-darken-2 fs8"  style="position: absolute; /*right:0;*/">* новый контрагент *</span>
    <span  v-show="form.id" class="grey-text fs7 " style="position: absolute; right:0;">#{{form.id}}</span>
  </slot>
</div>


<div v-show=" ready && param['АТИ'] ">
  <h4>{{ param['АТИ'] }}</h4>
  <input name="АТИ" type="text" v-model=" form['АТИ'] " placeholder=" АТИ " class="" autocomplete="off">
</div>

</div>