@@@ money/form

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<!--div ng-if=" $c.param.edit && $c.param.edit._init " ng-init="$c.Edit()" ng-show="0"></div--><!---  Наблюдать для обновления контекста -->

<div ng-if="$c.ready && !$c.data" class="animated fadeIn">
  <!--a  class="right btn white-text green" href="javascript:" >
    <i class="material-icons">add</i>
    <span>Добавить запись</span>
  </a-->
  <a ng-click="$c.InitData()" href="javascript:" class="btn 000-flat 000z-depth-1 right000 lime-text text-darken-4 lime lighten-3" style="position: absolute; z-index: 1; top:0; right:0;"><!--- выставлять выше relative  ->
        <!--i class="material-icons">add_box</i-->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class=" middle lime-fill fill-darken-4" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#plus-square-fill" /></svg>
        <span>Добавить запись ДС</span>
      </a>
</div>

<div ng-if="$c.ready && $c.data && $c.ready != 'нет доступа' " class="card lime lighten-5 animated zoomIn"><div class="card-content">
<div class="row relative" style-000="margin:0;">

    <!-- пакет -->
    <div ng-show="!$c.data.id" class="input-field nowrap" style="position: absolute;top: 0;left: 2rem;">
      <input type="checkbox" id="крыжик пакетной заказчки" ng-model="$c.data['пакетная закачка']" ng-change="$c.ChbChange('пакетная закачка')">
      <label for="крыжик пакетной заказчки" class="hover-shadow3d chb-maroon-lighten-5 maroon-text chip maroon lighten-5" style="position:absolute; left:-2rem; bottom: 0; padding-left:16px;" ></label>
      <label for="крыжик пакетной заказчки" class="hover-shadow3d " style=""><h5 class="maroon-text">
        <span>Пакетная закачка</span>
      </h5></label>
    </div>

<!-- && $c.data.id -->
  <a ng-if="!$c.param['без сохранения']" class="right btn-flat z-depth-1 red-text lighten-2" href="javascript:" ng-click="$c.CancelBtn()">
    <i class="material-icons">cancel</i>
    <span>Отмена</span>
  </a>

  <h3 class="center chips" ng-class-000="{'deep-orange-text text-darken-1':!$c.data.id}">
    <span ng-if="!$c.param['без сохранения']" ng-show="$c.data.id"> Редактировать </span>
    <span ng-if="!$c.param['без сохранения']" ng-hide="$c.data.id"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="teal-fill-darken-3" style="height: 2rem;"><use xlink:href="/fonts/icons.svg#asterisk"></use></svg> Новая </span>
    <span> запись движения ДС </span>
    <span ng-show="($c.data['проект'] && $c.data['проект'].id) || ($c.param['проект'] && $c.param['проект'].id)"> в проекте <span class="chip padd-0-05 bold"> {{$c.data['проект'] || $c.param['проект'].name}} </span></span>
  </h3>


  <div ng-hide="$c.data['пакетная закачка']" class="col s2">
    <h4 class="fw500">
      <i class="material-icons">today</i>
      <span>Дата</span>
    </h4>
    <div class="input-field">
      <!--i class="material-icons prefix" style="top: 0.5rem;">today</i-->
      <input name="date" type="text" class="datepicker right-align"  data-value="{{ $c.data['дата'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;"><!-- ng-disabled="!!$c.data.transport" -->
    </div>
    
  </div>

  <div ng-hide="$c.data['расход'] || $c.data['пакетная закачка']" class="col s2">
    <h4 class="green-text-darken-4 fw500">
      <i class="material-icons ">add_circle_outline</i>
      <span>{{ (Profile && !(Contragent && Wallet2)) || Profile.id ? 'Начислить' : 'Приход' }}</span>
      <i class="icon-rouble"></i>
    </h4>
    <div class="input-field">
      <input name="приход" type="text" ng-model="$c.data['приход']" placeholder="{{ $c.data['расход'] ? '' : 'сумма поступления' }}" class="right-align green-text text-darken-4" ng-disabled="$c.data['расход']">
      <a ng-if="!$c.param['без сохранения']" ng-show="$c.data['приход']"  ng-click="$c.ClearSum()" href="javascript:" class="prefix000"  style="left: 0; top:0; position: absolute; z-index: 1;">
        <i class="material-icons red-text text-lighten-3">cancel</i>
      </a>
    </div>
  </div>
  
  <div ng-hide="$c.data['приход'] || $c.data['пакетная закачка']" class="col s2">
    <h4 class="orange-text-darken-4 fw500">
      <i class="material-icons ">remove_circle_outline</i>
      <span>{{ (Profile && !(Contragent && Wallet2)) || Profile.id ? 'Выплатить' : 'Расход' }}</span>
      <i class="icon-rouble"></i>
    </h4>
    <div class="input-field">
      <input name="расход" type="text" ng-model="$c.data['расход']" placeholder="{{ $c.data['приход'] ? '' : 'сумма расхода' }}" class="right-align orange-text text-darken-4" ng-disabled="$c.data['приход']">
      <a ng-if="!$c.param['без сохранения']" ng-show="$c.data['расход']"  ng-click="$c.ClearSum()" href="javascript:" class="prefix000"  style="left: 0; top:0; position: absolute; z-index: 1;">
        <i class="material-icons red-text text-lighten-3">cancel</i>
      </a>
    </div>
  </div>
  
  <div ng-hide="$c.data['пакетная закачка']" class="col s3" ng-class="{'s4': $c.data['приход'] || $c.data['расход']}">
    <div ng-if="Contragent" ng-hide="(Wallet2 && Wallet2.title) || (Profile && Profile.title)" class="card padd-05  light-green lighten-3" ng-class-000="{'col s3': $c.param.move.id !== 0}">
      <h4 class="light-green-text-darken-4 fw500"> 
        <i class="material-icons">business</i><!--all_out-->
        <span>Контрагент</span>
      </h4>
      <contragent-item ng-if="!$c.param['без сохранения']" ng-init=" param = {textInputClass: 'light-green-text text-darken-4'} " data-item="Contragent" data-param=" param "></contragent-item>
      <div ng-if="$c.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
        {{$c.data['контрагент'] || ''}}
      </div>
    </div>
    
    
    
    <div ng-if="Wallet2" ng-hide="(Contragent && Contragent.title) || (Profile && Profile.title)" class="card padd-05 red lighten-3" ng-class-000="{'col s3': $c.param.move.id !== 0}">
      <h4 class="red-text text-darken-2 fw500">
        <i class="material-icons">account_balance</i>
        <span>Кошелек перемещения</span>
        <i class="material-icons">swap_horiz</i>
      </h4>
      <wallet-item ng-if="!$c.param['без сохранения']"  data-data="Wallet2" data-param=" {textInputClass: 'red-text text-darken-2'} "></wallet-item>
      <div ng-if="$c.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
        {{$c.data['кошелек2'] || ''}}
      </div>
    </div>
    
    <div ng-if="Profile" ng-hide="(Contragent && Contragent.title) || (Wallet2 && Wallet2.title)" class="card padd-05 blue lighten-4" ng-class-000="{'col s3': $c.param.move.id !== 0}">
      <h4 class="blue-text text-darken-2 fw500">
        <i class="material-icons">person</i>
        <span>Сотрудник</span>
      </h4>
      <profile-item ng-if="!$c.param['без сохранения']" data-item="Profile"  data-param=" {textInputClass: 'blue-text text-darken-2', autocompleteClass: 'blue-text text-darken-2'} "></profile-item>
      <div ng-if="$c.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
        {{$c.data['профиль'] || ''}}
      </div>
    </div>
    
    <!--div ng-if="$c.param.move.id === 0" class="fs8 grey-text"> Указать только один из трех источников/получателей или ничего</div-->
  </div>
  
  <div ng-show="$c.data['пакетная закачка']" class="col s9  card maroon lighten-5 padd-05">
    <h4 class='fw500 maroon-text'>
      <i class="material-icons"></i>
      <span>Вставить строки из Excel</span>
      <span class="chip padd-0-05"> три колонки </span>
    </h4>
    <div class="input-field">
      <textarea name="comment" ng-model="$c.data['пакет']" class="materialize-textarea comment maroon-text" style="min-height: 30rem; " placeholder=" дата | ИНН контрагента | сумма "></textarea>
      <!--label class="descr" for="comment" ng-class="{active: $c.data.comment != null}">Пояснительный текст</label-->
    </div>
  </div>
  
  <div class="col s3" ng-class="{'s4': !$c.data['пакетная закачка'] && ($c.data['приход'] || $c.data['расход'])}">
    <div class="card padd-05 teal lighten-5">
      <h4 class="fw500">
        <i class="material-icons blue-text000">account_balance</i><span>Кошелек</span><!--span>{{ $c.param['проект'] | json }}</span-->
        <span ng-if="$c.data['проект'] || $c.param['проект']" class="chip padd-0-05 bold">{{$c.data['проект'] ||  $c.param['проект'].name}}</span>
      </h4>
      <wallet-item ng-if="!$c.param['без сохранения']" data-data="Wallet" data-param=" {textInputClass: 'teal-text text-darken-3'} "></wallet-item>
      <div ng-if="$c.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
        {{$c.data['кошелек'] || ''}}
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s4 pull-s4-000 card teal lighten-5 padd-05"  style=";">
    <h4 class='fw500'>
      <i class="material-icons">message</i>
      <span>Примечание</span>
    </h4>
    <div class="input-field">
      <textarea name="comment" ng-model="$c.data['примечание']" class="materialize-textarea comment" style="min-height: 3rem; "></textarea>
      <!--label class="descr" for="comment" ng-class="{active: $c.data.comment != null}">Пояснительный текст</label-->
    </div>
  </div>
  
  <!---div class="col s2"></div-->
  
  <div class="col s4">
    <div ng-show="(Contragent && Contragent.title) || $c.param.move.id == 1" class="card maroon lighten-5 padd-05" style="">
      <h4 class="maroon-text text-darken-2-000 fw500">
        <i class="icon-location"></i><span>Объект</span>
        <!---span ng-if="$c.data['проект'] || $c.param['проект']" class="chip padd-0-05 bold"> {{$c.data['проект'] ||  $c.param['проект'].name}}</span-->
      </h4>
      <div>
        <object-address ng-if-000="$c.data['$объект']" ng-init=" param = {'проект': $c.param['проект'], 'фильтр объектов': $c.FilterObj,'только объекты': true, 'без проекта': true, placeholder:'объект', 'inputClass4Object': 'maroon-text text-darken-4-000', 'autocompleteClass4Object': 'maroon-text', 'не изменять-000': !(Contragent && Contragent.title) } " data-data=" $c.data['$объект'] " data-param=" param " data-on-focus="" class=""></object-address>
      </div>
    </div>
    
    <div ng-show="$c.cancelerHttp" ng-include=" 'preloader-circular-small' " class="center"></div>
    <div ng-hide="$c.param['без сохранения'] || $c.cancelerHttp" class="card-action center">

      <div ng-show="$c.cancelerHttp" ng-include=" 'progress/save' "></div>
      <div  style="">
        <a class="btn" href="javascript:" ng-click="$c.SaveBtn()" ng-disabled="!$c.Validate()">
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a ng-if="$c.data.id" class="btn red lighten-2" href="javascript:" data-target="delete-confirm" >
          <i class="material-icons">delete</i>
          <span>Удалить</span>
        </a>
        <!--a ng-if="$c.data.id" class="btn orange lighten-2" href="javascript:" ng-click="$c.CancelBtn()">
          <i class="material-icons">cancel</i>
          <span>Отмена</span>
        </a-->
      </div>
    </div>
    
  </div>

  <div class="col s4 push-s8-000 card teal lighten-5 padd-05">
    <h4 class="fw500">
      <i class="material-icons">more_horiz</i>
      <span>Категория</span>
    </h4>
    <tree-item ng-if="!$c.param['без сохранения']" data-item="Category" data-data="CategoryData.Data(3).Load()"></tree-item>
    <div ng-if="$c.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
      <span ng-repeat="c in $c.data['категории'] track by $index" class="breadcrumb brown-text">{{c}}</span>
    </div>
  </div>

</div>

<div class="row" style="padding:0rem 1rem;">


  
</div><!-- row -->

<div ng-show="$c.error" class="card-content center red-text" style="padding:0rem 1rem;">{{$c.error | json}}</div>



</div></div>

<!-- Modal Structure -->
<div id="delete-confirm" class="card modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated zoomInDown" data-modal-out="animated zoomOutUp"  style="top:10%;">
  <div class="modal-content">
    <h3 class="red-text">Удалить запись?</h3>
    <!--p class="center fs14">Точно удалить?</p-->
  </div>
  <div class="modal-footer teal-lighten-5">
    <a href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text fs14 float-none">Отмена</a>
    <a ng-click="$c.DeleteBtn()" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text fs14">Да</a>
    
  </div>
</div>