
@@@ money/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<div ng-if=" $ctrl.param.edit && $ctrl.param.edit._init " ng-init="$ctrl.Edit()" ng-show="0"></div><!---  Наблюдать для обновления контекста -->


<div ng-if="$ctrl.ready && $ctrl.ready != 'нет доступа' " class="card teal lighten-5">
<div class="row card-content">

  <a ng-if="!$ctrl.param['без сохранения'] && $ctrl.data.id" class="right btn orange lighten-2" href="javascript:" ng-click="$ctrl.CancelBtn()">
    <i class="material-icons">cancel</i>
    <span>Отмена</span>
  </a>

  <h3 class="center chips" ng-class="{'deep-orange-text text-darken-1':!$ctrl.data.id}">
    {{$ctrl.data.id ? ($ctrl.param['без сохранения'] ? '' : 'Редактировать') : '*Новая*'}} запись в проекте
    <span class="blue-text">{{$ctrl.data['проект'] || $ctrl.param['проект'].title}}</span>
  </h3>


  <div class="col s2">
    <h4>
      <i class="material-icons">today</i>
      <span>Дата</span>
    </h4>
    <div class="input-field">
      <!--i class="material-icons prefix" style="top: 0.5rem;">today</i-->
      <input name="date" type="text" class="datepicker right-align"  data-value="{{ $ctrl.data['дата'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;"><!-- ng-disabled="!!$ctrl.data.transport" -->
    </div>
    
  </div>

  <div class="col s2">
    <h4 class="green-text text-darken-4">
      <i class="material-icons ">add_circle_outline</i>
      <span>Приход</span>
      <i class="icon-rouble"></i>
    </h4>
    <div class="input-field">
      <input name="приход" type="text" ng-model="$ctrl.data['приход']" placeholder="сумма поступления" class="right-align" ng-disabled="$ctrl.data['расход']">
      <a ng-if="!$ctrl.param['без сохранения']" ng-show="$ctrl.data['приход']"  ng-click="$ctrl.ClearSum()" href="javascript:" class="prefix000"  style="left: 0; top:0; position: absolute;">
        <i class="material-icons brown-text">close</i>
      </a>
    </div>
  </div>
  
  <div class="col s2">
    <h4 class="yellow-text text-darken-4">
      <i class="material-icons ">remove_circle_outline</i>
      <span>Расход</span>
      <i class="icon-rouble"></i>
    </h4>
    <div class="input-field">
      <input name="расход" type="text" ng-model="$ctrl.data['расход']" placeholder="сумма расхода" class="right-align" ng-disabled="$ctrl.data['приход']">
      <a ng-if="!$ctrl.param['без сохранения']" ng-show="$ctrl.data['расход']"  ng-click="$ctrl.ClearSum()" href="javascript:" class="prefix000"  style="left: 0; top:0; position: absolute;">
        <i class="material-icons brown-text">close</i>
      </a>
    </div>
  </div>
  
  <div ng-if="Contragent" class="col s3">
    <h4>
      <i class="material-icons">business</i>
      <span>Контрагент</span>
    </h4>
    <contragent-item ng-if="!$ctrl.param['без сохранения']" data-data="Contragent"></contragent-item>
    <div ng-if="$ctrl.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
      {{$ctrl.data['контрагент'] || ''}}
    </div>
  </div>
  
  <div ng-if="Wallet2" class="col s3">
    <h4>
      <i class="material-icons red-text text-darken-2">account_balance</i>
      <span>Кошелек</span>
      <i class="material-icons red-text text-darken-2">swap_horiz</i>
    </h4>
    <wallet-item ng-if="!$ctrl.param['без сохранения']"  data-data="Wallet2"></wallet-item>
    <div ng-if="$ctrl.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
      {{$ctrl.data['кошелек2'] || ''}}
    </div>
  </div>
  
  <div ng-if="Profile" class="col s3">
    <h4>
      <i class="material-icons blue-text text-darken-2">person</i>
      <span>Сотрудник</span>
    </h4>
    <profile-item ng-if="!$ctrl.param['без сохранения']" data-data="Profile"></profile-item>
    <div ng-if="$ctrl.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
      {{$ctrl.data['профиль'] || ''}}
    </div>
  </div>
  
  <div class="col s3">
    <h4>
      <i class="material-icons blue-text">account_balance</i>
      <span>Кошелек</span>
      <span ng-if="$ctrl.param['проект']" class="blue-text">{{$ctrl.data['проект'] ||  $ctrl.param['проект'].title}}</span>
    </h4>
    <wallet-item ng-if="!$ctrl.param['без сохранения']" data-data="Wallet"></wallet-item>
    <div ng-if="$ctrl.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
      {{$ctrl.data['кошелек'] || ''}}
    </div>
  </div>
  

</div>

<div class="row card-content" style="padding:0rem 1rem;">
  <div class="col s4 push-s8">
    <h4>
      <i class="material-icons">more_horiz</i>
      <span>Категория</span>
    </h4>
    <category-item ng-if="!$ctrl.param['без сохранения']" data-category="Category"></category-item>
    <div ng-if="$ctrl.param['без сохранения']" class="input-field" style="border-bottom: 1px solid grey; height:2rem;">
      <span ng-repeat="c in $ctrl.data['категории'] track by $index" class="breadcrumb brown-text">{{c}}</span>
    </div>
  </div>
  
  
  <div class="col s4 pull-s4">
    <h4>
      <i class="material-icons">message</i>
      <span>Примечание</span>
    </h4>
    <div class="input-field">
      <textarea name="comment" class="materialize-textarea comment" style="padding: 0 0 0 0.3rem;" style000="transition: box-shadow .25s; box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 0 0 0 0.3rem;" ng-model="$ctrl.data['примечание']"></textarea>
      <!--label class="descr" for="comment" ng-class="{active: $ctrl.data.comment != null}">Пояснительный текст</label-->
    </div>
  </div>
  
  <div class="col s4 pull-s4">
<div ng-hide="$ctrl.param['без сохранения']" class="card-content center" style="">
  <a class="btn" href="javascript:" ng-click="$ctrl.SaveBtn()">
    <i class="material-icons">save</i>
    <span>Сохранить</span>
  </a>
  <a ng-if="$ctrl.data.id" class="btn red lighten-2" href="javascript:" data-target="delete-confirm" >
    <i class="material-icons">delete</i>
    <span>Удалить</span>
  </a>
  <!--a ng-if="$ctrl.data.id" class="btn orange lighten-2" href="javascript:" ng-click="$ctrl.CancelBtn()">
    <i class="material-icons">cancel</i>
    <span>Отмена</span>
  </a-->
</div>
  </div>
  
</div>

<div ng-show="$ctrl.error" class="card-content center red-text" style="padding:0rem 1rem;">{{$ctrl.error | json}}</div>



</div>

<!-- Modal Structure -->
<div id="delete-confirm" class="card modal">
  <div class="modal-content">
    <h4 class="red-text">Удаление записи</h4>
    <p>Уверены?</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.DeleteBtn()" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Да</a>
    
  </div>
</div>