@@@ money/table

<!---div ng-hide="$c.ready" ng-include=" 'progress/load' "></div--->

<!--div ng-if=" $c.ready && $c.project !==  $c.param['проект/id'] " ng-init="$c.$onInit()" ng-show="0"></div><!---  Наблюдать для обновления контекста -->

<!--div>{{ $c.param | json }}</div-->

<div ng-if="$c['баланс'] !== undefined " ng-init="  balance = $c.BalanceTotal($c['баланс']) " class="center000 padd-05">
  <h3 class="inline">
    <i class="icon-balance"></i>
    <span>Текущий баланс</span>
  </h3>
  <span class="chip z-depth-3 darken-4 white-text fs14 middle" ng-class="{'orange': balance< 0, 'green': balance>= 0}" style="padding-left: 1rem; padding-right: 1rem;">{{balance.toLocaleString()}} ₽</span>
  &nbsp;
  <!---span>{{ $c.broadcastBalance | json }}</span--->
  <!-- дополнение баланса через $rootScope.$broadcast('Баланс дополнить', ...) -->
  <span ng-repeat="(key, val) in $c.broadcastBalance " ng-init =" $c.BalanceTotal(val) ">
    <span class="chip z-depth-3 white-text darken-4 fs14 middle"  ng-class="{'orange': val< 0, 'green': val >= 0}" style="padding-left: 1rem; padding-right: 1rem;" title="{{ key }}">{{ val.toLocaleString() }} ₽</span>
    <span ng-if="$last" ng-init=" sum = $c.BalanceTotal()" class="chip z-depth-3 darken-4 white-text fs14 middle" ng-class="{'orange': sum< 0, 'green': sum>= 0}" style="padding-left: 1rem; padding-right: 1rem;" title="баланс если выплатить расчет"> = {{sum.toLocaleString()}} ₽</span>
  </span>
  <!-- -->
  
</div>

<div ng-if=" !$c.param.move.id || $c.param.move.id == 3 " class="red-text right-align"><i class="material-icons">warning</i> ЗП по конвертам лучше заводить <a href="/ЗП★конверты" class="hover-shadow3d"><i class="icon icon-left before-rotate180"></i> здесь</a></div>

<!--div class="table-scroll-outer"><div class="table-scroll-inner"-->
<table ng-if="$c.ready" class="z-depth-3 striped bordered highlight teal lighten-4 animated slideInUp" ng-class="{'block-77vh': $c['баланс'] !== undefined}">
  <thead>
    <tr class=""><!--th>#</th-->
    <th class="center width1" style000="max-width:10%;">
      <h4 class="fw500">
        <a href="javascript:" data-target="date-select" class="hover-shadow3d">
          <i class="material-icons">today</i>
          <span>Дата</span>
          <span ng-if="$c.param.table['дата'].ready" class="fs8 br truncate">
            <!--i class="material-icons">filter_list</i-->
           <span ng-repeat="v in $c.param.table['дата']['формат'] track by $index" class="breadcrumb00 chip shadow-inset-10 black-text">{{ $index ? 'до' : 'от' }}: {{v}}</span>
          </span>
        </a>
      </h4>
      
    </th>
    
    <th class="center width1 green lighten-4">
      <h4 class="fw500">
        <a class="green-text text-darken-4 hover-shadow3d" href="javascript:" data-target="sum-select"  data-abs="1">
          <i class="material-icons ">add_circle_outline</i>
          <span>{{($c.param.move.id == 3) || ($c.param.table['профиль'] && $c.param.table['профиль'].id) ? 'Начислено' : 'Приход'}}</span>
          <!--i class="icon-rouble"></i-->
          <span ng-if="$c.param.table['сумма'].ready && $c.param.table['сумма'].sign > 0" class="fs8 br truncate">
            <!--i class="material-icons">filter_list</i-->
            <span ng-repeat="v in $c.param.table['сумма'].values track by $index" class="breadcrumb00 chip shadow-inset-10 black-text">{{v}}</span>
          </span>
        </a>
      </h4>
      
    </th>
    
    <th class="center width1 orange lighten-4">
      <h4 class="fw500"><a class="orange-text text-darken-4 hover-shadow3d" href="javascript:" data-target="sum-select" data-abs="-1">
        <i class="material-icons ">remove_circle_outline</i>
        <span>{{($c.param.move.id == 3) || ($c.param.table['профиль'] && $c.param.table['профиль'].id) ? 'Выплачено' : 'Расход'}}</span>
        <!--i class="icon-rouble"></i-->
        <span ng-if="$c.param.table['сумма'].ready && $c.param.table['сумма'].sign < 0" class="fs8 br truncate">
          <!--i class="material-icons">filter_list</i-->
          <span ng-repeat="v in $c.param.table['сумма'].values track by $index" class="breadcrumb00 chip shadow-inset-10 black-text">{{v}}</span>
        </span>
      </a></h4>
      
    </th>
    
    <th ng-if="$c.param.move.id === 0 || $c.param.move.id == 1" class="light-green-lighten-2 width1">
      <h4 class="fw500"><a href="javascript:" data-target="contragent-select" class="light-green-text-darken-4 hover-shadow3d">
        <i class="material-icons">business</i>
        <span>Контрагент</span>
        <span ng-if="$c.param.table['контрагент'].ready && $c.param.table['контрагент'].id" class="fs8 br truncate">
          <!--i class="material-icons">filter_list</i-->
          <span class="chip shadow-inset-10 black-text">{{$c.param.table['контрагент'].title}}</span>
        </span>
      </a></h4>
    </th>
    
    <th ng-if="$c.param.move.id === 0 || $c.param.move.id == 2" ng-class000="{'light-green lighten-4': $c.param.move.id === 0}" class="red lighten-3 width1">
      <h4 class="fw500"><a href="javascript:" data-target="wallet2-select" class="red-text text-darken-2 hover-shadow3d">
        <i class="material-icons">account_balance</i>
        <span>Кошелек</span>
        <i class="material-icons">swap_horiz</i>
        <span ng-if="$c.param.table['кошелек2'].ready && $c.param.table['кошелек2'].id" class="fs8 br truncate">
          <!--i class="material-icons">filter_list</i-->
          <span class="chip shadow-inset-10 black-text">{{$c.param.table['кошелек2'].title}}</span>
        </span>
      </a></h4>
      
    </th>
    
    <th ng-if="$c.param.move.id === 0 || $c.param.move.id == 3" ng-class000="{'light-green lighten-4': $c.param.move.id === 0}" class="blue lighten-4 width1">
      <h4 class="fw500"><a href="javascript:" data-target="profile-select" class="blue-text text-darken-2 hover-shadow3d">
        <i class="material-icons">person</i>
        <span>Сотрудник</span>
        <span ng-if="$c.param.table['профиль'].ready && $c.param.table['профиль'].id" class="fs8 br truncate">
          <!--i class="material-icons">filter_list</i-->
          <span class="chip shadow-inset-10 black-text">{{$c.param.table['профиль'].title}}</span>
        </span>
      </a></h4>
      
    </th>
    
    <th ng-if="$c.param.move.id === 0 || $c.param.move.id == 1 || $c.param.move.id == 3" class="width1 maroon lighten-4">
      <h4 class="fw500"><a href="javascript:" data-target="object-select" class="maroon-text hover-shadow3d">
        <i class="icon-location"></i><span>Объект</span>
        <span ng-if="$c.param.table['объект'].ready && $c.param.table['объект'].id" class="fs8 br truncate">
          <!--i class="material-icons">filter_list</i-->
          <span class="chip shadow-inset-10 black-text">{{ $c.param.table['объект'].title }}</span>
        </span>
      </a></h4>
      
    </th>
    
    <th class="width1">
      <h4 class="fw500"><a href="javascript:" data-target="wallet-select" class="hover-shadow3d">
        <i class="material-icons blue-text000">account_balance</i>
        <span>Кошелек</span>
        <span ng-if="$c.param.table['кошелек'].ready && $c.param.table['кошелек'].id" class="fs8 br truncate">
          <!--i class="material-icons">filter_list</i-->
          <span class="chip shadow-inset-10 black-text">{{$c.param.table['кошелек'].title}}</span>
        </span>
      </a></h4>
      
    </th>

    
    <th class="width1">
      <h4 class="fw500"><a href="javascript:" data-target="category-select" class="hover-shadow3d">
        <i class="material-icons">more_horiz</i>
        <span>Категория</span>
        <span ng-if="$c.param.table['категория'].ready && $c.param.table['категория'].selectedItem && $c.param.table['категория'].selectedItem.id" class="fs8 br truncate">
          <i class="material-icons">filter_list</i>
          <!--span class="chip black-text">{{ $c.param.table['категория'] | json }}</span-->
          <span ng-repeat="c in $c.param.table['категория'].selectedItem.parents_title.slice(1)" class="breadcrumb before-margin-0"><span class="chip shadow-inset-10  black-text">{{ c }}</span></span>
          <span class="breadcrumb before-margin-0"><span class="chip shadow-inset-10  black-text">{{ $c.param.table['категория'].selectedItem.title }}</span></span>
        </span>
      </a></h4>
      
    </th>
    
    <th class="width1">
      <h4 class="fw500"><a href="javascript:" data-target="comment-select" class="hover-shadow3d">
        <i class="material-icons">message</i><span>Примечание</span>
        <span ng-if="$c.param.table['примечание'].ready && $c.param.table['примечание'].title" class="fs8 br truncate">
          <span class="chip shadow-inset-10 black-text"><i class="material-icons fs10">filter_list</i>{{ $c.param.table['примечание'].title }}</span>
        </span>
      </a></h4>
    </th>
    
    </tr>
  </thead>
  
  <tbody>
    
    <tr ng-repeat="it in $c.data " ng-if="!it['обновить']" ng-init="$c.InitRow(it)" ng-attr-id="money{{it.id}}" ng-dblclick="$c.Edit(it)" class="hover-shadow3d" style="cursor:pointer;" ><!--title="{{it | json}}" -->
      <td class="right-align nowrap" title="{{ it['$дата'].year }}">
        <!---->
        <svg ng-show=" it._new " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="red-fill-darken-1 left" style="height: 1.2rem;"><use xlink:href="/fonts/icons.svg#asterisk"></use></svg>
        <span class="fs8 grey-text ">{{ it['$дата']['день нед'] }}</span>  <span class="bold">{{ it['$дата']['day'] }}</span>   <span class="fs8">{{ it['$дата']['мес'] }}</span> <span ng-hide=" currYear ==  it['$дата'].year " class="fs8 grey-text">{{ it['$дата'].year }}</span>
      </td>
      
      <td class="right-align green-text text-darken-4" ng-class="{'green lighten-4': !!it['приход']}"><span ng-if="it['приход']"><span>{{ it['приход'][0] }}</span><span class="fs7" ng-class="{'transparent-text': it['приход'][1] == '00'}"> {{ it['приход'][1] }}</span></span></td>
      <td class="right-align orange-text text-darken-4" ng-class="{'orange lighten-4': !!it['расход']}"><span ng-if="it['расход']"><span>{{ it['расход'][0] }}</span><span class="fs7" ng-class="{'transparent-text': it['расход'][1] == '00'}"> {{ it['расход'][1] }}</span></span></td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 1" ng-class="{'light-green-lighten-2': !!it['контрагент']}"><div class="light-green-text-darken-4" ng-class="{'nowrap truncate': !$c.param.move.id}" ng-style="!$c.param.move.id && {'width':'12rem'} " title="{{ it['контрагент'] }}">{{ it['контрагент'] }}</div></td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 2" ng-class="{'red lighten-3': !!it['$кошелек2']}">
        <div ng-hide="!it['$кошелек2']"class="red-text text-darken-3 " ng-class="{'right-align': $c.param.move.id == 2, 'nowrap truncate': !$c.param.move.id}" ng-style="!$c.param.move.id && {'width':'9rem'} " title="{{ it['$кошелек2']['проект'] }}: {{ it['$кошелек2'].title }}"><span ng-hide="it['$кошелек2']['проект/id'] == it['$кошелек']['проект/id']">{{ it['$кошелек2']['проект'] }}: </span><span class="">{{ it['$кошелек2'].title }}</span>
        </div>
      </td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 3" ng-class="{'blue-lighten-4': !!it['профиль']}"><div class="blue-text text-darken-3" ng-class="{'nowrap truncate': !$c.param.move.id}" ng-style="!$c.param.move.id && {'width':'12rem'} " title="{{ it['профиль'] }}">{{ it['профиль'] }}</div></td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 1 || $c.param.move.id == 3 " ng-class="{'maroon-lighten-4': !!it['объект']}" >
        <div class="maroon-text" ng-class="{'nowrap truncate': !$c.param.move.id}" ng-style="!$c.param.move.id && {'width':'12rem'} " title="{{ it['объект'] }}">{{ it['объект'] }}</div>
      </td>
      <td >
        <div ng-show="it['$кошелек']" ng-class="{'nowrap truncate': !$c.param.move.id}" ng-style="!$c.param.move.id && {'width':'12rem'} " title="{{ it['$кошелек']['проект'] }}: {{ it['$кошелек'].title }}">
          <i class="icon icon-left" ng-class="{'before-rotate180 green-text text-darken-4': !!it['приход'], 'orange-text text-darken-4': !it['приход']}"></i>
          <span ng-if=" it['$кошелек']['проект']" ng-hide="($c.param['проект'].id || $c.param['проект']) == it['$кошелек']['проект/id']">{{ it['$кошелек']['проект'] }}: </span><span>{{ it['$кошелек'].title }}</span>
        </div>
      </td>
      
      <td>
        <div  class="chip padd-0-05 teal-text-darken-3 line-height-10">
          <span ng-repeat="cat in it['категории'] track by $index" class="breadcrumb line-height-10"><span class="">{{cat}}</span></span>
        </div>
      </td>
      <td><div class="fs8 grey-text-000" style="line-height:0.8rem;">{{it['примечание']}}</div></td>
    </tr>
    
    <!--итого суммы--->
    <tr ng-if="$c.data.length && !$c.cancelerHttp" ng-init="sum = $c.Total()">
      <td></td>
      <td class="right-align fs14 green-text text-darken-4">{{ sum[0].toLocaleString() }}</td>
      <td class="right-align fs14 orange-text text-darken-4">{{ sum[1].toLocaleString() }}</td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 1"></td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 2"></td>
      <td ng-if="$c.param.move.id === 0 || $c.param.move.id == 3"></td>
      <td></td>
      <td ng-if=" $c.param.move.id === 0 || $c.param.move.id == 1 || $c.param.move.id == 3 " ></td><!-- объект -->
      <td></td>
      <td></td>
    </tr>
  
  </tbody>
</table>

<div ng-if-000="$c.data.length" ng-show="!$c.ready || $c.cancelerHttp" ng-include=" 'progress/load' "></div>
<div class="center">
    <span>записей: {{ $c.data.length }}</span>
    <a ng-show="$c.data.length >= 100" class="btn-flat z-depth-1" ng-click="$c.LoadData(true)" href="javascript:">
      <i class="material-icons">file_download</i>
      Показать еще записи
    </a>
</div>



<!-- Modal Structure -->
<div id="date-select" class="card modal modal-table" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по дате</h2>
    <date-between data-param="$c.param.table['дата']" class="block"></date-between>
  </div>
  <div class="modal-footer center teal-lighten-4">
    <a ng-click="$c.Cancel('дата')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('дата')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="sum-select" class="card modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сумме</h2>
    <div class="input-field">
      <h4>От</h4>
      <input type="text" class="" ng-model="$c.param.table['сумма'].values[0]">
    </div>
    
    <div class="input-field">
      <h4>До</h4>
      <input type="text" class="" ng-model="$c.param.table['сумма'].values[1]">
    </div>
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('сумма')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('сумма')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="contragent-select" class="card modal modal-table" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по контрагенту</h2>
    <contragent-item data-item="$c.param.table['контрагент']" data-param=" {css:{'autocomplete container':{'height':'50vh'}}} " class="block"></contragent-item>
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="wallet-select" class="card modal modal-table" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по кошельку/счету</h2>
    <wallet-item data-data="$c.param.table['кошелек']" data-param=" {css:{'autocomplete container':{'height':'50vh'}}} " class="block"></wallet-item>
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('кошелек')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('кошелек')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="object-select" class="card modal modal-table" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по объекту</h2>
    <object-address ng-init=" param = {'фильтр объектов': $c.FilterObj,'только объекты': true, 'без проекта': true, placeholder:'объект', 'inputClass4Object': 'maroon-text text-darken-4-000', css:{'autocomplete container':{'height':'50vh'}}} " data-data=" $c.param.table['объект'] " data-param=" param " data-on-focus="" class="block"></object-address>
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('объект')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('объект')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="profile-select" class="card modal modal-table" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сотруднику</h2>
    <profile-item data-item="$c.param.table['профиль']" data-param=" {css:{'autocomplete container':{'height':'50vh'}}} " class="block"></profile-item>
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('профиль')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('профиль')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="category-select" class="card modal modal-table" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast"  style="top:5%;">
  <div class="modal-content">
    <h2 class="">Ограничить записи по категории</h2>
    <tree-item ng-if="CategoryData" ng-init=" param = {'не добавлять новые позиции': true, placeholder: 'выбрать категорию', css:{'autocomplete container':{'height':'50vh'}}} " data-item="$c.param.table['категория']" data-data="CategoryData.Data(3).Load()" data-param=" param " class="block"></tree-item>
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('категория')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('категория')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="comment-select" class="modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated zoomOutUp fast fast"  style="top:5%;">
  <div class="modal-content input-field">
    <!--a ng-click="$c.Cancel('примечание')" href="javascript:" class="right modal-action modal-close red-text btn-flat z-depth-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill fill-lighten-3" style="height: 1.5rem;"><use xlink:href="/fonts/icons.svg#cancel"></use></svg>
      Отмена
    </a-->
    <h2 class="">Фильтровать по фрагменту строки примечания</h2>
    <input name="nomen-select" type="text" ng-model="$c.param.table['примечание'].title" />
  </div>
  <div class="modal-footer center teal lighten-4">
    <a ng-click="$c.Cancel('примечание')" href="javascript:" class="modal-action modal-close  btn-flat white white z-depth-1 red-text">Отмена</a>
    <a ng-click="$c.Send('примечание')" href="javascript:" class="modal-action modal-close  btn-flat white z-depth-1 green-text" style="float:none;">Готово</a>
  </div>
</div>