@@@ money/table

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<!--div ng-if=" $ctrl.ready && $ctrl.project !==  $ctrl.param['проект/id'] " ng-init="$ctrl.$onInit()" ng-show="0"></div><!---  Наблюдать для обновления контекста -->

<!--div>{{ $ctrl.param | json }}</div-->

<div ng-if="$ctrl['баланс']" ng-init="  balance = parseFloat(Util.numeric($ctrl['баланс']['баланс'])) " class="center000">
  <h3 class="inline">
    <i class="icon-balance"></i>
    <span>Текущий баланс</span>
  </h3>
  <span class="chip z-depth-3 darken-4 white-text fs14 middle" ng-class="{'yellow': balance< 0, 'green': balance>= 0}" style="padding-left: 1rem; padding-right: 1rem;">{{balance.toLocaleString()}} ₽</span>
  
  <!-- дополнение баланса через $rootScope.$broadcast('Баланс дополнить', ...) -->
  <span ng-repeat="(key, val) in $ctrl.broadcastBalance">&nbsp;<span class="chip z-depth-3 white-text darken-4 fs14 middle"  ng-class="{'yellow': val< 0, 'green': val >= 0}" style="padding-left: 1rem; padding-right: 1rem;" title="{{ key }}">{{ val.toLocaleString() }} ₽</span></span>
  
  <!-- -->
  &nbsp;<span ng-if="$ctrl.broadcastBalanceTotal" class="chip z-depth-3 darken-4 white-text fs14 middle" ng-init="  sum = balance+$ctrl.broadcastBalanceTotal " ng-class="{'yellow': sum< 0, 'green': sum>= 0}" style="padding-left: 1rem; padding-right: 1rem;" title="баланс если выплатить расчет"> = {{sum.toLocaleString()}} ₽</span>
  
</div>

<!--div class="table-scroll-outer"><div class="table-scroll-inner"-->
<table ng-if="$ctrl.ready" class="card striped highlight teal lighten-5">
  <thead>
    <tr class="teal lighten-4"><!--th>#</th-->
    <th class="right-align" style="max-width:10%;">
      <h4>
        <a href="javascript:" data-target="date-select">
          <i class="material-icons">today</i>
          <span>Дата</span>
        </a>
      </h4>
      <div ng-if="$ctrl.param.table['дата'].ready">
        <i class="material-icons">filter_list</i>
       <span ng-repeat="v in $ctrl.param.table['дата']['формат'] track by $index" class="breadcrumb00 chip black-text">{{v}}</span>
      </div>
    </th>
    
    <th class="right-align">
      <h4>
        <a class="green-text text-darken-4" href="javascript:" data-target="sum-select"  data-abs="1">
          <i class="material-icons ">add_circle_outline</i>
          <span>{{($ctrl.param.move.id == 3) || ($ctrl.param.table['профиль'] && $ctrl.param.table['профиль'].id) ? 'Начислено' : 'Приход'}}</span>
          <!--i class="icon-rouble"></i-->
        </a>
      </h4>
      <div ng-if="$ctrl.param.table['сумма'].ready && $ctrl.param.table['сумма'].sign > 0">
        <i class="material-icons">filter_list</i>
        <span ng-repeat="v in $ctrl.param.table['сумма'].values track by $index" class="breadcrumb00 chip black-text">{{v}}</span>
      </div>
    </th>
    
    <th class="right-align">
      <h4><a class="yellow-text text-darken-4" href="javascript:" data-target="sum-select" data-abs="-1">
        <i class="material-icons ">remove_circle_outline</i>
        <span>{{($ctrl.param.move.id == 3) || ($ctrl.param.table['профиль'] && $ctrl.param.table['профиль'].id) ? 'Выплачено' : 'Расход'}}</span>
        <!--i class="icon-rouble"></i-->
      </a></h4>
      <div ng-if="$ctrl.param.table['сумма'].ready && $ctrl.param.table['сумма'].sign < 0">
        <i class="material-icons">filter_list</i>
        <span ng-repeat="v in $ctrl.param.table['сумма'].values track by $index" class="breadcrumb00 chip black-text">{{v}}</span>
      </div>
    </th>
    
    <th ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 1" ng-class="{'light-green lighten-4': $ctrl.param.move.id === 0}">
      <h4><a href="javascript:" data-target="contragent-select" class="green-text text-darken-2">
        <i class="material-icons">business</i>
        <span>Контрагент</span>
      </a></h4>
      <div ng-if="$ctrl.param.table['контрагент'].ready && $ctrl.param.table['контрагент'].id">
        <i class="material-icons">filter_list</i>
        <span class="chip black-text">{{$ctrl.param.table['контрагент'].title}}</span>
      </div>
      
    </th>
    
    <th ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 2" ng-class="{'light-green lighten-4': $ctrl.param.move.id === 0}">
      <h4><a href="javascript:" data-target="wallet2-select" class="red-text text-darken-2">
        <i class="material-icons">account_balance</i>
        <span>Кошелек</span>
        <i class="material-icons">swap_horiz</i>
      </a></h4>
      <div ng-if="$ctrl.param.table['кошелек2'].ready && $ctrl.param.table['кошелек2'].id">
        <i class="material-icons">filter_list</i>
        <span class="chip black-text">{{$ctrl.param.table['кошелек2'].title}}</span>
      </div>
    </th>
    
    <th ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 3" ng-class="{'light-green lighten-4': $ctrl.param.move.id === 0}">
      <h4><a href="javascript:" data-target="profile-select" class="blue-text text-darken-2">
        <i class="material-icons">person</i>
        <span>Сотрудник</span>
      </a></h4>
      <div ng-if="$ctrl.param.table['профиль'].ready && $ctrl.param.table['профиль'].id">
        <i class="material-icons">filter_list</i>
        <span class="chip black-text">{{$ctrl.param.table['профиль'].title}}</span>
      </div>
    </th>
    
    <th>
      <h4><a href="javascript:" data-target="wallet-select">
        <i class="material-icons blue-text">account_balance</i>
        <span>Кошелек</span>
      </a></h4>
      <div ng-if="$ctrl.param.table['кошелек'].ready && $ctrl.param.table['кошелек'].id">
        <i class="material-icons">filter_list</i>
        <span class="chip black-text">{{$ctrl.param.table['кошелек'].title}}</span>
      </div>
    </th>
    
    <th>
      <h4>
        <i class="material-icons">more_horiz</i>
        <span>Категория</span>
      </h4>
    </th>
    
    <th>
      <h4>
        <i class="material-icons">message</i>
        <span>Примечание</span>
      </h4>
    </th>
    
    </tr>
  </thead>
  
  <tbody>
    
    <tr ng-repeat="it in $ctrl.data" ng-if="!it['обновить']" ng-init="$ctrl.InitRow(it)" ng-attr-id="money{{it.id}}" ng-dblclick="$ctrl.Edit(it)" class="waves-effect00 waves-teal00" ng-class="{'selected': it === ($ctrl.param.edit || $ctrl.param.newX)}" style="cursor:pointer;" ><!--title="{{it | json}}" -->
      <!--td>
        <div ng-class="{'deep-orange-text text-darken-1': it._new}">{{$index+1}}<sup ng-show="it._new">*</sup></div>
      </td-->
      <td class="right-align">
        <!--{{it["дата формат"]}}-->
        <span class="fs8 grey-text">{{ it["@дата"]["день нед"] }}</span>  <span class="bold">{{ it["@дата"]["day"] }}</span>   <span class="fs8">{{ it["@дата"]["мес"] }}</span>
      </td>
      
      <td class="right-align green-text text-darken-4"><span ng-if="it['приход']">{{ it["приход"] }}</span></td>
      <td class="right-align yellow-text text-darken-4"><span ng-if="it['расход']">{{ it['расход'] }}</span></td>
      <td ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 1"><div>{{it['контрагент']}}</div></td>
      <td ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 2"><div>{{it['кошелек2']}}</div></td>
      <td ng-if="$ctrl.param.move.id === 0 || $ctrl.param.move.id == 3"><div>{{it['профиль']}}</div></td>
      <td>{{it['кошелек']}}</td>
      <td><span ng-repeat="cat in it['категории'] track by $index" class="breadcrumb teal-text">{{cat}}</span></td>
      <td><div class="fs8 grey-text">{{it['примечание']}}</div></td>
    </tr>
  
  </tbody>
</table>

<div ng-if="$ctrl.data.length" ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/load' "></div>
<div class="center">
    <span>записей: {{ $ctrl.data.length }}</span>
    <a ng-show="$ctrl.data.length >= 100" class="btn-flat z-depth-1" ng-click="$ctrl.LoadData(true)" href="javascript:">
      <i class="material-icons">file_download</i>
      Показать еще записи
    </a>
</div>


<!--/div></div-->

<!-- Modal Structure -->
<div id="date-select" class="card modal" ng-if="$ctrl.ready">
  <div class="modal-content">
    <h2 class="">Ограничить записи по датам</h2>
    <date-between data-param="$ctrl.param.table['дата']"></date-between>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('дата')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('дата')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="sum-select" class="card modal" ng-if="$ctrl.ready">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сумме</h2>
    <div class="input-field">
      <h4>От</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[0]">
    </div>
    
    <div class="input-field">
      <h4>До</h4>
      <input type="text" class="" ng-model="$ctrl.param.table['сумма'].values[1]">
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('сумма')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('сумма')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="contragent-select" class="card modal" ng-if="$ctrl.ready">
  <div class="modal-content">
    <h2 class="">Ограничить записи по контрагенту</h2>
    <contragent-item data-item="$ctrl.param.table['контрагент']"></contragent-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('контрагент')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="wallet-select" class="card modal" ng-if="$ctrl.ready">
  <div class="modal-content">
    <h2 class="">Ограничить записи по кошельку/счету</h2>
    <wallet-item data-data="$ctrl.param.table['кошелек']"></wallet-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('кошелек')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('кошелек')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>

<!-- Modal Structure -->
<div id="profile-select" class="card modal" ng-if="$ctrl.ready">
  <div class="modal-content">
    <h2 class="">Ограничить записи по сотруднику</h2>
    <profile-item data-item="$ctrl.param.table['профиль']"></profile-item>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Cancel('профиль')" href="javascript:" class="modal-action modal-close  btn-flat">Отмена</a>
    <a ng-click="$ctrl.Send('профиль')" href="javascript:" class="modal-action modal-close  btn-flat teal-text">Готово</a>
    
  </div>
</div>
