@@@ tmc/snab/tabs

<div ng-hide="$c.ready" ng-include=" 'progress/load' "></div>

<div ng-if="$c.ready" ng-include=" 'tmc/tabs-lib' "></div>

<div ng-if="$c.ready">
<!-- форма закупки перед заявками -->
<tmc-snab-form ng-show=" $c.tab && ($c.tab.title == 'Закупки' || $c.tab.title == 'Через склад' || $c.tab.title == 'Заявки ТМЦ')  " ng-init=" param = {'объект': $c.param['объект'], 'перемещение': !1, 'закупка':!0, modal000: !0,} " data-param=" param "></tmc-snab-form>



<!-- обработка заявок -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Заявки ТМЦ' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': true, 'в перемещение':true, 'список простых закупок': false, title: 'Обработать заявки', 'обработать номенклатуру': true, 'закрывать заявки':true,} " data-data="$c.data['заявки']" data-param=" param "></tmc-ask-table>

<!--  заявки с номенклатурой -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'В обработке' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': true, 'в перемещение':true, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': true, } " data-data="$c.data['заявки']" data-param=" param "></tmc-ask-table>

<!-- завершенные заявки -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Завершено' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'в закупку': false, 'в перемещение':false, 'список простых закупок': false, title000: 'Обработать заявки', 'обработать номенклатуру': false, 'закрывать заявки':true,} " data-data="$c.data['завершенные заявки']" data-param=" param "></tmc-ask-table>

<!-- простые поставки -->
<tmc-ask-table ng-if="$c.tab && $c.tab.title == 'Простые закупки' " ng-init=" param = {'объект': $c.param['объект'], 'theadClass': $c.tab.liClass, 'tbodyClass': $c.tab.tbodyClass, 'фильтр': $c.tab['фильтр'], 'в закупку': true, 'список простых закупок': true, title000: 'Обработать заявки',} "  data-data="$c.data['простые закупки']" data-param=" param "></tmc-ask-table>


<!-- форма перемещения для Перемещения и Наличие ТМЦ -->
<tmc-baza-form  ng-if="$c.tab && ($c.tab.title == 'Перемещения' || $c.tab.title == 'Наличие ТМЦ-0000') " ng-init=" param = {'объект': $c.param['объект'], 'перемещение': !1, 'закупка':!1,modal000: !0, } " data-param=" param " ></tmc-baza-form><!--- форма перемещения без кнопки новое перемещение -->

<!-- $c.tab.title == 'все' || $c.tab.title == 'в работе' || $c.tab.title == 'в перевозке' || $c.tab.title == 'завершено'--->
<tmc-snab-table ng-if="$c.tab && ($c.tab.title == 'Закупки' || $c.tab.title == 'Перемещения' || $c.tab.title == 'Через склад' )" ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass } " data-param=" param " data-data="$c.data['снаб']" data-on-edit-ask="$c.EditSnab(ask)"></tmc-snab-table><!-- все списки снабжения -->

<tmc-ostat-table ng-if-000="" ng-show="$c.tab && $c.tab.title == 'Наличие ТМЦ' " ng-init=" paramOst = {'объект': $c.param['объект'], tableClass: $c.tab.liClass, } " data-param=" paramOst " data-data="$c.data['остатки']"></tmc-ostat-table>

<!-- инвентаризации -->
<!--tmc-sklad-inv-form  ng-if="$c.tab && $c.tab.title == 'Инвентаризации' " ng-init=" param = {'объект': $c.param['объект'],} " data-param=" param "></tmc-sklad-inv-form-->
<tmc-sklad-inv-table ng-if="$c.tab && $c.tab.title == 'Инвентаризации' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass } " data-param=" param " data-data="$c.data['инвентаризации']"></tmc-sklad-inv-table>

<!-- списания -->
<!--tmc-spis-form  ng-if="$c.tab && $c.tab.title == 'Списания' " ng-init=" param = {'объект': $c.param['объект'],} " data-param=" param "></tmc-spis-form-->
<tmc-spis-form ng-if=" paramSpis " data-open=" $c['списание'] " data-param=" paramSpis " data-on-cancel="$c.CloseFormSpis(data)"></tmc-spis-form>
<tmc-sklad-inv-table ng-if="$c.tab && $c.tab.title == 'Списания' " ng-init=" param = {'объект': $c.param['объект'], 'фильтр': $c.tab['фильтр'], tableClass: $c.tab.liClass } " data-param=" param " data-data="$c.data['списания']" ></tmc-sklad-inv-table><!--- список как инвентариз -->

<!--div class="pre-wrap">{{ $c.data['остатки'] | json }}</div-->

</div>



