@@@ tmc/ask/form

<div ng-hide="$ctrl.ready" ng-include=" 'progress/load' "></div>

<!--div ng-if=" $ctrl.param.edit && $ctrl.param.edit._init " ng-init="$ctrl.Edit()" ng-show="0"></div--><!---  Наблюдать для обновления контекста -->

<div ng-if="$ctrl.ready">
  
  <div ng-if111="$ctrl.param['объект']">
    <div ng-hide="$ctrl.data" class="animated slideInRight fast" style="position: absolute; z-index: 1; top: 0; right: 0"><a class="btn orange darken-1" ng-click="$ctrl.New()" href="javascript:">
      <!--i class="material-icons">note_add</i-->
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="white-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#form-add" /></svg>
      <span>Новая заявка в снабжение</span>
      
    </a></div>
    
    <!--div>{{ $ctrl.param | json }}</div-->
    
    <div ng-if="$ctrl.data" class="card orange lighten-4 animated zoomIn ">
      
    <div class="card-content">
    
      <a ng-click="$ctrl.CancelBtn()" href="javascript:" class="right btn-flat z-depth-1 red-text white">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="red-fill" style="height: 1.5rem;" ><use xlink:href="/fonts/icons.svg#cancel" /></svg>
        <span>Отмена</span>
      </a>

      <h3  class="orange-text-000-text-darken-3 fw500">
        <span ng-hide="$ctrl.data.id">Новая заявка на поставку ТМЦ</span>
        <span ng-show="$ctrl.data.id">Редактировать заявку на поставку ТМЦ</span>
      </h3>
      <div class="divider  row teal darken-3" ng-class-000="{'green darken-3': $ctrl.data.id, 'orange darken-3': !$ctrl.data.id}"></div>
      <!--div>{{ $ctrl.data | json }}</div-->
      
      <div class="row">
        <div class="col s3 ">
          <h4>
            <i class="material-icons">today</i>
            <span>Требуется <br>на дату</span>
          </h4>
          <div class="input-field">
            <input name="date" type="text" class="datepicker"  data-value="{{ $ctrl.data['дата1'] }}" placeholder000=""  style000="padding-left: 3rem; margin-left: 0px;">
          </div>
        </div>
      
      
      <!--table><tbody><tr class00="row" style="">
        <td class="vbottom" style="width:50%; padding: 0 0.5rem;"-->
        <div class="col s7 ">
          <h4 class="">
            <i class="material-icons "></i>
            
            <span> <br>Наименование ТМЦ</span>
          </h4>
          <div class="input-field">
            <!--tree-item data-param="{'placeholder':'указать номенклатуру', 'не добавлять новые позиции':true, 'autocompleteOnlyFinalItems': true, 'подпись не найдно': '*',}" data-item="Nomen" data-data=" $ctrl['@номенклатура'] " data-on-focus-field000="$ctrl.FocusRow(row)"></tree-item-->
            <input type="text" ng-model=" $ctrl.data['наименование'] ">
          </div>
        </div>
      
        <!--td class="vbottom" style="width:25%; padding: 0 0.5rem;"-->
        <div class="col s1  ">
          <h4 class="">
            <!--i class="material-icons "></i-->
            <span>Кол-<br class="hide-on-med-and-down">во</span>
          </h4>
          <div class="input-field">
            <input  type="text" ng-model="$ctrl.data['количество']" ng-change000="$ctrl.ChangeKol($last, row)" ng-focus000="$ctrl.FocusRow(row)" placeholder="кол-во" class="right-align">
          </div>
        </div>
        
        <div class="col s1  ">
          <h4 class="center">
            <!--i class="material-icons "></i-->
            <span>Единицы<br>изм.</span>
          </h4>
          <div class="input-field">
            <input  type="text" ng-model="$ctrl.data['ед']" ng-focus00="$ctrl.FocusRow(row)" placeholder="единицы" class="">
          </div>
        </div>
      </div>

      <div class="input-field row chip-000 block-000" style="margin:0;">
        <h4>Примечание</h4>
        <textarea ng-model="$ctrl.data['коммент']" class="materialize-textarea" style="padding:0; min-height: 4rem;"></textarea>
      </div>
      
      <div ng-show="$ctrl.error" class="red-text">{{ $ctrl.error }}</div>
      
    
    </div>
    <div class="card-action center">
      <div ng-show="$ctrl.cancelerHttp" ng-include=" 'progress/save' "></div>
      <div ng-hide="$ctrl.cancelerHttp">
         <a class="btn" ng-click="$ctrl.Save($ctrl.data)" href="javascript:" ng-disabled="!$ctrl.Validate($ctrl.data)">
          <i class="material-icons">save</i>
          <span>Сохранить</span>
        </a>
        <a ng-if="$ctrl.data.id" class="btn red" ng-click000="$ctrl.Delete()" href="javascript:" data-target="modal-confirm-remove">
          <i class="material-icons">delete_forever</i>
          <span>Удалить</span>
        </a>
      </div>
     
    </div>
    </div>
  
  </div>

</div>

<!-- Modal Trigger -->
<!--a class="waves-effect waves-light btn" href="javascript:">Modal</a-->

<!-- Modal Structure -->
<div id="modal-confirm-remove" class="modal" data-overlay-in="animated fade-in-05" data-overlay-out="animated  fade-out-05 fast" data-modal-in="animated slideInDown" data-modal-out="animated slideOutUp"  style="width:50%; max-height: 50%; top:5%;">
  <div  class="modal-content">
    <h3>¿ Точно удалить заявку ?</h3>
  </div>
  <div class="modal-footer">
    <a ng-click="$ctrl.Delete($ctrl.data)" href="javascript:" class="modal-action modal-close waves-effect waves-teal btn-flat z-depth-1 green-text ">ДА</a>
    <a ng-click0000="$ctrl.ConfirmValueNOT()" href="javascript:" class="modal-action modal-close waves-effect waves-red btn-flat z-depth-1 red-text left">НЕТ</a>
  </div>
</div>